{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Brake test summary' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Brake test' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}
      
      <header class="content-header">

        <h1><span class="content-header__title">Brake test summary</span></h1>

      </header>

      <header class='content-header'>

        <ul class='content-header__tertiary-list u-margin-bottom-35'>

          <li class='content-header__list-item--primary'>BHW, 790</li>

          <li class='content-header__list-item'>AJ30CTK</li>

          <li class='content-header__list-item'>First used 25 Apr 2005</li>

        </ul>

      </header>

      <div class="text">

        <table class="table-summary">
          <caption class="heading-medium">Service brake</caption>
          <tbody>
            <tr>
              <th class="table-summary__key">
                Service brake test outcome
              </th>
              <td class="table-summary__value numeric">
                <span class="badge--success">Pass</span>
              </td>
            </tr>
            <tr>
              <th class="table-summary__key">
                Brake efficiency
              </th>
              <td class="table-summary__value numeric">
                22%
              </td>

            </tr>
            <tr>
              <th class="table-summary__key">
                Brake lock
              </th>
              <td class="table-summary__value numeric">
                100%
              </td>

            </tr>
          </tbody>
        </table>

        <table class="table-summary">
          <caption class="heading-medium">Imbalance</caption>
          <tbody>
            <tr>
              <th class="table-summary__key">
                Brake imbalance test outcome
              </th>
              <td class="table-summary__value numeric">
                <span class="badge--success">Pass</span>
              </td>
            </tr>
            <tr>
              <th class="table-summary__key">
                Axle 1
              </th>
              <td class="table-summary__value numeric">
                56%
              </td>

            </tr>
            <tr>
              <th class="table-summary__key">
                Axle 2
              </th>
              <td class="table-summary__value numeric">
                67%
              </td>

            </tr>
          </tbody>
        </table>

        <table class="table-summary">
          <caption class="heading-medium">Parking brake</caption>
          <tbody>
            <tr>
              <th class="table-summary__key">
                Parking brake test outcome
              </th>
              <td class="table-summary__value numeric">
                <span class="badge--alert">Fail</span>
              </td>
            </tr>
            <tr>
              <th class="table-summary__key">
                Brake efficiency
              </th>
              <td class="table-summary__value numeric">
                3%
              </td>

            </tr>
            <tr>
              <th class="table-summary__key">
                Brake lock
              </th>
              <td class="table-summary__value numeric">
                0%
              </td>

            </tr>
          </tbody>
        </table>

      </div>

      <div class="message">
        <p class="text">Other brake performance related defects like 'grab' or 'judder' can be added as a <a href="#">reason for rejection</a></p>
      </div>

      <nav class="content-navigation">
          <a href="/mot-test/125112196570" class="button">Finish and return to MOT test results</a>
      </nav>

      {{ components.link(text='Edit brake test', url='/prototypes/') }}

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}