{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        MOT tests
      </a>
    </li>
    <li>
      <a href="/">
        MOT test history
      </a>
    </li>
    <li>
      <a href="/">
        Compare tests
      </a>
    </li>
    <li>
      <a href="/">
        Compare defects
      </a>
    </li>
    <li>
        Assess difference
    </li>  
    </ol>
</div>

<h1 class="heading-xlarge heading heading--page-heading">
  Review difference for this defect
</h1>


<table class="key-value-list">
  <tbody>
    <tr>
      <td style="border-top: 0px;"></td>
      <td style="font-weight: bold; border-top: 0px; font-size: 2.25rem; background-color: #dee0e2; padding-left: 10px;">John Morris, MORR6734</td>
      <td style="font-weight: bold; border-top: 0px; font-size: 2.25rem; padding-left: 10px;">Harry Enforsmith, Vehicle Examiner</td>
    </tr>
    <tr>
      <td>Defect</td>
      <td style="background-color: #dee0e2; padding-left: 10px;">-</td>
      <td style="padding-left: 10px; font-weight: bold;">
        Daytime running lamp obviously incorrectly positioned Nearside front [<a href="#">4.2.3 (a) (i)</a>]
        <span class="key-value-list__meta" style="margin-bottom: 5px;">Lamps, reflectors and electrical equipment > Daytime running lamps</span>
        <span class="badge--warn">Minor</span>
    </td>
      <td></td>
    </tr>
  </tbody>
</table>

<div style="margin-top: 40px;">
    <label class="form-label" for="choose-action">Why was this test result wrong?</label>
    <select class="form-control" id="choose-action" style="margin-bottom:20px;">
        <option value="1">Disregard</option>
        <option value="2">Overruled, marginally wrong</option>
        <option value="3">Obviously wrong</option>
        <option value="4">Significantly wrong</option>
        <option value="5">No defect</option>
        <option value="7">Not testable</option>
        <option value="8">Excessive corrosion/wear/damage missed</option>
        <option value="9">Risk of injury missed</option>
    </select>
    <label class="form-label" for="justification">Give a reason</label>
    <textarea class="form-control" name="justification" id="justification" rows="3" style="width:480px; margin-bottom: 20px;"></textarea>
    <a class="button" href="compare-defects-marked" value="Save">Save</a><br/>
    <a href="compare-defects-v2">Back</a>
</div>





{% endblock %}
