{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}


<div class="dvsa-banner dvsa-banner--confirmation">
  <h1 class="dvsa-banner__heading-large">We have issued the disciplinary action report</h1>
  <p class="dvsa-banner__secondary-text"></p>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h4 class="heading heading--small heading-small">What happens next</h4>
    <div>
    You need to tell the nominated tester they can view the disciplinary action report by signing in to the MOT testing service.
    </div>
  </div>
</div>

<div style="margin-top: 40px;">
  <form action="test-comparison-v4-odometer-reviewed">
    <a href="index">Compare another MOT test result</a>
  </form>
</div>




{% endblock %}
