{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Payment for your course - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v9' %}
{% set signOutPath = '/prototypes/learner/v9/' %}
{% set homePath = '/prototypes/learner/v9/home' %}

{% set courseDates = courseDates if courseDates %}
{% set course = course if course %}

{% block content %}

    {{ components.pageHeading(heading='Payment options', secondary="Booking a course") }}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <p class="lede">Select payment method</p>

            {% call components.formElement(name='paymentOptions', method='POST', action="#") %}

                {{ components.field(label='Purchase order number', id='poNumber', hint="", group=true)}}

                {% call components.formGroup() %}

                    {{ components.button(text='Continue', group=true)}}

                {%- endcall %}

                <p>
                    <a href="/prototypes/learner/v9/resource?resourceType=classroom" class="link-back">Cancel booking request</a>
                </p>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}
