{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review' %}

{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary"></span> Are you sure you want to abort?
</h1>
 

     
    <div class="form-group u-margin-bottom-20">
    <a href="abort"><input class="button" type="submit" value="Abort site review" style="background-color: #b10e1e;"></a>
  </div>  
<div class="form-group"> 
  <a href="choose-section">Return to site review</a>
</div> 
 </div>
</form>
{% endblock %}


