{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review' %}

{% block content %}


<header class="transaction-header">
  <h1 class="transaction-header__title">Site review aborted</h1>
</header>



      
<div class="form-group"> 
  <a href="VE-view-site-review-summary">Back</a>
</div> 

</form>
{% endblock %}
