{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review - VTS079774' %}

{% block content %}

<form action="summary">
  <div class="form-group">
      <div class="breadcrumbs">
        <ol>
          <li>
            <a href="#">
              Home
            </a>
          </li>
          <li>
            <a href="#">
              WILLETTA AREDONDO
            </a>
          </li>
          <li>
            <a href="VE-view">
                VTS079774
            </a>
          </li>
          <li>
            Site review
          </li>
        </ol>
      </div>

      <h1 class="heading-xlarge heading heading--page-heading ">
            <span class="heading-secondary">Site review</span>
            Record a site review
      </h1>

      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Compliance</h3>
          </div>
          <a href="#" class="button">Edit</a>
      </div>

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Satisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                Comment: certificate should be printed immediately after recording test results.
            </div>
          </li>
        </ol>
      </div>
          
      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Premises</h3>
          </div>
          <a href="#" class="button">Edit</a>
      </div>  

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Satisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                Comment: N/A
            </div>
          </li>
        </ol>
      </div>

      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Management and quality</h3>
          </div>
          <a href="#" class="button">Edit</a>
      </div>  

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Satisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                Comment: N/A
            </div>
          </li>
        </ol>
      </div>
        
      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">People</h3>
            <span class="action-panel__value">Not recorded</span>
          </div>
            <a href="#" class="button">
            Record outcome
            </a>
      </div>

      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Activity</h3>
              <span class="action-panel__value">Not recorded</span>
          </div>
            <a href="assessment-activity" class="button">
              Record activity
            </a>
      </div>

</div>

<ul class="list-unstyled content-navigation__split u-clearfix u-margin-bottom-20">

    <li class="content-navigation__split--left">
      <a class="button" href="/prototypes/site-review/summary">Continue</a>
    </li>

    <li class="content-navigation__split--right">
      <a class="button button--alert" href="/prototypes/site-review/abort">Abort</a>
    </li>

</ul>

<div class="form-group u-margin-bottom-20">
  <a href="#">Cancel</a>
</div>

</form>
{% endblock %}