{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Enter details of the site review' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Willetta Aredondo', url: '#' },
  { text: 'VTS079774', url: 'VE-view' },
  { text: 'Site review' }
] %}

{% block content %}

<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary">Site review</span>
  Enter details
</h1>


<form action="choose-section-premises-done">
    <div class="form-group">
      <fieldset>
          <legend class="form-label">Date of site visit <span class="form-hint">For example, 31 3 1980</span></legend>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label class="" for="date1-day" id="form-group-dayDay">Day</label>
              <input class="form-control" id="date1-day" maxlength="2" name="testDay" title="" max="31" min="01" type="number" pattern="[0-9]*" value="9">
            </div>
            <div class="form-group form-group-month">
              <label class="" for="date1-month" id="form-group-monthMonth">Month</label>
              <input class="form-control" id="date1-month" maxlength="2" max="" min="" name="testMonth"  title="" type="number" pattern="[0-9]*" value="8">
            </div>
            <div class="form-group form-group-year">
              <label class="" for="date1-year" id="form-group-yearYear">Year</label>
              <input class="form-control" id="date1-year" maxlength="4" name="testYear" title="" type="number" pattern="[0-9]*" value="2018">
            </div>
          </div>
        </fieldset>
      </div>
 

    <div class="form-group">

    <fieldset>
      <legend>
        <span class='form-label-bold'>Was the site review conducted by two DVSA examiners?</span>
      </legend>


      <div class="multiple-choice">
        <input id="twoExaminers-no" type="radio" name="twoExaminers" value="no" checked="checked">
        <label for="twoExaminers-no">No</label>
      </div>

      <div class="multiple-choice">
        <input id="twoExaminers-yes" type="radio" name="twoExaminers" value="yes">
        <label for="twoExaminers-yes">Yes</label>
      </div>      
    </fieldset>
  </div>
    
    <fieldset>
      <div class="form-group">
        <label class="form-label" for="ae-representatives-user-id">AE representative's User ID</label>
        <input class="form-control form-control-1-8" id="ae-representatives-user-id" maxlength="50" name="testerRepId" type="text" value="DREW123">
      </div>
    </fieldset>
   

    <fieldset>
      <div class="form-group">
        <label class="form-label" for="ae-representatives-full-name">AE representative's full name (if AE User ID not entered)</label>
        <input class="form-control" id="ae-representatives-full-name" maxlength="100" name="testerName" type="text" value="">
      </div>
    </fieldset>

    <fieldset>
      <div class="form-group">
        <label class="form-label" for="ae-representatives-role">AE representative's role</label>
        <input class="form-control" id="ae-representatives-role" maxlength="100" name="testerRole" type="text" value="Manager">
      </div>
    </fieldset> 


    </div>

  </div>

  <div class="form-group u-margin-bottom-20">
    <input class="button" type="submit" value="Save and continue">
  </div>  
  <div class="form-group">
      <a href="VE-view-site-review-summary">Back</a>
  </div>  
 
</form>
{% endblock %}
