{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review - VTS079774' %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">
        Home
      </a>
    </li>
    <li>
      <a href="#">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="#">
          VTS079774
      </a>
    </li>
    <li>
      Site review
    </li>
  </ol>
</div>

<legend>
  <h1 class="heading-xlarge heading heading--page-heading ">
    <span class="heading-secondary">Vehicle testing station</span>
    Site review in progress
  </h1>
</legend>


<div class="u-margin-bottom-20">
  <a href="enter-details">Resume a site review</a>
</div>

<hr>



<div class="u-margin-bottom-20">
  <a href="VE-view-VTS-overview">Return to VTS overview</a>
</div>

{% endblock %}
