{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Planned learning - Civil Service Learning Platform' %}
{% set blackBarTitle = 'Civil Service Learning' %}
{% set signOutPath = '/prototypes/learner/v1/' %}
{% set homePath = '/prototypes/learner/v1/home' %}
{% set hideHomeStars = hideHomeStars if hideHomeStars %}

{% block content %}

    {{ components.pageHeading('Planned learning') }}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Required learning', tag='h2', size='medium', extraClass='') }}


            {{ components.heading(text='Your own learning (?!?!?!)', tag='h2', size='medium', extraClass='') }}




        {%- endcall %}

    {%- endcall %}

{% endblock %}
