{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Mot test results' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Defect search' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      <header class="content-header">
        <h1>
          <span class="content-header__title">Defect Search</span>
        </h1>
        <ul class="content-header__tertiary-list">
          <li class="content-header__list-item--primary">Renault, Clio</li>
          <li class="content-header__list-item">FNZ 6610</li>
          <li class="content-header__list-item">Registered 1 Feb 2004</li>
        </ul>
      </header>

      <div class="defect-summary">
        <div class="defect-summary__total defect-summary__total--eu">
          <h2 class="defect-summary__total-heading">Defects</h2>
          <ul>
            <li>
            <span class="badge--alert">0</span> Failures</li>
            <li>
            <span class="badge--warn">0</span> Minors</li>
            <li>
            <span class="badge--info">0</span> PRS</li>
            <li>
            <span class="badge">0</span> Advisories</li>
          </ul>
        </div>
      </div>

      <form class='u-margin-bottom-20' role="search" method="get" action="#">

        <fieldset class="search-bar">

          <label class="search-bar__label" for="search-main">Search the MOT testing service</label>

          <div class="search-bar__control-group">

            <input class="search-bar__search-input" type="search" title="Search" id="search-main" name="q">

            <input class="search-bar__search-submit" type="submit" value="Search">

            <button type="button" class='search-bar__search-voice'>Search using voice</button>

          </div>

        </fieldset>
        
      </form>

      <div class='text'>
        <p class='lede u-margin-bottom-5'>Your search for <strong>"Driver door catch"</strong> returned <strong>4</strong> defects</p>
        <a href="#">Return to defect categories</a>
      </div>

      <div class="text">
        <h2 class="heading-large" id="defects-search">Defects list - Search</h2>
      </div>

      <div class="eu-defect eu-defect--interim">
        <ul class="list-unstyled eu-defect__list eu-defect__list--interim">
          <li>
            <div class="eu-defect__group-item">
              <span class="eu-defect__name   eu-defect__name--bold">Driver's door catch deteriorated cannot readily open or close</span>
              <div class="eu-defect__options eu-defect__options--manual-ref">
                <span class="eu-defect__manual-ref"><a href="#">6.2.1(a) (ii)</a> <span class="visuallyhidden">(Opens in new window)</span></span>                                                                            
              </div>
              <div class="eu-defect__options eu-defect__options--collapse-tablet">
                <a href="#" class="button--info">PRS</a>                            
                <a href="#" class="button--alert">Dangerous failure</a> 
              </div>
            </div>
            <div class="eu-defect__group-item eu-defect__group-item--secondary">
              <span class="eu-defect__name">Driver's door catch deteriorated can readily open or close</span>
              <div class="eu-defect__options eu-defect__options--collapse-tablet">
                <a href="#" class="button--plain">Advisory</a> 
              </div>
            </div>
          </li>
          <li>
            <div class="eu-defect__group-item">
              <span class="eu-defect__name eu-defect__name--bold">Driver's door catch insecure</span>
              <div class="eu-defect__options eu-defect__options--manual-ref">
                <span class="eu-defect__manual-ref"><a href="#">6.2.1(a) (ii)</a> <span class="visuallyhidden">(Opens in new window)</span></span>                                                                            
              </div>
              <div class="eu-defect__options eu-defect__options--collapse-tablet">
                <a href="#" class="button--info">PRS</a>                            
                <a href="#" class="button--alert">Major failure</a> 
              </div>
            </div>
          </li>
          <li>
            <div class="eu-defect__group-item">
              <span class="eu-defect__name eu-defect__name--bold">Driver's door catch insecure</span>
              <div class="eu-defect__options eu-defect__options--manual-ref">
                <span class="eu-defect__manual-ref"><a href="#">6.2.1(a) (ii)</a> <span class="visuallyhidden">(Opens in new window)</span></span>                                                                            
              </div>
              <div class="eu-defect__options eu-defect__options--collapse-tablet">
                <a href="#" class="button--info">PRS</a>                            
                <a href="#" class="button--alert">Major failure</a> 
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="pager">
        <div class="pager__controls">
          <ul class="pager__list">
            <li>1</li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
          </ul>
          <a class="pager__next" href="#">Next</a>
        </div>
        <div class="pager__summary">Showing 1 &ndash; 10 of 45 items</div>
      </div>

      <div class="panel panel-border-wide">
        <p>Add a manual advisory - Only do this if you have searched for a defect and can't find a match.</p>
      </div>

      <div class="u-margin-top-30">
      {{ components.button(text='Continue', url='/prototypes/create-account/email') }}
      </div>

      {{ components.link(text='Cancel and return to sign in', url='#', paragraph=true) }}

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}