{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Site review summary' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'WILLETTA AREDONDO', url: '#' },
  { text: 'DILENA GROUP', url: '#' },
  { text: 'Site review summary' }
] %}

 {{ activityPerformed }}
 {% set activityPerformed = viewData.activity.activityPerformed %} 


{% block content %} 
 

<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary">Site review summary</span>
  Satisfactory
</h1>

<div class="text" style="margin-bottom: 60px;">

</div>

  <table class="table-summary" style="margin-bottom: 20px;">
  <tbody>
     <tr>
      <th class="table-summary__key">
        Compliance
      </th>
      <td class="table-summary__value--tabular">
         <strong>Satisfactory</strong><br/>
         Comment: certificate should be printed immediately after recording test results.
     </td>
     <td></td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Premises
      </th>
      <td class="table-summary__value--tabular">
        <strong>Satisfactory</strong><br/>
            Comment: -        
      </td>
      <td></td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Management and quality
      </th>
      <td class="table-summary__value--tabular">
        <strong>Satisfactory</strong><br/>
        Comment: N/A
      </td>
      <td></td>
    </tr>
    <tr>
      <th class="table-summary__key">
        People
      </th>
      <td class="table-summary__value--tabular">
        <strong>Satisfactory</strong><br/>
        Comment: improve documentation
      </td>
      <td>
      </td>  
      <tr>
      <th class="table-summary__key">
        Activity
      </th>
      <td class="table-summary__value--tabular">
        <strong>Satisfactory</strong><br/></br>
        <strong>Activity performed </strong><br/>
        MOT test number: <strong>1234 5678 9012</strong>
      </td>
      <td>
      </td>
       <tr>
          <th class="table-summary__key">
            DVSA examiner
          </th>
          <td class="table-summary__value--tabular">
          <strong>Michael Drewster</strong><br/>
          </td>
          <td></td>
      </tr>
    <tr>
      <th class="table-summary__key">
        AE representative
      </th>
      <td class="table-summary__value--tabular"> 
        <strong>Ben Chgw</strong><br/>
      </td>
        <td></td>
   </tr>
    <tr>
      <th class="table-summary__key">
        AE representative's role
      </th>
      <td class="table-summary__value--tabular"> 
        <strong>Manager</strong><br/>
      </td>
         <td></td>
   </tr>

    <tr>
      <th class="table-summary__key">
        Date of site visit
      </th>
      <td class="table-summary__value--tabular">
        <strong>1 October 2018</strong>
      </td>
         <td></td>
    </tr>
  </tbody>
</table>

<div class="u-margin-bottom-20">
  <a href="AE-view" class="button">Back</a> 
</div> 


<div>
</div>

{% endblock %}
