{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Compliance' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">
        Home
      </a>
    </li>
    <li>
      <a href="#">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/prototypes/site-review/v5/VE-view-VTS-overview">
        DILENA GROUP
      </a>
    </li>
    <li>
      <a href="/prototypes/site-review/v5/choose-section">Record a site review</a>
    </li>
    <li>
      Premises
    </li>
  </ol>
</div>

<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary">Site review</span>
  Premises
</h1>

<form action="choose-section-premises-done">
  <div class="form-group">

    <fieldset>
      <legend>
        <span class='form-label-bold'>Record the premises outcome</span>
      </legend>


      <div class="multiple-choice" data-target="satisfactory-comment-panel">
        <input id="example-multiple-satisfactory" type="radio" name="radio-assessment-group" value="Satisfactory">
        <label for="example-multiple-satisfactory">Satisfactory</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="satisfactory-comment-panel">
        <div>
          <label class="form-label" for="satisfactory-textarea">Comment (optional)</label>
          <textarea class="form-control" name="satisfactory-textarea" id="satisfactory-textarea" rows="5"></textarea>
        </div>
      </div>

      <div class="multiple-choice" data-target="improve-advice-panel">
        <input id="example-multiple-improve" type="radio" name="radio-assessment-group" value="Improve">
        <label for="example-multiple-improve">Improve</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="improve-advice-panel">
        <div>
          <label class="form-label" for="improve-textarea">Actions required</label>
          <textarea class="form-control" name="improve-textarea" id="improve-textarea" rows="5"></textarea>
        </div>
      </div>

      <div class="multiple-choice" data-target="unsatisfactory-advice-panel">
        <input id="example-multiple-unsatisfactory" type="radio" name="radio-assessment-group" value="Unsatisfactory">
        <label for="example-multiple-unsatisfactory">Unsatisfactory</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="unsatisfactory-advice-panel">
        <div>
          <label class="form-label" for="unsatisfactory-advice-textarea">Actions required</label>
          <textarea class="form-control" name="unsatisfactory-advice-textarea" id="unsatisfactory-advice-textarea" rows="5"></textarea>
        </div>
      </div>
    </fieldset>
  </div>

  <details class="u-margin-bottom-10">
    <summary><span class="summary">Premises guidance</span></summary>
      <div class="panel panel-border-narrow">
        <p>The VTS is a safe working environment where the test bay is clearly defined and MOT equipment is easily accessible and in good order.</p>
        <p>The equipment is calibrated and there is a system to ensure that calibrations are planned and carried out in a timely fashion.</p>
        <p>The MOT test bay and site meet the Requirements of Authorisation.</p>
    </div>
  </details>

  <div class="form-group u-margin-bottom-15">
    <input class="button" type="submit" value="Save and return"/>
   </div>
  <div class="form-group">
    <a href="choose-section">Back</a>
  </div>

</form>
{% endblock %}