{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review - VTS079774' %}

{% block content %}
<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">
        Home
      </a>
    </li>
    <li>
      <a href="#">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/prototypes/site-review/v5/VE-view-VTS-overview">
        DILENA GROUP
      </a>
    </li>
    <li>
      Site review
    </li>
  </ol>
</div>

<legend>
  <h1 class="heading-xlarge heading heading--page-heading ">
    <span class="heading-secondary">Vehicle testing station</span>
    Site review
  </h1>
</legend>


<div class="u-margin-bottom-20">
  <a href="enter-details">Record a site review</a>
</div>

<table class="table-summary u-margin-bottom-20">
  <tbody>
    <tr>
      <th class="table-summary__value">
        Site review outcome
      </th>
      <td class="table-summary__key">
        Satisfactory
      </td>
    </tr>
      <th class="table-summary__value">
        DVSA examiner
      </th>
      <td class="table-summary__key">
        Janyce Tisa Amento
        <span class="key-value-list__meta">User ID: AMEN2387</span>
      </td>
    </tr>
    <tr>
      <th class="table-summary__value">
        AE representative
      </th>
      <td class="table-summary__key">
        Jacqueline&nbsp;Kalima
        <span class="key-value-list__meta">User ID: KALI6924</span>
      </td>
    </tr>
    <tr>
      <th class="table-summary__value">
        Date of review
      </th>
      <td class="table-summary__key">
        1 March 2016
      </td>
    </tr>
  </tbody>
</table>

<div class="u-margin-bottom-20">
  <a href="VE-view-VTS-overview">Return to VTS overview</a>
</div>

{% endblock %}
