{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Prototypes Index' %}

{% set listItemsWIP = [
  { text: 'Accessibility enhancements (Chrome Only)', url: '/prototypes/speech-to-text' },
  { text: 'AE Application Tool', url: '/prototypes/ae-application-tool/' },
  { text: 'Correct test record', url: '/prototypes/correct-test-record/' },
  { text: 'MOT test - Brake test', url: '/prototypes/mot-test/' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Site review', url: '/prototypes/site-review/'},
  { text: 'Recalls', url: '/prototypes/recalls/'},
  { text: 'Site review', url: '/prototypes/site-review/v5/'},
  { text: 'Compare MOT tests', url: '/prototypes/compare-tests/'},
  { text: 'Find a MOT location', url: '/prototypes/mot-location/'},
  { text: 'MTS messages', url: '/prototypes/mts-messages/'},
  { text: 'VSI during test', url: '/prototypes/vsi-during-test/'},
  { text: 'VTS changes', url: '/prototypes/vts-changes/'},
  { text: 'First use date of vehicle/defect', url: '/prototypes/first-use-date/'}
] %}

{% set listItemsFinal = [
  { text: 'Annual assessment admin tool', url: '/prototypes/annual-assessment-admin-tool' },
  { text: 'Create account', url: '/prototypes/create-account' },
  { text: 'Manuals', url: '/manuals' },
  { text: 'Select-all checkbox', url: '/prototypes/multi-checkbox' }
] %}

{% block content %}

  {{ components.pageHeading('Prototypes', 'DVSA Front-End') }}
  {{ components.paragraph(text="Prototypes within the final column are ready 
  for implementation. Please consult a member of the service design team 
  before implementing prototypes from the 'Work in progress' column.", lead='true', limitWidth=true)}}

  {% call components.gridRow() %}

    {% call components.columnHalf() %}

      {{ components.heading(text='Work in progress', tag='h3', size='medium') }}

      {{ components.list(items=listItemsWIP, type='bullet')}}

    {%- endcall %}

    {% call components.columnHalf() %}

      {{ components.heading(text='Production ready', tag='h3', size='medium') }}

      {{ components.list(items=listItemsFinal, type='bullet')}}

    {%- endcall %}

  {%- endcall %}

{% endblock %}