{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Prototypes Index' %}

{% set listItemsWIP = [
  { text: 'Accessibility enhancements (Chrome Only)', url: '/prototypes/speech-to-text' },
  { text: 'AE search', url: '/prototypes/ae-search' },
  { text: 'MOT test - Brake test', url: '/prototypes/mot-test/' }, 	 
  { text: 'MOT test - Comments', url: '/prototypes/mot-test/test-comments'},
  { text: 'MOTH accordions', url: '/moth-accordions' },
  { text: 'Report MOT fraud', url: '/prototypes/report-fraud' },
  { text: 'Site review', url: '/prototypes/site-review/v4'},
  { text: 'MTS messages', url: '/prototypes/mts-messages/'},
  { text: 'VTS changes', url: '/prototypes/vts-changes/v2/'}
] %}

{% set listItemsFinal = [
  { text: 'Annual assessment admin tool', url: '/prototypes/annual-assessment-admin-tool' },
  { text: 'Create account', url: '/prototypes/create-account' },
  { text: 'Manuals', url: '/manuals' }
] %}

{% block content %}

  {{ components.pageHeading('Prototypes', 'DVSA Front-End') }}
  {{ components.paragraph(text="Prototypes within the final column are ready 
  for implementation. Please consult a member of the service design team 
  before implementing prototypes from the 'Work in progress' column.", lead='true', limitWidth=true)}}

  {% call components.gridRow() %}

    {% call components.columnHalf() %}

      {{ components.heading(text='Work in progress', tag='h3', size='medium') }}

      {{ components.list(items=listItemsWIP, type='bullet')}}

    {%- endcall %}

    {% call components.columnHalf() %}

      {{ components.heading(text='Production ready', tag='h3', size='medium') }}

      {{ components.list(items=listItemsFinal, type='bullet')}}

    {%- endcall %}

  {%- endcall %}

{% endblock %}