{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Prototypes Index' %}

{% block content %}

  {{ components.pageHeading('Prototypes', 'LPG Front-End') }}

  {% call components.gridRow() %}

    {% call components.columnOneThird() %}

      {{ components.heading(text='GDS Accordions', tag='h2', size='medium', url='/moth-accordions') }}
      {{ components.paragraph(text='A rebuild of the GDS accordian with AJAX call on open (used at DVSA).') }}
      
    {%- endcall %}

    {% call components.columnOneThird() %}

      {{ components.heading(text='Create Account', tag='h2', size='medium', url='/prototypes/create-account') }}
      {{ components.paragraph(text='Creating an account user journey prototype.') }}
      
    {%- endcall %}

    {% call components.columnOneThird() %}

      {{ components.heading(text='Layouts', tag='h2', size='medium', url='/prototypes/layouts') }}
      {{ components.paragraph(text='Various layouts') }}
      
    {%- endcall %}

  {%- endcall %}

  {% call components.gridRow() %}

      {% call components.columnOneThird() %}

          {{ components.heading(text='Learner journey', tag='h2', size='medium', url='/prototypes/learner') }}
          {{ components.paragraph(text='And end-to-end journey for learners, including registration.') }}

      {%- endcall %}

  {%- endcall %}
  
{% endblock %}