{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Back', url: '/prototypes/connected-testing/self-serve-api-key/site-keys' }
] %}

{% set message = viewData %}

{% set canBeArchived = message.type !== 'Special notice' and (message.state.rejected or message.state.accepted) and not message.state.isArchived %}

{% block content %} 

  {% call components.gridRow() %}

    {% call components.columnFull() %}
      
      <main style="padding-top:0;" class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="interrupt-panel">
              <h1 class="govuk-panel__title">
                Is there an engineer on site?
              </h1>
              <div>
                <p>We will send the key to garettims@example.com.</p>
                <p>If you do not have access to this email, you can <a href="change-email">change your email address in your profile</a>.</p>
              </div>

              <a href="confirmation-key-sent" role="button" draggable="false" class="button--plain govuk-button govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-7"  data-module="govuk-button">
                Engineer is on site - send me the key
              </a>

              <p style="margin-top: 10px;"><a href="site-keys">Cancel and return to Site's keys</a></p>
            </div>
          </div>
        </div>
      </main>
      
      <a href="there-was-a-problem" style="color:red;">There is a problem page</a>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}