{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
 
] %}

{% set message = viewData %}

{% set canBeArchived = message.type !== 'Special notice' and (message.state.rejected or message.state.accepted) and not message.state.isArchived %}

{% block content %} 

  {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}

      <div class="govuk-panel govuk-panel--confirmation dvsa-banner--confirmation">
        <h1 class="govuk-panel__title">You successfully added an email address</h1>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>Go back to the "Site keys" page and click on "Email me the key".</p>

      <a href="site-keys" class="govuk-button" data-module="govuk-button">Site keys</a>

      <p><a href="../index">Return to Vehicle Testing Station</a></p>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}