{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Back', url: '/prototypes/connected-testing/self-serve-api-key' }
] %}

{% set message = viewData %}

{% set canBeArchived = message.type !== 'Special notice' and (message.state.rejected or message.state.accepted) and not message.state.isArchived %}

{% block content %} 

  {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}
      <span class="heading-secondary">Request a key</span>
      <h1 class="govuk-heading-xl">What equipment do you need a key for?</h1>
       
      <form class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-equipment-2" name="type-of-equipment" type="radio" value="Decelerometer">
                <label class="govuk-label govuk-radios__label" for="type-of-equipment-2">
                  Decelerometer
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-equipment" name="type-of-equipment" type="radio" value="Roller brake tester" >
                <label class="govuk-label govuk-radios__label" for="type-of-equipment-1">
                  Roller brake tester
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <a href="confirmation" class="govuk-button" data-module="govuk-button">Continue</a>
      </form>
      
      <p><a href="../index">Return to Vehicle Testing Station</a></p>
      
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}