{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Review your registration details - Civil Service Learning Platform' %}

{% set blackBarTitle = 'Civil Service Learning' %}
{% set loggedOut = 'true' %}
{% set signOutPath = '/prototypes/learner/v1/' %}
{% set homePath = '/prototypes/learner/v1/' %}
{% set email = email if email %}
{% set firstName = firstName if firstName %}
{% set lastName = lastName if lastName %}
{% set departmentName = departmentName if departmentName %}
{% set professionName = professionName if professionName %}
{% set gradeName = gradeName if gradeName %}


{% block content %}

    {{ components.pageHeading('Review your registration details', 'Create an account') }}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <p class="lede">Check your details are correct before completing registration.</p>

            <table class="key-value-list key-value-list--auto u-space-b30 table--top">

                <thead class="visuallyhidden">
                    <th>Detail</th>
                    <th>Your entered value</th>
                    <th>Action</th>
                </thead>

                <tbody>
                    <tr>
                        <td class="key-value-list__key ">Email</td>
                        <td class="key-value-list__value">
                            {% if email %}
                                {{ email }}
                            {% else %}
                                r.connery@mi6.gov.uk
                            {% endif %}
                        </td>
                        <td class="key-value-list__item-action">
                            <a href="/prototypes/learner/v1/registration?mode=edit">Change<span class="visuallyhidden"> your email</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="key-value-list__key ">Name</td>
                        <td class="key-value-list__value">
                            {% if firstName %}
                                {{ firstName }} {{ lastName }}
                            {% else %}
                                Roger Connery
                            {% endif %}
                        </td>
                        <td class="key-value-list__item-action">
                            <a href="/prototypes/learner/v1/registration/personal-details?mode=edit">Change<span class="visuallyhidden"> your first  or last name</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="key-value-list__key ">Department</td>
                        <td class="key-value-list__value">
                            {% if departmentName %}
                                {{ departmentName }}
                            {% else %}
                                Cabinet Office
                            {% endif %}
                        </td>
                        <td class="key-value-list__item-action">
                            <a href="/prototypes/learner/v1/registration/department?mode=edit">Change<span class="visuallyhidden"> your job department</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="key-value-list__key ">Area of work</td>
                        <td class="key-value-list__value">
                            {% if professionName %}
                                {% for item in professionName %}
                                    {{ item }}<br>
                                {% endfor %}
                            {% else %}
                                Legal<br>Communications
                            {% endif %}
                        </td>
                        <td class="key-value-list__item-action">
                            <a href="/prototypes/learner/v1/registration/area-of-work?mode=edit">Change<span class="visuallyhidden"> your area of work</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="key-value-list__key ">Grade</td>
                        <td class="key-value-list__value">
                            {% if gradeName %}
                                {{ gradeName }}
                            {% else %}
                                Higher Executive Officer
                            {% endif %}
                        </td>
                        <td class="key-value-list__item-action">
                            <a href="/prototypes/learner/v1/registration/grade?mode=edit">Change<span class="visuallyhidden"> your job grade</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="key-value-list__key ">Password</td>
                        <td class="key-value-list__value">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</td>
                        <td class="key-value-list__item-action">
                            <a href="/prototypes/learner/v1/registration/password?mode=edit">Change<span class="visuallyhidden"> your password</span></a>
                        </td>
                    </tr>
                </tbody>

            </table>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            {% call components.formElement(name='review', method='POST', action="#") %}

                {% call components.formGroup() %}

                    {{ components.button(text='Complete registration', group=true)}}

                {%- endcall %}

                <p>
                    <a href="/prototypes/learner/v1">Cancel</a>
                </p>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}