$module: 'search-box';

.#{$module}  {

  // background-color: $civil-service;

  &__group {
    position: relative;
    padding: 20px 53px 20px 10px;
    width: 100%;

    @include media(desktop) {
      min-height: 60px;
      // padding: 0 58px 0 10px;
      padding: 0 12px 0 0;

      @include m('sidebar') {

      }
    }
  }

  &__input {
    width: 100%;
  }

  &__submit {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 33px;
    height: 33px;
    right: 10px;
    top: 20px;
    border: 0;
    text-indent: 200px;

    background-color: $black;
    background-image: url(/images/icon-search.png);
    background-repeat: no-repeat;
    background-position: 5px 50%;
    background-size: 70%;

    @include media(desktop) {
      width: 38px;
      height: 38px;
      top: 0;
      right: 0;
      background-position: 9px 48%;
    }
  }

  a {
    color: $white !important;
  }

  &__advanced {
    @include core-16;
    display: block;
    padding: 10px 0;
  }

  .form-group, p {
    margin-bottom: 0;
  }

  &--sidebar {

    background-color: $white;

    .#{$module}__group  {
      padding: 10px 58px 10px 0;
    }

    .#{$module}__submit  {
      top: 10px;
    }
  }
}
