<!-- footer -->
<footer class="dvsa-full-width-footer" id="footer">
  <div class="dvsa-full-width-footer__wrapper">
    <div class="dvsa-full-width-footer__row">
      <div class="dvsa-full-width-footer__column dvsa-full-width-footer__column--information">
        <h2 class="visuallyhidden">
          Support links
        </h2>

        <ul class="dvsa-full-width-footer__inline-links">
          <li class="dvsa-full-width-footer__inline-links-item">
            <a href="https://www.gov.uk/help/cookies" class="dvsa-full-width-footer__inline-links-link">
              Cookies
            </a>
          </li>

          <li class="dvsa-full-width-footer__inline-links-item">
            <span class="dvsa-full-width-footer__inline-links-text">
              Built by the 
            </span>

            <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="dvsa-full-width-footer__inline-links-link">
              Driver &amp; Vehicle Standards Agency
            </a>
          </li>
        </ul>

        <div class="dvsa-full-width-footer__open-government-licence">
          <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" class="dvsa-full-width-footer__open-government-licence-logo">
            <img src="/images/open-government-licence.png" alt="Open Government Licence v3.0 Logo" class="dvsa-full-width-footer__open-government-licence-logo-icon">
          </a>

          <span class="dvsa-full-width-footer__open-government-licence-text">
            All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>

        <span class="dvsa-full-width-footer__version-number">
          Version {{ repoPackageJSON.version }}
        </span>
      </div>

      <div class="dvsa-full-width-footer__column dvsa-full-width-footer__column--crown-logo">
        <div class="dvsa-full-width-footer__crown">
          <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/" class="dvsa-full-width-footer__crown-logo">
            <img src="/images/govuk-crest.png" alt="Crown copyright" class="crown-logo-icon">
          </a>

          <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/" class="dvsa-full-width-footer__crown-copyright-link">
            &copy; Crown copyright
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

<div id="global-app-error" class="app-error hidden"></div>