.placeholder-box {
  background: #2B8CC4;
  background-image: repeating-linear-gradient(180deg, #2B8CC4, #2B8CC4 25px, lighten(#2B8CC4, 10) 25px, lighten(#2B8CC4, 10) 50px);
  height: 150px;
  width: 100%;
}