{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'BMA Motors' %}

{% block content %}



<div class="breadcrumbs">
  <ol>
    <li>
      <a href="">
        Home
      </a>
    </li>
          <li>
            BMA Motors
          </li>
        </ol>
</div>

<div class="grid-row">
                    <div class="column-two-thirds">
             
                <header class="content-header">
    <h1>
        <span class="content-header__type">Authorised Examiner</span>
        <span class="content-header__title">BMA Motors</span>
            </h1>
                        <h2>
                <span class="content-header__tertiary">13 Woodleigh Road, Shaldon, Teignmouth, Devon</span>
            </h2>
            </header>                       
            
<h3 class="summary-heading">
    Business details
</h3>

<table class="table-summary">
    
    <tbody>
                        <tr>
                <th class="table-summary__key">
                    Name                </th>
                                <td class="table-summary__value">
                    <span id="ae-name">
                        BMA Motors                    </span>
                                    <a href="/authorised-examiner/80126/name/change" class="table-summary__action" title="Change Name" id="ae-name-change">Change<span class="visuallyhidden"> Name</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Trading name                </th>
                                <td class="table-summary__value">
                    <span id="ae-trading-name">
                        N/A                    </span>
                                    <a href="/authorised-examiner/80126/trading-name/change" class="table-summary__action" title="Change Trading Name" id="ae-trading-name-change">Change<span class="visuallyhidden"> Trading name</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Business type                </th>
                                <td class="table-summary__value">
                    <span id="ae-type">
                        Sole trader                   </span>
                                    <a href="/authorised-examiner/80126/business-type/change" class="table-summary__action" title="Change Business Type" id="ae-type-change">Change<span class="visuallyhidden"> Business type</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Authorised Examiner ID                </th>
                                <td class="table-summary__value">
                    <span id="ae-number">
                        AE080126                    </span>
                                                    </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Appeal status                </th>
                                <td class="table-summary__value">
                    <span id="ae-appeal-status">
                        In progress                    </span>
                                                    </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Withdrawal date                </th>
                                <td class="table-summary__value">
                    <span id="ae-withdraw-date">
                        N/A                    </span>
                                                    </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    DVSA Area Office                </th>
                                <td class="table-summary__value">
                    <span id="ae-dvsa-area-office">
                        VTS000060                    </span>
                                    <a href="/authorised-examiner/80126/areaoffice/change" class="table-summary__action" title="Change DVSA AO" id="ae-dvsa-area-office-change">Change<span class="visuallyhidden"> DVSA Area Office</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Status                </th>
                                <td class="table-summary__value">
                    <span id="ae-auth-status">
                        Approved                    </span>
                                    <a href="/authorised-examiner/80126/status/change" class="table-summary__action" title="Change Status" id="ae-auth-status-change">Change<span class="visuallyhidden"> Status</span>
                    </a>                </td>
            </tr>
                </tbody>
</table>


<h3 class="summary-heading">
    Contact details
</h3>

<table class="table-summary">
        <thead>
    <tr>
        <th class="table-summary__heading" colspan="2">
            Registered office        </th>
    </tr>
    </thead>
    
    <tbody>
                        <tr>
                <th class="table-summary__key">
                    Address                </th>
                                <td class="table-summary__value">
                    <span id="reg-AE-address">
                        13 Woodleigh Park,</br>Shaldon,</br> Teignmouth,</br> Devon                    </span>
                                    <a href="/authorised-examiner/80126/registered-address/change" class="table-summary__action" title="Change Registered Address" id="reg-AE-address-change">Change<span class="visuallyhidden"> Address</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Email                </th>
                                <td class="table-summary__value">
                    <span id="reg-email">
                        N/A                    </span>
                                    <a href="/authorised-examiner/80126/registered-email/change" class="table-summary__action" title="Change Registered Email" id="reg-email-change">Change<span class="visuallyhidden"> Email</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Telephone                </th>
                                <td class="table-summary__value">
                    <span id="reg-telephone">
                        01958920000                    </span>
                                    <a href="/authorised-examiner/80126/registered-telephone/change" class="table-summary__action" title="Change Registered Telephone" id="reg-telephone-change">Change<span class="visuallyhidden"> Telephone</span>
                    </a>                </td>
            </tr>
                </tbody>
</table>
<table class="table-summary">
        <thead>
    <tr>
        <th class="table-summary__heading" colspan="2">
            Correspondence        </th>
    </tr>
    </thead>
    
    <tbody>
                        <tr>
                <th class="table-summary__key">
                    Address                </th>
                                <td class="table-summary__value">
                    <span id="cor-address">
                        22 Capton Dene,<br>Somerton,<br>Devon,<br>England,<br>UK,<br>B9 6RA                    </span>
                                    <a href="/authorised-examiner/80126/correspondence-address/change" class="table-summary__action" title="Change Registered Address" id="cor-address-change">Change<span class="visuallyhidden"> Address</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Email                </th>
                                <td class="table-summary__value">
                    <span id="cor-email">
                        <a href="">bmamotors@yahoo.com</a>                    </span>
                                    <a href="/authorised-examiner/80126/correspondence-email/change" class="table-summary__action" title="Change Registered Email" id="cor-email-change">Change<span class="visuallyhidden"> Email</span>
                    </a>                </td>
            </tr>
                    <tr>
                <th class="table-summary__key">
                    Telephone                </th>
                                <td class="table-summary__value">
                    <span id="cor-phone">
                        01958900000                    </span>
                                    <a href="/authorised-examiner/80126/correspondence-telephone/change" class="table-summary__action" title="Change Registered Telephone" id="cor-phone-change">Change<span class="visuallyhidden"> Telephone</span>
                    </a>                </td>
            </tr>
                </tbody>
</table>
    <h3 class="summary-heading">
        Roles
                    <span class="summary-heading__action">
                <a href="/authorised-examiner/80126/roles" id="assign-a-role">
                    Assign a role
                </a>
            </span>
            </h3>

    <table class="table-summary">
        <tbody>
                                <tr id="authorised-examiner-designated-manager-0">
                <th class="table-summary__key">
                                            <a href="/authorised-examiner/80126/user/822344">
                            Andrew Dominic Smith (CAFA4558)                        </a>
                                    </th>

                <td class="table-summary__value">

                        <div id="role-assignment-822344-Authorised examiner designated manager" class="text">
                            Authorised examiner designated manager                                                    </div>
                        
                            <a id="remove-role" class="table-summary__action" href="/authorised-examiner/80126/remove-role/174464">Remove
                            <span class="visuallyhidden">
                                Andrew Dominic Smith                            </span>
                            </a>
                        
                </td>

                            </tbody>
    </table>

    <h3 class="summary-heading">
        Vehicle testing stations
                    <span class="summary-heading__action">
                <a href="/authorised-examiner/80126/site/link">Add a site association</a>
            </span>
            </h3>

    <table class="table-summary">
        <tbody>
                <tr id="vehicle-testing-station-1">
            <th class="table-summary__key">

                                    <a href="/vehicle-testing-station/78738">
                        BMA Motors                     </a>
                
                                    <span class="table-summary__meta">
                            22 Capton Dene, Somerton, Devon, England, UK, B9 6RA                         </span>
                            </th>

            <td class="table-summary__value">
                VTS078738                <span class="table-summary__meta">
                    This association approved<br> &nbsp;- 5 November 2012                </span>
                                                            <span class="key-value-list__meta">
                            <a href="/authorised-examiner/80126/site/unlink/106028" class="table-summary__action">
                                Remove
                                <span class="visuallyhidden"> BMA Motors </span>
                            </a>
                        </span>
                                                </td>
        </tr>
                </tbody>
    </table>

    <h3 class="summary-heading">
        Authorised Examiner principals
                    <span class="summary-heading__action">
                <a id="add-aep" href="/authorised-examiner/80126/add-principal">
                    Add a Principal
                </a>
            </span>
            </h3>

            <table id="aeps" class="table-default">
            <thead>
                <tr>
                    <th scope="col" class="table-default__head">Name</th>
                    <th scope="col" class="table-default__head">Address</th>
                    <th scope="col" class="table-default__head">Date of birth</th>
                    <th scope="col" class="table-default__head visuallyhidden">Action</th>
                </tr>
            </thead>
            <tbody>
                                    <tr id="authorised-examiner-principal-1">
                        <td class="table-default__body--primary" id="aep-name-21727">
                            James Michael Edgecombe                        </td>
                        <td class="table-default__body" id="aep-address-21727">
                            13 Woodleigh Park,</br>Shaldon,</br> Teignmouth,</br> Devon                           </td>
                        <td class="table-default__body" id="aep-birth-21727">
                            24 January 1959                        </td>
                        <td class="table-default__body--action" id="aep-action-21727">
                                                                    <a class="remove-aep" id="remove-aep-21727" href="/authorised-examiner/80126/21727/remove-principal-confirmation">Remove</a>
                                    <span class="visuallyhidden">James Michael Edgecombe    </span>
                                                        </td>
                    </tr>
                            </tbody>
        </table>
    


<nav class="content-navigation">
    <ul class="content-navigation__secondary">
        <li>
            <a id="search-again" href="/authorised-examiner/search">Search again</a>
        </li>
    </ul>
</nav>                        

                                </div>
                    <div class="column-third">
                        
<div class="related">

    
        
            <ul class="related__status">
                                    <li id="ae-status">
                        <span class="badge--success">
                            Approved                        </span>
                        <strong>
                            Status                        </strong>
                                                    <br>
                            <span class="text-secondary">
                                5 November 2012                            </span>
                                                                    </li>
                                    <li id="slot-count">
                        <span class="badge--info">
                            8                        </span>
                        <strong>
                            Slots                        </strong>
                                                                    </li>
                
            </ul>

        
        
    
        
                    <div class="related__section">
                <h2 class="related__section-title"></h2>

                <ul class="related__section-links">
                    
                                            <li>
                                                        <a class="related-button" id="add-slots" href="/slots/80126/add-slots">
                                Buy slots                            </a>
                        </li>


                    
                </ul>
            </div>

        
    
        
                    <div class="related__section">
                <h2 class="related__section-title">Slots</h2>

                <ul class="related__section-links">
                    
                                            <li>
                                                        <a class="" id="transaction-history" href="/slots/80126/transaction-history">
                                Transaction history                            </a>
                        </li>


                                            <li>
                                                        <a class="" id="slot-usage" href="/slots/80126/slot-usage">
                                Slot usage                            </a>
                        </li>


                                            <li>
                                                        <a class="" id="slot-adjustment" href="/slots/80126/adjustment">
                                Slot adjustment                            </a>
                        </li>


                                            <li>
                                                        <a class="" id="slots-refund" href="/slots/80126/refund">
                                Refund slots                            </a>
                        </li>


                    
                </ul>
            </div>

        
    
        
                    <div class="related__section">
                <h2 class="related__section-title">Related</h2>

                <ul class="related__section-links">
                    
                                            <li>
                                                        <a class="" id="test-log" href="/authorised-examiner/80126/mot-test-log">
                                Test logs                            </a>
                        </li>


                                            <li>
                                                        <a class="" id="event-history" href="/event/list/ae/80126">
                                Event history                            </a>
                        </li>


                                            <li>
                                                        <a class="" id="service-reports" href="/authorised-examiner/80126/test-quality-information">
                                Service reports                            </a>
                        </li>


                    
                </ul>
            </div>

        
    
</div>
                    </div>
                </div>


{% endblock %}
