{% from "macros/typography/headings.njk" import heading %}
{% macro disciteRow(
    name='This discite title',
    headingURL='',
    headingTag='h3',
    description='',
    modules='',
    addToLearningPlan=false,
    removeFromLearningPlan=false,
    headingSize='',
    headingExtraClass='heading--text',
    type='',
    status='',
    action='',
    duration='',
    cost='',
    workArea='',
    extraModifierClass='',
    dueBy='',
    canBeBooked=false,
    removeFromLearningPlanURL=''
    )
%}
    <div class="discite__item u-clearfix {% if extraModifierClass %}discite__item--{{ extraModifierClass }}{% endif %}">

        <div class="discite__main {% if extraModifierClass %}discite__main--{{ extraModifierClass }}{% endif %}">
            {% if headingURL %}<a href="{{ headingURL }}">{% endif %}
                {{ heading(text=name, tag=headingTag, size=headingSize, extraClass=headingExtraClass) }}
            {% if headingURL %}</a>{% endif %}
        </div>

        <div class="discite__properties {% if extraModifierClass %}discite__properties--{{ extraModifierClass }}{% endif %} u-clearfix">

            <ul class="discite__property {% if extraModifierClass %}discite__property--{{ extraModifierClass }}{% endif %}">
                {% if type %}
                    <li class="discite__property-item">
                        <span class="visuallyhidden">Type:</span>
                        {{ type }}
                    </li>
                {% endif %}
                {% if duration %}
                    <li class="discite__property-item">
                        <span class="visuallyhidden">Duration:</span>
                        {{ duration}}
                    </li>
                {% endif %}
                {% if cost %}
                    <li class="discite__property-item">
                        <span class="visuallyhidden">Cost:</span>
                        {{ cost }}
                    </li>
                {% endif %}
            </ul>

            {%  if status %}
                <div class="discite__status"><span class="badge badge--info ">{{ status }}</span></div>
            {% endif %}

        </div>

        {% if description or modules %}
            <div class="discite__desc {% if extraModifierClass %}discite__desc--{{ extraModifierClass }}{% endif %}">
            {% if description %}
                <p class="discite__blurb">{{ description }}</p>
            {% endif %}
            {% if modules %}
                <p class="discite__modules">{{ modules }}</p>
            {% endif %}
            </div>
        {% endif %}

        {% if workArea %}
            <div class="discite__area">Work area: {{ workArea }}</div>
        {% endif %}

        {% if dueBy %}
            <div class="discite__area">Due by: {{ dueBy }}</div>
        {% endif %}

        <div class="discite__action {% if extraModifierClass %}discite__action--{{ extraModifierClass }}{% endif %}">
            {% if action == 'Retake' %}
                <a href="#">Retake<span class="visuallyhidden"> this module</span></a>
            {% endif %}
            {% if action == 'Start' %}
                <a href="#">Start<span class="visuallyhidden"> this module</span></a>
            {% endif %}
            {% if action == 'Resume' %}
                <a href="#">Resume<span class="visuallyhidden"> this module</span></a>
            {% endif %}
            {% if action == 'invalid' %}
                <span class="meta">Complete the previous module first</span>
            {% endif %}
            {% if action == 'Book' %}
                <a href="#">Book<span class="visuallyhidden"> this module</span></a>
            {% endif %}
            {% if addToLearningPlan %}
                <a href="#">Add to learning plan</a>
            {% endif %}
            {% if removeFromLearningPlan %}
                <a href="#">Remove<span class="visuallyhidden"> from learning plan</span></a>
            {% endif %}
            {% if removeFromLearningPlanURL %}
                <a href="{{ removeFromLearningPlanURL }}">Remove<span class="visuallyhidden"> from learning plan</span></a>
            {% endif %}
        </div>

    </div>
{% endmacro %}
