{% from "macros/typography/headings.njk" import heading %}
{% macro resourceRow(name='This resource title', headingTag='h3', headingSize='', headingExtraClass='heading--text', type='', status='', action='', duration='') %}
    <div class="resource">
        <ul class="resource__item u-clearfix">
            <li class="resource__main">
                {{ heading(text=name, tag=headingTag, size=headingSize, extraClass=headingExtraClass) }}
                <span class="resource__action">
                    {% if action == 'Retake' %}
                    <a href="#">Retake <span class="visuallyhidden"> this module</span></a>
                    {% endif %}
                    {% if action == 'Start' %}
                        <a href="#">Start <span class="visuallyhidden"> this module</span></a>
                    {% endif %}
                    {% if action == 'Resume' %}
                        <a href="#">Resume <span class="visuallyhidden"> this module</span></a>
                    {% endif %}
                </span>
            </li>

            <li class="resource__property">
                {% if type %}
                    <span class="resource__property-item">{{ type }}</span>
                {% endif %}
                {% if duration %}
                    <span class="resource__property-item">{{ duration }}</span>
                {% endif %}
            </li>
            {%  if status %}
            <li class="resource__status">
                <span class="badge badge--info ">{{ status }}</span>
            </li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}
