{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Back', url: '/prototypes/connected-testing/change-testing-equipment/approved-equipment' }
] %}

{% set message = viewData %}

{% set canBeArchived = message.type !== 'Special notice' and (message.state.rejected or message.state.accepted) and not message.state.isArchived %}

{% block content %} 

  {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}
      
      <span class="heading-secondary">Tell us about changes to your equipment</span>
      <h1 class="govuk-heading-xl">You can not use equipment that is not approved by DVSA</h1>

      <p class="subheader"><strong>What you need to do next:</strong></p>
      <p>Any new or replacement equipment must be on the list of <a href="https://www.gov.uk/government/publications/mot-centre-approved-testing-equipment?_ga=2.249196999.1555777727.1586952526-1466360154.1570439560">DVSA approved testing equipment</a>.</p>
      <p>For further details see section D2 of the <a href="https://www.gov.uk/government/publications/mot-testing-guide?_ga=2.163526652.113284615.1582554015-1466360154.1570439560">MOT Testing Guide</a>.</p>

      <p style="margin-top:40px;"><a href="../index">Return to VTS Overview</a></p>
        
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}