.message-notification {
  background-color: #DEE0E2;
  padding: 20px 15px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  color: $black;

  &__message-type-count {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    font-size: 60px;
    float: left;   
    margin: 0 15px -10px 0;
    min-width: 80px;
    text-align: center;
    padding-bottom: 14px;
    @include media(desktop) {
      padding-bottom: 0;
    }
  }

  &__message-type-title,
  &__message-type-info {
    display: block;
    line-height: 1.1
  }

  &__message-type-title {
    font-weight: 700;
    font-size: 24px;
    padding-top: 4px;
  }

  &__message-type-info {
    font-weight: normal;
    font-style: normal
  }

  &--high-priority {
    background-color: #B10E1E;
    color: white !important;
  }
}