.message-notification {
  background-color: #DEE0E2;
  padding: 20px 15px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  color: #0b0c0c !important;

  &__message-type-count {
    font-size: 55px;
    margin: 0 15px -10px 0;
    font-weight: 700;
    line-height: 1;
    float: left;  
    min-width: 80px;
    text-align: right;
    padding-bottom: 10px;
    
    @include media(desktop){
      padding-bottom: 22px;
      font-size: 80px;
    } 
    
    @media screen and (min-width:900px) {
      padding-bottom: 0;
    }
  }

  &__message-type-title,
  &__message-type-info {
    display: block;
  }

  &__message-type-title {
    font-weight: 700;
    font-size: 24px;
  }

  &__message-type-info {
    font-weight: normal;
    font-style: normal
  }

  &--high-priority {
    background-color: #B10E1E;
    color: white !important;
  }
}