{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'homepage' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Brake test' }
] %}

{% block content %}

   <div class="o-wrapper phase-banner">
      <p>
         <strong class="phase-tag">BETA</strong>
         <span>
         This is a new service – your
         <a id="feedback-link" target="_blank" href="http://www.smartsurvey.co.uk/s/MTSFeedback/">feedback</a>
         will help us to improve it.
         </span>
      </p>
   </div>
   <section class="c-home-hero">
      <div class="o-wrapper u-clearfix">
         <div class="c-home-hero__content">
            <h1 class="c-home-hero__title">
               Your home
            </h1>
         </div>
         <div id="hero-actions" class="c-home-hero__actions">
            <ul class="c-action-list">
               <li class="c-action-list__item">
                  <a class="c-action-list__link" href="/authorised-examiner/search">
                  AE information
                  </a>
               </li>
               <li class="c-action-list__item">
                  <a class="c-action-list__link" href="/vehicle-testing-station/search">
                  Site information
                  </a>
               </li>
               <li class="c-action-list__item">
                  <a class="c-action-list__link" href="/user-admin/search" id="action-start-user-search">
                  User search
                  </a>
               </li>
               <li class="c-action-list__item">
                  <a class="c-action-list__link" href="/replacement-certificate-vehicle-search" id="action-start-certificate-reissue">
                  Replacement/duplicate certificate
                  </a>
               </li>
               <li class="c-action-list__item">
                  <a class="c-action-list__link" href="/vehicle/search">
                  Vehicle information
                  </a>
               </li>
               <li class="c-action-list__item">
                  <a class="c-action-list__link" href="/mot-test-search">
                  MOT tests
                  </a> (comparison of tests available)
               </li>
               <li class="c-action-list__item">
                  <a class="c-action-list__link" href="/user-admin/demo-test-requests" id="demo-test-requests">
                  Demo test requests
                  </a>
               </li>
               <li class="c-action-list__item">
                  <a class="c-action-list__link" href="/survey/reports" id="generate-survey-report">
                  Generate survey report
                  </a>
               </li>
               <li class="c-action-list__item">
                  <a class="c-action-list__link" href="/security-card-order-report-list" id="action-security-card-order-report-list">
                  Security card order list
                  </a>
               </li>
               <li class="c-action-list__item">
                  <a class="c-action-list__link" href="/annual-assessment-admin" id="annual-assessment-admin-tool">
                  Annual assessment admin tool
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </section>
   
   <main id="content">
   
      <div class="container">
   
         <div class="row contents">
            <div class="col-lg-12">
               <div class="grid-row">
                  <div class="column-half">
                     <section class="c-home-block" id="special-notice-list">
                        <header class="c-home-block__head">
                           <h2 class="c-home-block__title">
                              <a id="action-view-all-special-notices" href="special-notices/all">Special notices</a>
                           </h2>
                        </header>
                        <a href="special-notices/all" class="c-mailbox-status" id="unread-special-notice-link">
                        <span class="c-mailbox-status__count">10</span>
                        <span class="c-mailbox-status__type">
                        unread
                        <span class="c-mailbox-status__info">0 days left to view</span>
                        </span>
                        </a>
                     </section>
                     <section class="c-home-block" id="notification-list">
                        <header class="c-home-block__head">
                           <h2 class="c-home-block__title">
                              <a href="/prototypes/mts-messages/notifications-inbox-scheme-user">News</a>
                           </h2>
                        </header>
                        <a class="c-mailbox-status" href="/notification/list" id="unread-notification-count">
                        <strong class="c-mailbox-status__count">1</strong>
                        <span class="c-mailbox-status__type">unread</span>
                        </a>
                        <ol id="notifications" class="u-space-b15 u-pad-t10">
                           <li class="c-notification is-unread">
                              <h3 class="c-notification__title">
                                 <a href="/notification/5407751?backTo=home" class="c-notification__link" title="Role assigned: ANONYMISED">
                                 MOT inspection manual guidance on cars and passenger vehicles
                                 </a>
                              </h3>
                              <time pubdate="" class="c-notification__time">31 January 2018, 11:24am</time>
                           </li>
                        </ol>
                        <div class="u-space-b15 u-pad-t10">
                           <a href="/notification/list">
                           View all news
                           </a>
                        </div>
                     </section>
                     <section class="c-home-block" id="notification-list">
                        <header class="c-home-block__head">
                           <h2 class="c-home-block__title">
                              <a href="/prototypes/mts-messages/notifications-inbox-scheme-user">Notifications</a>
                           </h2>
                        </header>
                        <a class="c-mailbox-status" href="/notification/list" id="unread-notification-count">
                        <strong class="c-mailbox-status__count">1</strong>
                        <span class="c-mailbox-status__type">unread</span>
                        </a>
                        <ol id="notifications" class="u-space-b15 u-pad-t10">
                           <li class="c-notification is-unread">
                              <h3 class="c-notification__title">
                                 <a href="/notification/5407751?backTo=home" class="c-notification__link" title="Role assigned: ANONYMISED">
                                 Role assigned: ANONYMISED
                                 </a>
                              </h3>
                              <time pubdate="" class="c-notification__time">31 January 2018, 11:24am</time>
                           </li>
                        </ol>
                        <div class="u-space-b15 u-pad-t10">
                           <a href="/notification/list">
                           View all notifications
                           </a>
                        </div>
                     </section>
                  </div>
                  <div class="column-half">
                     <section class="c-home-block">
                        <header class="c-home-block__head">
                           <h2 class="c-home-block__title">Authorised Examiner management</h2>
                        </header>
                        <ul>
                           <li class="u-space-b10">
                              <a href="/authorised-examiner/create" id="createAuthorisedExaminerLink">
                              Create an Authorised Examiner
                              </a>
                           </li>
                           <li>
                              <a href="/vehicle-testing-station/create" id="action-create-vts">
                              Create a site
                              </a>
                           </li>
                        </ul>
                     </section>
                     <div class="c-home-block">
                        <header class="c-home-block__head">
                           <h2 class="c-home-block__title">Training</h2>
                        </header>
                        <p>Practice on any class of vehicle without using slots or recording the outcome.</p>
                        <p>
                           <a href="/training-test-vehicle-search" class="button" id="action-start-mot-demonstration">
                           Start training test
                           </a>
                        </p>
                     </div>
                     <div class="c-home-block">
                        <header class="c-home-block__head">
                           <h2 class="c-home-block__title">Non-MOT test</h2>
                        </header>
                        <p>A non-MOT test will produce a test number and VT32/VE certificate. It will not show on a vehicle's MOT history.</p>
                        <p>
                           <a href="/non-mot-test-vehicle-search" class="button" id="action-start-non-mot">
                           Start a non-MOT test
                           </a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
      </div>

   </main>

  
{% endblock %}