{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Create a password - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %}
{% set learnerPrototypeVersion = 'v6' %}
{% set homePath = '/prototypes/learner/v6/' %}
{% set loggedOut = 'true' %}

{% set passwordError = passwordError if passwordError %}
{% set passwordErrorMessage = passwordErrorTopMessage if passwordErrorTopMessage %}
{% set passwordOneError = passwordErrorInputMessageOne if passwordErrorInputMessageOne %}
{% set passwordTwoError = passwordErrorInputMessageTwo if passwordErrorInputMessageTwo %}

{% block content %}

    {{ components.pageHeading('Welcome to the Learning Platform for Government') }}

    {% if passwordError %}

        <div class="error-summary" role="alert" aria-labelledby="nameErrors" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="nameErrors">There was a problem with your password</h2>
            <ul class="error-summary-list">
                {% if passwordOneError %}
                    <li><a href="#newPassword">{{ passwordErrorMessage }}</a></li>
                {% endif %}

                {% if passwordTwoError %}
                    <li><a href="#confirmNewPassword">{{ passwordErrorMessage }}</a></li>
                {% endif %}
            </ul>
        </div>

    {% endif %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <p class="lede">Create a memorable password for your account.</p>

            <div class="module-criteria u-space-b30" id="password-criteria-scope">
                <p>Your password must have:</p>
                <ul class="list-bullet criteria__list">
                    <li class="criteria__criterion" data-criteria="minLength" data-criteria-param="8">8 or more characters</li>
                    <li class="criteria__criterion" data-criteria="hasNumeric">at least 1 number</li>
                    <li class="criteria__criterion" data-criteria="hasMixedCase">upper and lower case letters</li>
                </ul>
            </div>

            {% call components.formElement(name='enterNewPassword', method='POST', action='#') %}

                {{ components.field(label='Password', type='password', id='newPassword', hint="", group=true, error=passwordOneError)}}

                {{ components.field(label='Re-type your password', type='password', id='confirmNewPassword', hint="", group=true, error=passwordTwoError)}}

                {% call components.formGroup() %}

                    {{ components.button(text='Continue', group=true)}}

                {%- endcall %}

                <p>
                    <a href="/prototypes/learner/v6">Cancel</a>
                </p>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}