{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Enter a new password - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %}
{% set learnerPrototypeVersion = 'v6' %}
{% set homePath = '/prototypes/learner/v6/' %}
{% set loggedOut = 'true' %}
{% set signinError = signinError if signinError %}

{% block content %}

    {{ components.pageHeading('Enter a new password ', 'Reset your password') }}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <p class="lede">Now create a new memorable password for your account.</p>

            <div class="module-criteria u-space-b30" id="password-criteria-scope">
                <p>Your password must have:</p>
                <ul class="list-bullet criteria__list">
                    <li class="criteria__criterion" data-criteria="minLength" data-criteria-param="8">8 or more characters</li>
                    <li class="criteria__criterion" data-criteria="hasNumeric">at least 1 number</li>
                    <li class="criteria__criterion" data-criteria="hasMixedCase">upper and lower case letters</li>
                </ul>
            </div>

            <p>It can't be a password you have used before.</p>

            {% call components.formElement(name='enterNewPassword', method='POST', action='#') %}

                {{ components.field(label='New password', type='password', id='newPassword', hint="", group=true)}}

                {{ components.field(label='Re-type your new password', type='password', id='confirmNewPassword', hint="", group=true)}}

                {% call components.formGroup() %}

                    {{ components.button(text='Continue', group=true)}}

                {%- endcall %}

                <p>
                    <a href="/prototypes/learner/v6">Cancel</a>
                </p>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}