{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Reset password - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %}
{% set learnerPrototypeVersion = 'v6' %}
{% set homePath = '/prototypes/learner/v6/' %}
{% set loggedOut = 'true' %}
{% set signinError = signinError if signinError %}

{% block content %}

    {{ components.pageHeading('Enter your email', 'Reset your password') }}

    {% if signinError %}

        {% set emailError = 'Enter your email' %}
        {% set passwordError = 'Enter your password' %}

        <div class="error-summary" role="alert" aria-labelledby="nameErrors" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="nameErrors">There was a problem with your sign-in details</h2>
            {{ components.paragraph(text='Please try again') }}
        </div>

    {% endif %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            {% call components.formElement(name='signIn', method='POST', action='#') %}

                {{ components.field(label='Email address', id='email', hint="", group=true)}}

                {% call components.formGroup() %}

                    {{ components.button(text='Continue', group=true)}}

                {%- endcall %}

                <p>
                    <a href="/prototypes/learner/v6">Cancel</a>
                </p>


            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}