{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a message' %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      <header class="transaction-header" id="successBanner">
          <h1 class="transaction-header__title">Message successfully published</h1>
          <p class="transaction-header__next-step">Special notice issue number: <strong>04-18</strong></p>
      </header>

      <div class='text u-clearfix'>

        <p>You can view the published message in your received inbox.</p>

        {{ components.link(text='View messages', url='/prototypes/mts-messages/scheme', paragraph=true) }}

        {{ components.link(text='Return to home', url='/prototypes/mts-messages', paragraph=true) }}

      </div>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}