{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Messages', url: '/prototypes/mts-messages/notifications-inbox-scheme-user' },
  { text: 'Create a message'}
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Select audience', secondary='Create a message') }}

      <div class='text u-clearfix'>

        <form>
          <div class="form-group">
            <fieldset>
              <legend class="visuallyhidden">
                <h1 class="heading-medium">
                  Select all that apply
                </h1>
              </legend>

              <div class="multiple-choice" data-target="dvsa-user-roles">
                <input id="dvsa-user-roles-1" name="dvsa-user-roles-1" type="checkbox" value="DVSA user roles">
                <label for="dvsa-user-roles-1">DVSA roles</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="dvsa-user-roles">
                <span class="body-text">Select all that apply</span>
                <div class="multiple-choice">
                  <input id="dvsa-user-roles-2" name="dvsa-user-roles-2" type="checkbox" value="All DVSA user roles">
                  <label for="dvsa-user-roles-2">All DVSA user roles</label>
                </div>
                <div class="multiple-choice">
                  <input id="dvsa-user-roles-3" name="dvsa-user-roles-3" type="checkbox" value="Area office 1">
                  <label for="dvsa-user-roles-3">Area office 1</label>
                </div>
                <div class="multiple-choice">
                  <input id="dvsa-user-roles-4" name="dvsa-user-roles-4" type="checkbox" value="Area office 1">
                  <label for="dvsa-user-roles-4">Area office 1</label>
                </div>
                <div class="multiple-choice">
                  <input id="dvsa-user-roles-5" name="dvsa-user-roles-5" type="checkbox" value="Vehicle Examiner">
                  <label for="dvsa-user-roles-5">Vehicle Examiner</label>
                </div>
                <div class="multiple-choice">
                  <input id="dvsa-user-roles-6" name="dvsa-user-roles-6" type="checkbox" value="Scheme Manager">
                  <label for="dvsa-user-roles-6">Scheme Manager</label>
                </div>
                <div class="multiple-choice">
                  <input id="dvsa-user-roles-7" name="dvsa-user-roles-7" type="checkbox" value="Scheme User">
                  <label for="dvsa-user-roles-7">Scheme User</label>
                </div>
                <div class="multiple-choice">
                  <input id="dvsa-user-roles-8" name="dvsa-user-roles-8" type="checkbox" value="Customer Service Operative">
                  <label for="dvsa-user-roles-8">Customer Service Operative</label>
                </div>
                <div class="multiple-choice">
                  <input id="dvsa-user-roles-9" name="dvsa-user-roles-9" type="checkbox" value="Customer Service Manager">
                  <label for="dvsa-user-roles-9">Customer Service Manager</label>
                </div>

              </div>

              <div class="multiple-choice" data-target="vts-user-roles">
                <input id="vts-user-roles-1" name="vts-user-roles-1" type="checkbox" value="VTS user roles">
                <label for="vts-user-roles-1">VTS roles</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="vts-user-roles">
                <span class="body-text">Select all that apply</span>
                <div class="multiple-choice">
                  <input id="vts-user-roles-2" name="vts-user-roles-2" type="checkbox" value="All VTS user roles">
                  <label for="vts-user-roles-2">All VTS user roles</label>
                </div>
                <div class="multiple-choice">
                  <input id="vts-user-roles-3" name="vts-user-roles-3" type="checkbox" value="Site Manager">
                  <label for="vts-user-roles-3">Site Manager</label>
                </div>
                <div class="multiple-choice">
                  <input id="vts-user-roles-4" name="vts-user-roles-4" type="checkbox" value="Site Admin">
                  <label for="vts-user-roles-4">Site Admin</label>
                </div>
                <div class="multiple-choice">
                  <input id="vts-user-roles-5" name="vts-user-roles-5" type="checkbox" value="AED">
                  <label for="vts-user-roles-5">AED</label>
                </div>
                <div class="multiple-choice">
                  <input id="vts-user-roles-6" name="vts-user-roles-6" type="checkbox" value="AEDM">
                  <label for="vts-user-roles-6">AEDM</label>
                </div>

              </div>

              <div class="multiple-choice" data-target="mot-testers">
                <input id="mot-testers-roles-1" name="mot-testers-1" type="checkbox" value="MOT testers">
                <label for="mot-testers-roles-1">MOT testers</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="mot-testers">
                <span class="body-text">Select all that apply</span>
                <div class="multiple-choice">
                  <input id="mot-testers-2" name="mot-testers-2" type="checkbox" value="All MOT testers">
                  <label for="mot-testerss-2">All MOT testers</label>
                </div>
                <div class="multiple-choice">
                  <input id="dvsa-user-roles-3" name="mot-testers-3" type="checkbox" value="Class 1">
                  <label for="mot-testers-3">Class 1</label>
                </div>
                <div class="multiple-choice">
                  <input id="mot-testers-4" name="mot-testers-4" type="checkbox" value="Class 2">
                  <label for="mot-testers-4">Class 2</label>
                </div>
                <div class="multiple-choice">
                  <input id="dmot-testers-5" name="mot-testers-5" type="checkbox" value="Class 3">
                  <label for="mot-testerss-5">Class 3</label>
                </div>
                <div class="multiple-choice">
                  <input id="mot-testers-6" name="mot-testers-6" type="checkbox" value="Class 4">
                  <label for="mot-testers-6">Class 4</label>
                </div>
                <div class="multiple-choice">
                  <input id="mot-testers-7" name="mot-testers-7" type="checkbox" value="Class 5">
                  <label for="mot-testers-7">Class 5</label>
                </div>
                <div class="multiple-choice">
                  <input id="mot-testers-8" name="mot-testers-8" type="checkbox" value="Class 7">
                  <label for="mot-testers-8">Class 7</label>
                </div>

              </div>

            </fieldset>
          </div>
        </form>
        <div class="u-margin-top-10 u-margin-bottom-30">
          {{ components.button(text='Continue', url='/prototypes/mts-messages/scheme/create-message-content') }}
        </div>

        {{ components.link(text='Cancel and return to home', url='/prototypes/mts-messages/scheme', paragraph=true) }}

      </div>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}