{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Messages' }
] %}

{% block content %}

<style>
.c-tab-list__row--unread .c-tab-list__item-link:before {
    color: #005ea5 !important;
}
</style>

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Messages') }}

      <div class='u-clearfix'>

        <p>
          <a href="/prototypes/mts-messages/scheme/create-message-type" class="button" id="action-create-a-notification">
            Create a message
          </a>
        </p>

        <div class="c-tab-list">
          <ul class="c-tab-list__tabs">          
            <li>
              <span class="c-tab-list__tab-link c-tab-list__tab-link--active" style="margin-top: -5px; margin-bottom: -1px; padding-top: 14px; padding-right: 19px; padding-bottom: 16px; padding-left: 19px; border: 1px solid #bfc1c3; border-bottom: 0; color: #0b0c0c; background-color: #fff; font-size: 19px; line-height: 1.31579;">Inbox</span>
            </li>
            <li>
              <a href="/prototypes/mts-messages/scheme/notifications-archived-scheme-user" class="c-tab-list__tab-link" style="margin-top: -5px; margin-bottom: -1px; padding-top: 14px; padding-right: 19px; padding-bottom: 16px; padding-left: 19px; color: #0b0c0c; background-color: #f8f8f8; font-size: 19px; line-height: 0.75; font-weight: 400; text-decoration: none;">Archived</a>
            </li>
            <li>
              <a href="/prototypes/mts-messages/scheme/notifications-draft-scheme-user" class="c-tab-list__tab-link" style="margin-top: -5px; margin-bottom: -1px; padding-top: 14px; padding-right: 19px; padding-bottom: 16px; padding-left: 19px; color: #0b0c0c; background-color: #f8f8f8; font-size: 19px; line-height: 0.75; font-weight: 400; text-decoration: none;">Draft</a>
            </li>
            
            <li>
              <a href="/prototypes/mts-messages/scheme/notifications-removed-scheme-user" class="c-tab-list__tab-link" style="margin-top: -5px; margin-bottom: -1px; padding-top: 14px; padding-right: 19px; padding-bottom: 16px; padding-left: 19px; color: #0b0c0c; background-color: #f8f8f8; font-size: 19px; line-height: 0.75; font-weight: 400; text-decoration: none;">Removed</a>
            </li>
            
          </ul>

          <div style="border: 1px solid #bfc1c3; padding-right: 20px; padding-left: 20px;">

            <h2 class="heading-large">Inbox</h2>

            <div clas="message-panel js-filter-message-panel">

              <h3 class="heading-small">Select message type</h3>

              <div class="form-group u-margin-bottom-20">
                <fieldset>
                  <legend class="visually-hidden">Choose which notification type to view</legend>
                  <div class="multiple-choice" style="display: inline-block; clear: none; margin-right: 30px;">
                    <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal" checked>
                    <label for="waste-type-1">Special notices</label>
                  </div>
                  <div class="multiple-choice" style="display: inline-block; clear: none; margin-right: 30px;" onclick="location.href = '/prototypes/mts-messages/trade/notifications-inbox-trade-user-sn-news';">
                    <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines" checked>
                    <label for="waste-type-2">Notifications</label>
                  </div>
                </fieldset>
              </div>
            
              <ul class="c-tab-list__items u-margin-bottom-30">

                <li data-type="Special notice" class="message-panel__message ">
                  <div class="message-panel__inner">
                    
                    <div class="message-panel__message-type">
                      <span class="visually-hidden">Type:</span> Special notice 09-18
                    </div>
                    
                    <div class="grid-row">
                      <div class="message-panel__col">
                        <h4 class="message-panel__message-title"><a href="/prototypes/messages/0" class="">Class 1 and 2 test standard change</a></h4>
                      </div>
                    </div>
                    <ul class="grid-row message-panel__details">
                      <li style="font-size: 16px;" class="message-panel__col message-panel__col--six">
                        <span class="visually-hidden">Date received::</span> 
                        22 June 2018
                      </li>
                      
                    </ul>
                  </div>
                </li>

                <li data-type="Special notice" class="message-panel__message ">
                  <div class="message-panel__inner">
                    
                    <div class="message-panel__message-type">
                      <span class="visually-hidden">Type:</span> Special notice 08-18
                    </div>
                    
                    <div class="grid-row">
                      <div class="message-panel__col">
                        <h4 class="message-panel__message-title"><a href="#">MOT Testing guide</a></h4>
                      </div>
                    </div>
                    <ul class="grid-row message-panel__details">
                      <li style="font-size: 16px;" class="message-panel__col message-panel__col--six">
                        <span class="visually-hidden">Date received::</span> 
                        18 June 2018
                      </li>
                      
                    </ul>
                  </div>
                </li>

                <li data-type="Special notice" class="message-panel__message ">
                  <div class="message-panel__inner">
                    
                    <div class="message-panel__message-type">
                      <span class="visually-hidden">Type:</span> Special notice 06-18
                    </div>
                    
                    <div class="grid-row">
                      <div class="message-panel__col">
                        <h4 class="message-panel__message-title"><a href="/prototypes/mts-messages/scheme/notification-published" class="">EU roadworthiness directive updates</a></h4>
                      </div>
                    </div>
                    <ul class="grid-row message-panel__details">
                      <li style="font-size: 16px;" class="message-panel__col message-panel__col--six">
                        <span class="visually-hidden">Date received::</span> 
                        8 May 2018
                      </li>
                      
                    </ul>
                  </div>
                </li>

                <li class="c-tab-list__row c-tab-list__row--unread" style="background-color: #f8f8f8">
                  <div class="c-tab-list__item-left" style="padding-right: 32px;">
                    <div class="c-tab-list__item-link"><a href="#" class="">New way for you to get MOT news</a></div>
                    <ul class="defect__positions">
                      <li style="font-size: 16px; color: #0b0c0c;"><span class="visually-hidden">Date received: </span>23 March 2018</li>
                    </ul>
                  </div>
                </li>

                <li data-type="Notification" class="message-panel__message ">
                  <div class="message-panel__inner">
                    
                    <div class="grid-row">
                      <div class="message-panel__col">
                        <h4 class="message-panel__message-title"><a href="#">2018 Regulations</a></h4>
                      </div>
                    </div>
                    <ul class="grid-row message-panel__details">
                      <li style="font-size: 16px;" class="message-panel__col message-panel__col--six">
                        <span class="visually-hidden">Date received::</span> 
                        4 February 2018
                      </li>
                      
                    </ul>
                  </div>
                </li>
                 
              </ul>
            </div> 

          </div>

        </div>

        <div class="u-margin-top-30 u-margin-bottom-30">
          {{ components.link(text='Return to home', url='/prototypes/mts-messages/trade', paragraph=true) }}
        </div>

      </div>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}