{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Messages' }
] %}

{% block content %}

<style>
.c-tab-list__row--unread .c-tab-list__item-link:before {
    color: #005ea5 !important;
}
</style>

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Messages') }}

      <div class='u-clearfix'>

      <p>
        <a href="/prototypes/mts-messages/create-message-type" class="button" id="action-create-a-notification">
          Create a message
        </a>
      </p>

        <div class="c-tab-list">
          <ul class="c-tab-list__tabs">          
            <li>
              <a href="/prototypes/mts-messages/scheme" class="c-tab-list__tab-link" style="margin-top: -5px; margin-bottom: -1px; padding-top: 14px; padding-right: 19px; padding-bottom: 16px; padding-left: 19px; color: #0b0c0c; background-color: #f8f8f8; font-size: 19px; line-height: 0.75; font-weight: 400; text-decoration: none;">Received</a>
            </li>
            <li>
              <a href="/prototypes/mts-messages/scheme/notifications-archived-scheme-user" class="c-tab-list__tab-link" style="margin-top: -5px; margin-bottom: -1px; padding-top: 14px; padding-right: 19px; padding-bottom: 16px; padding-left: 19px; color: #0b0c0c; background-color: #f8f8f8; font-size: 19px; line-height: 0.75; font-weight: 400; text-decoration: none;">Archived</a>
            </li>
            <li>
              <a href="/prototypes/mts-messages/scheme/notifications-draft-scheme-user" class="c-tab-list__tab-link" style="margin-top: -5px; margin-bottom: -1px; padding-top: 14px; padding-right: 19px; padding-bottom: 16px; padding-left: 19px; color: #0b0c0c; background-color: #f8f8f8; font-size: 19px; line-height: 0.75; font-weight: 400; text-decoration: none;">Draft</a>
            </li>
            <li>
              <span class="c-tab-list__tab-link c-tab-list__tab-link--active" style="margin-top: -5px; margin-bottom: -1px; padding-top: 14px; padding-right: 19px; padding-bottom: 16px; padding-left: 19px; border: 1px solid #bfc1c3; border-bottom: 0; color: #0b0c0c; background-color: #fff; font-size: 19px; line-height: 1.31579;">Removed</span>
            </li>
            
          </ul>

          <div class="message-filters__tab-panel js-filter-wrapper">
    
            <h3 class="heading-large u-margin-top-10">Removed messages</h3> 

            <div class="message-panel js-message-panel">
            
              <p class="message-panel__notice" style="display: none;">Select a message type to view</p><ul class="message-panel__messages js-message-list">
                
                  <li data-type="Notification" class="message-panel__message message-panel__message--unread">
                    <div class="message-panel__inner">
                      
                      <div class="message-panel__message-type">
                        <span class="visually-hidden">Type:</span> Special notice
                      </div>
                      
                      <div class="grid-row">
                        <div class="message-panel__col">
                          <h4 class="message-panel__message-title">Preparation for the EU roadworthiness directive</h4>
                        </div>
                      </div>
                      <ul class="grid-row message-panel__details">
                        <li class="message-panel__col message-panel__col--four">
                          <span class="visually-hidden">Date received::</span> 
                          3 April 2018
                        </li>
                        <li class="message-panel__col message-panel__col--four">
                          <span class="visually-hidden">Status:</span> 
                          Draft
                        </li>
                        
                      </ul>
                      <div class="message-panel__view">
                        <a href="/prototypes/mts-messages/scheme/notification-draft-removed" class="">View message</a>
                      </div> 
                    </div>
                  </li>

                  <li data-type="Notification" class="message-panel__message ">
                    <div class="message-panel__inner">
                      
                      <div class="grid-row">
                        <div class="message-panel__col">
                          <h4 class="message-panel__message-title">MOT inspection manual guidance on cars and passenger vehicles</h4>
                        </div>
                      </div>
                      <ul class="grid-row message-panel__details">
                        <li class="message-panel__col message-panel__col--four">
                          <span class="visually-hidden">Date received:</span> 
                          23 April 2018
                        </li>
                        <li class="message-panel__col message-panel__col--four">
                          <span class="visually-hidden">Status:</span> 
                          Published
                        </li>
                        
                      </ul>
                      <div class="message-panel__view">
                        <a href="#" class="">View message</a>
                      </div> 
                    </div>
                  </li>
                 
              </ul>
            </div> 

          </div>

        </div>

        <div class="u-margin-top-30 u-margin-bottom-30">
          {{ components.link(text='Return to home', url='/prototypes/mts-messages', paragraph=true) }}
        </div>

      </div>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}