{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Messages', url: '/prototypes/mts-messages/notifications-inbox-scheme-user' },
  { text: 'Remove message'}
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Remove message', secondary='Messages') }}

      <div class='text u-clearfix'>

        {{ components.paragraph(text='Confirm that you want to remove <strong>Special notice: Preparation for the EU roadworthiness directive</strong>', lead=true) }}

        <p>This action will remove the message and you will not be able to edit or publish it</p>

        <div class="u-margin-top-10 u-margin-bottom-30">
          {{ components.button(text='Remove message', url='/prototypes/mts-messages/scheme/remove-message-confirmation') }}
        </div>

        {{ components.link(text='Cancel and return to messages', url='/prototypes/mts-messages/notifications-inbox-scheme-user', paragraph=true) }}

      </div>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}