$module: 'discite';
// diss-it-ay

%disciteRowDiv {
  @include box-sizing(border-box);
  position: relative;
  display:block;
  float:none;
  padding:10px 0;

  @include media(desktop) {
    display:inline-block;
    float:left;
    padding:10px 8px 10px 0;
  }
}

.#{$module} {
  // div.discite wrapper for all item
  position: relative;

  &__item {
    // div.discite__item wrapper for individual item
    position: relative;
    min-height: 60px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey-2;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &__main {
    // div.discite__main container for title and action
    @extend %disciteRowDiv;

    @include media(desktop) {
      padding-right: 300px;
    }
  }

  &__heading {
    @include bold-19;
  }

  &__desc {
    // div.discite__info container 150~ish chars of information/descrition
    @extend %disciteRowDiv;

    @include media(desktop) {
      padding-right: 300px;
    }
  }

  &__properties {
    // div.discite__properties container for various data about the discite thing
    @extend %disciteRowDiv;

    width:100%;
    clear: both;
    min-height: 50px;

    @include media(desktop) {
      position: absolute;
      display:block;
      width: 280px;
      float:none;
      top: 0;
      right: 0;
      padding-right: 0;
    }
  }

  &__property {
    // ul.discite__property the actual data about the discite thing
    width: 50%;
    float: left;

    @include m('search') {
      @include media(desktop) {
        width: 200px;
        float: right;
        text-align: right;
      }
    }
  }

  &__property-item {
    // div.discite__property-item
    @include core-16;
  }

  &__status {
    // div.discite__status usually a badge saying in progress|overdue|completed etc
    @extend %disciteRowDiv;
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 0;
    padding-top: 6px;

    @include media(desktop) {
      position: absolute;
      display:block;
      float:none;
      padding-top: 16px;
      top: 0;
      right: 0;
    }
  }

  &__area {
    //div.discite__area
    @extend %disciteRowDiv;
    @include core-16;
    padding-top: 0;
    padding-bottom: 0;

    @include media(desktop) {
      width: 100%;
      display:block;
      float:none;
      clear: both;
      padding-right: 300px;
    }
  }

  &__action {
    //div.discite__action
    @extend %disciteRowDiv;
    clear: both;

    a {
      display: inline-block;
      margin-right: 8px;
    }

    @include media(desktop) {
      display:block;
      float:none;
    }
  }
}
