$module: 'discite';
// diss-it-ay

%disciteRowDiv {
  @include box-sizing(border-box);
  position: relative;
  display:block;
  float:none;
  padding:10px 0;

  @include media(desktop) {
    display:inline-block;
    float:left;
    padding:10px 8px 10px 0;
  }
}

.#{$module} {
  // div.discite wrapper for all item
  position: relative;

  &__item {
    // div.discite__item wrapper for individual item
    position: relative;
    min-height: 60px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey-2;
  }

  &__main {
    // div.discite__main container for title and action
    @extend %disciteRowDiv;

    @include media(desktop) {
      padding-right: 300px;
    }

    @include m('module') {}
  }


  &__heading {
    @include bold-19;

    @include media(desktop) {
      // padding-right: 300px;
    }
  }

  &__desc {
    // div.discite__info container 150~ish chars of information/descrition
    @extend %disciteRowDiv;

    @include media(desktop) {
      padding-right: 300px;
    }
  }

  &__properties {
    // div.discite__properties container for various data about the discite thing
    @extend %disciteRowDiv;
    width:100%;
    clear: both;
    min-height: 50px;
    // padding: 0;

    @include media(desktop) {
      position: absolute;
      display:block;
      width: 280px;
      float:none;
      top: 0;
      right: 0;
      padding-right: 0;
    }

    @include m('search') {
      @include media(desktop) {
        // width: 200px;
        // text-align: right;
      }
    }
  }

    &__property {
      // ul.discite__property the actual data about the discite thing
      width: 50%;
      float: left;

      @include m('search') {
        @include media(desktop) {
          width: 200px;
          float: right;
          text-align: right;
        }
      }
    }

    &__property-item {
      // div.discite__property-item
      @include bold-16;
    }

    &__status {
      // div.discite__status usually a badge saying in progress|overdue|completed etc
      @extend %disciteRowDiv;
      width: 50%;
      float: right;
      text-align: right;
      padding-right: 0;

      @include media(desktop) {
        position: absolute;
        display:block;
        float:none;
        padding-top: 16px;
        top: 0;
        right: 0;
      }


  }

  &__area {
    //div.discite__area
    @extend %disciteRowDiv;
    padding-top: 0;
    padding-bottom: 0;
    @include core-16;

    @include media(desktop) {
      width: 100%;
      display:block;
      float:none;
      clear: both;
      padding-right: 300px;
    }
  }

  &__action {
    //div.discite__action
    @extend %disciteRowDiv;
    clear: both;

    @include media(desktop) {
      //position: absolute;
      display:block;
      float:none;
      //bottom: 0;
      //left: 0;
    }

    @include m('module') {
      // position: absolute;
      // bottom: 0;
      // left: 0;

    }
  }
}