.dvsa-special-notices {
  @include border-box;

  &__form {
  }

  &__table {
    &-row {
      &:hover {
        background-color: $highlight-colour;
      }

      &--content {
        &:hover {
          background-color: transparent;
        }
      }

      &-td {
        // border-bottom: none !important;
      }
    }

    &-content-td {
      // border-top: none !important;
      padding: 30px !important;
      background-color: $panel-colour;

      @media(max-width: 700px) {
        padding: 10px !important;
      }
    }
  }

  &__title {
    margin: 0 0 10px 0;
    padding: 0;
  }

  &__meta {
    list-style: none;
    margin: 0 -15px;
    padding: 0;

    @include clearfix;

    &-item {
      width: 25%;
      padding: 0 15px;
      float: left;
      margin-bottom: 5px;

      @media(max-width: 700px) {
        width: 50%;
      }
    }

    &-label {
      display: block;
      @include bold-14;
    }

    &-text {
      display: block;
      @include core-14;
    }
  }

  &__content {
    h1, h2, h3, h4, h5, h6 {
      margin: 15px 0;
    }

    h1 {
      @include bold-36;
    }

    h2 {
      @include bold-24;
    }

    h3 {
      @include bold-19;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 15px;

      li {
        list-style-type: disc;
        margin-bottom: 5px;
      }
    }
  }

  &__actions {
    &:after {
      content: ' ';
      display: block;
      clear: both;
    }
  }

  &__action-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;

    &-item {
      display: block;
      float: left;
      margin: 0 10px 10px 0;

      a {
        margin: 0;
      }
    }
  }

  &__left-to-view-message {
    display: block;
    @include core-16;
    font-style: italic;
  }
}