$space: 5px;
$space-class-values: (5, 10, 15, 30, 45);

$mot-blue: $govuk-blue;
$hero-colour: #333385;
$proposition-active-nav: #1d8feb;

// search-bar
$search-line-height:    24px;
$search-padding:        5px;

$focus-colour: $yellow;

$site-width: 960px;