.sass-cache
.DS_Store
.idea/
.start.pid
node_modules
.bundle
*.log
# Ignore compiled/dependency assets
public/stylesheets/
public/images/
public/javascripts/
# Ignore test files
dist/*.html
dist
bower_components
govuk_components

/vendor/
# Ignore wraith screenshots
/tests/wraith/shots/
/tests/wraith/shots_history/
spider.txt
