{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review - VTS079774' %}

{% block content %}

<form action="enter-meta-data">
  <div class="form-group">

      <div class="breadcrumbs">
        <ol>
          <li>
            <a href="/manuals">
              Home
            </a>
          </li>
          <li>
            <a href="/">
              WILLETTA AREDONDO
            </a>
          </li>
          <li>
            <a href="/">
                VTS079774
            </a>
          </li>
          <li>
            Site review
          </li>
        </ol>
      </div>

      <h1 class="heading-xlarge heading heading--page-heading ">
            <span class="heading-secondary">Site review</span>
            Choose section
      </h1>

      <!-- one item -->
      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Compliance</h3>
          </div>
          <div class="action-panel__container--last">
            <a href="compliance" class="button">Edit result</a>
          </div>
      </div>

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Satisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                <h4 class="defect__title">Comment: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. The sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,</h4>
            </div>
          </li>
        </ol>
      </div>
      <!-- / one item -->

      <!-- one item -->
      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Premises</h3>
          </div>
          <div class="action-panel__container--last">
            <a href="premises" class="button">Edit result</a>
          </div>
      </div>  

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Satisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                <h4 class="defect__title">Comment: Adipiscing elit. Aenean commodo ligula eget dolor. Dagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,</h4>
            </div>
          </li>
        </ol>
      </div>
      <!-- / one item -->

   

      <!-- one item -->
      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Management and quality</h3>
          </div>
          <div class="action-panel__container--last">
            <a href="management-and-quality" class="button">Edit result</a>
          </div>
      </div>  

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Satisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                <h4 class="defect__title">Comment: Adipiscing elit. Aenean commodo ligula eget dolor. Dagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,</h4>
            </div>
          </li>
        </ol>
      </div>
      <!-- / one item -->

      <!-- one item -->
      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">People</h3>
          </div>
          <div class="action-panel__container--last">
            <a href="people" class="button">Edit result</a>
          </div>
      </div>  

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Unsatisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                <h4 class="defect__title">Advice given: Improve training around documentation</h4>
            </div>
          </li>
        </ol>
      </div>
      <!-- / one item -->


      <!-- one item -->
      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Activity</h3>
          </div>
          <div class="action-panel__container--last">
            <a href="add-activity" class="button">Edit result</a>
          </div>
      </div>  

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Activity performed</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                <h4 class="defect__title">Test number: 1234567890 </h4>
            </div>
          </li>
        </ol>
      </div>
      <!-- / one item -->
    
  </div>

  <div class="u-margin-bottom-20">
        <input class="button" type="submit" value="Continue">
  </div>

</form>
{% endblock %}
