{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review updated' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/">
          VTS079774
      </a>
    </li>
    <li>
      Site review
    </li>
  </ol>
</div>

<form action="index">
  <div class="form-group" style="margin-top: 20px;">

  <div class="message--success">
      <p><strong>A new event has been recorded</strong></p>
  </div>



  </div>

  <div>
      <input class="button" type="submit" value="Go to VTS details">
  </div>



</form>
{% endblock %}
