{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review - VTS079774' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Willetta Aredondo', url: '/' },
  { text: 'VTS079774', url: '/' },
  { text: 'Site review', url: '/prototypes/site-review' },
  { text: 'Check details' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    {{ components.pageHeading(heading='Site review', secondary='Vehicle testing station') }}

    <div class='u-margin-bottom-20'>

      <a href="choose-section">Record a site review</a>

    </div>

    <table class="table-summary u-margin-bottom-20">

      <tbody>

        <tr>

          <th class="table-summary__value">Site review outcome</th>

          <td class="table-summary__key">Satisfactory</td>

        </tr>

        <tr>

          <th class="table-summary__value">DVSA examiner</th>

          <td class="table-summary__key">Janyce Tisa Amento

            <span class="key-value-list__meta">User ID: AMEN2387</span>

          </td>

        </tr>

        <tr>

          <th class="table-summary__value">AE representative</th>

          <td class="table-summary__key">Jacqueline Kalima

            <span class="key-value-list__meta">User ID: KALI6924</span>

          </td>

        </tr>

        <tr>

          <th class="table-summary__value">Date of review</th>

          <td class="table-summary__key">1 March 2016</td>

        </tr>

      </tbody>

    </table>

    <a href="/prototypes">Return to VTS overview</a>

    {% endcall %}

  {% endcall %}

{% endblock %}
