{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review updated' %}

{% block content %}


<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/">
          VTS079774
      </a>
    </li>
    <li>
      Site review
    </li>
  </ol>
</div>


<form action="enter-event-details">
  <div class="form-group" style="margin-top: 20px;">

  <div class="message--success">
      <p><strong>Site review has been saved</strong></p>
  </div>

  <legend>
    <h2 class="heading-medium">
      Next you can enter event details
    </h1>
  </legend>


  </div>

  <div>
      <input class="button" type="submit" value="Continue">
  </div>



</form>
{% endblock %}
