{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'STANMORE MOTORS LTD' %}

{% block content %}



<div class="breadcrumbs">
  <ol>
    <li>
      <a href="">
        Home
      </a>
    </li>
          <li>
            STANMORE MOTORS LTD
          </li>
        </ol>
</div>


            

             
                <header class="content-header">
    <h1>
        <span class="content-header__type">Events</span>
        <span class="content-header__title">Event details</span>
            </h1>
    </header>                        
    
                
<div id="validation-summary-id" class="validation-summary" style="display:none;">

    
    
    
    <ol>
        </ol>
</div>
<table class="table-summary">
    <tbody>
        <tr>
            <th class="key-value-list__key">Event type</th>
            <td id="event-type-value" class="key-value-list__value table-summary__value">Loss of repute/convictions                <a id="event-type-link" href="/event/update/ae/89739/51/start?redirectTo=record" class="table-summary__action">Edit</a>            </td>
        </tr>
        <tr>
            <th class="key-value-list__key">Description</th>
            <td id="event-description-value" class="key-value-list__value table-summary__value">
                               <strong>Withdrawal of AE from site</strong><span class="key-value-list__meta">Conviction upheld against owner for fraud</span><a id="event-description-link" href="/event/update/ae/89739/51/start?redirectTo=outcome" class="table-summary__action">Edit</a>            </td>
        </tr>
        <tr>
            <th class="key-value-list__key">Added by</th>
            <td id="event-added-by-value" class="key-value-list__value table-summary__value">Nick Harewood</td>
        </tr>
        <tr>
            <th class="key-value-list__key">Event date</th>
            <td id="event-date-value" class="key-value-list__value table-summary__value">
                4 December 2018<a id="event-date-link" href="/event/update/ae/89739/51/start?redirectTo=record" class="table-summary__action">Edit</a>            </td>
        </tr>
        <tr>
    <th class="key-value-list__key">VTS</th>
    <td class="key-value-list__value table-summary__value" id="vts-details">Stanmore Motors, Stanmore HA6 9BG<a id="event-date-link" href="/event/update/ae/89739/51/start?redirectTo=outcome" class="table-summary__action">Edit</a>    </td>
</tr>
    </tbody>
</table>

<nav class="content-navigation">

    <a id="delete-event-btn" class="button button--alert" href="/event/ae/89739/51/delete">Delete event</a>    <ul class="content-navigation__secondary">
        <li><a href="/event/list/ae/89739?goBack=%252Fauthorised-examiner%252F89739">Go back</a></li>
    </ul>

</nav>


{% endblock %}
