{# Import macros for global use in all views #}
{% set components = {} %}
{% for component in macroFilePaths %}
  {% import component as temp %}{% set macro = _.assign(components, temp) %}
{% endfor %}
{# end #}

<!DOCTYPE html>
<!--[if lte IE 8 ]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="" lang="en" style="height:100%;"><!--<![endif]-->
  <head>
    
    {% include './partials/head.njk' %}
    {% block header %}{% endblock %}

  </head>
  <body class="" style="height:100%;">

  {#{% include './partials/header.njk' %}#}

  {% block bodyContentWrapper %}
    <main id="__content" {{ 'class="' + mainContainerClass + '"' if mainContainerClass }} style="height:100%; width:100%; min-height:800px;">

        {% block content %}{% endblock %}
    </main>
  {% endblock %}

  </body>
</html>