{% extends './base.layout.njk' %}

{% block bodyContentWrapper %}
<main id="content" {{ 'class="' + mainContainerClass + '"' if mainContainerClass }}>
  {% include './partials/phase-banner.njk' %}
  {% include './partials/breadcrumbs.njk' %}
  {% block content %}{% endblock %}
</main>
{% block lowerHero %}{% endblock %}
{% endblock %}