{% set bodyClass = 'library-page' %}
{% extends './full-width.layout.njk' %}

{% block bodyContentWrapper %}
{% include './partials/library-links.njk' %}

<main class="dvsa-full-width-content {{  mainContainerClass if mainContainerClass }}">
  <div class="styleguide-library" id="library-container">
    {% include './partials/library-navigation.njk' %}
    <div class="styleguide-library__right" id="styleguide-content">
      {% block content %}{% endblock %}
    </div>
  </div>
</main>
{% endblock %}