{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        MOT tests
      </a>
    </li>
    <li>
      <a href="/">
        MOT test history
      </a>
    </li>
    <li>
      <a href="/">
        Compare tests
      </a>
    </li>
    <li>
      Compare defects
    </li>
  </ol>
</div>


<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary">Disciplinary process</span>Procedural and/or site shortcomings
</h1>

<label class="form-label" for="textarea">
    These comments will be included in report
</label>
<textarea class="form-control" name="textarea" id="textarea" rows="5"></textarea>

<div class="form-group" style="margin-top: 20px;">
    <label class="form-label" for="full-name-f1">
        Assign points
    </label>
    <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" value="">
</div>

<div><a href="#">add more shortcomings</div>

<div style="margin-top: 40px;">
    <a class="button" href="case-summary">Save</a>
    <br/>
    <a href="test-comparison">Back</a>
</div>




{% endblock %}
