{% extends "layouts/mts.layout.njk" %}

{% block content %}

<main id="content" role="main">
<a class="link-back" href="results-list">Back</a>
  <div class="grid-row">
        <div class="column-full">

            <h1 class="heading-large">ATS Euromaster Ltd (Nottingham)
            </h1>

                <h2 class="heading-small">
                    <span class="form-hint">VTS number:  VTS018326</span>
                Unit 4, Castlebridge Office Village, Castle Marina Road, Nottingham, NG7 1TN
                </h2>
                <hr>
        </div>
   </div>

   <div class="grid-row">
    <div class="column-two-thirds">

        <h3 class="heading heading--medium heading-medium">
            Contact information
        </h3>

        <table class="table-summary">
            <tbody>
                <tr>
                    <th class="table-summary__heading">Name</th>
                    <td>ATS Euromaster Ltd (Nottingham)</td>
                </tr>
                <tr>
                    <th class="table-summary__heading">VTS ID</th>
                    <td>VTS018326</td>
                </tr>
                <tr>
                    <th class="table-summary__heading">Classes</th>
                    <td>1,2,3,4,5,7</td>
                </tr>
                <tr>
                    <th class="table-summary__heading">Authorised Examiner</th>
                    <td>ATS Euromaster Ltd</td>
                </tr>
                <tr>
                    <th class="table-summary__heading">Address</th>
                    <td>Unit 4,<br> Castlebridge Office Village,<br> Castle Marina Road,<br> Nottingham,<br> NG7 1TN</td>
                </tr>
                <tr>
                    <th class="table-summary__heading">Email</th>
                    <td><a href="#"> customer.relationship@euromaster.com</a></td>
                </tr>
                <tr>
                    <th class="table-summary__heading">Telephone</th>
                    <td>0115 114625</td>
                </tr>
                <tr>
                    <th class="table-summary__heading">Company website</th>
                    <td><a href="https://centre.atseuromaster.co.uk/198-nottingham-castle-boulevard">https://centre.atseuromaster.co.uk/198-nottingham-castle-boulevard</a></td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading heading--medium heading-medium">
            Vehicle types tested
        </h3>
        <ul class="list">
            <li style="display: inline-block; font-size: 16px; margin-right: 20px;">
                <img src="/images/icons/vehicle-icons/3-wheeled-icon.png" class="image" style="padding-left: 40px; margin-bottom: 20px;">
                Class 1 : &lt; 200cc motorbike
            </li>
            <li style="display: inline-block; font-size: 16px; margin-right: 20px;">
                <img src="/images/icons/vehicle-icons/3-wheeled-icon.png" class="image" style="padding-left: 40px; margin-bottom: 20px;">
                Class 2 : &gt; 200cc motorbike
            </li>
            <li style="display: inline-block; font-size: 16px; margin-right: 20px;">
                <img src="/images/icons/vehicle-icons/3-wheeled-icon.png" class="image" style="padding-left: 40px; margin-bottom: 20px;">
                Class 3 : 3-wheel vehicle
            </li>
        </ul>
        <ul style="margin-top: 30px;">
            <li style="display: inline-block; font-size: 16px; margin-right: 20px;">
                <img src="/images/icons/vehicle-icons/car-icon.png" class="image" style="padding-left: 30px; margin-bottom: 20px;">
                Class 4: Cars and vans
            </li>
            <li style="display: inline-block; font-size: 16px; margin-right: 20px;">
                <img src="/images/icons/vehicle-icons/bus-icon.png" class="image" style="padding-left: 35px; margin-bottom: 20px;">
                Class 5: Passenger vehicles
            </li>
            <li style="display: inline-block; font-size: 16px; margin-right: 20px;">
                <img src="/images/icons/vehicle-icons/goods-vehicle-icon.png" class="image" style="padding-left: 40px; margin-bottom: 20px;">
                Class 7: Goods vehicles
            </li>
        </ul>
        <div style="margin-top: 20px;">
            <p>
                You can find more information on <a href="https://www.gov.uk/getting-an-mot/mot-test-fees" target="_blank">MOT catergories and maxiumun fees</a> on GOV.UK.
            </p>
        </div>

    </div>


    <div class="column-one-third">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=ATS&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>

        <div style="border-top: 5px solid #005ea5; margin-top: 30px;">
            <h2 style="margin-top: 20px;">
                <strong>Related content</strong>
            </h2>
            <ul class="list">
                <li ><a href="https://www.gov.uk/getting-an-mot/mot-test-fees">MOT costs</a></li>
                <li ><a href="https://www.gov.uk/getting-an-mot/the-mot-test">How the MOT test works</a></li>
            </ul>
        </div>

        </div>

        
   </div>

</div>
</main>

{% endblock %}