.js-text-to-speech {
  padding: 10px;
  background-color: white;
  border-color: 1px solid black !important;
  z-index: 10;

  &__button {

    &--play {

    }

    &--pause {

    }

    &--stop {

    }
  }
}