.interrupt-panel {
    width: 100%;
    padding: $gutter;
    background: $govuk-blue;
    color: white;

    a {
        color: white;
        &:link,
        &:active,
        &:visited {
            color: white;
        }
    }
}