.dev-preview {
  margin-bottom: 30px;

  &, * {
    box-sizing: border-box;
  }

  &--hidden {
    display: none;
  }

  &--full-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 15px;
    background: white;
    margin-bottom: 0;
  }

  &__body-overflow-hidden {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  &__floating-button {
    position: fixed;
    bottom: 0;
    left: 0;
    background: $button-colour;
    box-shadow: 0 0 13px 1px rgba(0,0,0,0.10);
    padding: 10px;
    width: 100%;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    &-text {
      display: block;
      font-size: 16px;
      line-height: 22px;
      color: white;
    }
  }

  &__close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 45px;
    line-height: 1;
    height: 35px;
    background: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    padding-right: 20px;
  }

  &__example {
    padding: 45px 15px 15px 15px;
    border: 3px solid #eee;
    position: relative;
    box-sizing: border-box;

    &:before {
      content: 'EXAMPLE';
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 10px;
      background: #eee;
      display: block;
      font-size: 14px;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    &--fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      overflow-y: auto;
      z-index: 10000;
    }
  }

  &__fullscreen-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background: #eee;
    display: block;
    font-size: 14px;

    &:hover {
      cursor: pointer;
      background: $panel-colour;
    }
  }

  &__prism-code {
    font-size: 14px;
  }

}