{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Enter site review' %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}
      
<main id="content">


<div class="grid-row">
<div class="column-two-thirds">
<h1 class="heading-xlarge heading heading--page-heading ">
Section 1 Brakes
</h1>


<div class="">
<ul><li>

<a href="#section_1.1">
<span class="level-2">
1.1 Condition and operation
</span>
</a>

</li><li>

<a href="#section_1.1.1">
<span class="level-3">
1.1.1 Brake lever and pedal pivot in use 
</span>
</a>

</li><li>

<a href="#section_1.1.2">
<span class="level-3">
1.1.2 Brake lever and pedal condition and travel
</span>
</a>

</li><li>

<span class="level-3">
1.1.3 Not in use
</span>

</li><li>

<span class="level-3">
1.1.4 Not in use
</span>

</li><li>

<span class="level-3">
1.1.5 Not in use
</span>

</li><li>

<span class="level-3">
1.1.6 Not in use
</span>

</li><li>

<span class="level-3">
1.1.7 Not in use
</span>

</li><li>

<span class="level-3">
1.1.8 Not in use 
</span>

</li><li>

<span class="level-3">
1.1.9 Not in use
</span>

</li><li>

<a href="#section_1.1.10">
<span class="level-3">
1.1.10 Brake master cylinder and servo
</span>
</a>

</li><li>

<a href="#section_1.1.11">
<span class="level-3">
1.1.11 Rigid brake pipes
</span>
</a>

</li><li>

<a href="#section_1.1.12">
<span class="level-3">
1.1.12 Flexible brake hoses
</span>
</a>

</li><li>

<a href="#section_1.1.13">
<span class="level-3">
1.1.13 Brake linings and pads
</span>
</a>

</li><li>

<a href="#section_1.1.14">
<span class="level-3">
1.1.14 Brake discs and drums
</span>
</a>

</li><li>

<a href="#section_1.1.15">
<span class="level-3">
1.1.15 Brake cables, rods, levers and linkages
</span>
</a>

</li><li>

<a href="#section_1.1.16">
<span class="level-3">
1.1.16 Brake callipers and cylinders
</span>
</a>

</li><li>

<span class="level-3">
1.1.17 Not in use
</span>

</li><li>

<span class="level-3">
1.1.18 Not in use
</span>

</li><li>

<span class="level-3">
1.1.19 Not in use
</span>

</li><li>

<span class="level-3">
1.1.20 Not in use
</span>

</li><li>

<a href="#section_1.1.21">
<span class="level-3">
1.1.21 Complete braking system
</span>
</a>

</li><li>

<a href="#section_1.2">
<span class="level-2">
1.2 Brake performance and efficiency
</span>
</a>

</li><li>

<a href="#section_1.2.1">
<span class="level-3">
1.2.1 Brake performance
</span>
</a>

</li><li>

<a href="#section_1.2.2">
<span class="level-3">
1.2.2 Brake efficiency
</span>
</a>

</li><li>

<span class="level-2">
1.3 Not in use 
</span>

</li><li>

<span class="level-2">
1.4 Not in use 
</span>

</li><li>

<span class="level-2">
1.5 Not in use
</span>

</li><li>

<span class="level-2">
1.6 Not in use
</span>

</li><li>

<span class="level-2">
1.7 Not in use
</span>

</li><li>

<a href="#section_1.8">
<span class="level-2">
1.8 Brake fluid
</span>
</a>

</li></ul>
</div><h2 id="section_1.1" class="heading-medium ">1.1 Condition and operation</h2>
<h3 id="section_1.1.1" class="heading-small ">1.1.1 Brake lever and pedal pivot in use</h3><table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr>
<td><ol class="list-alpha">
<li>Lever or pedal pivot too tight</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="2">
<li>Lever or pedal pivot has excessive wear or free play</li>
</ol>

</td><td>

Major

</td>
</tr>
</tbody></table>


<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.1.1 Brake lever and pedal pivot in use" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.1 Brake lever and pedal pivot in use">
<iframe src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.1 Brake lever and pedal pivot in use" frameborder="0" class="manual-smart-survey__iframe"></iframe>
</div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div>

<div class='js-text-to-speech'>
  <div class='js-text-to-speech__content'>
    <h3 id="section_1.1.2" class="heading-small ">1.1.2 Brake lever and pedal condition and travel</h3>
    <p>A motorcycle must only be failed for insufficient reserve travel if the brake lever is touching the handlebar or the brake pedal is fouling another part of the motorcycle. Motorcycles with servo-assisted braking systems should be checked with the engine running.</p>
    <p>On some motorcycles it may be possible to pull the brake lever back until it touches the handlebar. In such cases the extent of reserve travel should be assessed during the brake test.</p>
    <p>A brake pedal should be failed if its grooves or raised sections are worn smooth. However, a brake pedal shouldn’t be failed if the motorcycle has been manufactured with one that doesn’t have grooves or is fitted with anti-slip material. </p>
    <p>Where a brake pedal rubber is fitted, this is considered an anti-slip material. It's therefore not regarded as a defect if the design pattern is worn smooth.</p>
  </div>
  <p class='js-text-to-speech__title'>
    <strong>Listen to this information.</strong>
  </p>
  <div class='js-text-to-speech__controls'>
    <button class='js-text-to-speech__button js-text-to-speech__button--play'>Start playing</button>
    <button class='js-text-to-speech__button js-text-to-speech__button--pause'>Pause audio</button>
    <button class='js-text-to-speech__button js-text-to-speech__button--stop'>Stop audio</button>
  </div>
</div>

<table class="table table--top">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr>
<td><ol class="list-alpha">
<li>Brake control has insufficient reserve travel</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="2">
<li>Brake control:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>not releasing correctly</li>
</ol>

</td><td class="borderless no-top-border">

Minor

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>not releasing correctly so that the functionality of brakes affected</li>
</ol>

</td><td class="no-top-border">

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="3">
<li>Brake pedal anti-slip provision missing<span class="italic bold">,</span> loose or worn smooth</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="4">
<li>Brake control so positioned, bent or shortened that the brake cannot be readily applied</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="5">
<li>Brake control:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>insecure</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>so insecure that the brake cannot be readily applied</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
</tbody></table>


<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.1.2 Brake lever and pedal condition and travel" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.2 Brake lever and pedal condition and travel">
<iframe src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.2 Brake lever and pedal condition and travel" frameborder="0" class="manual-smart-survey__iframe"></iframe>
</div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h3 id="section_1.1.3" class="heading-small ">1.1.3 Not in use</h3>
<h3 id="section_1.1.4" class="heading-small ">1.1.4 Not in use </h3>
<h3 id="section_1.1.5" class="heading-small ">1.1.5 Not in use </h3>
<h3 id="section_1.1.6" class="heading-small ">1.1.6 Not in use </h3>
<h3 id="section_1.1.7" class="heading-small ">1.1.7 Not in use </h3>
<h3 id="section_1.1.8" class="heading-small ">1.1.8 Not in use</h3>
<h3 id="section_1.1.9" class="heading-small ">1.1.9 Not in use</h3>
<h3 id="section_1.1.10" class="heading-small ">1.1.10 Brake master cylinder and servo</h3>
<div class='js-text-to-speech'>
  <div class='js-text-to-speech__content'>
    <p>To check the operation of the brake servo: </p>
    <ol class="list-number">
    <li>Apply the brake control with the ignition off.</li>
    <li>With the brake still applied, turn the ignition on.</li>
    <li>The inspection is successful when you feel that the brake control increases brake pressure without any increase in effort.</li>
    </ol>

    <p>Hydraulic brake fluid level checks are confined to transparent reservoirs or where an indicator is fitted. Reservoir caps shouldn’t be removed.</p>
  </div>
  <p class='js-text-to-speech__title'>
    <strong>Listen to this information.</strong>
  </p>
  <div class='js-text-to-speech__controls'>
    <button class='js-text-to-speech__button js-text-to-speech__button--play'>Start playing</button>
    <button class='js-text-to-speech__button js-text-to-speech__button--pause'>Pause audio</button>
    <button class='js-text-to-speech__button js-text-to-speech__button--stop'>Stop audio</button>
  </div>
</div>

<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr class="borderless">
<td class="borderless"><ol class="list-alpha">
<li>Brake servo:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>defective or ineffective</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>inoperative</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="2">
<li>Master cylinder:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>defective but brake still operating</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>leaking</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="3">
<li>Master cylinder insecure</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="4">
<li>Brake fluid:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>below minimum mark</li>
</ol>

</td><td class="borderless no-top-border">

Minor

</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman" start="2">
<li>significantly below minimum mark</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="3">
<li>not visible</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="5">
<li>Master cylinder reservoir cap missing</li>
</ol>

</td><td>

Major

</td>
</tr>
</tbody></table>



<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.1.10 Brake master cylinder and servo" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.10 Brake master cylinder and servo"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h3 id="section_1.1.11" class="heading-small ">1.1.11 Rigid brake pipes</h3>
<p>If the corroded metal brake pipes have surface dirt that needs to be removed before it’s possible to assess their condition, it’s permissible to lightly scrape the pipe with a specialist brake pipe corrosion tool or the corrosion assessment tool ‘spade end’. It must be done with care so that any protective coating doesn’t get damaged.</p>
<p>Chafing, corrosion or damage to a rigid brake pipe so that its wall thickness is reduced by 1/3 (approximately 0.25mm for typical hydraulic brake pipe) justifies rejection, although it’s accepted that this isn’t easy to determine. The wall of a typical hydraulic brake pipe is around 0.75mm thick. If you aren't sure whether the pipe is sufficiently deteriorated to justify rejection, you should give the benefit of the doubt. </p>
<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr>
<td><ol class="list-alpha">
<li>Brake pipe is at imminent risk of failure or fracture</li>
</ol>

</td><td>

Dangerous

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="2">
<li>Leaking brake pipe or connection</li>
</ol>

</td><td>

Dangerous

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="3">
<li>Brake pipe excessively damaged or excessively corroded</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="4">
<li>Brake pipe:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>inadequately clipped or supported</li>
</ol>

</td><td class="borderless no-top-border">

Minor

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>likely to become detached or damaged</li>
</ol>

</td><td class="no-top-border">

Major

</td>
</tr>
</tbody></table>



<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.1.11 Rigid brake pipes" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.11 Rigid brake pipes"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h3 id="section_1.1.12" class="heading-small ">1.1.12 Flexible brake hoses</h3>
<p>A hose should only be considered excessively damaged or chafed if it’s severe enough to expose the reinforcement.</p>
<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr>
<td><ol class="list-alpha">
<li>Brake hose damaged and likely to fail</li>
</ol>

</td><td>

Dangerous

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="2">
<li>Flexible brake hose:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>slightly damaged, chafed or twisted</li>
</ol>

</td><td class="borderless no-top-border">

Minor

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>excessively damaged, chafed, twisted or stretched</li>
</ol>

</td><td class="no-top-border">

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="3">
<li>Brake hoses or connections leaking</li>
</ol>

</td><td>

Dangerous

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="4">
<li>Brake hose bulging under pressure</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="5">
<li>Brake hose porous</li>
</ol>

</td><td>

Major

</td>
</tr>
</tbody></table>


<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.1.12 Flexible brake hoses" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.12 Flexible brake hoses"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h3 id="section_1.1.13" class="heading-small ">1.1.13 Brake linings and pads</h3>
<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr>
<td><ol class="list-alpha">
<li>Brake lining or pad worn below 1.0mm</li>
</ol>

</td><td>

Dangerous

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="2">
<li>Brake lining or pad contaminated with oil, grease etc.</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="3">
<li>Brake lining or pad missing or incorrectly mounted</li>
</ol>

</td><td>

Dangerous

</td>
</tr>
</tbody></table>


<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.1.13 Brake linings and pads" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.13 Brake linings and pads"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h3 id="section_1.1.14" class="heading-small ">1.1.14 Brake discs and drums</h3>
<p>A brake disc or drum must be significantly worn before rejection is justified. Being worn below the manufacturer’s recommended limit is not reason in itself.</p>
<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr class="borderless">
<td class="borderless"><ol class="list-alpha">
<li>Brake disc or drum:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>significantly and obviously worn</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>insecure, fractured or otherwise likely to fail</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="2">
<li>Contaminated with oil, grease etc.</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="3">
<li>Missing</li>
</ol>

</td><td>

Dangerous

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="4">
<li>Brake drum back plate insecure</li>
</ol>

</td><td>

Major

</td>
</tr>
</tbody></table>


<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.1.14 Brake discs and drums" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.14 Brake discs and drums"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h3 id="section_1.1.15" class="heading-small ">1.1.15 Brake cables, rods, levers and linkages</h3>
<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr>
<td><ol class="list-alpha">
<li>Cable damaged or knotted</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="2">
<li>Component excessively worn or corroded</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="3">
<li>Cable, rod or joint insecure</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="4">
<li>Cable guide defective affecting operation</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="5">
<li>Restriction in free movement of the braking system</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="6">
<li>Abnormal movement of levers indicating maladjustment or excessive wear</li>
</ol>

</td><td>

Major

</td>
</tr>
</tbody></table>


<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.1.15 Brake cables, rods, levers and linkages" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.15 Brake cables, rods, levers and linkages"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h3 id="section_1.1.16" class="heading-small ">1.1.16 Brake callipers and cylinders</h3>
<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr class="borderless">
<td class="borderless"><ol class="list-alpha">
<li>Brake calliper or cylinder cracked or damaged and:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>braking performance not affected</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>braking performance affected</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="2">
<li>Brake calliper or cylinder leaking and:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>braking performance not affected</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>braking performance affected</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="3">
<li>Brake calliper or cylinder insecure or inadequately mounted and:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>braking performance not affected</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>braking performance affected</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="4">
<li>Brake calliper or cylinder:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>excessively corroded</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>excessively corroded and likely to crack</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="5">
<li>Brake calliper or cylinder has:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>excessive travel of operating system indicating need for adjustment</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>no reserve travel and braking performance affected</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
</tbody></table>


<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.1.16 Brake callipers and cylinders" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.16 Brake callipers and cylinders"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h3 id="section_1.1.17" class="heading-small ">1.1.17 Not in use</h3>
<h3 id="section_1.1.18" class="heading-small ">1.1.18 Not in use</h3>
<h3 id="section_1.1.19" class="heading-small ">1.1.19 Not in use</h3>
<h3 id="section_1.1.20" class="heading-small ">1.1.20 Not in use</h3>
<h3 id="section_1.1.21" class="heading-small ">1.1.21 Complete braking system</h3>
<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr>
<td><ol class="list-alpha">
<li>Not in use</li>
</ol>

</td><td>



</td>
</tr>
<tr>
<td><ol class="list-alpha" start="2">
<li>Not in use</li>
</ol>

</td><td>



</td>
</tr>
<tr>
<td><ol class="list-alpha" start="3">
<li>Any braking system component insecure or inadequately mounted</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr class="borderless">
<td class="borderless"><ol class="list-alpha" start="4">
<li>Braking system component modification:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>unsafe</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>adversely affecting braking performance</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
</tbody></table>


<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.1.21 Complete braking system" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.1.21 Complete braking system"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h2 id="section_1.2" class="heading-medium ">1.2 Brake performance and efficiency</h2>
<h3 id="section_1.2.1" class="heading-small ">1.2.1 Brake performance</h3>
<p>You must ensure that the motorcycle is in such a condition that the test can be carried out safely. </p>
<p>If the primary brake tester isn’t suitable to test the motorcycles braking system, a full or partial decelerometer test may be appropriate. If the testing station doesn’t have an approved decelerometer they should decline to test.</p>
<p>Sidecar wheels don’t need to be fitted with a brake, but if one is fitted it must be tested. </p>
<p>Not all defects will apply depending on the equipment used.</p>

<h5 class="heading-subtle ">Using a roller brake tester</h5>
<p>Ensure that the motorcycle’s braking system is suitable for a roller brake tester. If the motorcycle or the system is unsuitable, it should be tested with a decelerometer. </p>
<p>Motorcycles with 2 front and/or rear wheels may need each braked wheel to be tested independently if they cannot both fit in the roller brake tester. </p><ol class="list-number">
<li>Sit on the motorcycle and locate the front wheel in the rollers of the brake tester, ensuring that the motorcycle is lined up in the straight ahead position and settled in the rollers.</li>
<li>Make sure that the roller brake tester is set to rotate in the correct direction so that the motorcycle wheel will rotate forward.</li>
<li>Start the rollers and allow the front wheel to stabilise. With the rear wheel brake fully applied (unless it’s a linked system), gradually apply the front brake until maximum effort is achieved or the wheel locks and slips on the rollers. </li>
<li>Record the reading at which the maximum braking effort is achieved and release the brake.</li>
<li>Restart the rollers if necessary and gradually increase the front brake effort to about half the maximum reading and observe the way it builds up. Hold steady and check for fluctuations. Release the brake and observe the way in which the braking effort reduces.</li>
<li>In the case of linked systems, repeat the steps 1 to 5 for each control operating the front wheel brake. However, some linked systems are designed to only work above 10km/h and won’t work in a roller brake tester.</li>
<li>Repeat the procedure for the rear wheel brake and any sidecar brake fitted.</li>
</ol>

<h5 class="heading-subtle ">Using a plate brake tester</h5><ol class="list-number">
<li>Drive the motorcycle onto the plate tester at a steady speed of around 4mph. As soon as the front wheel is on the plate’s high friction braking surface, gradually apply the front brake until maximum effort is achieved or the wheel locks and skids. </li>
<li>Note the way in which the brake effort increases and the maximum value achieved.</li>
<li>Repeat the procedure for the rear wheel brake and any sidecar brake fitted.</li>
</ol>

<p>If a motorcycle fails any aspect of the plate brake test, you should repeat the check to confirm the result.</p>

<h5 class="heading-subtle ">Using a decelerometer</h5>
<p>If the motorcycle can’t be tested on a roller brake tester, you should carry out a decelerometer test.</p>
<p>You should make sure that the motorcycle is in a safe condition to conduct a decelerometer test. If you think it isn’t safe you should refuse to complete the test.</p>
<p>Before carrying out a decelerometer test on the public highway, you must ensure you have a suitable motorcycle licence and are familiar with the controls. </p>
<p>For motorcycles with special controls, such as for disabled use, you can let the vehicle presenter conduct the decelerometer test if he/she wishes under the observation of the tester. </p>
<p>Decelerometer testing is potentially hazardous. It’s important that the used road meets all of the following criteria:</p><ul class="list-bullet"> <li>is reasonably flat and level</li>
<li>has a good surface</li>
<li>is suitable for brake tests in the present weather conditions</li>
<li>has very little traffic</li>
</ul>


<p>To conduct the decelerometer test:</p><ol class="list-number">
<li>Set up the decelerometer on the motorcycle in accordance with the equipment manufacturer’s instructions.</li>
<li>Ride the motorcycle on a level road at a steady speed of around 20mph (32km/h).</li>
<li>Gradually apply one brake control and come to a controlled stop. You should try to achieve only the required percentage to pass, rather than the best possible result.</li>
<li>While the motorcycle is decelerating, pay attention to the progression of application and any grabbing of the brake.</li>
<li>Record the brake efficiency from that brake control.</li>
<li>Repeat the test applying only the other brake control.</li>
</ol>

<h5 class="heading-subtle ">Using a floor tester (spring balance)</h5><ol class="list-number">
<li>Hold the motorcycle upright in a straight-ahead position. Attach the cable from the spring balance to the front of the motorcycle using a strap around the front forks or the headstock</li>
<li>Sit on the motorcycle and apply one brake control while the assistant operates the spring balance system.</li>
<li>Record the effort required to move the motorcycle and rider forward.</li>
<li>Repeat the test applying only the other brake control.</li>
</ol>

<h5 class="heading-subtle ">Using a gradient tester</h5><ol class="list-number">
<li>Set the platform to 30%.</li>
<li>Sit on the motorcycle with it facing ‘downhill’. </li>
<li>Apply each brake in turn and confirm that the motorcycle can be held stationary without exerting any other retarding force.</li>
<li>If the motorcycle can’t be held stationary by either control, repeat the process with the platform set to a 25% gradient.</li>
<li>If the motorcycle can’t be held stationary by only one control, repeat the process for the other control only with the platform set to a 25% gradient.</li>
</ol>
<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr class="borderless">
<td class="borderless"><ol class="list-alpha">
<li>On a motorcycle with two front or rear wheels, there is:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>inadequate braking effort at a wheel</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>no recorded brake effort at a wheel</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="2">
<li>Not in use</li>
</ol>

</td><td>



</td>
</tr>
<tr>
<td><ol class="list-alpha" start="3">
<li>A brake on any wheel grabbing severely</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="4">
<li>Abnormal lag in brake operation on a wheel</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="5">
<li>Excessive fluctuation in brake effort through each wheel revolution</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="6">
<li>Significant brake effort recorded with no brake applied indicating a binding brake</li>
</ol>

</td><td>

Major

</td>
</tr>
<tr>
<td><ol class="list-alpha" start="7">
<li>Brake performance unable to be tested</li>
</ol>

</td><td>

Major

</td>
</tr>
</tbody></table>


<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.2.1 Brake performance" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.2.1 Brake performance"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h3 id="section_1.2.2" class="heading-small ">1.2.2 Brake efficiency</h3>
<p>Most motorcycles have 2 brake controls, one operating the front wheel brake and the other the rear wheel brake. One control must achieve an efficiency of at least 30% and the other control 25%.</p>
<p>If a wheel locks on the operation of a brake control during a roller brake test, the efficiency requirement of 30% is considered to have been met for that control. The efficiency requirement doesn’t apply to a braked wheel on a sidecar.</p>
<p>If a linked or dual braking system is operated by one control, the retarding force used in the efficiency calculation is the total from all wheels operated by that control only. However, some linked systems are designed to only work above 10km/h so cannot be tested during a roller, plate or floor test. In these cases, if the motorcycle fails the brake efficiency test, a decelerometer test must be carried out</p>
<p>On motorcycles with 2 front and/or rear wheels, each braked wheel will need to be tested independently if they can’t both fit in the roller brake tester. In these cases the efficiency calculation is the total from both wheels when operated by that control only. </p>
<p>The retardation force of a sidecar brake shouldn’t be included unless it is operated by one of the motorcycle brake controls. </p>
<h5 class="heading-subtle ">Calculating brake efficiency</h5>
<p>For the majority of motorcycles, the MOT testing service will calculate brake efficiencies automatically. However, if MTS isn’t working, add the brake efforts from each wheel operated by the control under test and carry out the following calculation:</p>

<div style="width: 732.0px; max-width: 100%">
<div class="manual-image" style="padding-bottom: 12.021857923497267%;">
<img src="Section 1/image1.png" alt="Equation to calculate brake efficiency: efficiency % = total retarding force for one system ÷ weight of machine plus rider (tester) × 100" class="manual-image__image">
</div>
</div>

<p>If the required brake efficiency is only just met, but the tester knows that a higher performance figure is normally obtained for the motorcycle type, the motorcycle presenter should be informed.</p>

<h5 class="heading-subtle ">Brake test results</h5>
<p>Brake efforts achieved during a test should be entered on the MOT testing service as follows:</p>
<p>Roller brake tests:</p><ol class="list-number">
<li>Enter the combined weight of the motorcycle and the rider (tester). </li>
<li>Enter the brake effort from each control and whether ‘lock-up’ occurs. The MOT testing service will automatically calculate the brake efficiency. </li>
<li>Enter any other braking defects manually.</li>
</ol>

<p>Plate brake tests:</p><ol class="list-number">
<li>Enter the combined weight of the motorcycle and the rider (tester).</li>
<li>Enter the brake effort from each control. The MOT testing service will automatically calculate the brake efficiency. </li>
<li>Enter any other braking defects manually.</li>
</ol>

<p>Decelerometer tests:</p><ol class="list-number">
<li>Enter the efficiencies recorded by the meter. The MOT testing service will automatically pass or fail the brake efficiency test. </li>
<li>Enter any other braking defects manually.</li>
</ol>

<p>Floor tests:</p><ol class="list-number">
<li>Enter the brake effort from each control. The MOT testing service will automatically calculate the brake efficiency. </li>
<li>Enter any other braking defects manually.</li>
</ol>

<p>Gradient tests: </p><ol class="list-number">
<li>Enter the result of the brake test.</li>
</ol>

<p>If the MOT testing service is unavailable, refer to the latest edition of the MOT testing guide.</p>

<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr class="borderless">
<td class="borderless"><ol class="list-alpha">
<li>Brake efficiency:</li>
</ol>

</td><td class="borderless">



</td>
</tr>
<tr class="borderless">
<td class="borderless no-top-border"><ol class="list-roman">
<li>below minimum requirement</li>
</ol>

</td><td class="borderless no-top-border">

Major

</td>
</tr>
<tr>
<td class="no-top-border"><ol class="list-roman" start="2">
<li>less than 27.5% overall</li>
</ol>

</td><td class="no-top-border">

Dangerous

</td>
</tr>
</tbody></table>



<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.2.2 Brake efficiency" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.2.2 Brake efficiency"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div><h2 id="section_1.3" class="heading-medium ">1.3 Not in use</h2>
<h2 id="section_1.4" class="heading-medium ">1.4 Not in use</h2>
<h2 id="section_1.5" class="heading-medium ">1.5 Not in use </h2>
<h2 id="section_1.6" class="heading-medium ">1.6 Not in use</h2>
<h2 id="section_1.7" class="heading-medium ">1.7 Not in use</h2>
<h2 id="section_1.8" class="heading-medium ">1.8 Brake fluid</h2>
<p>The hydraulic brake fluid check is confined to transparent reservoirs. Reservoir caps shouldn’t be removed.</p>
<table class="table table--top ">
<thead><tr>
<th class="vertically-aligned vertically-aligned">
<span class="bold">Defect</span>

</th><th class="vertically-aligned">
<span class="bold">Category</span>

</th>
</tr>

</thead><tbody><tr>
<td><ol class="list-alpha">
<li>Brake fluid contaminated</li>
</ol>

</td><td>

Major

</td>
</tr>
</tbody></table>

<div class="manual-smart-survey" data-heading="Class 1&amp;2 - Section 1 Brakes - 1.8 Brake fluid" data-iframe-src="https://www.smartsurvey.co.uk/s/OC378/?heading=Class+1%262 - Section+1+Brakes - 1.8 Brake fluid"></div>
<div class="font-small font-xsmall u-align-right">
<a href="#top">
Top of page
</a>
</div>
</div>
<div class="column-one-third">
<aside class="govuk-related-items" id="sideMenu">

<h2 class="heading-medium">MOT manual</h2>

<ul class="list-small">
<li><a href="Introduction.html">Introduction</a></li>
</ul>

<ol class="list-decimal list-decimal--side list-small" start="0">
<li><a href="Section-0-Identification-of-the-vehicle.html">Identification of the vehicle</a></li>
<li><a href="Section-1-Brakes.html">Brakes</a></li>
<li><a href="Section-2-Steering.html">Steering</a></li>
<li>Not in use</li>
<li><a href="Section-4-Lamps-reflectors-and-electrical-equipment.html">Lamps, reflectors and electrical equipment</a></li>
<li><a href="Section-5-Wheels-tyres-and-suspension.html">Wheels, tyres and suspension</a></li>
<li><a href="Section-6-Structure-and-attachments.html">Structure and attachments</a></li>
<li><a href="Section-7-Audible-warning.html">Audible warning</a></li>
<li><a href="Section-8-Exhaust-noise.html">Exhaust noise</a></li>
</ol>

<h3 class="bold">Appendix A</h3>
<ul class="list-small">
<li><a href="Appendix-A.html">Structural integrity and corrosion</a></li>
</ul>

</aside>

<div>
</div>
</div>
</div>
</main>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}