{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review' %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    <header class="transaction-header">
      <h1 class="transaction-header__title">Site review has been saved</h1>
      <p class="transaction-header__next-step">Event has been created automatically</p>
    </header>

    <div class="text">

      <p>If you issued a VT59, print it and leave with the AE.</p>

      <p>Inform the AE, that they can view details of this site review in MOT testing service straight away.</p>

    </div>

    <a href="/prototypes/site-review/">Back</a>

    {% endcall %}

  {% endcall %}

{% endblock %}
