{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Enter site review' %}

{% block content %}

  {{ components.pageHeading(
    heading='MOTH Pages',
    secondary='MOT testing service'
  ) }}

  <h2 class="heading-medium">
    Checkboxes on first page
  </h2>

  {{ components.list(
    type='bullet',
    items=[
      {
        url: '/prototypes/moth/enter-reg-with-checkboxes',
        text: 'Enter reg page with checkboxs'
      },
      {
        url: '/prototypes/moth/enter-reg-with-checkboxes-errors',
        text: 'Enter reg page with checkboxs including errors'
      }
    ]
  ) }}

  <h2 class="heading-medium">
    Form on the results page
  </h2>

  {{ components.list(
    type='bullet',
    items=[
      {
        url: '/prototypes/moth/results-page-with-test-location',
        text: 'Results page with test locations'
      },
      {
        url: '/prototypes/moth/results-page-with-test-location-errors',
        text: 'Results page with test locations including errors'
      }
    ]
  ) }}

  <h2 class="heading-medium">
    Split journey to 2 questions
  </h2>

  {{ components.list(
    type='bullet',
    items=[
      {
        url: '/prototypes/moth/split-page-1-of-2',
        text: 'Split page 1'
      },
      {
        url: '/prototypes/moth/split-page-2-of-2',
        text: 'Split page 2'
      },
      {
        url: '/prototypes/moth/split-page-2-of-2-errors',
        text: 'Split page 2 with errors'
      }
    ]
  ) }}

  <h2 class="heading-medium">
    Split journey to 3 questions
  </h2>

  {{ components.list(
    type='bullet',
    items=[
      {
        url: '/prototypes/moth/split-page-1-of-3',
        text: 'Split page 1'
      },
      {
        url: '/prototypes/moth/split-page-2-of-3',
        text: 'Split page 2'
      },
      {
        url: '/prototypes/moth/split-page-3-of-3',
        text: 'Split page 3'
      },
      {
        url: '/prototypes/moth/split-page-3-of-3-errors',
        text: 'Split page 3 with errors'
      }
    ]
  ) }}
  
{% endblock %}