{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Leave detailed feedback - Civil Service Learning Platform' %}
{% set blackBarTitle = 'Civil Service Learning' %} {% set learnerPrototypeVersion = 'v3' %}
{% set signOutPath = '/prototypes/learner/v3/' %}
{% set homePath = '/prototypes/learner/v3/home' %}
{% set hideHomeStars = hideHomeStars if hideHomeStars %}

{% block content %}

    {{ components.pageHeading('Leave detailed feedback') }}

    {% call components.gridRow() %}

        {% call components.columnOneThird() %}

            

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <p class="lede">Leave your feedback for [name of course]</p>

            <img src="/images/feedback.png" style="display:block;max-width:100%;margin-bottom:30px">

            {% call components.formGroup() %}

                {{ components.button(text="Leave feedback", group=true, url='/prototypes/learner/v3/actions?action=hasLeftFeedback')}}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}
