{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Leave detailed feedback - Civil Service Learning Platform' %}
{% set blackBarTitle = 'Civil Service Learning' %} {% set learnerPrototypeVersion = 'v3' %}
{% set signOutPath = '/prototypes/learner/v3/' %}
{% set homePath = '/prototypes/learner/v3/home' %}
{% set hideHomeStars = hideHomeStars if hideHomeStars %}

{% block content %}

    {{ components.pageHeading('Leave detailed feedback') }}

    {% call components.gridRow() %}

        {% call components.columnOneThird() %}

            <form>

                <fieldset class="bar-rating">

                    <legend class="heading-small">Presentation</legend>
                    <p>Did you like the way the course was presented?</p>

                    <div class="bar-rating__scale">
                        <span style="display:inline-block;float:left">Not for me</span>
                        <span style="display:inline-block;float:right">Loved it</span>
                    </div>

                    <div class="bar-rating__wrapper">

                        <input type="radio" id="star5" name="rating" value="5" class="bar-rating__input" />
                        <label class="full" for="star5" title="I loved it - 5 stars"></label>

                        <input type="radio" id="star4" name="rating" value="4" />
                        <label class="full" for="star4" title="It was pretty good - 4 stars"></label>

                        <input type="radio" id="star3" name="rating" value="3" />
                        <label class="full" for="star3" title="It was OK - 3 stars"></label>

                        <input type="radio" id="star2" name="rating" value="2" />
                        <label class="full" for="star2" title="I didn't enjoy it - 2 stars"></label>

                        <input type="radio" id="star1" name="rating" value="1" />
                        <label class="full" for="star1" title="This was definitely not for me - 1 star"></label>

                    </div>

                    <div class="bar-rating__1to5">
                        <ul>
                            <l1>1</l1>
                            <l1>2</l1>
                            <l1>3</l1>
                            <l1>4</l1>
                            <l1>5</l1>
                        </ul>
                    </div>

                </fieldset>
            </form>


        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <p class="lede">Leave your feedback for [name of course]</p>

            <img src="/images/feedback.png" style="display:block;max-width:100%;margin-bottom:30px">

            {% call components.formGroup() %}

                {{ components.button(text="Leave feedback", group=true, url='/prototypes/learner/v3/actions?action=hasLeftFeedback')}}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}
