{% extends 'layouts/mts-without-container.layout.njk' %}
 {% set pageTitle = 'homepage' %}
 {% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Brake test' }
] %}
 {% block content %}
 <main id="content">
         <div class="container">
                             <div id="global-breadcrumb" class="header-context">
</div>
     <header class="content-header">
        <h1>
            <span class="content-header__type">MOT testing</span>
            <span class="content-header__title">Vehicle safety recalls prototypes</span>
            </h1>
    </header>                        
         <div class="row contents">
        <div class="col-lg-12">
         <h1 class="content-header__type"> 
                Prototype versions
        </h1>
        
        <div>

            <table class="key-value-list" style="table-layout: fixed;">
                <thead>
                    <col width="140">
                    <col width="200">
                    <col width="350">
                    <tr>
                    <th scope="col">Version</th>
                    <th class="" scope="col">Tested on</th>
                    <th class="" scope="col">Changes</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        Versions for GDS demo<br>
                        <span><a href="/prototypes/recalls/V3/Start-page" style="margin-top: 10px;">Vehicle journey</a>
                        <br>
                        <span><a href="/prototypes/recalls/Component-version/Start-page" style="margin-top: 10px;">Component journey</a></span>
                    </th>
                    <td class="">
                        
                    </td>
                    <td class="" scope="col">
                        Vehicle journey set up for a <strong>'Land Rover Range Rover Sport 2016'</strong><br>
                        Component journey set up for a <strong>'Michelin Cargobib 600/55'</strong> (tryes)
                    </td>
                    </tr>
                    <tr>
                    <th>
                        Ready for dev<br>
                        <span><a href="/prototypes/recalls/V3/Start-page" style="margin-top: 10px;">Vehicle journey</a>
                        <br>
                        <span><a href="/prototypes/recalls/MOTH-version/Start-page" style="margin-top: 10px;">MOTH version</a></span>
                        <span><a href="/prototypes/recalls/Component-version/Start-page" style="margin-top: 10px;">Component journey</a></span>
                    </th>
                    <td class="">
                        
                    </td>
                    <td class="" scope="col">
                        <details>
                            <summary><span class="summary">Changes included in version 3</span></summary>
                                <div class="panel">
                                    <ul class="list list-bullet">
                                        <li>
                                            Content changes made
                                        </li>
                                        <li>
                                            Linking from MOTH to start of recalls service rather than onto results page.
                                        </li>
                                        <li>
                                            Prototype now is based on the Land Rover Range Rover 2013, MOTH page to match.
                                        </li>
                                        <li>
                                            Addition of the vehicle groups, cars &amp; vans, bicyles, trailer etc. These are selected using radio buttons.
                                        </li>
                                    </ul>
                                </div>
                        </details>
                    </td>
                    </tr>
                    <tr>
                    <th>
                        Version 2<br>
                        <span><a href="/prototypes/recalls/V2/Start-page" style="margin-top: 10px;">Vehicle journey</a></span><br>
                        <span><a href="/prototypes/recalls/V1/Start-page" style="margin-top: 10px;">Component journey</a></span>
                    </th>
                    <td class="">
                        18/19/20th September 2018
                    </td>
                    <td width="50px">
                        <details>
                            <summary><span class="summary">Changes included in version 2</span></summary>
                                <div class="panel panel-border-narrow">
                                     <ul class="list list-bullet">
                                        <li>
                                            Transferred prototype from sketch/ Invision to HTML
                                        </li>
                                        <li>
                                            Content work on label, i.e Remedy > How the manufacturer will repair
                                        </li>
                                        <li>
                                            Addition of the vehicle groups, cars &amp; vans, bicyles, trailer etc. These are selected using radio buttons.  (Not Tested during sessions)
                                        </li>
                                        <li>
                                            Prototyped component journey. This journey only has three stages, Make, model and results.
                                        </li>
                                        <li>
                                            Prototype version of the type ahead feature for selecting a vehicle make (Not Tested during sessions)
                                        </li>
                                        <li>
                                            One question per page layout tested
                                        </li>
                                    </ul>
                                </div>
                        </details>
                    </td>
                    </tr>
                    <tr>
                    <th>
                        Version 1<br>
                        <span><a href="https://projects.invisionapp.com/share/YUNHTLHP9MR#/screens/314044746_Selection_Page" target="blank">Invision prototype</a></span>
                    </th>
                    <td class="">
                        21/22th/23rd August 2018
                    </td>
                    <td class="">
                        <details>
                            <summary><span class="summary">Changes included in version 1</span></summary>
                                <div class="panel panel-border-narrow">
                                    <p>
                                    Sketch/ Invision prototype
                                    </p>
                                    <ul class="list list-bullet">
                                        <li>
                                            4 different solutions were tested: Specfic vehicle results, listed vehicle results (Similar to old system), Pulling the results directly onto MOTH and Link off of MOTH to separate recalls service. 
                                        </li>
                                        <li>
                                            Content work on typos'
                                        </li>
                                        <li>
                                            Testing show and hide accordion feature
                                        </li>
                                        <li>
                                            Typing in VRM v Selecting Make/ Model/ Age
                                        </li>
                                    </ul>
                                </div>
                        </details>
                    </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <h1 class="heading heading--large heading-large"> 
                    Error messages
                </h1>
                <ul class="list list-bullet">
                    <li><a href="/prototypes/recalls/Error-messages/error-type-of-recall">Error type of recall</a></li>
                </ul>
                <p class="lede">Vehicle recalls</p>
                <ul class="list list-bullet">
                    <li><a href="/prototypes/recalls/Error-messages/error-vehicle-type">Error vehicle type</a></li>
                    <li><a href="/prototypes/recalls/Error-messages/error-vehicle-make">Error vehicle make page</a></li>
                    <li><a href="/prototypes/recalls/Error-messages/error-vehicle-model">Error vehicle model page</a></li>
                    <li><a href="/prototypes/recalls/Error-messages/error-vehicle-age">Error vehicle age</a></li>
                </ul>

                <p class="lede">Component recalls</p>
                <ul class="list list-bullet">
                    <li><a href="/prototypes/recalls/Error-messages/error-component-make">Error component make</a></li>
                    <li><a href="/prototypes/recalls/Error-messages/error-component-model">Error component model</a></li>
                </ul>
            </div>

            <div>
                <h1 class="content-header" style="font-size:24px; font-weight:700:"> 
                    Dropout pages
                </h1>
                <a href="/prototypes/recalls/no-recalls/vehicle-make">Select make</a>
            </div>

            <h1 class="heading heading--large heading-large"> 
                Concept ideas
            </h1>
            
        <div>
            <h1 class="content-header" style="font-size:24px; font-weight:700:"> 
                Enter VRM
            </h1>
            <a href="/prototypes/recalls/VRM-version/Start-page">Version 1</a>
        </div>
        <div>
            <h1 class="content-header" style="font-size:24px; font-weight:700:"> 
                MOTH version
            </h1>
            <a href="/prototypes/recalls/MOTH-version/Start-page">Link in outstanding recalls section</a>
        </div>
                     
        </div>
         </div>
     </main>
   
{% endblock %}
