{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Reminders sent' %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      <div class='banner banner--confirmation u-margin-top-20'>

        <span class='banner__heading-large'>Notification successfully sent</span>

        <span>Annual assessment reminder notification sent to <strong>29</strong> testers</span>

      </div>

      {{ components.link(text='Return to annual assessment admin tool', url='/prototypes/annual-assessment-admin-tool/') }}

    {%- endcall %}

  {%- endcall %}

{%- endblock %}
  
