{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'VTS details' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">
        Home
      </a>
    </li>
    <li>
      <a href="#">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
        DILENA GROUP
    </li>
  </ol>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        
        <header class="content-header">
        <h1 class="heading-xlarge heading heading--page-heading" style="margin-bottom: 0;">
            <span class="heading-secondary">Vehicle Testing Station</span>
            DILENA GROUP
        </h1>
        <h2 class="heading heading--large heading-large" style="margin-top: 0;">
            <span class="heading-secondary">66, Anthropology Court, Kingswood, Gloucestershire, England, Gloucestershire, B4 8TE</span>
        </h2>
        </header>                       

        <div class="row contents">
            <div class="col-lg-12">
                <h3 class="heading heading--medium heading-medium">Site details</h3>

                <table class="table-summary">       
                    <tbody>
                        <tr>
                            <th class="table-summary__key">
                                Name               
                            </th>
                            <td class="table-summary__value">
                                <span id="site-name">
                                    DILENA GROUP                  
                                </span>                
                            </td>
                        </tr>
                        <tr>
                            <th class="table-summary__key">
                                VTS ID                
                            </th>
                            <td class="table-summary__value">
                                <span id="site-number">
                                    VTS001430                   
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-summary__key">
                                Classes                
                            </th>
                            <td class="table-summary__value">
                                <span id="site-classes">
                                    1,2  Classes                 
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-summary__key">
                                Type                
                            </th>
                            <td class="table-summary__value">
                                <span id="site-type">
                                    Vehicle Testing Station                    
                                </span>
                                <span class="visuallyhidden"> 
                                    Type
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-summary__key">
                                Authorised Examiner                
                            </th>
                            <td class="table-summary__value">
                                <span id="authorisedExaminer">
                                    <a id="authorised-examiner-link" href="/authorised-examiner/89739">CLAUDIE JUDON</a>                    
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-summary__key">
                                Status                
                            </th>
                            <td class="table-summary__value">
                                <span id="site-status">
                                    Approved                   
                                </span>
                                <span class="visuallyhidden"> 
                                    Status
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="heading heading--medium heading-medium">Contact details</h3>

                <table class="table-summary">   
                    <tbody>
                        <tr>
                            <th class="table-summary__key">
                                Address                
                            </th>
                            <td class="table-summary__value">
                                <span id="site-address">
                                    66, Anthropology Court,<br>Kingswood,<br>Gloucestershire,<br>England,<br>Gloucestershire,<br>B4 8TE                  
                                </span>
                                <span class="visuallyhidden"> 
                                    Address
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-summary__key">
                                Country                
                            </th>
                            <td class="table-summary__value">
                                <span id="site-country">
                                    Scotland                    
                                </span>
                                <span class="visuallyhidden"> 
                                    Country
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-summary__key">
                                Email                
                            </th>
                            <td class="table-summary__value">
                                <span id="email">
                                    success+a.teitelbaum.59318@simulator.amazonses.com                    
                                </span>
                                <span class="visuallyhidden"> 
                                    Email
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-summary__key">
                                Telephone                
                            </th>
                            <td class="table-summary__value">
                                <span id="phone-number">
                                    02175120000                    
                                </span>
                                <span class="visuallyhidden"> 
                                    Telephone
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="heading heading--medium heading-medium">Roles</h3>

                <table class="table-summary">
                    <tbody>
                        <tr id="role-assignment-775996-TESTER">
                        <th class="table-summary__key">
                            Cleora Micaela Dalbec(DALB8075)                    
                        </th>
                        <td class="table-summary__value">
                            Tester                                                    
                            <span class="visuallyhidden">Cleora Micaela Dalbec</span>
                        </td>
                        </tr>
                        <tr id="role-assignment-775996-SITE-MANAGER">
                            <th class="table-summary__key">
                                Cleora Micaela Dalbec(DALB8075)                   
                            </th>
                            <td class="table-summary__value">
                                Site manager                                                    
                                <span class="visuallyhidden">Cleora Micaela Dalbec</span>
                            </td>
                        </tr>
                        <tr id="role-assignment-875885-TESTER">
                            <th class="table-summary__key">
                                Jacqualine Tereasa Chai(CHAI8234)                   
                            </th>
                            <td class="table-summary__value">
                                Tester                                                    
                                <span class="visuallyhidden">Jacqualine Tereasa Chai</span>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <h3 class="heading heading--medium heading-medium">Site review</h3>

                <table class="table-summary">
                    <tbody>
                        <tr>
                            <th class="table-summary__key">Current</th>
                            <td class="table-summary__value">
                                <strong>Unsatisfactory</strong>
                                <span class="text-secondary text-secondary--spaced-8">
                                    <br>Date: 1 October 2018                
                                </span>
                            </td>
                            <td>
                                <a href="AE-view-view-details">View summary</a>
                            <td>
                        </tr>
                    </tbody>
                </table>


                <h3 class="heading heading--medium heading-medium">Active MOT tests</h3>
            
                <table class="table-summary">
                    <tbody>
                        <tr>
                            <th class="table-summary__key">No active MOT tests</th>
                        </tr>
                    </tbody>
                </table>

                <h3 class="heading heading--medium heading-medium">Testing facilities</h3>

                <table class="table-summary">
                    <thead>
                        <tr>
                            <th class="" colspan="2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table-summary__key">
                                Two Person Test Lane (TPTL)
                            </th>
                            <td id="testing-facility-tptl" class="table-summary__value testing-facility-tptl">1
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="heading heading--medium heading-medium">Default test settings</h3>

                <table class="table-summary">
                    <thead>
                        <tr>
                            <th class="" colspan="2">
                                Class 1 and 2
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table-summary__key">
                                Brake test
                            </th>
                            <td id="default-brake-test-class-1-and-2" class="table-summary__value ">Roller
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div id="opening-hours">
                    <h3 class="heading heading--medium heading-medium">Testing hours</h3>
                    <table class="table-summary">
                        <tbody>
                            <tr>
                                <th class="table-summary__key">
                                    Monday               
                                </th>
                                <td id="monday-hours" class="table-summary__value--tabular">
                                    9:30am to 4:00pm                
                                </td>
                            </tr>
                            <tr>
                                <th class="table-summary__key">
                                    Tuesday               
                                </th>
                                <td id="tuesday-hours" class="table-summary__value--tabular">
                                    9:30am to 4:30pm                
                                </td>
                            </tr>
                            <tr>
                                <th class="table-summary__key">
                                    Wednesday                
                                </th>
                                <td id="wednesday-hours" class="table-summary__value--tabular">
                                    Closed                
                                </td>
                            </tr>
                            <tr>
                                <th class="table-summary__key">
                                    Thursday                
                                </th>
                                <td id="thursday-hours" class="table-summary__value--tabular">
                                    9:30am to 4:30pm                
                                </td>
                            </tr>
                            <tr>
                                <th class="table-summary__key">
                                    Friday                
                                </th>
                                <td id="friday-hours" class="table-summary__value--tabular">
                                    9:30am to 4:30pm                
                                </td>
                            </tr>
                            <tr>
                                <th class="table-summary__key">
                                    Saturday                
                                </th>
                                <td id="saturday-hours" class="table-summary__value--tabular">
                                    9:30am to 1:00pm                
                                </td>
                            </tr>
                            <tr>
                                <th class="table-summary__key">
                                    Sunday              
                                </th>
                                <td id="sunday-hours" class="table-summary__value--tabular">
                                    Closed                
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-secondary" colspan="2">These times do not include bank holidays</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <nav class="content-navigation">
                    <ul class="content-navigation__secondary">
                        <li>
                            <a id="search-again" class="btn-link" href="/vehicle-testing-station/search">Return to search</a>
                        </li>
                        <li>
                            <a id="return-to-home" href="/">Return home</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="column-third">
        <div class="related">
            <ul class="related__status">
                <li>
                    <span class="badge--success">
                        Approved                        
                    </span>
                    <strong>
                        Status                        
                    </strong>
                </li>
                <li>
                    <span class="badge--success">
                        Green                        
                    </span>
                    <strong>
                        VTS rating                        
                    </strong>
                </li>                                
                <li id="site-review-outcome">
                    <span class="badge" style="border: 0px;">
                        Unsatisfactory<br/>
                    </span>
                    <strong>
                        Site review                             
                    </strong>
                    <br>
                    <span id="risk-assessment-date" class="text-secondary">
                        Date: 1 Oct 2018
                    </span>
                    <br/>
                    <a href="AE-view-view-details">View summary</a>
                </li>
                <li>
                    <span class="badge">
                        0                        
                    </span>
                    <strong>
                        Active MOT tests                        
                    </strong>
                </li>
            </ul>

            <div class="related__section">
                <h2 class="related__section-title">Events and logs</h2>

                <ul class="related__section-links">
                    <li>
                        <a class="" id="site-test-quality" href="/vehicle-testing-station/1430/test-quality">
                            Events history                       
                        </a>
                    </li>
                    <li>
                        <a class="" id="site-test-quality" href="/vehicle-testing-station/1430/test-quality">
                            Test logs                       
                        </a>
                    </li>
                </ul>

                <h2 class="related__section-title">Reviews</h2>
                <ul class="related__section-links">
                    <li>
                        <a class="" id="site-test-quality" href="/vehicle-testing-station/1430/test-quality">
                            Test quality information                       
                        </a>
                    </li>     
                    <li>
                        <a class="" id="site-test-quality" href="/vehicle-testing-station/1430/test-quality">
                            Testers annual assessment                       
                        </a>
                    </li>                
                </ul>

                <h2 class="related__section-title">Change and connect equipment</h2>
                <ul class="related__section-links">
                    <li>
                        <a class="" id="site-test-quality" href="/prototypes/connected-testing/change-testing-equipment/index">
                            Change testing equipment                       
                        </a>
                    </li>     
                    <li>
                        <a class="" id="site-test-quality" href="/prototypes/connected-testing/self-serve-api-key/index">
                            Request a key                      
                        </a>
                    </li> 
                    <li>
                        <a class="" id="site-test-quality" href="/prototypes/connected-testing/self-serve-api-key/site-keys">
                            View site keys                    
                        </a>
                    </li>                
                    <li>
                        <a class="" id="site-test-quality" href="/prototypes/connected-testing/test-connection/index-continue">
                            Test connection                    
                        </a>
                    </li> 
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
