{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test history' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        MOT tests
      </a>
    </li>
    <li>
      MOT test history
    </li>
  </ol>
</div>

<a href="/prototypes/compare-tests/v3/test-comparison"><img src="/images/test-history.png" style="width: 960px;" border="0"></a>



{% endblock %}
