.header-banner {
  width: 100%;
  background-color: #2b358b;
  &__inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #2b358b;
    color: $white;
  }

  &__title {
    display: block;
    font-weight: bold;
  }

  body &__link {
    &:link, &:visited, &:hover, &:active {
      color: $white;
    }
  }
}