{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes/messages' },
  { text: 'Messages' }
] %}

{% set message = viewData %}

{% set canBeArchived = message.type !== 'Special notice' and (message.state.rejected or message.state.accepted) and not message.state.isArchived %}

{% block content %} 

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      <header class="content-header">
        <h1>
          <span class="content-header__type">{{message.type}}</span>
          <span class="content-header__title">{{message.title}}</span>
        </h1>
        <h2 class="content-header__tertiary">Published {{message.date.published}}</h2>
      </header>

      {% if message.date.due and not message.state.acknowledged %}

        <div class="text">
          <div class="panel panel-border-wide">
              <p>This message must be acknowledged by <strong>{{message.date.due.asString}}</strong></p>
          </div>
        </div>

      {% endif %}

      <div class='text u-clearfix'>

        {{message.messagePreview}}

      </div>

      {% if message.type=='Special notice' and not message.state.acknowledged %}

        <div class="notice text u-margin-top-10 u-margin-bottom-30">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">By acknowledging this message, you confirm that you have read, understood and agree to test in accordance to the new legislative changes associated to this special notice.</strong>
        </div>

        <div class="u-margin-top-10 u-margin-bottom-30">
          <a class="button" href="/prototypes/messages/acknowledge/{{message.id}}" role="button">Acknowledge special notice</a>
        </div>

      {% elseif message.type=='Notification' and not message.state.accepted and not message.state.rejected %} 
        <ul class="list-unstyled content-navigation__split u-clearfix">
          <li class="content-navigation__split--left">
            <a class="button" href="/prototypes/messages/accept/{{message.id}}">Accept</a>
          </li>
          <li class="content-navigation__split--right">
            <a class="button button--alert" href="/prototypes/messages/reject/{{message.id}}">Reject</a>
          </li>
        </ul> 
      {% endif %}

      
      {% if canBeArchived %}
        <a class="button" href="/prototypes/messages/archive/{{message.id}}">Archive this message</a>
      {% endif %} 

      {{ components.link(text='Back to messages', url='/prototypes/messages/received', paragraph=true) }}

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}