{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Site review summary' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'WILLETTA AREDONDO', url: '#' },
  { text: 'VTS079774', url: '#' },
  { text: 'Site details', url: 'AE-view/' },
  { text: 'Site review summary' }

] %}

 {{ activityPerformed }}
 {% set activityPerformed = viewData.activity.activityPerformed %} 


{% block content %} 
 
  <div class="form-group">
      <legend>
        <h1 class="heading-medium">
          Site review summary
        </h1>
      </legend>

  </div>

  <table class="table-summary" style="margin-bottom: 20px;">
  <tbody>
    <tr>
      <th class="table-summary__key">
        Compliance
      </th>
      <td class="table-summary__value--tabular">
         <strong>Satisfactory</strong><br/>
         Comment: certificate should be printed immediately after recording test results.
     </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Premises
      </th>
      <td class="table-summary__value--tabular">
        <strong>Satisfactory</strong><br/>
            Comment: -        
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Management and quality
      </th>
      <td class="table-summary__value--tabular">
        <strong>Satisfactory</strong><br/>
        Comment: N/A
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        People
      </th>
      <td class="table-summary__value--tabular">
        <strong>Unsatisfactory</strong><br/>
        Advice given: Improve training and documentation
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Activity
      </th>
      <td class="table-summary__value--tabular">
        <strong>
            Activity performed
        </strong><br>
          MOT test number: <strong>3452 7541 0463</strong><br>
          Tester's User ID: <strong>KUCE6924</strong>
      </td>
    </tr>
   <tr>
      <th class="table-summary__key">
        VT59 issued
      </th>
      <td class="table-summary__value--tabular">
        <strong>No</strong>
      </td>
    </tr>
       <tr>
          <th class="table-summary__key">
            Examiner's User ID
          </th>
          <td class="table-summary__value--tabular">
          <strong>DREW666</strong><br/>
          </td>
      </tr> 
    <tr>
      <th class="table-summary__key">
        AE representative's User ID
      </th>
      <td class="table-summary__value--tabular">
       <strong>CHGW0079</strong><br/>
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        AE representative's full name
      </th>
      <td class="table-summary__value--tabular"> 
        <strong>Ben Chgw</strong><br/>
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        AE representative's role
      </th>
      <td class="table-summary__value--tabular"> 
        <strong>Manager</strong><br/>
      </td>
    </tr>

    <tr>
      <th class="table-summary__key">
        Date of site visit
      </th>
      <td class="table-summary__value--tabular">
        <strong>1 October 2018</strong>
      </td>
    </tr>
  </tbody>
</table>

<div class="u-margin-bottom-20">
  <a href="AE-view" class="button">Back</a> 
</div> 


<div>
</div>

{% endblock %}
