{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Compliance' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">
        Home
      </a>
    </li>
    <li>
      <a href="#">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/prototypes/site-review/v5/VE-view-VTS-overview">
        DILENA GROUP
      </a>
    </li>
    <li>
      <a href="/prototypes/site-review/v5/choose-section">Record a site review</a>
    </li>
    <li>
      Management and quality
    </li>
  </ol>
</div>

<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary">Site review</span>
  Management and quality
</h1>

<form action="choose-section-premises-done">
  <div class="form-group {{ 'form-group-error' if viewData['management-and-quality'].errors[0]['radioGroup'] }}">

    <fieldset>
      <legend>
        <span class='form-label-bold'>Record the management and quality outcome</span>
        {% if viewData['management-and-quality'].errors[0]['radioGroup'] %}
          <span class="error-message">{{viewData['management-and-quality'].errors[0]['radioGroup']}}</span>
        {% endif %}
      </legend>


      <div class="multiple-choice" data-target="satisfactory-comment-panel">
        <input id="example-multiple-satisfactory" type="radio" name="radio-assessment-group" value="Satisfactory" {{"checked='true'" if viewData['management-and-quality'].satisfactory.isChecked}}>
        <label for="example-multiple-satisfactory">Satisfactory</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="satisfactory-comment-panel">
        {% if viewData['management-and-quality'].errors[0]['textareaSatisfactory'] %}
          <span class="error-message">{{ viewData['management-and-quality'].errors[0]['textareaSatisfactory'] }}</span>
        {% endif %}
        <div class="{{ 'form-group-error' if viewData['management-and-quality'].errors[0]['textareaSatisfactory'] }}">
          <label class="form-label" for="satisfactory-textarea">Comment (optional)</label>
          <textarea class="form-control" name="satisfactory-textarea" id="satisfactory-textarea" rows="5">{{viewData['management-and-quality'].satisfactory.comment}}</textarea>
        </div>
      </div>

      <div class="multiple-choice" data-target="improve-advice-panel">
        <input id="example-multiple-improve" type="radio" name="radio-assessment-group" value="Improve" {{"checked='true'" if viewData['management-and-quality'].improve.isChecked}}>
        <label for="example-multiple-improve">Improve</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="improve-advice-panel">
        {% if viewData['management-and-quality'].errors[0]['textareaImprove'] %}
          <span class="error-message">{{ viewData['management-and-quality'].errors[0]['textareaImprove'] }}</span>
        {% endif %}
        <div class="{{ 'form-group-error' if viewData['management-and-quality'].errors[0]['textareaImprove'] }}">
          <label class="form-label" for="improve-textarea">Actions required</label>
          <textarea class="form-control" name="improve-textarea" id="improve-textarea" rows="5">{{viewData['management-and-quality'].improve.comment}}</textarea>
        </div>
      </div>

      <div class="multiple-choice" data-target="unsatisfactory-advice-panel">
        <input id="example-multiple-unsatisfactory" type="radio" name="radio-assessment-group" value="Unsatisfactory" {{"checked='true'" if viewData['management-and-quality'].unsatisfactory.isChecked}}>
        <label for="example-multiple-unsatisfactory">Unsatisfactory</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="unsatisfactory-advice-panel">
        {% if viewData['management-and-quality'].errors[0]['textareaUnsatisfactory'] %}
          <span class="error-message">{{ viewData['management-and-quality'].errors[0]['textareaUnsatisfactory'] }}</span>
        {% endif %}
        <div class="{{ 'form-group-error' if viewData['management-and-quality'].errors[0]['textareaUnsatisfactory'] }}">
          <label class="form-label" for="unsatisfactory-advice-textarea">Actions required</label>
          <textarea class="form-control" name="unsatisfactory-advice-textarea" id="unsatisfactory-advice-textarea" rows="5">{{viewData['management-and-quality'].unsatisfactory.comment}}</textarea>
        </div>
      </div>
    </fieldset>
  </div>

  <details class="u-margin-bottom-10">
    <summary><span class="summary">Management and quality guidance</span></summary>
      <div class="panel panel-border-narrow">
        <p>The VTS staff has a clear understanding of their testing responsibilities and security requirements relevant to the MOT service.</p>
        <p>The AE has an effective Quality Management system that is appropriate to its operation and would identify and rectify failures or weaknesses in test quality.</p>
        <p>The VTS demonstrates a positive culture of quality, communication and improvement.</p>
    </div>
  </details>


  <div class="form-group u-margin-bottom-15">
    <input class="button" type="submit" value="Save and return"/>
   </div>
  <div class="form-group">
    <a href="/prototypes/site-review/choose-section/">Back</a>
  </div>


</form>
{% endblock %}