{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Activity' %}

{% block content %}

{{ viewData.activity.formData.activityPerformedDropdown }}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">
        Home
      </a>
    </li>
    <li>
      <a href="#">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="VE-view">
          VTS079774
      </a>
    </li>
    <li>
      Site review
    </li>
  </ol>
</div>

<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary">Site review</span>
  What is the original MOT test number?
</h1>

<form action="summary">
  <div class="form-group">
    <fieldset>

        <label class="form-label" for="test-number">
          MOT test number 
        </label>
        <input class="form-control" id="test-number" type="text" name="test-number" pattern="[0-9]*" value="">
  
    </fieldset>
  </div>

  <div class="form-group u-margin-bottom-15">
      <input class="button" type="submit" value="Save and continue">
  </div>
  <div class="form-group">
      <a href="choose-section">Back</a>
  </div>

</form>
{% endblock %}
