{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review - VTS079774' %}

{% block content %}

<form action="enter-meta-data">
  <div class="form-group">

      <div class="breadcrumbs">
        <ol>
          <li>
            <a href="#">
              Home
            </a>
          </li>
          <li>
            <a href="#">
              WILLETTA AREDONDO
            </a>
          </li>
          <li>
            <a href="VE-view">
                VTS079774
            </a>
          </li>
          <li>
            Site review
          </li>
        </ol>
      </div>

      <h1 class="heading-xlarge heading heading--page-heading ">
            <span class="heading-secondary">Site review</span>
            Record a site review
      </h1>

      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Compliance</h3>
          </div>
          <div class="action-panel__container--last">
            <a href="assessment-compliance" class="button">Edit result</a>
          </div>
      </div>

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Satisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                Comment: certificate should be printed immediately after recording test results.
            </div>
          </li>
        </ol>
      </div>
    
      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Premises</h3>
          </div>
          <div class="action-panel__container--last">
            <a href="assessment-premises" class="button">Edit result</a>
          </div>
      </div>  

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Satisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                Comment: -
            </div>
          </li>
        </ol>
      </div>

      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Management and quality</h3>
          </div>
          <div class="action-panel__container--last">
            <a href="assessment-management-and-quality" class="button">Edit result</a>
          </div>
      </div>  

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Satisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                Comment: N/A
            </div>
          </li>
        </ol>
      </div>
  
      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">People</h3>
          </div>
          <div class="action-panel__container--last">
            <a href="assessment-people" class="button">Edit result</a>
          </div>
      </div>  

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Unsatisfactory</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                Advice given: Improve training and documentation
            </div>
          </li>
        </ol>
      </div>
  
      <div class="action-panel">
          <div class="action-panel__container">
            <h3 class="action-panel__heading">Activity</h3>
          </div>
          <div class="action-panel__container--last">
            <a href="assessment-activity" class="button">Edit result</a>
          </div>
      </div>  

      <div class="defect-summary">
        <h3 class="defect-summary__heading">
            <span>Activity performed</span>
        </h3>
        <ol>
          <li class="defect">
            <div>
                Test number: 1234 5678 9012
            </div>
          </li>
        </ol>
      </div>
    
  </div>

  <div class="u-margin-bottom-20">
        <a href="vt59" class="button" type="submit">Continue</a>
  </div>


<div class="form-group u-margin-bottom-20">
  <a href="VE-view">Cancel</a>
</div>

</form>
{% endblock %}
