{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Record a site review - VTS079774' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">
        Home
      </a>
    </li>
    <li>
      <a href="#">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="VE-view">
          VTS079774
      </a>
    </li>
    <li>
      Site review
    </li>
  </ol>
</div>

<legend>
  <h1 class="heading-xlarge heading heading--page-heading">
    <span class="heading-secondary">Site review</span>
    Record a site review
  </h1>
</legend>

<div class="u-margin-bottom-30">
  
  <div class="action-panel">
    <div class="action-panel__container">
      <h3 class="action-panel__heading">Compliance</h3>
    </div>
    <div class="action-panel__container">
        <span class="action-panel__value">Not recorded</span>
    </div>
    <div class="action-panel__container--last">
      <a href="assessment-compliance" class="button">
        Record outcome
      </a>
    </div>
</div>

    </div>
  </div>

  
  <div class="action-panel">
      <div class="action-panel__container">
        <h3 class="action-panel__heading">Premises</h3>
      </div>
      <div class="action-panel__container">
        <span class="action-panel__value">Not recorded</span>
      </div>
      <div class="action-panel__container--last">
        <a href="assessment-premises" class="button">
          Record outcome
        </a>
      </div>
  </div>
  
  <div class="action-panel">
      <div class="action-panel__container">
        <h3 class="action-panel__heading">Management and quality</h3>
      </div>
      <div class="action-panel__container">
        <span class="action-panel__value">Not recorded</span>
    </div>
    <div class="action-panel__container--last">
      <a href="assessment-management-and-quality" class="button">
        Record outcome
      </a>
    </div>
</div>

<div class="action-panel">
    <div class="action-panel__container">
      <h3 class="action-panel__heading">People</h3>
    </div>
    <div class="action-panel__container">
        <span class="action-panel__value">Not recorded</span>
    </div>
    <div class="action-panel__container--last">
      <a href="assessment-people" class="button">
      Record outcome
      </a>
    </div>
</div>

<div class="action-panel">
    <div class="action-panel__container">
      <h3 class="action-panel__heading">Activity</h3>
    </div>
    <div class="action-panel__container">
        <span class="action-panel__value">Not recorded</span>
    </div>
    <div class="action-panel__container--last">
      <a href="assessment-activity" class="button">
        Record activity
      </a>
    </div>
</div>

</div>

<div class="form-group u-margin-top-20">
    <a class="button" href="#" type="submit" value="Continue" disabled="true">Continue</a>
</div>

<div class="form-group u-margin-bottom-20">
  <a href="VE-view">Return to VTS overview</a>
</div>
 

{% endblock %}
