{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Site review index' %}


{% block content %}


  {{ components.pageHeading('Prototypes v5', 'Site review') }}


<div class="text u-clearfix">

  </div>


<div class="grid-row">

  <div class="column-one-half">
      
    <ul class="list list-bullet">
      
      <li>
        <a href="VE-view">Vehicle Examiner (VE) flow</a> 
      </li>
      
      <li>
        <a href="AE-view">Authorised Examiner (AE) flow</a>
      </li>
      
    </ul>
  

  </div>

  
  </div>

{% endblock %}