{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review' %}

{% block content %}


<header class="transaction-header">
  <h1 class="transaction-header__title">Site review has been saved</h1>
  <p class="transaction-header__next-step">Event has been created automatically</p>
</header>

<div class="grid-row">
    <div class="column-two-thirds">
        <p>
        If you issued a VT59, print it and leave with the AE.
        </p>
        <p>
            Inform the AE, that they can view details of this site review in MOT testing service straight away.
        </p>
    </div>
</div>

      
<div class="form-group"> 
  <a href="VE-view">Back</a>
</div> 

</form>
{% endblock %}
