.manual-smart-survey {
  height: 60px;

  &--feedback-open {
    height: 197px;
  }

  &__iframe {
    width: 100%;
    height: 60px;
    border: 0;

    .manual-smart-survey--feedback-open & {
      height: 197px;
    }
  }
}