{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Your primary area of work - Learning Platform for Government' %}

{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v8' %}
{% set loggedOut = 'false' %}
{% set signOutPath = '/prototypes/learner/v8/' %}
{% set homePath = '/prototypes/learner/v8/' %}

{% set professionSelectOptions = professionSelectOptions if professionSelectOptions %}
{% set registrationJob2Error = registrationJob2Error if registrationJob2Error %}
{% set registrationProfessionError = registrationProfessionError if registrationProfessionError %}
{% set profession = profession if profession %}

{% set editMode = editMode if editMode %}
{% if editMode %}
    {% set buttonText = 'Save changes' %}
{% else %}
    {% set buttonText = 'Continue' %}
{% endif %}

{% block content %}

    {{ components.pageHeading('Your primary area of work') }}

    {% if registrationJob2Error %}

        <div class="error-summary" role="alert" aria-labelledby="nameErrors" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="nameErrors">There was a problem with your information</h2>
            <ul class="error-summary-list">
                {% if registrationProfessionError %}
                    {% set registrationProfessionErrorMessage = 'Selet your profession' %}
                    <li><a href="#profession">You must select at least one area of work</a></li>
                {% endif %}
            </ul>
        </div>

    {% endif %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <p class="lede">Select your primary area of work.</p>

            {% call components.formElement(name='registerProfession', method='POST', action="#") %}

                <fieldset class="u-space-b30 {% if registrationJob2Error %} form-group-error {% endif %}">

                    {% for item in professionSelectOptions %}

                        {% if item.value in profession %}
                            {% set checked = true %}
                        {% else %}
                            {% set checked = '' %}
                        {% endif %}
                        {{ components.radio(text=item.text, value=item.value, id='profession'+item.value,name='profession', compareTo=item.value, isChecked=checked) }}
                    {% endfor %}

                </fieldset>

                {% call components.formGroup() %}

                    {{ components.button(text=buttonText, group=true, url='/prototypes/learner/v8/actions?action=workAreaHasBeenUpdated')}}

                {%- endcall %}

                <p>
                    <a href="/prototypes/learner/v8/your-profile">Cancel</a>
                </p>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}

