{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test history' %}

{% block content %}

<a href="/prototypes/compare-tests/v1/test-comparison"><img src="/images/test-history.png" style="width: 960px;" border="0"></a>



{% endblock %}
