{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}


<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary"></span> Compare tests
</h1>


<table class="key-value-list">
  <tbody>
    <tr>
      <th>Inspector</th>
      <td style="font-weight: bold;">John Morris, MORR6734</td>
      <td style="font-weight: bold;">Harry Enforsmith, Vehicle Exminer</td>
    </tr>
    <tr>
      <td>Start of the inspection</th>
      <td style="font-weight: bold;">10/10/2018, 09:11</td>
      <td style="font-weight: bold;">10/10/2019, 11:36</td>
    </tr>
  </tbody>
</table>

<h2 class="heading heading--large heading-medium">
  Inspected vehicle
</h2>
<table class="key-value-list">
  <tbody>
    <tr>
      <th>Make and model</th>
      <td>John Hemmerstone, HEMM6734</td>
      <td>you</td>
    </tr>
    <tr>
      <th>Registration plate</th>
      <td></td>
      <td>Value</td>
    </tr>
    <tr>
      <th>VIN</th>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <th>Colour</th>
      <td>-</td>
      <td>Value</td>
    </tr>
  </tbody>
</table>


<h2 class="heading heading--large heading-medium">
  Odometer reading
</h2>
<table class="key-value-list">
  <tbody>
    <tr>
      <th class="key-value-list__key">Odometer reading</th>
      <td class="key-value-list__value">62 745 miles</td>
      <td class="key-value-list__value">62 745 kilometers</td>
    </tr>
  </tbody>
</table>

<h2 class="heading heading--large heading-medium">
  Defects
</h2>
<table class="key-value-list">
  <tbody>
    <tr>
      <th class="key-value-list__key"></th>
      <td class="key-value-list__value">John Hemmerstone, HEMM6734</td>
      <td class="key-value-list__value">you</td>
    </tr>
    <tr>
      <th class="key-value-list__key">Link</th>
      <td class="key-value-list__value"></td>
      <td class="key-value-list__value">Value</td>
    </tr>
    <tr>
      <th class="key-value-list__key">Numeric data</th>
      <td class="key-value-list__value">Value<span class="key-value-list__meta">meta data</span></td>
      <td class="key-value-list__value">Value</td>
    </tr>
    <tr>
      <th class="key-value-list__key">Empty state</th>
      <td class="key-value-list__value--muted">-</td>
      <td class="key-value-list__value">Value</td>
    </tr>
  </tbody>
</table>

<h2 class="heading heading--large heading-medium">
  Brake test results
</h2>
<table class="key-value-list">
  <tbody>
    <tr>
      <th class="key-value-list__key"></th>
      <td class="key-value-list__value">John Hemmerstone, HEMM6734</td>
      <td class="key-value-list__value">you</td>
    </tr>
    <tr>
      <th class="key-value-list__key">Link</th>
      <td class="key-value-list__value"></td>
      <td class="key-value-list__value">Value</td>
    </tr>
    <tr>
      <th class="key-value-list__key">Numeric data</th>
      <td class="key-value-list__value">Value<span class="key-value-list__meta">meta data</span></td>
      <td class="key-value-list__value">Value</td>
    </tr>
    <tr>
      <th class="key-value-list__key">Empty state</th>
      <td class="key-value-list__value--muted">-</td>
      <td class="key-value-list__value">Value</td>
    </tr>
  </tbody>
</table>

{% endblock %}
