{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'homepage' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Brake test' }
] %}

{% block content %}


<main id="content">

   
    <a href="/prototypes/recalls/V1/component-make" class="link-back">Back</a>                       

    <div class="row contents">
        <div class="col-lg-12">

    <div class="grid-row">
    <div class="column-three-quarters">
        <div class="form-group" style="margin-top:20px">
            <label class="heading-large heading heading--page-heading heading--small-margin-bottom" for="select-box">
                What is the component model?
            </label>
            <select class="form-control" id="select-box" name="select-box" style="margin-top:20px">
                <option value="zero">Choose a Model</option>
                <option value="one">120/70 ZR (58W) Pilot Power</option>
                <option value="two">255/35R2097Y</option>
                <option value="four">275/70 R 22.5</option>
                <option value="five">275/75 R 17.5</option>
                <option value="six">31580 R 22.5 XCER2+ 156/150L</option>
                <option value="seven">33X12.50R15108R</option>
                <option value="eight">385/55 R 22.5 XTA2 Energy remi</option>
                <option value="nine">AXIOBIB 1F 800/70</option>
                <option value="ten">Cargobib 600/50</option>
                <option value="eleven">Cargobib 600/55</option>
                <option value="twelve">Cargobib 650/50</option>
                <option value="thirteen">LT235/70R16104S</option>
                <option value="fourteen">LT235/75R16104S</option>
                <option value="fifteen">XM28 710/70</option>
            </select>
        </div>
        <br>
        <div>
            <a class="button" id="choose-make" href="/prototypes/recalls/V1/component-results" style="margin-bottom:30px">Continue</a>
        </div>

    </div>
</div>            

</main>

{% endblock %}