{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'homepage' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Brake test' }
] %}

{% block content %}


<main id="content">

   
    <a href="#" class="link-back">Back</a> 

    <header class="content-header">
        <h1 class="heading-large heading heading--page-heading heading--small-margin-bottom">
                What is the vehicle model?</h1>
    </header>                       

    <div class="row contents">
        <div class="col-lg-12">

    <div class="grid-row">
    <div class="column-three-quarters">
        <div class="form-group">
            <label class="form-label" for="select-box">
                Model
            </label>
            <select class="form-control" id="select-box" name="select-box">
                <option value="one">Choose a Model</option>
                <option value="two">All New Discovery</option>
                <option value="four">Defender</option>
                <option value="five">Discovery</option>
                <option value="six">Discovery Sport</option>
                <option value="seven">Freelander</option>
                <option value="eight">Land Rover</option>
                <option value="nine">Range Rover</option>
                <option value="ten">Range Rover Evoque</option>
                <option value="eleven">Range Rover Sport</option>
                <option value="twelve">Range Rover Velar</option>
            </select>
        </div>
        <br>
        <div>
            <a class="button" id="choose-make" href="/prototypes/recalls/V1/year-of-manufactuer" style="margin-bottom:30px">Continue</a>
        </div>

    </div>
</div>            

</main>

{% endblock %}