{% extends 'layouts/mts-without-container.layout.njk' %}
 {% set pageTitle = 'homepage' %}
 {% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Brake test' }
] %}
 {% block content %}
 <main id="content">
    
    <a href="/prototypes/recalls/V1/type-of-recall" class="link-back">Back</a> 
     <header class="content-header">
        <h1 class="heading-large heading heading--page-heading heading--small-margin-bottom">
                Who manufactured the vehicle?</h1>
    </header>                       
     <div class="row contents">
        <div class="col-lg-12">
     <div class="grid-row">
    <div class="column-three-quarters">
        <div class="form-group">
            <label class="form-label" for="select-box">
                Manufacturer
            </label>
            <select class="form-control" id="select-box" name="select-box">
                <option value="zero">Choose a manufacturer</option>
                <option value="one">Alfa Romeo</option>
                <option value="two">Allied vehicles</option>
                <option value="four">Bentley</option>
                <option value="five">BMW</option>
                <option value="six">Cadillac</option>
                <option value="seven">Chevrolet</option>
                <option value="eight">Citroen</option>
                <option value="nine">Dacia</option>
                <option value="ten">Dodge</option>
                <option value="eleven">Fiat</option>
                <option value="twelve">Ford</option>
                <option value="thirteen">Honda</option>
                <option value="fourteen">Hyundai</option>
                <option value="fifteen">Jaguar</option>
                <option value="sixteen">Jeep</option>
                <option value="seventeen">Kia</option>
                <option value="eighteen">Land Rover</option>
                <option value="nineteen">Mercedes Benz</option>
                <option value="twenty">Mini</option>
                <option value="twenty-one">Nissan</option>
                <option value="twenty-two">Peugeot</option>
                <option value="twenty-three">Renault</option>
                <option value="twenty-four">Skoda</option>
                <option value="twenty-five">Tesla</option>
                <option value="twenty-six">Toyota</option>
                <option value="twenty-seven">Vauxhall</option>
                <option value="twenty-eight">Volvo</option>
                <option value="twenty-nine">VW</option>
            </select>
        </div>
        <br>
        <div>
            <a class="button" id="choose-make" href="/prototypes/recalls/V1/vehicle-model" style="margin-bottom:30px">Continue</a>
        </div>
     </div>
</div>            
 </main>
 {% endblock %} 
