// Differences between tests
.dvsa-dbt {
  @include border-box;
  @include clearfix;

  &__table-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  &__table {
    &#dvsa-dbt-table {
      @media(max-width: 768px) {
        width: 850px;
      }
    }

    &-row {

    }
  
    &-th {
      width: 20%;
    }
  
    &-name {
      display: block;
      @include bold-16;
    }
  
    &-description {
      display: block;
      @include core-16;
      margin: 5px 0;
    }
  
    &-type {
      display: inline-block;
      @include bold-16;
      padding: 5px;
      background-color: $grey-4;
      color: $text-colour;
      margin: 0 0 5px 0;
      border: 1px solid $black;
  
      &--advisory {
        background-color: white;
      }
  
      &--minor {
        background-color: $yellow;
      }
  
      &--prs {
        background-color: $govuk-blue;
        color: white;
      }
  
      &--failure {
        background-color: $mellow-red;
        color: white;
      }
    }
  }
}