/*
GovUK Check your answers pattern

Example:
https://govuk-prototype-kit.herokuapp.com/docs/templates/check-your-answer

*/

.app-check-your-answers {
    @include govuk-font(19);
    margin-top: 0;
    @include govuk-responsive-margin(5, "bottom");
    @include govuk-media-query($from: desktop) {
      display: table;
    }

    &--long {
      @include govuk-media-query($from: desktop) {
        // to make group of q&a line up horizontally (unless there is just one group)
        width: 100%;
        // recommended for mostly long questions
        .app-check-your-answers__question {
          width: 50%;
        }
      }
    }
      
    &--short {
      @include govuk-media-query($from: desktop) {
        // to make group of q&a line up horizontally (unless there is just one group)
        width: 100%;
        // recommended for mostly short questions
        .app-check-your-answers__question {
          width: 30%;
        }
      }
    }

    &__contents {
      position: relative;
      border-bottom: 1px solid $govuk-border-colour; 
      @include govuk-media-query($from: desktop) {
        display: table-row;
        border-bottom-width: 0;
      }
    }

    &__meta {
      color: $govuk-secondary-text-colour;
      font-weight: 300;
      font-size: 16px;
      display: block;
      &--error {
        color: $red;
        font-weight: bold;
      }
    }

    &__answer {
      padding-bottom: govuk-em(9, 19); 
    }

    &__change {
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
    
      @include govuk-media-query($from: desktop) {
        position: static;
        padding-right: 0;
      }
    }


    &__question,
    &__answer,
    &__change {
      display: block;
      margin: 0;
      @include govuk-media-query($from: desktop) {
        display: table-cell;
        border-bottom: 1px solid $govuk-border-colour;
        padding: govuk-em(12, 19) govuk-em(20, 19) govuk-em(9, 19) 0;
      }
    }

    &__question {
      font-weight: bold;
      // using margin instead of padding because of easier absolutely positioning of .app-check-your-answers__change  
      margin: govuk-em(12, 19) 4em govuk-em(4,19) 0;
      padding-bottom: govuk-em(9, 19);  
    }

    &__contents:first-child .app-check-your-answers__question,
    &__contents:first-child .app-check-your-answers__answer,
    &__contents:first-child .app-check-your-answers__change {
      @include govuk-media-query($from: desktop) {
        padding-top: 0;
      }
    } 

}