/*
GovUK Check your answers pattern

Example:
https://govuk-prototype-kit.herokuapp.com/docs/templates/check-your-answer
*/

.govuk-summary-list {
    font-size: inherit;
    &__meta { 
        color: $grey-1;
        clear: both;
        display: block;
        &--error {
            font-weight: 600; 
            color: $red;
        }
    }
}