{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        MOT tests
      </a>
    </li>
    <li>
      <a href="/">
        MOT test history
      </a>
    </li>
    <li>
      <a href="/">
        Compare tests
      </a>
    </li>
    <li>
      <a href="/">
        Compare defects
      </a>
    </li>
    <li>
        Review difference
    </li>  
    </ol>
</div>

<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary">Record a reinspection</span>Defect outcome
</h1>


<table class="key-value-list u-margin-bottom-25">
  <tbody>
    <tr>
      <td style="border-top: 0px;"></td>
      <td style="font-weight: bold; border-top: 0px; font-size: 32px; background-color: #dee0e2; padding-left: 10px;">{{viewData.inspection.tester}}</td>
      <td style="font-weight: bold; border-top: 0px; font-size: 32px; padding-left: 10px;">{{viewData.inspection.veName}}</td>
    </tr>
    <tr>
      <td>Defect</td>
      <td style="background-color: #dee0e2; padding-left: 10px;">
      
      </td>
      <td style="padding-left: 10px; font-weight: bold;">
        {% set defectIndex = viewData.currentDefect %}
        {{ viewData.defects[defectIndex].name}} [<a href="#" title="Check defect categorisation">
          {{ viewData.defects[defectIndex].manualsRef }}</a>]
        <span class="key-value-list__meta" style="margin-bottom: 5px; color: black;">{{ viewData.defects[defectIndex].position }}</span>
        <span class="key-value-list__meta" style="margin-bottom: 5px;">{{ viewData.defects[defectIndex].comment}}</span>
        <span class="badge--{{ "warn" if  viewData.defects[defectIndex].severity == "Minor" else "alert" }}">
            {{ viewData.defects[defectIndex].severity}}
        </span>
    </td> 
    </tr>
  </tbody>
</table>
 
  <form action="{{ defectIndex }}" method="post"> 
    <div class="govuk-form-group">
      <label class="govuk-label" for="decision">Decision</label>
      <select class="govuk-select" name="decision" id="decision">
        <option value="0">Disregard</option>
        <option value="1">Overruled, marginally wrong</option>
        <option value="2">Obviously wrong</option>
        <option value="3">Significantly wrong</option>
        <option value="4">No defect</option>
        <option value="5">Not testable</option>
        <option value="6">Excessive corrosion/wear/damage missed</option>
        <option value="7">Risk of injury missed</option>
      </select>
    </div>
    <div class="govuk-form-group">
      <label class="govuk-form-label" for="justification">Add comment</label>
      <textarea class="form-control" name="justification" id="justification" rows="3"></textarea>
    </div>
    <div class="govuk-form-group">
      <button type="submit" class="button" href="overview" value="Save">Save</button>
    </div>
    </form>
    <a href="../overview">Back to Compare tests</a>
</div>





{% endblock %}
