{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Re-inspection complete' %}


{% block content %}

<br />
<a href="/prototypes/compare-tests/v6/compare-defects"><img src="/images/reinspection-complete.png" style="width: 960px;" border="0"></a>



{% endblock %}
