.dvsa-tester-comments {
  position: relative;
  border: 1px solid #bfc1c3;  
  margin: -1px 0 30px 0;
  padding: 15px;  
  font-size: 14px;

  @include media (tablet) {
    min-height: 45px;
    padding-right: 100px;
    font-size: 16px;    
  }

  &__content {
    margin: 0;
    word-break: break-word;
  }

  &__actions-list {
    padding: 5px 0;

    @include media (tablet) {
      position: absolute;
      top: 11px;
      right: 15px;
      text-align: right;
    }
  }

  &__action {
    margin-bottom: 5px;

    &--inline {
      display: inline-block;
    }

    &--last {
      margin-bottom: 0;
    }
  }

  &__link {
    &--bolden {
      font-weight: 700;
    }
  }
}