{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}


<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary">Case outcome</span> 
  Disciplinary Action Report (DAR)
  <span><a href="change-outcome" style="font-weight: 400; font-size: 19px; float: right;padding-top: 22px;">change</a></span>
</h1>

<div>
  <h2 class="heading heading--large heading-medium">
    Justification
  </h2>

  <div>Nominated Tester didn't know how to test headlamp aim.</div>
</div>
<div>
  <h2 class="heading heading--large heading-medium">
    Details of AWL
  </h2>
</div>

<table class="key-value-list">
  <tbody>
    <tr>
      <td style="border-top: 0px;" colspan="2"></td>
      <td style="font-weight: bold; border-top: 0px; font-size: 2.25rem; padding-left: 10px; background-color: #dee0e2; width: 315px;">John Morris, MORR6734</td>
      <td style="font-weight: bold; border-top: 0px; font-size: 2.25rem; padding-left: 10px;">Harry Enforsmith, Vehicle Examiner</td>
      <td style="border-top: 0px;"></td>
    </tr>
    <tr>
      <td colspan="2">Test number</td>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">7363 8263 2176 3182</td>
      <td style="font-weight: bold; padding-left: 10px;">0384 7252 2463 9634</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">Test duration</td>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">14 minutes</td>
      <td style="font-weight: bold; padding-left: 10px;">37 minutes</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3">    
        <h2 class="heading heading--large heading-medium">
          Odometer reading
        </h2>
      </td>
      <td></td>
    </tr>
    <tr>
      <th style="font-weight: bold" colspan="2">Significantly wrong</th>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">62 745 miles</td>
      <td style="font-weight: bold; padding-left: 10px;">62 745 kilometers</td>
      <td><a href="">change</a></td>
    </tr>
    <tr>
      <td colspan="3">
        <h2 class="heading heading--large heading-medium">
          Defects
        </h2>
      </td>
    </tr>
    <tr>
      <th style="font-weight: bold" colspan="2">Damage missed</span></th>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">-</td>
      <td style="font-weight: bold; padding-left: 10px;">Daytime running lamp obviously incorrectly positioned Nearside front [4.2.3 (a) (i)]
      <span class="key-value-list__meta" style="margin-bottom: 5px;">Lamps, reflectors and electrical equipment > Daytime running lamps</span>
      <span class="badge--warn">Minor</span></td>
      <td><a href="">change</a></td>
    </tr>
    <tr>
      <th style="font-weight: bold" colspan="2">Damage missed</span></th>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">-</td>
      <td style="font-weight: bold; padding-left: 10px;">Daytime running lamp obviously incorrectly positioned Offside front [4.2.3 (a) (i)] 
      <span class="key-value-list__meta" style="margin-bottom: 5px;">Lamps, reflectors and electrical equipment > Daytime running lamps</span>
      <span class="badge--warn">Minor</span></td>
      <td><a href="">change</a></td>
    </tr>
    <tr>
      <th style="font-weight: bold" colspan="2">Overruled, marginally wrong</span></th>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">-</td>
      <td style="font-weight: bold; padding-left: 10px;">Wheel hub spigot mounting slightly worn Nearside rear
        <span class="key-value-list__meta" style="margin-bottom: 5px;">Road Wheels > Hubs</span>
        <span class="badge">Advisory</span></td>
      <td><a href="">change</a></td>
    </tr>
    <tr>
      <th style="font-weight: bold" colspan="2">Overruled, marginally wrong</span></th>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">-</td>
      <td style="font-weight: bold; padding-left: 10px;">
        Wheel hub spigot mounting slightly worn Offside rear 
        <span class="key-value-list__meta" style="margin-bottom: 5px;">Road Wheels > Hubs</span>
        <span class="badge">Advisory</span>
      </td>
      <td><a href="">change</a></td>
   </tr>
    <tr>
      <th style="font-weight: bold" colspan="2">Match</th>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">Electronic power steering warning lamp indicates a system malfunction [2.6 (a)]<span class="key-value-list__meta"></span><span class="badge--alert">Major</span></td>
      <td style="font-weight: bold; padding-left: 10px;">Electronic power steering warning lamp indicates a system malfunction [2.6 (a)]<span class="key-value-list__meta"></span><span class="badge--alert">Major</span></td>
      <td><a href="">change</a></td>
    </tr>
  <tr>
      <td colspan="4" style="border: 0px solid;">
        <h2 class="heading heading--large heading-medium">
            Brake test results
        </h2>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="border: 0px solid;">
        <h3 class="heading heading--small heading-small">
            Service brake
        </h3>
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold">Match</td>
      <td>Brake efficiency</td>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">56%</td>
      <td style="font-weight: bold; padding-left: 10px;">12%</td>
      <td><a href="">change</a></td>
    </tr>
     <tr>
      <td style="font-weight: bold">Match</td>
      <td>Brake lock</td>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">77%</td>
      <td style="font-weight: bold; padding-left: 10px;">77%</td>
      <td><a href="">change</a></td>
    </tr>
    <tr>
      <td colspan="4">
        <h3 class="heading heading--small heading-small" style="margin-top: 40px;">
            Imbalance
        </h3>
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold">Match</td>
      <td>Axle 1</td>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">56%</td>
      <td style="font-weight: bold; padding-left: 10px;">56%</td>
      <td><a href="">change</a></td>
    </tr>
     <tr>
      <td style="font-weight: bold">Match</td>
      <td>Axle 2</td>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">77%</td>
      <td style="font-weight: bold; padding-left: 10px;">77%</td>
      <td><a href="">change</a></td>
    </tr>
    <tr>
      <td colspan="4" style="border: 0px solid;">
        <h3 class="heading heading--small heading-small" style="margin-top: 40px;">
            Parking brake
        </h3>
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold">Match</td>
      <td>Brake efficiency</td>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">56%</td>
      <td style="font-weight: bold; padding-left: 10px;">12%</td>
      <td><a href="">change</a></td>
    </tr>
     <tr>
      <td style="font-weight: bold">Match</td>
      <td>Brake lock</td>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">77%</td>
      <td style="font-weight: bold; padding-left: 10px;">77%</td>
      <td><a href="">change</a></td>
    </tr>
  </tbody>
</table>

<div style="margin-top: 40px;">
    <a class="button" href="saved">Record case</a>
    <br/>
    <a href="test-comparison-v4-defects-reviewed">Back</a>
</div>


{% endblock %}
