{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}


<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary"></span> Compare defects
</h1>


<table class="key-value-list">
  <tbody>
    <tr>
      <td>Inspector</td>
      <td style="font-weight: bold; background-color: #f8f8f8; padding-left: 10px;">John Morris, MORR6734</td>
      <td style="font-weight: bold; padding-left: 10px;">Harry Enforsmith, Vehicle Examiner</td>
      <td></td>
    </tr>
    <tr>
      <td>Test number</td>
      <td style="font-weight: bold; background-color: #f8f8f8; padding-left: 10px;">7363 8263 2176 3182</td>
      <td style="font-weight: bold; padding-left: 10px;">0384 7252 2463 9634</td>
      <td></td>
    </tr>
    <tr>
      <td>Start of the test</td>
      <td style="font-weight: bold; background-color: #f8f8f8; padding-left: 10px;">10/10/2018, 09:11</td>
      <td style="font-weight: bold; padding-left: 10px;">10/10/2019, 11:36</td>
      <td></td>
    </tr>
    <tr>
      <td>End of the test</td>
      <td style="font-weight: bold; background-color: #f8f8f8; padding-left: 10px;">10/10/2018, 09:25</td>
      <td style="font-weight: bold; padding-left: 10px;">10/10/2019, 12:07</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="4">
        <h2 class="heading heading--large heading-medium">
            Defects
        </h2>
      </td>
    </tr>
  <tr>
      <th>Lamps <span class="badge--info">Difference</span></th>
      <td style="background-color: #f8f8f8; padding-left: 10px;">-</td>
      <td style="padding-left: 10px;">
          Daytime running lamp obviously incorrectly positioned 
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Nearside front</span>
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Lamps, reflectors and electrical equipment > Daytime running lamps</span>
          <span class="badge--warn">Minor</span>
      </td>
      <td><a href="">Mark as significant difference</a></td>
    </tr>
    <tr>
      <th>Lamps <span class="badge--info">Difference</span></th>
      <td style="background-color: #f8f8f8; padding-left: 10px;">-</td>
      <td style="padding-left: 10px;">
          Daytime running lamp obviously incorrectly positioned 
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Offside front</span>
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Lamps, reflectors and electrical equipment > Daytime running lamps</span>
          <span class="badge--warn">Minor</span>
      </td>      
      <td><a href="">Mark as significant difference</a></td>
    </tr>
    <tr>
      <th>Road wheels <span class="badge--info">Difference</span></th>
      <td style="background-color: #f8f8f8; padding-left: 10px;">-</td>
      <td style="padding-left: 10px;">
          Wheel hub spigot mounting slightly worn
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Nearside rear</span>
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Road Wheels > Hubs</span>
          <span class="badge">Advisory</span>
      </td>
      <td><a href="">Mark as significant difference</a></td>
   </tr>
    <tr>
      <th>Road wheels <span class="badge--info">Difference</span></th>
      <td style="background-color: #f8f8f8; padding-left: 10px;">-</td>
      <td style="padding-left: 10px;">
          Wheel hub spigot mounting slightly worn
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Offside rear</span>
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Road Wheels > Hubs</span>
          <span class="badge">Advisory</span>
          </td>
      <td><a href="">Mark as significant difference</a></td>
   </tr>
    <tr>
      <th>Steering <span class="badge">Match</span></th>
      <td style="background-color: #f8f8f8; padding-left: 10px;">Electronic power steering warning lamp indicates a system malfunction <span class="key-value-list__meta"></span><span class="badge--alert">Major</span></td>
      <td style="padding-left: 10px;">
          Electronic power steering warning lamp indicates a system malfunction 
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Steering > Electronic power steering</span>
          <span class="badge--alert">Major</span>
        </td>
      <td></td>
    </tr>
  </tbody>
</table>


<div style="margin-top: 40px;">
  <form action="test-comparison-v4-defects-reviewed">
    <input class="button" type="submit" value="Save and continue">
    <br/>
    <a href="test-comparison-v3">Back</a>
  </form>
</div>




{% endblock %}
