{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        MOT tests
      </a>
    </li>
    <li>
      <a href="/">
        MOT test history
      </a>
    </li>
    <li>
      <a href="/">
        Compare tests
      </a>
    </li>
    <li>
      Compare defects
    </li>
  </ol>
</div>


<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary"></span> Compare defects
</h1>


<table class="key-value-list">
  <tbody>
    <tr>
      <td style="border-top: 0px;"></td>
      <td style="font-weight: bold; border-top: 0px; font-size: 2.25rem; padding-left: 10px; background-color: #dee0e2;">John Morris, MORR6734<a name="john" /></td>
      <td style="font-weight: bold; border-top: 0px; font-size: 2.25rem; padding-left: 10px;">Harry Enforsmith, Vehicle Examiner</td>
    </tr>
    <tr>
      <td>Test number</td>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">7363 8263 2176 3182</td>
      <td style="font-weight: bold; padding-left: 10px;">0384 7252 2463 9634</td>
      <td></td>
    </tr>
    <tr>
      <td>Test duration</td>
      <td style="font-weight: bold; background-color: #dee0e2; padding-left: 10px;">14 minutes</td>
      <td style="font-weight: bold; padding-left: 10px;">37 minutes</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="4">
        <h2 class="heading heading--large heading-medium">
            Defects
            <span style="float: right; font-size: 19px;"><a href="compare-defects-differences#john" style="font-weight: 400;">show only differences</a></span>
        </h2>
      </td>
    </tr>
    <tr>
      <th>Steering <span class="badge">Match</span></th>
      <td style="background-color: #dee0e2; padding-left: 10px;">
        Electronic power steering warning lamp indicates a system malfunction <span class="key-value-list__meta"></span>
        <span class="key-value-list__meta" style="margin-bottom: 5px;">Steering > Electronic power steering</span>
        <span class="badge--alert">Major</span></td>
      <td style="padding-left: 10px;">
          Electronic power steering warning lamp indicates a system malfunction 
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Steering > Electronic power steering</span>
          <span class="badge--alert">Major</span>
        </td>
      <td></td>
    </tr>
    <tr>
      <th style="border-bottom: 0px solid;">Lamps <span class="badge--info">Difference</span></th>
      <td style="background-color: #dee0e2; padding-left: 10px; border-bottom: 0px solid;">-</td>
      <td style="padding-left: 10px; border-bottom: 0px solid;">
          Daytime running lamp obviously incorrectly positioned Nearside front
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Lamps, reflectors and electrical equipment > Daytime running lamps</span>
          <span class="badge--warn">Minor</span>
      </td>
      <td style="border-bottom: 0px solid;"></td>
    </tr>
    <tr>
        <td style="border-top: 0px solid;"></td>
        <td style="border-top: 0px solid;"></td>
        <td style="border-top: 0px solid;" colspan="2">
          <select class="form-control" id="select-box" style="width:200px; margin-bottom:20px;">
              <option value="0">choose action</option>
              <option value="1">Disregard</option>
              <option value="2">Overruled, marginally wrong</option>
              <option value="3">Obviously wrong</option>
              <option value="4">Significantly wrong</option>
              <option value="5">No defect</option>
              <option value="7">Not testable</option>
              <option value="8">Exs. corr/wear/damage missed</option>
              <option value="9">Risk of injury missed</option>
          </select>
          <label class="form-label" for="justification">Justification</label>
          <textarea class="form-control" name="justification" id="justification" rows="3" style="width:480px; margin-bottom: 20px;"></textarea>
          <a class="button" href="compare-defects-marked" value="Save">Save</a><br/>
          <a href="compare-defects#john">Back</a>
        </td>
    </tr>
    <tr>
      <th>Lamps <span class="badge--info">Difference</span></th>
      <td style="background-color: #dee0e2; padding-left: 10px;">-</td>
      <td style="padding-left: 10px;">
          Daytime running lamp obviously incorrectly positioned Offside front
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Lamps, reflectors and electrical equipment > Daytime running lamps</span>
          <span class="badge--warn">Minor</span>
      </td>      
      <td><a href="">Mark as significant difference</a></td>
    </tr>
    <tr>
      <th>Road wheels <span class="badge--info">Difference</span></th>
      <td style="background-color: #dee0e2; padding-left: 10px;">-</td>
      <td style="padding-left: 10px;">
          Wheel hub spigot mounting slightly worn Nearside rear
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Road Wheels > Hubs</span>
          <span class="badge">Advisory</span>
      </td>
      <td><a href="">Mark as significant difference</a></td>
   </tr>
    <tr>
      <th>Road wheels <span class="badge--info">Difference</span></th>
      <td style="background-color: #dee0e2; padding-left: 10px;">-</td>
      <td style="padding-left: 10px;">
          Wheel hub spigot mounting slightly worn Offside rear
          <span class="key-value-list__meta" style="margin-bottom: 5px;">Road Wheels > Hubs</span>
          <span class="badge">Advisory</span>
          </td>
      <td><a href="">Mark as significant difference</a></td>
   </tr>

  </tbody>
</table>


<div style="margin-top: 40px;">
    <a class="button" href="test-comparison-v4-defects-reviewed">Save and continue</a>
    <br/>
    <a href="test-comparison-v4">Back</a>
</div>




{% endblock %}
