{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        MOT tests
      </a>
    </li>
    <li>
      <a href="/">
        MOT test history
      </a>
    </li>
    <li>
      <a href="/">
        Compare tests
      </a>
    </li>
    <li>
      Compare odometer readings
    </li>
  </ol>
</div>

<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary"></span> Compare odometer readings of Toyota Corolla, FI18 JIU
</h1>


<table class="key-value-list">
  <tbody>
    <tr>
      <td style="border-top: 0px;"></td>
      <td style="font-weight: bold; border-top: 0px; font-size: 2.25rem; background-color: #dee0e2; padding-left: 10px;">John Morris, MORR6734</td>
      <td style="font-weight: bold; border-top: 0px; font-size: 2.25rem; padding-left: 10px;">Harry Enforsmith, Vehicle Examiner</td>
    </tr>
    <tr>
      <td>odometer reading</td>
      <td style="background-color: #dee0e2; padding-left: 10px;">62 745 miles</td>
      <td style="padding-left: 10px;">62 745 kilometers</td>
      <td><a href="assess-difference-odometer">Assess difference</a></td>
    </tr>
  </tbody>
</table>


<div style="margin-top: 40px;">
  <form action="test-comparison-v4-odometer-reviewed">
    <input class="button" type="submit" value="Save and continue">
    <br/>
    <a href="test-comparison-v4">Back</a>
  </form>
</div>




{% endblock %}
