{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test history' %}

{% block content %}

<a href="/prototypes/compare-tests/v2/test-history"><img src="/images/test-summary.png" style="width: 1140px;" border="0"></a>



{% endblock %}
