{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}


<h1 class="heading-xlarge heading heading--page-heading">
  <span class="heading-secondary"></span> Compare tests
</h1>


<table class="key-value-list">
  <tbody>
    <tr>
      <td>Inspector</td>
      <td style="font-weight: bold;">John Morris, MORR6734</td>
      <td style="font-weight: bold;">Harry Enforsmith, Vehicle Examiner</td>
    </tr>
    <tr>
      <td>Test number</td>
      <td style="font-weight: bold;">7363 8263 2176 3182</td>
      <td style="font-weight: bold;">0384 7252 2463 9634</td>
    </tr>
    <tr>
      <td>Start of the test</td>
      <td style="font-weight: bold;">10/10/2018, 09:11</td>
      <td style="font-weight: bold;">10/10/2019, 11:36</td>
    </tr>
    <tr>
      <td>End of the test</td>
      <td style="font-weight: bold;">10/10/2018, 09:25</td>
      <td style="font-weight: bold;">10/10/2019, 12:07</td>
    </tr></tbody>
</table>


<h2 class="heading heading--large heading-medium">
    Test results
</h2>
<table class="key-value-list">
  <tbody>
    <tr>
      <th>Odometer reading</th>
      <td><span class="badge--info">Difference</span> ✔️ reviewed</td>
      <td><a href="compare-odometer">View details</a></td>
    </tr>
    <tr>
      <th>Defects</th>
      <td><span class="badge--info">Difference</span> ✔️ reviewed</td>
       <td><a href="compare-defects">View details</a></td>
    </tr>
    <tr>
      <th>Brakes</th>
      <td><span class="badge">Match</span></td>
      <td><a href="compare-brakes">View details</a></td>
    </tr>
  </tbody>
</table>

<form action="check-answers">
<div style="margin-top: 20px;">
    <input class="button" type="submit" value="Save and continue">
    <br/>
    <a>Back</a>
</div>
</form>




{% endblock %}
