{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Site review index' %}


{% block content %}


  {{ components.pageHeading('Prototypes', 'Site review') }}


<div class="text u-clearfix">
  <p>
 Content (wording) of the prototypes is work in progress and will change this week (6-10/08)
  </p>
  </div>


<div class="grid-row">

  <div class="column-one-half">
      
    <ul class="list list-bullet">
      
      <li>
        <a href="/prototypes/site-review/v5/VE-view">Vehicle Examiner (VE) flow</a> - last update: 06/08/2018
      </li>
      
      <li>
        <a href="/prototypes/site-review/v5/AE-view">Authorised Examiner (AE) flow</a> - last update: 06/08/2018
      </li>
      
    </ul>
  
<h2 class="heading heading--medium heading-medium">Previous versions</h2>

    <ul class="list list-bullet">
        <li>
          <a href="/prototypes/site-review/VE-view">Vehicle Examiner (VE) flow</a> - last update: 03/08/2018
        </li>  
        <li>
          <a href="/prototypes/site-review/AE-view/">Authorised Examiner (AE) flow</a> - last update: 02/08/2018
        </li>
      </ul>



  </div>

  
  </div>

{% endblock %}