{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Site review index' %}


{% block content %}


{{ components.pageHeading('Prototypes', 'Site review') }}

<div class="text u-clearfix">
  <p>
     Content (wording) of the prototypes in AE section is work in progress and might change
  </p>
</div>

<div class="grid-row">
  <div class="column-one-half">
    <ul class="list list-bullet">
      <li>
        Vehicle Examiner (VE)
        <ul class="list list-bullet">
          <li><a href="/prototypes/site-review/v5/VE-view-VTS-overview">start a site review</a> - update: 08/08/2018</li>
          <li><a href="/prototypes/site-review/v5-resume/">resume a site review</a> - update: 09/08/2018</li>
        </ul>
      </li>
    </ul>
    
    <ul class="list list-bullet">
       <li>
        Authorised Examiner (AE)
        <ul>
          <li><a href="/prototypes/site-review/v5/AE-view-VTS-overview">Site review satisfactory</a> - update 14/08/2018</li>
          <li><a href="/prototypes/site-review/v5/AE-view-view-details-improve">Site review improve</a> - update 15/08/2018</li>
          <li><a href="/prototypes/site-review/v5/AE-view-view-details-unsatisfactory">Site review unsatisfactory</a> - update: 15/08/2018</li>
          <li><a href="/prototypes/site-review/v5/AE-view-service-reports">Service reports</a> - update 16/08/2018</li>
     </li>
    </ul>

    <h2 class="heading heading--medium heading-medium">
      Previous versions
    </h2>

    <ul class="list list-bullet">
      <li>
        <a href="/prototypes/site-review/VE-view">Vehicle Examiner (VE) flow</a> - update: 03/08/2018
      </li>

      <li>
        <a href="/prototypes/site-review/AE-view/">Authorised Examiner (AE) flow</a> - update: 02/08/2018
      </li>
    </ul>
  </div>
</div>

{% endblock %}