{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Premises' %}

{% block content %}

<div class="form-group">
          <h4 class="heading-medium">Did you do a reinspection?</h4>
          <div class="form-group" style="margin-top: 5px;">
            <fieldset>
                <div class="multiple-choice" data-target="VRM">
                    <input id="r-radio-1" name="radio-inline-group1" type="radio" value="Yes" aria-controls="VRM" aria-expanded="false"> <label for="r-radio-1">Yes</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="VRM" aria-hidden="true">
                    <label class="form-label" for="VRM">Registration mark of the reinspected vehicle</label>
                    <input class="form-control" name="VRM" type="text" id="VRM">
                </div>
                <div class="multiple-choice" data-target="reinspection-blocked">
                <input id="r-radio-2" name="radio-inline-group1" type="radio" value="No" aria-controls="reinspection-blocked" aria-expanded="false"> <label for="r-radio-2">No</label>
                </div>
                <div class="form-group" style="margin-top: 5px; margin-bottom: 0px;">
                    <div class="js-hidden" id="reinspection-blocked" aria-hidden="true">

                        <fieldset>
                          <h4 class="heading-medium">Was the reinspection blocked?</h4>
                            <div class="multiple-choice">
                                <input id="No" name="radio-inline-group2" type="radio" value="No"> <label for="No">No</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="Yes" name="radio-inline-group2" type="radio" value="Yes"> <label for="Yes">Yes</label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </fieldset>
          </div>
        </div>

        <fieldset>
          <div class="form-group">
            <label class="form-label" for="ae-representatives-user-id">AE representative's User ID</label> <input class="form-control form-control-1-8" id="ae-representatives-user-id" maxlength="50" name="ae-representatives-user-id" type="text" value="">
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="form-label" for="ae-representatives-full-name">AE representative's full name (if AE user ID not entered)</label> <input class="form-control" id="ae-representatives-full-name" maxlength="100" name="ae-representatives-full-name" type="text" value="">
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="form-label" for="ae-representatives-role">AE representative's role</label> <input class="form-control" id="ae-representatives-role" maxlength="100" name="ae-representatives-role" type="text" value="">
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="form-label" for="testers-user-id">Tester's User ID</label> <input class="form-control form-control-1-8" id="testers-user-id" maxlength="50" name="testers-user-id" type="text" value="">
          </div>
        </fieldset>
        <div class="form-group">
          <fieldset>
            <legend class="form-label">Date of assessment <span class="form-hint">For example, 31 3 1980</span></legend>
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="" for="date1-day" id="form-group-dayDay">Day <span class="validation-message"></span></label> <input class="form-control" id="date1-day" maxlength="2" name="dobDay" required="" title="" type="text" value="">
              </div>
              <div class="form-group form-group-month">
                <label class="" for="date1-month" id="form-group-monthMonth">Month <span class="validation-message"></span></label> <input class="form-control" id="date1-month" maxlength="2" name="dobMonth" required="" title="" type="text" value="">
              </div>
              <div class="form-group form-group-year">
                <label class="" for="date1-year" id="form-group-yearYear">Year <span class="validation-message"></span></label> <input class="form-control" id="date1-year" maxlength="4" name="dobYear" required="" title="" type="text" value="">
              </div>
            </div>
          </fieldset>
        </div>


  <input class="button" type="submit" value="Continue">



</form>
{% endblock %}
