// starter class for <li>

%li {
  @include box-sizing(border-box);
  position: relative;
  display:inline-block;
  float:left;
  vertical-align: top;
  padding:10px 8px 10px 0;
}

.resources {
  // wrapper
}

.resource {
  margin-bottom: 10px;
  border-bottom: 1px solid $grey-2;

  &__item {
    position: relative;
    text-align: left;
  }

  &__main {
    @extend %li;
    width: 100%;
    max-width: auto;

    @include media(desktop) {
      width: 320px;
    }
  }

  &__rating {
    @extend %li;
    min-width: 148px;
    display: none;
  }

  &__info {
    @extend %li;
    padding-right: 20px;

    @include media(desktop) {
      width: 280px;
    }
  }

  &__duration {
    @extend %li;
  }

  &__status {
    @extend %li;
    position: relative;
    right:auto;

    min-width: 100px;
    padding-right: 0;

    @include media(desktop) {
      position: absolute;
      right: 0;
      text-align: right;
    }
  }

  &__action {
    position: relative;
    display: block;
    margin-top: 10px;

    a {
      @include core-16;
      display: inline-block;
    }

    a + a {
      margin-left: 8px;
    }
  }

  &__property {
    @extend %li;

    &-item {
      display: block;

    }

  }

  .meta {
    margin-top: 4px;
  }

  &__long {
    @extend %li;

    @include media(desktop) {
      width: 60%;
    }
  }

  &--feedback {
    background-color: $grey-4;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__leave {
    display: block;
    padding: 0 0 10px 0;
    clear: both;

    @include media(desktop) {
      float: right;
      clear: none;
      width: 220px;
      text-align: right;
      padding:10px 8px 10px 0;
    }
  }

  &__cancel-feedback {
    position: absolute;
    right:-31px;
    top: 4px;
    display: inline-block;
    margin-left:20px;
    width: 25px;
    height: 25px;
    border: 1px solid $grey-2;
    background-color: $grey-3;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-position: 8px 8px;
    border-radius: 20px;
    overflow: hidden;
    text-indent: 100px;

    &:hover {
      background-color: $white;
    }
  }
}

.resources {
  .resource:last-of-type {
    border-bottom: 0;
  }

  &--modules {

    .resource__main {

        @include media(desktop) {
          width: 400px;
        }
    }

    .resource__action {

      a {
        @include core-19;
      }
    }
  }
}
