{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Your area of work - Learning Platform for Government' %}

{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v10' %}
{% set loggedOut = 'true' %}
{% set signOutPath = '/prototypes/learner/v10/' %}
{% set homePath = '/prototypes/learner/v10/' %}

{% set professionSelectOptions = professionSelectOptions if professionSelectOptions %}
{% set registrationJob2Error = registrationJob2Error if registrationJob2Error %}
{% set registrationProfessionError = registrationProfessionError if registrationProfessionError %}
{% set profession = profession if profession %}

{% set editMode = editMode if editMode %}
{% if editMode %}
    {% set buttonText = 'Save changes' %}
{% else %}
    {% set buttonText = 'Continue' %}
{% endif %}

{% block content %}

    {{ components.pageHeading('Other areas of interest', 'Create an account') }}

    {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}

        <p class="lede">Select any other areas of interest. This will help us tailor suggestions for you.</p>

    {% call components.formElement(name='registerProfession', method='POST', action="#") %}

        <fieldset class="u-space-b30 {% if registrationJob2Error %} form-group-error {% endif %}">

            {% for item in professionSelectOptions %}

                {% if item.value in profession %}
                    {% set checked = true %}
                {% else %}
                    {% set checked = '' %}
                {% endif %}
                {{ components.checkbox(text=item.text, value=item.value, id='profession'+item.value,name='profession', compareTo=item.value, isChecked=checked) }}
            {% endfor %}

        </fieldset>

        {% call components.formGroup() %}

            {{ components.button(text=buttonText, group=true)}}

        {%- endcall %}

        <p>
            <a href="/prototypes/learner/v10">Cancel</a>
        </p>

    {%- endcall %}

    {%- endcall %}

    {%- endcall %}

{% endblock %}

