{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'MOT history - vehicle results' %}

{% block content %}



<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="form-title heading-large">
            Download previous MOT test certificates associated to this vehicle
        </h1>
        <h2 class="heading-medium">
            Most recent certificate
        </h2>
        <div class="notice">
            <i class="icon icon-file-download"><span class="visually-hidden">Download 10th June 2018 annual test certificate</span></i>
            <p><a href="/misc/VT30-fail-certificate.pdf" target="_blank"><strong>FAIL certificate - 10th June 2018</strong> (PDF, 50kb)</a></p>
        </div>

        <div style="margin-top: 50px">
            <a href="history-results-audi">Return to MOT test history</a>
        </div>
    </div>
</div>

</main>



{% endblock %}