{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'MOT history - vehicle results' %}

{% block content %}



<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">




      <form class="form">
        <a class="link-back" href="index">Back</a>
        <h1 class="form-title heading-large">
          What is the vehicle's registration number?
        </h1>

        <div class="form-group">
          <label class="form-label-bold" for="full-name">Registration number (number plate)</label>
          <span class="form-hint">For example, CU57ABC</span>
          <input type="text" class="form-control" id="full-name" style="text-transform: uppercase;">
        </div>



        <div class="form-group">
          <a class="button" href="history-results-cvs-v3" role="button">Continue</a>
        </div>

        <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                <span class="summary" id="looking-for-trailer-section">Looking for HGV trailer history?</span>
            </summary>
            <div class="panel panel-indent" id="details-content-0" aria-hidden="true" style="display: none;">
                <p>Enter the trailer identification number to search for HGV trailer history.</p>
                <p>For example, C236718 or A787121.</p>
            </div>
        </details>


      </form>






    </div>
  </div>
</main>

{% endblock %}