.c-action-list {
  &__item {
    margin-bottom: 10px;
  }
}

.c-action-list__link.c-action-list__link {
  color: $white;
  
  &:visited {
    color: $white;
  }
  
  &:focus {
    color: $black;
  }
}