.theme {
  color: #343a3f;
  &__high-contrast-yellow {
    color: #FCED20;
    background-color: #000;   
  }

  &__low-contrast-grey {
    background-color: #cacfdd;
  }

  &__sepia {
    background-color: #f4eed9;
  }

  &__medium-contrast-yellow {
    background-color: #FCED20;
  }

  &__cookie-success-message-grey {
    background-color: #f3f2f1;
  }
}