// Modules wraped with 'mts-body-wrapper'
@include mtsBodyWrapper {
  // Misc specific to MTS
  @import 'misc/misc';

  @import 'layout/layout';

  @import 'action-panel/action-panel';
  @import 'banner/banner';
  @import 'big-data/big-data';
  @import 'block-label/block-label';
  @import 'breadcrumbs/breadcrumbs';
  @import 'buttons/buttons';

  @import 'c-action-list/c-action-list';
  @import 'c-home-block/c-home-block';
  @import 'c-home-hero/c-home-hero';
  @import 'c-mailbox-status/c-mailbox-status';
  @import 'c-notification/c-notification';
  @import 'c-slots/c-slots';
  @import 'c-transaction-details/c-transaction-details';
  @import 'c-vts-count/c-vts-count';

  @import 'content-header/content-header';
  @import 'content-navigation/content-navigation';
  @import 'data-list/data-list';
  @import 'data-tables/data-tables';
  @import 'entity-header/entity-header';
  @import 'entity-status/entity-status';
  @import 'eu-defect/eu-defect';
  @import 'filter/filter';
  @import 'form/form';
  @import 'icons/icons';
  @import 'mail-box-status/mail-box-status';
  @import 'messages/messages';
  @import 'messages/markdown';
  @import 'message-notification/message-notification';
  @import 'responsive-toggle/responsive-toggle';
  @import 'responsive-table/responsive-table';
  @import 'sign-in/sign-in';
  @import 'slot-hero/slot-hero';
  @import 'summary-heading/summary-heading';
  @import 'table/table';
  @import 'table-row-cta/table-row-cta';
  @import 'table-summary/table-summary';
  @import 'tqi-data/tqi-data';
  @import 'transaction-header/transaction-header';
  @import 'twitter-typeahead/twitter-typeahead';
  @import 'typography/typography';
  @import 'utils/utils';
  @import 'validation-summary/validation-summary';
  @import 'key-value-list/key-value-list';
  @import 'table-default/table-default';
  @import 'table-reference/table-reference';
  @import 'panel-indent/panel-indent';
  @import 'percentage-bar/percentage-bar';
  @import 'search-result-similarity/search-result-similarity';
}

// Old modules not wraped with 'mts-body-wrapper'
@import 'task-list/task-list';
@import 'badge/badge';  
@import 'browse/browse';
@import 'data-paging/data-paging';
@import 'defect/defect';
@import 'defect-status/defect-status';
@import 'defect-summary/defect-summary';
@import 'footer/footer';
@import 'header-user/header-user';
@import 'hero/hero';
@import 'layer-table/layer-table';
@import 'layout-filter/layout-filter';
@import 'layout-filter-data/layout-filter-data';
@import 'pivot-panel/pivot-panel';
@import 'present-data/present-data';
@import 'related/related';
@import 'result-table/result-table';
@import 'search-group/search-group';
@import 'tab-lists/tab-lists';
@import 'two-fa/two-fa';
@import 'criteria/criteria';

// Newer BEM-style modules
@import 'matched-records/matched-records';
@import 'notification/notification';
@import 'o-bordered-list/o-bordered-list';
@import 'o-wrapper/o-wrapper';
@import 'organisation-logo/organisation-logo';
@import 'pager/pager';
@import 'search-bar/search-bar';
@import 'vehicle-info/vehicle-info';

// Global styles not limited to .mts-body-wrapper scope
a:visited {
  color: $govuk-blue;
}
