{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify us of changes to equipment - VTS079774' %}
 
{% block content %}

  {% call components.form(action='/prototypes/vts-changes/type', method='POST') %} 

   <a href="/prototypes/vts-changes/start" class="link-back">Back</a>

  <h1 class="heading-large ">
      <span class="heading-secondary">Tell about changes to fixed equipment</span>
      <label for="select-box">
        What type of equipment are you changing?
      </label>
  </h1>
 
  <div class="form-group {{ 'form-group-error' if viewData.questions.type.errors[0]['error'] }}">  
    
    {% if viewData.questions.type.errors[0]['error'] %}
      <span class="error-message">{{ viewData.questions.type.errors[0]['error'] }}</span>
    {% endif %} 
  
    <fieldset class="u-margin-top-15">
      <div class="multiple-choice">
        <input id="equipment-type-1" name="headlamp" type="checkbox" {{ 'checked' if viewData.questions.type.answer['headlamp'] }}>
        <label for="equipment-type-1">Headlamp beam tester</label>
      </div>
      <div class="multiple-choice">
        <input id="equipment-type-2" name="plate" type="checkbox" {{ 'checked' if viewData.questions.type.answer['plate'] }}>
        <label for="equipment-type-2">Plate brake tester</label>
      </div>
      <div class="multiple-choice">
        <input id="equipment-type-3" name="roller" type="checkbox" {{ 'checked' if viewData.questions.type.answer['roller'] }}>
        <label for="equipment-type-3">Roller brake tester</label>
      </div>
      <div class="multiple-choice">
        <input id="equipment-type-4" name="wheel" type="checkbox" {{ 'checked' if viewData.questions.type.answer['wheel'] }}>
        <label for="equipment-type-4">Wheel play detector</label>
      </div>
      <div class="multiple-choice">
        <input id="equipment-type-5" name="ramp" type="checkbox" {{ 'checked' if viewData.questions.type.answer['ramp'] }}>
        <label for="equipment-type-5">Ramp, hoist or lift</label>
      </div>
    </fieldset>
  </div>


  <div class="form-group u-margin-bottom-30"> 
    <details>
      <summary><span class="summary">Help with type of equipment</span></summary>
      <div class="panel panel-border-narrow">
        <p>Fixed and mobile testing equipment must be on the list of DVSA approved testing equipment <a href="https://www.gov.uk/government/publications/mot-centre-approved-testing-equipment">DVSA approved testing equipment.</a></p>
        <p>You do not need to tell DVSA about changes to mobile testing equipment:</p>
        <ul class="list list-bullet">
          <li>diesel smoke meters</li>
          <li>decelerometers</li>
          <li>exhaust gas analysers</li>
          <li>pedal application devices</li>
          <li>tyre tread depth gauges</li>
          <li>13-pin Euro trailer socket wiring testers</li>
        </ul>
      </div>
    </details>

  </div>
 

  <div class="u-margin-bottom-15">
    <input type="submit" value="Continue" class="button"/> 
  </div> 
  
  {% endcall %}
 
  {% endblock %}

