{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Set up account security' %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    <header class="content-header" style="margin-top: 35px;" >
      <span class="govuk-caption-xl">Set up account security</span>
      <h1 class="govuk-heading-xl">Your mobile number</h1>
    </header>

      <div class="text u-clearfix">
        {{ components.paragraph(text='We will send you the code you need to set up account security. Account security will be linked to your number. Landlines will not be accepted.', lead=true) }}


      <form action="/docs/examples/pass-data/vehicle-type" method="post" class="form">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label" for="width-10">
              Mobile phone number
            </label>
          </h1>
          <input class="govuk-input govuk-input--width-20" id="registration-number" name="phone-number" value="{{ data['phone-number'] }}" type="text" for="width-10">
        </div>

      </form>

      <div class="u-margin-top-10 u-margin-bottom-30">
        {{ components.button(text='Send code', url='/prototypes/authentication/setup-mfa-trade/existing-users/text-code') }}
      </div>

<details>
                        <summary style="margin-bottom: 15px;"><span class="summary">Why do you need my mobile phone number?</span></summary>
                        <div class="panel panel-border-narrow">
                            <p>You need to have a unique mobile phone number in order to protect the security of your account. We won’t contact you on this number without your permission.</p>
                        </div>
                    </details>

     
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}