{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}
 

{% block content %}

  <div class="u-margin-bottom-15">
    <a href="/prototypes/vts-changes/approved" class="link-back">Back</a>
  </div>


  {% call components.form(action='/prototypes/vts-changes/layout', method='POST') %} 
  <h1 class="heading-large ">
        <span class="heading-secondary">Tell about changes to fixed equipment</span>
        <label for="radio-inline-group">
          Will the building need to be altered for the new equipment?
        </label>
  </h1> 

  <div class="form-group {{ 'form-group-error' if viewData.questions.layout.errors[0]['error'] }}">
    {% if viewData.questions.layout.errors[0]['error'] %}
      <span class="error-message">{{ viewData.questions.layout.errors[0]['error'] }}</span>
    {% endif %}
  
    <fieldset class="inline u-margin-top-15">
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="layout" value="yes" {{ 'checked' if viewData.questions.layout.answer['layout'] == 'yes' }}>
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="layout" value="no" {{ 'checked' if viewData.questions.layout.answer['layout'] == 'no' }}>
        <label for="radio-inline-2">No</label>
      </div>
    </fieldset>
  </div>
 
  <div class="form-group u-margin-bottom-15">
    <details>
      <summary><span class="summary">Help with building alterations</span></summary>
      <div class="panel panel-border-narrow">
        <p>You must not make building alterations that:</p>
        <ul class="list list-bullet">
          <li>reduce clearances or dimensions, including those for access, below the limits specified in sections D2-D4 in the <a href="https://www.gov.uk/government/publications/mot-testing-guide">MOT Testing Guide</a></li>
          <li>reduce other features approved only as 'acceptable variations'</li>
        </ul>
      </div>
    </details>
  </div>
  
 

  <div class="u-margin-bottom-15">
    <input type="submit" value="Continue" class="button"/> 
  </div>

  {% endcall %}

  {% endblock %}
   
