{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Learning record - Civil Service Learning Platform' %}
{% set blackBarTitle = 'Civil Service Learning' %} {% set learnerPrototypeVersion = 'v2' %}
{% set signOutPath = '/prototypes/learner/v2/' %}
{% set homePath = '/prototypes/learner/v2/home' %}
{% set hideHomeStars = hideHomeStars if hideHomeStars %}

{% block content %}

    {{ components.pageHeading('Learning record') }}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <p>You can leave feedback on 2 items.</p>

            <div class="resource resource--feedback">
                <ul class="resource__item u-clearfix">
                    <li class="resource__long">
                        <a class="" href="/prototypes/learner/v2/resource?resourceID=10">Andrew Shatte – Resilience</a>
                    </li>
                    <li class="resource__info" style="width:320px;">
                        Did you find this video useful? <span class="thumb-ratings"><a href="#" class="thumb-rating thumb-rating--up">Yes</a><a href="#" class="thumb-rating thumb-rating--down">No</a></span>
                    </li>
                </ul>
            </div>

            <div class="resource resource--feedback">
                <ul class="resource__item u-clearfix">
                    <li class="resource__long">
                        <a  href="#">Commercial Cycle 1: setting the direction</a>
                    </li>
                    <li class="resource__info">
                        <a href="/prototypes/learner/v2/feedback">Leave feedback</a>
                    </li>
                </ul>
            </div>


        {%- endcall %}

    {%- endcall %}

    {#{% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Required learning', tag='h2', size='medium', extraClass='heading--red-top') }}

            <div class="resource">
                <ul class="resource__item u-clearfix">
                    <li class="resource__main">
                        <a class="resource__title" href="#">Digital awareness: digital by default</a>
                    </li>
                    <li class="resource__info">
                        <span>Completed on 11 Dec 2017</span>
                    </li>
                    <li class="resource__duration">
                        <span>1 hour</span>
                    </li>

                </ul>
            </div>

            <div class="resource resource--required">
                <ul class="resource__item u-clearfix">
                    <li class="resource__main">
                        <a class="resource__title" href="#">Unconcious bias</a>
                    </li>
                    <li class="resource__info">
                        <span>Completed by 2 Sep 2017</span>
                    </li>
                    <li class="resource__duration">
                        <span>2 hour</span>
                    </li>
                </ul>
            </div>


        {%- endcall %}

    {%- endcall %}#}

    {% call components.gridRow() %}

        {% call components.columnFull() %}
            {{ components.heading(text='Required learning', tag='h2', size='medium', extraClass='heading--red-top') }}

            <table class="u-space-b30">
                <thead>
                    <tr>
                        <th class="table--fix-first">Course</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>Completion date</th>
                    </tr>
               </thead>
                <tbody>
                    <tr>
                        <td><a href="#">Responsible for information</a></td>
                        <td>Online</td>
                        <td>1 hr</td>
                        <td>12 Aug 2017</td>
                    </tr>
                    <tr>
                        <td><a href="#">Unconscious bias</a></td>
                        <td>Online</td>
                        <td>1 hr 30 min</td>
                        <td>10 Jan 2017</td>
                    </tr>
                </tbody>
           </table>

           {# <p>You have completed 2 out of 3 required learning courses.</p>#}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}
            {{ components.heading(text='Other learning', tag='h2', size='medium', extraClass='heading--red-top') }}

            <table class="u-space-b30">
                <thead>
                <tr>
                    <th class="table--fix-first">Course</th>
                    <th>Type</th>
                    <th>Duration</th>
                    <th>Completion date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">What the civil service of tomorrow will look like</a></td>
                    <td>Blog</td>
                    <td>-</td>
                    <td>3 Aug 2017</td>
                </tr>
                <tr>
                    <td><a href="#">Growth Mindset</a></td>
                    <td>Video</td>
                    <td>15 min</td>
                    <td>10 Jul 2017</td>
                </tr>
                <tr>
                    <td><a href="#">Capability in the Civil Service</a></td>
                    <td>Document</td>
                    <td>10 min</td>
                    <td>12 Jan 2017</td>
                </tr>
                <tr>
                    <td><a href="#">Commercial awareness</a></td>
                    <td>Online</td>
                    <td>2 hrs 30 min</td>
                    <td>21 Mar 2017</td>
                </tr>
                </tbody>
            </table>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
