{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Testing advice for this vehicle' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT testing', url: '/prototypes/vsi-during-test' },
  { text: 'Testing advice for this vehicle'}
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    {{ components.dvsaBanner(type='confirmation',  secondaryText='MOT test started for <strong>Peugeot 3008 SUV</strong> on <strong>14th September 2018, 9:30am</strong>') }}

    <div class="grid-row">
      <div class="column-one-half vehicle-info-banner__details">
          <p class="u-margin-0"><strong>VIN</strong> <span>GAULAGAAAAA11951</span></p> 
      </div> 
      <div class="column-one-half vehicle-info-banner__details"> 
        <p class="u-margin-0"><strong>Registration number</strong> TH10 CZR</p>
      </div>
    </div>

    {{ components.pageHeading(heading='MOT Inspection') }}

    <h2 class="heading heading--medium heading-medium">Testing advice</h2>

    <a href="/prototypes/vsi-during-test/advice">View testing advice</a>

    <h2 class="heading heading--medium heading-medium">Odometer</h2>

    <table class="task-list u-margin-top-5">
      <tbody>
        <tr>
          <th class="task-list__cell">
            <a href="/prototypes/vsi-during-test/odometer">{{ "Edit reading" if viewData.odometer else "Add reading" }}</a>
          </th>
          <td class="task-list__cell">
            <span class="u-float-right">
              {% if viewData.odometer %}
                <strong>{{ viewData.odometer }}</strong>
              {% else %}
                Not recorded
              {% endif %}
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="heading heading--medium heading-medium">Vehicle inspection</h2>

    <div class="search-bar__control-group u-margin-bottom-30">
      <input class="search-bar__search-input" type="search" placeholder="Search for a defect" title="Search" id="search-main" name="search">
      <input class="search-bar__search-submit" type="submit" value="Search">
    </div>

    <table class="task-list u-margin-top-5">
      <tbody>
        <tr>
          <th class="task-list__cell">
            <a href="/prototypes/vsi-during-test/interior-checks/interior-checks-1">Interior Checks</a>
          </th>
          <td class="task-list__cell">
            <span class="task-list__badge">Advice</span>
            <span class="task-list__badge task-list__badge--alert u-float-right">FAILURE</span>
          </td>
        </tr>
        <tr>
          <th class="task-list__cell">
            <a href="/prototypes/vsi-during-test/front-exterior-checks/front-exterior-checks-1">Front Exterior Checks</a>
          </th>
          <td class="task-list__cell">
            <span class="task-list__badge task-list__badge--warn u-float-right">Minor</span>
          </td>
        </tr>
        <tr>
          <th class="task-list__cell">
            <a href="#">OS Exterior Checks</a>
          </th>
          <td class="task-list__cell"></td>
        </tr>
        <tr>
          <th class="task-list__cell">
            <a href="#">Rear Exterior Checks</a>
          </th>
          <td class="task-list__cell"></td>
        </tr>
        <tr>
          <th class="task-list__cell">
            <a href="#">NS Exterior Checks</a>
          </th>
          <td class="task-list__cell"></td>
        </tr>
        <tr>
          <th class="task-list__cell">
            <a href="#">Under Bonnet checks</a>
          </th>
          <td class="task-list__cell">
            <span class="task-list__badge">Advice</span>
          </td>
        </tr>
        <tr>
          <th class="task-list__cell">
            <a href="#">Front Under Vehicle checks</a>
          </th>
          <td class="task-list__cell"></td>
        </tr>
        <tr>
          <th class="task-list__cell">
            <a href="#">Rear Under Vehicle checks</a>
          </th>
          <td class="task-list__cell"></td>
        </tr>
        <tr>
          <th class="task-list__cell">
            <a href="#">Emissions checks</a>
          </th>
          <td class="task-list__cell"></td>
        </tr>
      </tbody>
    </table>

    <h2 class="heading heading--medium heading-medium">Brake test</h2>

    <table class="task-list u-margin-top-5 u-margin-bottom-45">
      <tbody>
        <tr>
          <th class="task-list__cell">
            <a href="../brake-test/brake-test-config">Edit reading</a>
          </th>
          <td class="task-list__cell">
            <span class="task-list__badge">Advice</span> 
            <span class="task-list__badge task-list__badge--alert u-float-right">FAILURE</span>
          </td>
        </tr>
      </tbody>
    </table>

    <form class="content-navigation" action="/prototypes/vsi-during-test/summary" method="GET" data-form-state-index="0">
      <div class="content-navigation__split">
        <div class="content-navigation__split--left u-float-left">
          <input id="reviewTest" type="submit" class="button" value="Review test">
        </div>
        <div class="content-navigation__split--right u-float-right">
          <a class="button button--alert" id="refuse-to-test" href="/prototypes">Cancel test</a>
        </div>
      </div>
    </form>

    {% endcall %}

  {% endcall %}

{% endblock %}
