.c-home-hero {
  //@include core-19();
  float: left;
  width: 100%;
  position: relative;
  background-color: $hero-colour;
  color: $white;
  margin-bottom: 30px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 0;
  font-size: 19px;
    @include media(desktop){ 
      font-size: 16px;
    }

  &__content {
    @include grid-column(8 / 12, desktop);
    padding: 0;
    padding-bottom: $gutter/2;
  }

  &__title {
    @include bold-36();
  }

  &__actions {
    @include grid-column(4 / 12, desktop);
    background-color: $black;
    float: left;
    width: 100%;
    padding: 30px 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    @include media(desktop){ 
      min-height: 200px;
    }
  }
  
  .c-action-list__link {
    color: $white;
    &:visited {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }

  .vehicle-info {
    margin-bottom: 0;
  }
}