{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'homepage' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Brake test' }
] %}

{% block content %}


<main id="content">

   
    <a href="/prototypes/recalls/Component-version/type-of-recall" class="link-back">Back</a> 

    <div class="error-summary" role="alert" aria-labelledby="error-summary-example-heading-one" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-example-heading-one">
            There was a problem
        </h2>
        <ul class="error-summary-list">
            <li>
                <a href="#example-personal-details">
                    Please select an option
                </a>
            </li>
        </ul>
    </div>

    <header class="content-header">
        <h1 class="heading-large heading heading--page-heading heading--small-margin-bottom">
                What is the component make?</h1>
    </header>            

    <div class="row contents">
        <div class="col-lg-12">

    <div class="grid-row">
    <div class="column-three-quarters">
        <div class="form-group form-group-error" style="margin-top:20px">
            <label class="form-label" for="select-box">
                Component
                <span class="error-message">Error message goes here</span>
            </label>
            <select class="form-control" id="select-box" name="select-box">
                <option value="zero">Choose a Make</option>
                <option value="one">Arctic Cat</option>
                <option value="two">Autoglass Ltd</option>
                <option value="four">Beason Cooke</option>
                <option value="five">Charles Pugh (Glass) Ltd</option>
                <option value="six">Dunlop</option>
                <option value="seven">European Friction Ind</option>
                <option value="eight">Goodyear</option>
                <option value="nine">J &amp; S Component Eng Ltd</option>
                <option value="ten">Michelin</option>
                <option value="eleven">Mitas Tyres Ltd</option>
                <option value="twelve">Mothercare</option>
                <option value="thirteen">Pirelli</option>
                <option value="fourteen">Southern Tyre Co Ltd</option>
                <option value="fifteen">The Fifth Wheel Company Ltd</option>
                <option value="sixteen">Unwin Safety Systems</option>
            </select>
        </div>
        <br>
        <div>
            <a class="button" id="choose-make" href="/prototypes/recalls/Component-version/component-model" style="margin-bottom:30px">Continue</a>
        </div>

    </div>
</div>            

</main>

{% endblock %}