{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'MOT history - vehicle results' %}

{% block content %}



<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <form class="form" action="enter-v5c" method="POST">
        <a class="link-back" href="history-results-audi">Back</a>
        <h1 class="form-title heading-large">
          Download your MOT test certificate
        </h1>

        <div class="form-group">
          <label class="form-label-bold" for="full-name">Enter V5C reference number</label>
          <span class="form-hint">For example, 13451067289</span>
          <input type="text" class="form-control" name="v5c" class="govuk-input govuk-!-width-one-half" id="v5c" style="text-transform: uppercase;">
        </div>

        <div style="margin-bottom: 20px">
        <details>
            <summary><span class="summary">Where to find the V5C number</span></summary>
                <div class="panel panel-border-narrow">
                    <p>
                        To be able to download the latest annual test certificate you need to enter your V5C number to show you own the car.
                        This can be found on the front of your latest V5C registartaion certificate or logbook.
                    </p>
                    <img src="/images/V5C-diagram.png" class="image">
                </div>
        </details>
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button" type="submit" role="button">Continue</button> 
        </div>
        
      </form>

    </div>
  </div>
</main>

{% endblock %}