{% macro button(text='', url=false, start=false, disabled=false) %}
  {% set disabledCode = 'disabled="disabled" aria-disabled="true"' %}
  {% if url %}
    <a class="button {{ 'button-start' if start }}" href="{{ url }}" role="button">{{ text }}</a>
  {% else %}
    <input class="button" type="submit" value="{{ text }}" {{ disabledCode if disabled }}>
  {% endif %}
{% endmacro %}
<p>test</p>