{% macro dvsaBanner(mainText='', headingType='h1', secondaryText=false, type, thin=false) %}
    <div class="dvsa-banner {{ 'dvsa-banner--' + type if type }} {{'dvsa-banner--thin' if thin}}">
        <{{headingType}} class="dvsa-banner__heading-large">{{ mainText }}</{{headingType}}>
        {% if secondaryText %}
            <p class='dvsa-banner__secondary-text'>{{ secondaryText }}</p>
        {% endif %}
    </div>
{% endmacro %}