{% macro radio(text='', value='', id='', name='', isChecked='') %}
  <div class="multiple-choice">
    <input {{ 'id="' + id + '"' if id }} type="radio" name="{{ name if name else id }}" {{ 'value="' + value + '"' if value }} {{ ' checked' if isChecked }}>
    <label {{ 'for="' + id + '"' if id }}>{{ text }}</label>
  </div>
{% endmacro %}§