{% macro vehicleHeader(vehicle='', color='red', reg=false, vin='') %}
  {% if vehicle %}
    <div class="dvsa-banner {{ 'dvsa-banner--' + type if type }}">
        <{{headingType}} class="dvsa-banner__heading-large">{{ mainText }}</{{headingType}}>
        {% if vin %}
            <p class='dvsa-banner__secondary-text'>{{ secondaryText }}</p>
        {% endif %}
    </div>
  {% endif %}
{% endmacro %}