{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/manuals' },
  { text: 'WILLETTA AREDONDO', url: '/prototypes/mot-test' },
  { text: 'VTS079774', url: '/prototypes/vts-changes' },
  { text: 'Tell about changes to fixed equipment'  }
] %}
 
{% block content %}

  <header class="transaction-header">
    <h1 class="transaction-header__title">Changes to the fixed equipment have been successfully submitted</h1>
    <p class="transaction-header__next-step">DVSA will check the equipment at the next visit</p>
  </header>
  
  <div class="u-margin-bottom-10">
    <a href="/prototypes/vts-changes/home">Return to VTS Overview</a>
  </div>
   
  
</form>
{% endblock %}
