
&-border {
  &-bottom {
   margin-bottom: $gutter/2;
   padding-bottom: $gutter/2;
   border-bottom: 1px solid $grey-2;
  }
}

// Use for larger body text on mobile to reduce on desktop
&-key-text {
 font-size: 19px;
 @include media(desktop){ 
   font-size: 16px;
 }
}

&-tablet-button {
 display: block;
 text-align: center;
 @include media(tablet){
   display: initial;
 }
}

.hide-large {
 @include media(false, false, 768px) {
   display: none !important;
 }
}

.hide-small {
 @include media(false, 767px) {
   display: none;
 }
}

.js-only,
.js-only--block,
.js-only--inline {
 display: none !important;
}

.js-enabled {
 .js-hidden {
   display: none;
 }

 .js-only,
 .js-only--inline {
   display: inline-block !important;
 }

 .js-only--block {
   display: block !important;
 }
}

// toggle switch with arrow
%toggle-switch {
 position: relative;
 display: block;
 margin-left: 24px;

 &:before {
   position: absolute;
   left: -24px;
   top: 0;
   content: '\25BA';
 }
}

.toggle-switch {
 @extend  %toggle-switch;
}

.toggle-switch--open {
 @extend  %toggle-switch;

 &:before {
   content: '\25BC';
 }
}

// text align right when required (for example, some form elements)
.a-r {
 text-align: right;
}

// Apply to container of items which fade out
.u-fade-items { 
   transition: all .5s ease-in-out; 
}

.u-text-break {
  word-wrap: break-word;
}
