{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Your learning - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %}
{% set learnerPrototypeVersion = 'v9' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v9/' %}
{% set homePath = '/prototypes/learner/v9/home' %}
{% set isAdmin = isAdmin if isAdmin %}


{#{% set hideHomeStars = hideHomeStars if hideHomeStars %}#}
{% set removeMessage = removeMessage if removeMessage %}
{% set fireTrainingComplete = fireTrainingComplete if fireTrainingComplete %}
{% set hideHomeStars = 'true' %}

{% set hasBeenAdded = hasBeenAdded if hasBeenAdded %}
{% set hasBeenRemoved = hasBeenRemoved if hasBeenRemoved %}
{% set willBeRemoved  = willBeRemoved  if willBeRemoved  %}
{% set hasLeftFeedback = hasLeftFeedback if hasLeftFeedback %}


{% block content %}

<style>
.highlight-box {
padding: 10px;
background: #fbfbfb;
border: 1px solid #c1c1c1;
}
</style>

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <div class="u-space-y30 header-box __u-border-bgrey2">

                {% call components.gridRow() %}

                    {% call components.columnHalf() %}

                        {{ components.heading(text='Your learning', tag='h1', size='large', extraClass='heading--flush') }}

                    {%- endcall %}

                    {% call components.columnHalf() %}

                        <div class="search-box">

                            {% call components.formElement(name='searchLearning', method='POST', action="/prototypes/learner/v9/search") %}

                                <div class="form-group search-box__group u-space-b">

                                    <label class="visuallyhidden" for="searchInput">Search all available learning</label>

                                    <input class="form-control search-box__input" id="searchInput" type="search" name="searchInput" value="" placeholder="Search CSL">

                                    <button type="submit" class="search-box__submit">Search</button>

                                </div>

                            {%- endcall %}

                        </div>

                    {%- endcall %}

                {%- endcall %}


            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

            {% call components.columnFull() %}

                {% if fireTrainingComplete %}
                    <p class="u-space-b5 highlight-box">You can <a href="/prototypes/learner/v9/feedback">leave feedback on 3 items</a>.</p>
                {% else %}
                    <p class="u-space-b5 highlight-box">You can <a href="/prototypes/learner/v9/feedback">leave feedback on 2 items</a>.</p>
                {% endif %}

            {%- endcall %}

        {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {% if hasLeftFeedback %}

                {{ components.banner(mainText='Thank you for your feedback', secondaryText='Leaving feedback helps us improve our service.', type="confirmation")}}

            {% endif %}

            {% if removeMessage %}

                {{ components.banner(mainText='Digital awareness: digital by default', secondaryText='This has been removed from your learning plan', type="confirmation")}}

            {% endif %}

            {% if hasBeenAdded %}
                {{ components.banner(mainText='Digital awareness: digital by default', secondaryText='This has been added to your learning plan', type="confirmation")}}
            {% endif %}

            {% if hasBeenRemoved %}
                {{ components.banner(mainText='Digital awareness: digital by default', secondaryText='This has been removed from your learning plan', type="confirmation")}}
            {% endif %}

            {% if willBeRemoved %}
                {{ components.banner(mainText='Are you sure you want to remove this course?', secondaryText='If you remove this course, it will be deleted from your learning plan. <br><br><a href="/prototypes/learner/v9/actions?action=removedFromLearningPlan">Yes, remove this course</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/prototypes/learner/v9/home">No, keep it</a>', type="warning")}}
             {% endif %}

        {%- endcall %}

    {%- endcall %}


    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Required learning', tag='h2', size='medium', extraClass='heading--red-top') }}

            <div class="learning">

                {{ components.disciteRow(
                    name='Diversity &amp; inclusion',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='/prototypes/learner/v9/resource?resourceID=6',
                    type='Online',
                    status='In progress',
                    action='Resume',
                    duration='2 hours',
                    dueBy='21 Oct 2018'
                ) }}

                {% if not fireTrainingComplete %}

                {{ components.disciteRow(
                    name='Basic fire safety',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='/prototypes/learner/v9/resource?resourceID=15',
                    type='Online',
                    action='Start',
                    duration='30 Minutes',
                    dueBy='18 Sep 2018',
                    startURL='/prototypes/learner/v9/scorms/basic-fire-safety'
                ) }}

                {% endif %}

            </div>

            {{ components.heading(text='Your learning', tag='h2', size='medium', extraClass='heading--red-top') }}

            <div class="learning">

                {% if hasBeenAdded %}

                {{ components.disciteRow(
                    name='Commercial awareness',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='/prototypes/learner/v9/resource?resourceID=3',
                    type='Video',
                    action='Remove',
                    duration='10 Minutes',
                    dueBy='18 Sep 2018',
                    workArea='Commercial',
                    cost='£free',
                    startURL='/prototypes/learner/v9/scorms/basic-fire-safety'
                ) }}

                {#<div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a  class="resource__title" href="/prototypes/learner/v9/resource?resourceID=3">Commercial awareness</a>
                            <span class="resource__action">
                                <a href="#">Resume <span class="visuallyhidden"> course</span></a>
                                <a href="/prototypes/learner/v9/actions?action=removedFromLearningPlan&id=1&status=started">Remove <span class="visuallyhidden"> from learning plan</span></a>
                            </span>
                        </li>
                        {% if not hideHomeStars %}
                            <li class="resource__rating">
                                {{ components.starRating(rating='25%', total='10') }}
                            </li>
                        {% endif %}
                        <li class="resource__info">
                            <span>Video<br>10 minutes<br>£Free</span>
                        </li>
                        <li class="resource__info">
                            <span class="meta u-display-b">Work area:</span>
                            <span class="u-display-b">Commercial</span>
                        </li>
                        <li class="resource__status">
                            <span class="badge badge--success ">Just added</span>
                        </li>
                    </ul>
                </div>#}

                {% endif %}

                {% if not hasBeenRemoved %}

                {{ components.disciteRow(
                    name='Digital awareness: digital by default',
                    headingTag='h3',
                    description='This talk explores the idea that starting with "why" helps motivate people to achieve an end goal and increases the chances of success.',
                    headingExtraClass='discite__heading',
                    headingURL='/prototypes/learner/v9/resource?resourceID=3',
                    type='Online',
                    status='In progress',
                    action='Resume',
                    removeFromLearningPlanURL='/prototypes/learner/v9/actions?action=removedFromLearningPlan&id=1&status=started',
                    duration='3 hours 30 minutes',
                    cost='£Free'
                ) }}

                {% endif %}

                {{ components.disciteRow(
                    name='Effective negotiation for senior managers',
                    headingTag='h3',
                    description='Negotiators will be provided with concise information on how to get the best out of negotiation whether or not the situation is contentious.',
                    headingExtraClass='discite__heading',
                    headingURL='/prototypes/learner/v9/resource?resourceID=7',
                    type='Classroom',
                    status='Booked',
                    action='Cancel',
                    removeFromLearningPlanURL='/prototypes/learner/v9/actions?action=removedFromLearningPlan&id=1&status=started',
                    duration='4 hours',
                    cost='£189',
                    workArea='Commercial',
                    bookedDate='21 Aug 2018'
                ) }}

                {% if hasBeenRemoved %}

                    {{ components.disciteRow(
                        name='Simon Sinek - Start With Why - TED Talk Short Edited',
                        headingTag='h3',
                        headingExtraClass='discite__heading',
                        headingURL='/prototypes/learner/v9/resource?resourceID=4?test=true',
                        type='Video',
                        action='Remove',
                        removeFromLearningPlanURL='/prototypes/learner/v9/actions?action=removedFromLearningPlan&id=1&status=started',
                        duration='30 minutes',
                        cost='£Free',
                        workArea='Digital'
                    ) }}

                {% endif %}

                <div class="home-toggle js-hidden" id="toggleOtherContent">

                {% if not hasBeenRemoved %}

                    {{ components.disciteRow(
                        name='Simon Sinek - Start With Why - TED Talk Short Edited',
                        headingTag='h3',
                        headingExtraClass='discite__heading',
                        headingURL='/prototypes/learner/v9/resource?resourceID=4',
                        type='Video',
                        action='Remove',
                        removeFromLearningPlanURL='/prototypes/learner/v9/actions?action=removedFromLearningPlan',
                        duration='30 minutes',
                        cost='£Free',
                        workArea='Digital'
                    ) }}

                {% endif %}

                {{ components.disciteRow(
                    name='The Freedom to Negotiate a Better Deal',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='/prototypes/learner/v9/resource?resourceID=2',
                    type='Blog',
                    action='Remove',
                    removeFromLearningPlanURL='/prototypes/learner/v9/actions?action=removedFromLearningPlan',
                    duration='10 minutes',
                    cost='£Free',
                    workArea='Commercial'
                ) }}

                {{ components.disciteRow(
                    name='Negotiation Skills for Product Managers: 5 Things You Need to Know',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='/prototypes/learner/v9/resource?resourceID=2',
                    type='Blog',
                    action='Remove',
                    removeFromLearningPlanURL='/prototypes/learner/v9/actions?action=removedFromLearningPlan',
                    duration='15 minutes',
                    cost='£Free',
                    workArea='Commercial'
                ) }}

                {{ components.disciteRow(
                    name='Foreign contract compliance legal obligations',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='/prototypes/learner/v9/resource?resourceID=2',
                    type='Blog',
                    action='Book',
                    removeFromLearningPlanURL='/prototypes/learner/v9/actions?action=removedFromLearningPlan',
                    duration='5 hours',
                    modules='This course comprises of 11 modules',
                    cost='£149',
                    workArea='Commercial'
                ) }}

                {# end home toggle #}
                </div>

                <div class="home-toggle-switch js-only u-space-y30">
                    <a href="#" class="toggle-switch" onclick="toggleVisibility(this, 'toggleOtherContent', 'js-hidden')">Show <span class="more">more</span><span class="less">less</span></a>
                </div>

            {#<p class="u-space-t30"><a href="/prototypes/learner/v9/learning-plan" class="">See more learning in your Learning plan</a> </p>#}

        {%- endcall %}

    {%- endcall %}

{% endblock %}

{% block lowerHero %}

    {% call components.lowerHero() %}

        {% call components.gridRow() %}

            {% call components.columnFull() %}

                <h2 class="heading-medium">Suggestions for you</h2>

                <p>Tailored suggestions from Civil Service Learning, your area of work or your organisation.</p>

            {%- endcall %}

        {%- endcall %}

        {% call components.gridRow() %}

            {% call components.columnOneThird() %}

                {{ components.tile(
                    title='Commercial awareness',
                    url='/prototypes/learner/v9/resource?resourceID=11',
                    starPercent='80%',
                    starTotal='128',
                    because='Work area: commercial',
                    type='Online',
                    duration='2 hours 20 minutes',
                    cost='£Free',
                    hideStars=hideHomeStars,
                    version='v9',
                    intro='In this module you consider how to work with potential providers and achieve what you require. You\’ll learn about supply chains, pricing. '
                ) }}

            {%- endcall %}

            {% call components.columnOneThird() %}

                {{ components.tile(
                    title='Managing contractors',
                    url='/prototypes/learner/v9/resource?resourceID=1',
                    starPercent='76%',
                    starTotal='104',
                    because='Work area: commercial',
                    type='Classroom',
                    duration='2 days',
                    hideStars=hideHomeStars,
                    cost='£357',
                    version='v9',
                    intro='Introduces you to the different factors tristique purus sit amet nisi elementum, vel congue nisi pulvinar.'
                ) }}

            {%- endcall %}

            {% call components.columnOneThird() %}

                {{ components.tile(
                    title='Managing employees',
                    url='/prototypes/learner/v9/resource?resourceID=8',
                    starPercent='61%',
                    starTotal='25',
                    because='Work area: commercial',
                    type='Classroom',
                    duration='1 day',
                    hideStars=hideHomeStars,
                    cost='£199',
                    version='v9',
                    intro='Introduces you to the different factors tristique purus sit amet nisi elementum, vel congue nisi pulvinar.'
                ) }}

            {%- endcall %}

        {%- endcall %}

        {% call components.gridRow() %}

            {% call components.columnOneThird() %}

                {{ components.tile(
                    title='Simon Sinek - Start With Why - TED Talk Short Edited',
                    url='/prototypes/learner/v9/resource?resourceID=4',
                    starPercent='76%',
                    starTotal='104',
                    type='Video',
                    duration='10 minutes',
                    cost='£Free',
                    because='Work area: HMRC',
                    hideStars=hideHomeStars,
                    version='v9',
                    intro='This talk explores the idea that starting with "why" helps motivate people to achieve an end goal and increases the chances of  success.'
                ) }}

            {%- endcall %}

            {% call components.columnOneThird() %}

                {{ components.tile(
                    title='The Freedom to Negotiate a Better Deal',
                    url='/prototypes/learner/v9/resource?resourceID=2',
                    starPercent='61%',
                    starTotal='25',
                    type='Blog',
                    cost='£Free',
                    duration='10 minutes',
                    because='Work area: HMRC',
                    hideStars=hideHomeStars,
                    version='v9',
                    intro='Corporate CEOs and lobbyists have stripped freedoms from workers to negotiate a fair return on their work.'
                ) }}

            {%- endcall %}

            {% call components.columnOneThird() %}

                {{ components.tile(
                    title='Negotiation Skills for Product Managers: 5 Things You Need to Know',
                    url='https://medium.com/pminsider/negotiation-skills-for-product-managers-5-things-you-need-to-know-ec474f743d54',
                    starPercent='95%',
                    starTotal='233',
                    because='Work area: HMRC',
                    type='Blog',
                    duration='10 minutes',
                    hideStars=hideHomeStars,
                    cost='£Free',
                    targetBlank = true,
                    version='v9',
                    intro='How principled negotiation will get you better results and double your team\'s speed.'
                ) }}

            {%- endcall %}

        {%- endcall %}

        {% call components.gridRow() %}

            {% call components.columnHalf() %}

                <p class="font-small"><a href="/prototypes/learner/v9/suggested-learning" class="">See more suggestions for you</a> </p>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

    <script>

    function toggleVisibility(_this, id, className) {
        event.preventDefault();
        let toggleSwitch = _this;
        let toggleItem = document.getElementById(id);
        if (hasClass(toggleItem, className)) {
           toggleSwitch.classList.add('toggle-switch--open');
           toggleItem.classList.remove(className);
        }
        else  {
            toggleSwitch.classList.remove('toggle-switch--open');
            toggleItem.classList.add(className);
        }
        // return false;
    }

    function hasClass(target, className) {
        return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
    }

    </script>


{% endblock %}