// Icons
// ==========================================================================

.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;

  // GOV.UK front end toolkit icons
  &-file-download {
    @include icon(icon-file-download, 28, 35);
  }

  &-failure {
    @include icon(icon-cross, 28, 35, '/icons');
  }

  &-success {
    @include icon(icon-tick, 28, 35, '/icons');
  }

  &-important {
    @include icon(icon-important, 28, 35);
  }

}