// Icons
// ==========================================================================

.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;

  // GOV.UK front end toolkit icons
  &-calendar {
    @include icon(icon-calendar, 27, 27);
  }

  &-file-download {
    @include icon(icon-file-download, 28, 35);
  }

  &-failure {
    @include icon(icon-cross, 28, 35, '/icons');
  }

  &-success {
    @include icon(icon-tick, 28, 35, '/icons');
  }

  &-important {
    @include icon(icon-important, 28, 35);
  }

  &-information {
    @include icon(icon-information, 28, 35);
  }

  &-locator {
    @include icon(icon-locator, 26, 36);
  }

  &-pointer {
    @include icon(icon-pointer, 30, 19);
  }

  &-pointer-black {
    @include icon(icon-pointer-black, 23, 23);
  }
  
  &-search {
    @include icon(icon-search, 30, 22);
  }

  // GOV.UK step icons
  @for $i from 1 through 14 {
    &-step-#{$i} {
      @include icon(icon-step-#{$i}, 23, 23, icon-steps);
    }
  }

}

// Propose replacing step icons with circles
.circle {
  display: inline-block;
  @include border-radius(50%);

  background: $black;
  color: $white;

  font-family: $toolkit-font-stack-tabular;
  font-size: 12px;
  font-weight: bold;
  text-align: center;

  // All step circles are 24px x 24px
  &-step {
    min-width: 24px;
    min-height: 24px;
    line-height: 24px;
  }

  &-step-large {
    font-size: 19px;
    min-width: 38px;
    min-height: 38px;
    line-height: 38px;
  }

}