{% macro gridRow(extraClass='') %}

  <div class="grid-row {{ extraClass if extraClass }}">
    {{ caller() }}  
  </div>

{% endmacro %}

{% macro columnFull(extraClass='') %}

  <div class="column-full {{ extraClass if extraClass }}">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnHalf(extraClass='') %}

  <div class="column-one-half {{ extraClass if extraClass }}">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnOneThird(extraClass='') %}

  <div class="column-one-third {{ extraClass if extraClass }}">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnTwoThirds(extraClass='') %}

  <div class="column-two-thirds {{ extraClass if extraClass }}">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnOneQuarter(extraClass='') %}

  <div class="column-one-quarter {{ extraClass if extraClass }}">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro lowerHero(extraClass='') %}

  <div class="lower-hero {{ extraClass if extraClass }}">
      <div class="wrapper">
          {{ caller() }}
      </div>
  </div>

{% endmacro %}