{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Create an Account' %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}
      
      {{ components.pageHeading(heading='Create an account', secondary='Civil Service Learning Platform') }}

      <div class="text u-clearfix">
        {{ components.paragraph(text='You need to create an account before using the Civil Service Learning Platform. This should take 5 minutes.', lead=true) }}

        {{ components.heading(text='Before you start', size='medium', tag='h2') }}

        {{ components.paragraph(text='Only people who need to use the Civil Service Learning Platform for work should create an account.') }}

        {{ components.paragraph(text='Do not create a new account if you already have one.') }}

        {{ components.paragraph(text='You will need:') }}

        {% set listItems = [
          {
            text: 'your email address'
          },
          {
            text: 'your telephone number'
          },
          {
            text: 'your address'
          },
          {
            text: 'your date of birth'
          }
        ] %}

        {{ components.list(items=listItems, type='bullet') }}
      </div>

      <div class="u-margin-top-10 u-margin-bottom-30">
        {{ components.button(text='Continue', url='/prototypes/create-account/email') }}
      </div>

      {{ components.link(text='Cancel and return to sign in', url='#', paragraph=true) }}
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}