{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Create an Account - Password' %}

{% set securityQuestions = [
  {
    value: false,
    text: 'Please select'
  },
  {
    value: 1,
    text: 'What did you want to be when you grew up?'
  },
  {
    value: 2,
    text: 'What was the name of your first pet?'
  },
  {
    value: 3,
    text: 'Who was your first kiss?'
  },
  {
    value: 4,
    text: 'Where did you go on your first memorable holiday?'
  }
] %}

{% block content %}

  {{ components.link(text='Back', url='/prototypes/create-account/security-questions', back=true) }}

  {% call components.gridRow() %}

    {% call components.columnFull() %}
      
      {{ components.pageHeading(heading='Create a password', secondary='Create an account') }}

      {{ components.paragraph(text='Now you need to create a memorable password for your account. Your password', lead=true, limitWidth=true, clearfix=true) }}

      {{ components.paragraph(text='Your password must have:') }}

      {% set listItems = [
        {
          text: '8 or more characters'
        },
        {
          text: '1 or more numbers'
        },
        {
          text: 'upper and lower case letters'
        }
      ] %}

      {{ components.list(items=listItems, type='bullet') }}

      {% call components.form(action='/prototypes/create-account/password', method='POST') %}

        {% include './partials/form-errors.njk' %}

        {{ components.field(label='Create a password', type='password', id='password', group=true, width=75, value=values.password, error=errors.password.msg) }}

        {{ components.field(label='Re-type your password', type='password', id='passwordConfirmation', group=true, width=75, value=values.passwordConfirmation, error=errors.passwordConfirmation.msg) }}

        {% if values.hasAllRequiredFields %}
          {{ components.button(text='Save and continue') }}
        {% else %}
          {{ components.button(text='Continue') }}
        {% endif %}

      {%- endcall %}
      
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}