{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Video item - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v9' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v9/' %}
{% set homePath = '/prototypes/learner/v9/home' %}

{% set resourceType = resourceType if resourceType %}
{% set hideDetailStars = hideDetailStars if hideDetailStars %}

{% block content %}

    {{ components.pageHeading(heading='Andrew Shatte – Resilience') }}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container u-space-b30'><iframe src='https://www.youtube.com/embed/_iUs3ZEBDjo' frameborder='0' allowfullscreen></iframe></div>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <p>Resilience -- the ability to "bounce back" -- is a critical competency for success at work, for happiness at home and for balancing the two. Dr. Andrew Shatte is the Vice President of Research and Development at Adaptiv Learning Systems and the architect of Adaptiv's resilience training programs. He has devoted his career to understanding the psychological aspects of motivation and resilience and to developing programs to optimize human performance in a wide array of arenas -- in the workplace, in health, in academics and in sports. Co-author of The Resilience Factor. Dr. Shatte is a highly acclaimed teacher, selected University of Pennsylvania's Best Professor in Social Sciences in 2004 and the recipient of the Dean's Award for Distinguished Teaching in 2006.</p>

            <p>
                <a href="/prototypes/learner/v9/home" class="button">Return to Home</a>
            </p>

            <p>
                <a href="/prototypes/learner/v9/actions?action=addedToLearningPlan&type=blog">Add to learning plan</a>
            </p>

        {%- endcall %}

        {% call components.columnOneThird() %}

            <aside class="govuk-related-items govuk-related-items--flush govuk-related-items--keylined" role="complementary">

                <p class="u-space-t15">
                    <a href="#">Leave feedback</a>
                </p>

                {% if not hideDetailStars %}
                    <h2 class="heading-small">User rating</h2>
                    {{ components.starRating(rating='68%', total='97') }}
                {% endif %}
                <p><a href="/prototypes/learner/v9/transcript">Transcript</a></p>

            </aside>

        {% endcall %}

    {%- endcall %}

{% endblock %}
