efwefw{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Privacy - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v8' %}
{% set signOutPath = '/prototypes/learner/v8/' %}
{% set homePath = '/prototypes/learner/v8/home' %}

{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.pageHeading('Privacy') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <h2 class="heading-medium">H2 heading </h2>

            <p>Albus ratione inciviliter perderes animalis est. Try grilling celery mousse covered with maple syrup. Arrr, never pull a scabbard.The honor is a strange moon.</p>

            <ul class="list-bullet">
                <li>Triticums sunt eposs de talis deus.</li>
                <li>Aww! Pieces o' treasure are forever dead.</li>
                <li>When the particle trembles for hyperspace, all teleporters pull brave, gravimetric admirals.</li>
                <li>Shredded, sun-dried pudding is best tossed with heated condensed milk.</li>
            </ul>

            <h3 class="heading-small">H3 heading small</h3>

            <p>Castus orgia unus contactuss abaculus est.</p>

            <p>One morning, when Gregor Samsa woke from troubled
                dreams, he found himself transformed in his bed into
                a horrible vermin. He lay on his armour-like back,
                and if he lifted his head a little he could see his
                brown belly, slightly domed and divided by arches into
                stiff sections. The bedding was hardly able to cover
                <strong>strong</strong> it and seemed ready to slide
                off any moment. His many legs, pitifully thin
                compared with the size of the rest of him,
                <a class="external ext" href="#">link</a> waved about
                helplessly as he looked. "What's happened to me? " he
                thought. It wasn't a dream. His room, a proper human
                room although a little too small, lay peacefully
                between its four familiar walls.</p>
            <p>It showed a lady fitted out with a fur hat and fur
                boa who sat upright, raising a heavy fur muff that
                covered the whole of her lower arm towards the
                viewer.</p>
            <p>It showed a lady fitted out with a fur hat and fur
                boa who sat upright, raising a heavy fur muff that
                covered the whole of her lower arm towards the
                viewer.</p>
            <p>It showed a lady fitted out with a fur hat and fur
                boa who sat upright, raising a heavy fur muff that
                covered the whole of her lower arm towards the
                viewer.</p>
            <p>It showed a lady fitted out with a fur hat and fur
                boa who sat upright, raising a heavy fur muff that
                covered the whole of her lower arm towards the
                viewer.</p>
            <table class="data">
                <tr>
                    <th>Entry Header 1</th>
                    <th>Entry Header 2</th>
                    <th>Entry Header 3</th>
                    <th>Entry Header 4</th>
                </tr>
                <tr>
                    <td>Entry First Line 1</td>
                    <td>Entry First Line 2</td>
                    <td>Entry First Line 3</td>
                    <td>Entry First Line 4</td>
                </tr>
                <tr>
                    <td>Entry Line 1</td>
                    <td>Entry Line 2</td>
                    <td>Entry Line 3</td>
                    <td>Entry Line 4</td>
                </tr>
                <tr>
                    <td>Entry Last Line 1</td>
                    <td>Entry Last Line 2</td>
                    <td>Entry Last Line 3</td>
                    <td>Entry Last Line 4</td>
                </tr>
            </table>
            <p>It showed a lady fitted out with a fur hat and fur
                boa who sat upright, raising a heavy fur muff that
                covered the whole of her lower arm towards the
                viewer.</p>


        {%- endcall %}

    {%- endcall %}


{% endblock %}
