{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Mot test results' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/speech-to-text' },
  { text: 'Add a defect' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      <header class="content-header">

        <h1>

          <span class="content-header__title">Defect Categories</span>

        </h1>

        <ul class="content-header__tertiary-list">

          <li class="content-header__list-item--primary">Renault, Clio</li>

          <li class="content-header__list-item">FNZ 6610</li>

          <li class="content-header__list-item">First used 25 Apr 2005</li>

        </ul>

      </header>

      <div class="defect-summary">

        <div class="defect-summary__total defect-summary__total--eu">

          <h2 class="defect-summary__total-heading">Defects</h2>

          <ul>

            <li>

              <span class="badge--alert">0</span> Failures</li>

            <li>

              <span class="badge--warn">0</span> Minors</li>

            <li>

              <span class="badge--info">0</span> PRS</li>

            <li>

              <span class="badge">0</span> Advisories</li>

          </ul>

        </div>

      </div>

      <form class='u-margin-bottom-20' role="search" method="post" action="/prototypes/speech-to-text/categories/">

        <fieldset class="search-bar">

          <label class="search-bar__label sr-only" for="search-main">Search for a defect</label>

          <div class="search-bar__control-group">

            <input class="search-bar__search-input" type="search" title="Search" id="search-main" name="q">

            <input class="search-bar__search-submit" type="submit" value="Search">

            <button type="button" class='search-bar__search-voice'>Search using voice</button>

          </div>

        </fieldset>
        
      </form>

      <div class="browse u-margin-bottom-30">

        <div class="browse__cats">

            <h3 class="browse__title hide-small">Categories</h3>

            <ul class="browse__list">
              
              <li><a href="#">Body, structure and general items</a></li>

              <li><a href='#'>Brakes</a></li>

              <li><a href="#">Steering</a></li>

              <li><a href="#">Suspension</a></li>

              <li><a href="#">Tyres</a></li>

              <li><a href="#">Road wheels</a></li>

              <li><a href="#">Seat belts and supplementary restraint systems</a></li>

              <li><a href="#">Lamps, reflectors and electrical equipment</a></li>

              <li><a href="#">Exhaust, fuel and emissions</a></li>

              <li><a href="#">Driving controls and speed limiters</a></li>

              <li><a href="#">Registration plates and VIN</a></li>

              <li><a href="#">Drivers view of the road</a></li>

              <li><a href="#">Items not tested</a></li>

              <li><a href="#">Motor tricycles and quadricycles</a></li>

              <li><a href="#">Non-component advisories</a></li>

          </ul>

        </div>
        
      </div>

      <div class="panel panel-border-wide u-margin-bottom-30">

        <p>

          <a href="#">Add a manual advisory</a> - only do this if you have searched for a defect and can't find a match.

        </p>

      </div>

      {{ components.button(text='Finish and return to MOT test results', url='/prototypes/mot-test') }}

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}