{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}


{% block content %} 

 <div class="u-margin-bottom-15">
    <a href="/prototypes/vts-changes/type" class="link-back">Back</a>
  </div>

  <h1 class="heading-large">
        <span class="heading-secondary">Tell us about changes to fixed equipment</span>
        <label for="radio-inline-group">
          Is the new equipment approved by the DVSA?
        </label>
  </h1>

  {% call components.form(action='/prototypes/vts-changes/approved', method='POST') %} 
  
  <div class="form-group {{ 'form-group-error' if viewData.questions.approved.errors[0]['error'] }}">
    {% if viewData.questions.approved.errors[0]['error'] %}
      <span class="error-message">{{ viewData.questions.approved.errors[0]['error'] }}</span>
    {% endif %}  

    <fieldset class="inline u-margin-top-15">
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="approved" value="yes" {{ 'checked' if viewData.questions.approved.answer['approved'] == 'yes' }}>
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="approved" value="no" {{ 'checked' if viewData.questions.approved.answer['approved'] == 'no' }}>
        <label for="radio-inline-2">No</label>
      </div>
    </fieldset>
  </div>

  <div class="panel panel-border-wide u-margin-bottom-30"> 
      New equipment should be on the list of <a href="https://www.gov.uk/become-an-mot-station/approved-testing-equipment">DVSA approved testing equipment</a>.
  </div> 

  <div class="u-margin-top-15 u-margin-bottom-15">
    <input type="submit" value="Continue" class="button"/> 
  </div> 
  
  <p>
    <a href="/prototypes/vts-changes/start">Return to VTS Overview </a></p>
    </p>

  
  {% endcall %}
 
  {% endblock %}
