{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'AE application check tool - prototype homepage' %}

{% block content %}

<main id="content">

    <div class="container">

        <div id="global-breadcrumb" class="header-context">
        </div>

        <header class="content-header">
            <h1>
                <span class="content-header__type">MOT testing</span>
                <span class="content-header__title">AE application check tool prototypes</span>
                </h1>
        </header>                        

        <div class="row contents">
            <div class="col-lg-12">

                <h1 class="content-header__type"> 
                        Prototype versions
                </h1>


                <table class="key-value-list" style="table-layout: fixed;">
                    <thead>
                        <col width="140">
                        <col width="200">
                        <col width="350">
                        <tr>
                        <th scope="col">Version</th>
                        <th class="" scope="col">Tested on</th>
                        <th class="" scope="col">Changes/Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th>
                            Version 2 - 
                            <ol class="list list-bullet">
                                <li><a href="/prototypes/ae-application-tool/v2/index">Journey 1</a> - Dorothy Warnock; same person, altered name</li>
                                <li><a href="/prototypes/ae-application-tool/v2/index-1">Journey 2</a> - Tyler James Edgecombe; Father under investigation</li>
                            </ol>
                        </th>
                        <td class="">
                            
                        </td>
                        <td class="">
                            <details>
                                <summary><span class="summary">Changes included in version 2</span></summary>
                                    <div class="panel panel-border-narrow">
                                        <ul class="list list-bullet">
                                            <li>MOT home
                                                <ol class="list list-bullet">
                                                    <li>Added correct admin action links</li>
                                                    <li>Changed feature name &amp; link text</li>
                                                </ol>
                                            </li>
                                            <li>Search screen
                                                <ol class="list list-bullet">
                                                    <li>Changed title and content to make cleaer the intention of the search</li>
                                                    <li>Added middle name search field</li>
                                                    <li>Description of all fields as mandatory</li>
                                                    <li>Removed '(full or part)'' text from postcode</li>
                                                </ol>
                                            </li>
                                            <li>Search results
                                                <ol class="list list-bullet">
                                                    <li>Separated flag info - into meta text against Name, 'Record' column for AE and CRT log details</li>
                                                    <li>Removed 'similarity' column</li>
                                                </ol>
                                            </li>
                                        </ul>
                                    </div>
                            </details>
                        </td>
                        </tr>
                        <tr>
                        <th>
                            Version 1 - 
                            <ol class="list list-bullet">
                                <li><a href="/prototypes/ae-application-tool/v1/">Journey 1</a></span></li>
                                <li><a href="/prototypes/ae-application-tool/v1/index-1">Journey 2</a></span></li>
                            </ol>
                        </th>
                        <td class="">
                            08 January 2019
                        </td>
                        <td class="">
                            <details>
                                <summary><span class="summary">Details included in version 1</span></summary>
                                    <div class="panel panel-border-narrow">
                                        <ul class="list list-bullet">
                                            <li>A flow of 4 screens:
                                                <ol class="list list-bullet">
                                                    <li>User homepage (with added link under AE management)</li>
                                                    <li>Applicant search entry screen</li>
                                                    <li>Applicant search results screen</li>
                                                    <li>User Details screen (unchanged, opens in new tab)</li>
                                                </ol>
                                            </li>
                                        </ul>
                                    </div>
                            </details>
                        </td>
                        </tr>
                    </tbody>
                </table>
                        

            </div>
        </div>
    </div>
</main>

  
{% endblock %}