{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'AE application check tool - prototype homepage' %}

{% block content %}

<main id="content">

    <div class="container">

        <div id="global-breadcrumb" class="header-context">
        </div>

        <header class="content-header">
            <h1>
                <span class="content-header__type">MOT testing</span>
                <span class="content-header__title">AE application check tool prototypes</span>
                </h1>
        </header>                        

        <div class="row contents">
            <div class="col-lg-12">

                <h1 class="content-header__type"> 
                        Prototype versions
                </h1>


                <table class="key-value-list" style="table-layout: fixed;">
                    <thead>
                        <col width="170">
                        <col width="100">
                        <col width="420">
                        <tr>
                        <th scope="col">Version</th>
                        <th class="" scope="col">Tested on</th>
                        <th class="" scope="col">Changes/Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <th>
                                <h2 class="heading heading--small heading-small">Version 3</h2>
                                <ol class="list list-bullet">
                                    <li><a href="/prototypes/ae-application-tool/v3/index">Journey 1</a></br>
                                    'Dorothy Warnock, 24 January 1984, HA7 3PN'</li>
                                </ol>
                            </th>
                            <td class="">
                                N/A
                            </td>
                            <td class="">
                                <div class="panel panel-border-narrow">
                                    <h3><strong>Search results</strong></h3>
                                    <ul class="list list-bullet">
                                        <li>Order of results not immediately clear</li>
                                        <li>Concept of similarity/fuzzy matching being missed
                                            <ol class="list list-bullet">
                                                <li>Re-instate similarity score</li>
                                                <li>Place score in middle of row, aligned with demographic results and more visible than previous</li>
                                            </ol>
                                        </li>
                                        <li>Need for more detail at the level of search results
                                            <ol class="list list-bullet">
                                                <li>Add date of event and link through to event log</li>
                                            </ol>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h2 class="heading heading--small heading-small">Version 2</h2>
                                <ol class="list list-bullet">
                                    <li><a href="/prototypes/ae-application-tool/v2/index">Journey 1</a></br>
                                    Dorothy Warnock; same person, altered name</li>
                                    <li><a href="/prototypes/ae-application-tool/v2/index-1">Journey 2</a></br>
                                    Tyler James Edgecombe; Father under investigation</li>
                                </ol>
                            </th>
                            <td class="">
                                17 January 2019
                            </td>
                            <td class="">
                                <div class="panel panel-border-narrow">
                                    <h3><strong>MOT home</strong></h3>
                                    <ul class="list list-bullet">
                                        <li>Users confused by unfamiliar homepage/links
                                            <ol class="list list-bullet">
                                                <li>Added correct admin action links</li>
                                                <li>Changed feature name &amp; link text</li>
                                            </ol>
                                        </li>
                                    </ul>
                                    <h3><strong>Search screen</strong></h3>
                                    <ul class="list list-bullet">
                                        <li>Users not expanding details to read</li>
                                        <li>Users only enterning bare minimum (DoB, partial postcode)
                                            <ol class="list list-bullet">
                                                <li>Changed title and content to make clearer the intention of the search</li>
                                                <li>Added middle name search field</li>
                                                <li>Description of all fields as mandatory</li>
                                                <li>Removed '(full or part)' text from postcode</li>
                                            </ol>
                                        </li>
                                    </ul>
                                    <h3><strong>Search results</strong></h3>
                                    <ul class="list list-bullet">
                                        <li>Users not understanding 'similarity'</li>
                                        <li>Users not digesting 'Flag reason'
                                            <ol class="list list-bullet">
                                                <li>Separated flag info - into meta text against Name, 'Record' column for AE and CRT log details</li>
                                                <li>Removed 'similarity' column</li>
                                            </ol>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h2 class="heading heading--small heading-small">Version 1</h2>
                                <ol class="list list-bullet">
                                    <li><a href="/prototypes/ae-application-tool/v1/">Journey 1</a></span></li>
                                    <li><a href="/prototypes/ae-application-tool/v1/index-1">Journey 2</a></span></li>
                                </ol>
                            </th>
                            <td class="">
                                08 January 2019
                            </td>
                            <td class="">
                                <div class="panel panel-border-narrow">
                                    <ul class="list list-bullet">
                                        <li>A flow of 4 screens:
                                            <ol class="list list-bullet">
                                                <li>User homepage (with added link under AE management)</li>
                                                <li>Applicant search entry screen</li>
                                                <li>Applicant search results screen</li>
                                                <li>User Details screen (unchanged, opens in new tab)</li>
                                            </ol>
                                        </li>
                                    </ul>
                                </div>
                            </td> 
                        </tr>
                    </tbody>
                </table>
                        

            </div>
        </div>
    </div>
</main>

  
{% endblock %}