{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review - VTS079774' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'WILLETTA AREDONDO', url: '/prototypes' },
  { text: 'DILENA GROUP', url: '/prototypes' },
  { text: 'Record a site review' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Record a site review', secondary='Site review') }}

      <div class="u-margin-bottom-30">
        
        <div class="action-panel">

          <div class="action-panel__container">

            <h2 class="action-panel__heading">Compliance</h2>

      

            {% if not viewData.compliance.commitedLevel %}

              <span class="action-panel__value">Not recorded</span>

            {% endif %}

          </div>

         
            <a href="/prototypes/site-review/assessment/compliance" class="button">
              {{ "Edit" if viewData.compliance.commitedLevel else 'Record outcome'}}
            </a>

         

        </div>

        {% if viewData.compliance.commitedLevel %}

        <div class="action-panel__summary"> 

            <h2 class="action-panel__summary-heading">{{viewData.compliance.commitedLevel}}</h2>

            {% if viewData.compliance.commitedComment %}
            
            <ol class="action-panel__summary-list">

              <li class="action-panel__summary-list-item">

              <span class="action-panel__summary-list-item-content">
                  {{"Comment" if viewData.compliance.satisfactory.isChecked else "Advice given"}}:
                  {{viewData.compliance.commitedComment}} 
              </span>

              </li>

            </ol>

            {% endif %}

          </div>

        {% endif %}
          
        <div class="action-panel">

          <div class="action-panel__container">

            <h2 class="action-panel__heading">Premises</h2>
         

            {% if not viewData.premises.commitedLevel %}

            <span class="action-panel__value">Not recorded</span>

            {% endif %}

          </div>

         

            <a href="/prototypes/site-review/assessment/premises" class="button">
              {{ "Edit" if viewData.premises.commitedLevel else 'Record outcome'}}
            </a>

        

        </div>

        {% if viewData.premises.commitedLevel %}

        <div class="action-panel__summary"> 

            <h2 class="action-panel__summary-heading">{{viewData.premises.commitedLevel}}</h2>

            {% if viewData.premises.commitedComment %}

            <ol class="action-panel__summary-list">

              <li class="action-panel__summary-list-item">

              <span class="action-panel__summary-list-item-content">
                  {{"Comment" if viewData.premises.satisfactory.isChecked else "Advice given"}}: 
                  {{viewData.premises.commitedComment}}
              </span>

              </li>

            </ol>

            {% endif %}

        </div>

        {% endif %}
          
        <div class="action-panel">

          <div class="action-panel__container">

            <h2 class="action-panel__heading">Management and quality</h2>

          {% if not viewData['management-and-quality'].commitedLevel %}

            <span class="action-panel__value">Not recorded</span>

          {% endif %}

          </div>

            <a href="/prototypes/site-review/assessment/management-and-quality" class="button">
              {{ "Edit" if viewData['management-and-quality'].commitedLevel else 'Record outcome'}}
            </a>

          

        </div>

        {% if viewData['management-and-quality'].commitedLevel %}

        <div class="action-panel__summary">

          <h2 class="action-panel__summary-heading">

            {{viewData['management-and-quality'].commitedLevel}}

          </h2>

          {% if viewData['management-and-quality'].commitedComment %} 

          <ol class="action-panel__summary-list">

            <li class="action-panel__summary-list-item">

              <span class="action-panel__summary-list-item-content">
                {{"Comment" if viewData['management-and-quality'].satisfactory.isChecked else "Advice given"}}: 
                {{viewData['management-and-quality'].commitedComment}}
              </span>

            </li>

          </ol>

          {% endif %} 

        </div>

        {% endif %}

        <div class="action-panel">

          <div class="action-panel__container">

            <h2 class="action-panel__heading">People</h2>

            {% if not viewData.people.commitedLevel %}

              <span class="action-panel__value">Not recorded</span>

            {% endif %}

          </div>

       

            <a href="/prototypes/site-review/assessment/people" class="button">
            {{ "Edit" if viewData.people.commitedLevel else 'Record outcome'}}
            </a>


        </div>

        {% if viewData.people.commitedLevel %}

        <div class="action-panel__summary">

          <h3 class="action-panel__summary-heading">{{viewData.people.commitedLevel}}</h3>

          {% if viewData.people.commitedComment %}

          <ol class="action-panel__summary-list">

              <li class="action-panel__summary-list-item">
                
              <span class="action-panel__summary-list-item-content">
              {{"Comment" if viewData.people.satisfactory.isChecked else "Advice given"}}: 
              {{viewData.people.commitedComment}}</span>

            </li>

          </ol>

          {% endif %}

        </div>

        {% endif %}

        <div class="action-panel">

          <div class="action-panel__container">

            <h2 class="action-panel__heading">Activity</h2>

       

            {% if not viewData.activity.isCompleted %}

              <span class="action-panel__value">Not recorded</span>

            {% endif %}

          </div>

            <a href="/prototypes/site-review/assessment/activity" class="button">
              {{ "Edit" if viewData.activity.isCompleted else 'Record activity'}}
            </a>

       

        </div>

        {% if viewData.activity.isCompleted %}

        <div class="action-panel__summary">

          <h2 class="action-panel__summary-heading">

            {% if viewData.activity.commitedActivityPerformed %}

              <span class="action-panel__summary-heading-type">Activity performed</span>

            {% else %}

              <span class="action-panel__summary-heading-type">Activity not performed</span>

            {% endif %}

          </h2>

          <ol class="action-panel__summary-list">

            <li class="action-panel__summary-list-item">

              {% if viewData.activity.commitedActivityPerformed %} 

              <span class="action-panel__summary-list-item-content">MOT Test number: <span class='u-disable-pointer-events'>{{viewData.activity.commitedTestNum}} </span></span>

              {% else %} 

              <span class='action-panel__summary-list-item-content'>Comment: {{viewData.activity.commitedOtherReason}}</span>

              {% endif %}

            </li>

          </ol>

        </div>

        {% endif %}

      </div>

      <ul class="list-unstyled content-navigation__split u-clearfix u-margin-bottom-20">

        <li class="content-navigation__split--left">

          {% if (viewData.activity.isCompleted) and (viewData.compliance.commitedLevel) and (viewData['management-and-quality'].commitedLevel) and (viewData.people.commitedLevel) and (viewData.premises.commitedLevel) %}

          <a class="button" href="/prototypes/site-review/summary">Continue</a>

          {% else %}

          <a class="button" disabled="true">Continue</a>

          {% endif %}

        </li>

        <li class="content-navigation__split--right">

          <a class="button button--alert" href="/prototypes/site-review/abort">Abort</a>

        </li>

      </ul>

      <a href="/prototypes/site-review/">Return to VTS overview</a>

    {% endcall %}
  
  {% endcall %}

{% endblock %}