{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'MOT Manuals - Menu' %}

{% set pageBreadcrumbItems = [
  { text: 'MOT Manuals', url: '/manuals' },
  { text: 'Menu' }
] %}

{% block content %}

  {% call components.gridRow() %}

  {% call components.columnTwoThirds() %}

    {{ components.pageHeading(heading='Manuals', secondary='GOV.UK elements') }}

    {% call components.gridRow() %}
      {% call components.columnHalf() %}

        <ol class="m-m m-m--parent">
          <li>
            <a href="#"><span class="m-m__number">0</span><span class="m-m__text">Identification of the Vehicle</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">0.1</span><span class="m-m__text">Registration plates</span></a></li>
              <li><a href="#"><span class="m-m__number">0.2</span><span class="m-m__text">Vehicle identification number</span></a></li>
            </ol>
          </li>
          <li>
            <a href="#"><span class="m-m__number">1</span><span class="m-m__text">Brakes</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">1.1</span><span class="m-m__text">Condition and operation</span></a></li>
              <li><a href="#"><span class="m-m__number">1.2</span><span class="m-m__text">Service brake performance and efficiency</span></a></li>
              <li><a href="#"><span class="m-m__number">1.3</span><span class="m-m__text">Secondary brake performance and efficiency</span></a></li>
              <li><a href="#"><span class="m-m__number">1.4</span><span class="m-m__text">Parking brake performance and efficiency</span></a></li>
              <li><a href="#"><span class="m-m__number">1.5</span><span class="m-m__text">Additional braking device (retarder) performance</span></a></li>
              <li><a href="#"><span class="m-m__number">1.6</span><span class="m-m__text">Anti-lock braking system</span></a></li>
              <li><a href="#"><span class="m-m__number">1.7</span><span class="m-m__text">Electronic braking system</span></a></li>
              <li><a href="#"><span class="m-m__number">1.8</span><span class="m-m__text">Brake fluid</span></a></li>
            </ol>
          </li>
          <li>
            <a href="#"><span class="m-m__number">2</span><span class="m-m__text">Steering</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">2.1</span><span class="m-m__text">Mechanical condition</span></a></li>
              <li><a href="#"><span class="m-m__number">2.2</span><span class="m-m__text">Steering wheel and column or handlebar, forks and yokes</span></a></li>
              <li><a href="#"><span class="m-m__number">2.3</span><span class="m-m__text">Steering play</span></a></li>
              <li><span class="m-m__number">2.4</span> <span class="m-m__text">Not in use</span></li>
              <li><span class="m-m__number">2.5</span> <span class="m-m__text">Not in use</span></li>
              <li><a href="#"><span class="m-m__number">2.6</span><span class="m-m__text">Electronic power steering</span></a></li>
            </ol>
          </li>
          <li>
            <a href="#"><span class="m-m__number">3</span><span class="m-m__text">Visibility</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">3.1</span><span class="m-m__text">Field of vision</span></a></li>
              <li><a href="#"><span class="m-m__number">3.2</span><span class="m-m__text">Condition of glass</span></a></li>
              <li><a href="#"><span class="m-m__number">3.3</span><span class="m-m__text">View of rear</span></a></li>
              <li><span class="m-m__number">3.4</span> <span class="m-m__text">Not in use</span></li>
              <li><span class="m-m__number">3.5</span> <span class="m-m__text">Not in use</span></li>
              <li><a href="#"><span class="m-m__number">3.6</span><span class="m-m__text">Windscreen wipers</span></a></li>
              <li><a href="#"><span class="m-m__number">3.7</span><span class="m-m__text">Windscreen washers</span></a></li>
            </ol>
          </li>
          <li>
            <a href="#"><span class="m-m__number">4</span><span class="m-m__text">Lamps, reflectors and electrical equipment</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">4.1</span><span class="m-m__text">Headlamps</span></a></li>
              <li><a href="#"><span class="m-m__number">4.2</span><span class="m-m__text">Front and rear position lamps, end outline marker lamps and daytime running lamps</span></a></li>
              <li><a href="#"><span class="m-m__number">4.3</span><span class="m-m__text">Stop lamps</span></a></li>
              <li><a href="#"><span class="m-m__number">4.4</span><span class="m-m__text">Direction indicators and hazard warning lamps</span></a></li>
              <li><a href="#"><span class="m-m__number">4.5</span><span class="m-m__text">Front and rear fog lamps</span></a></li>
              <li><a href="#"><span class="m-m__number">4.6</span><span class="m-m__text">Reversing lamps</span></a></li>
              <li><a href="#"><span class="m-m__number">4.7</span><span class="m-m__text">Rear registration plate lamps</span></a></li>
              <li><a href="#"><span class="m-m__number">4.8</span><span class="m-m__text">Rear reflectors</span></a></li>
              <li><a href="#"><span class="m-m__number">4.9</span><span class="m-m__text">Tell-tales mandatory for lighting equipment</span></a></li>
              <li><a href="#"><span class="m-m__number">4.10</span><span class="m-m__text">Trailer electrical socket</span></a></li>
              <li><a href="#"><span class="m-m__number">4.11</span><span class="m-m__text">Electrical wiring</span></a></li>
              <li><span class="m-m__number">4.12</span> <span class="m-m__text">Not in use</span></li>
              <li><a href="#"><span class="m-m__number">4.13</span><span class="m-m__text">Battery(ies)</span></a></li>
            </ol>
          </li>
        </ol>

      {%- endcall %}

      {% call components.columnHalf() %}

        <ol class="m-m m-m--parent">
          <li>
            <a href="#"><span class="m-m__number">5</span><span class="m-m__text">Axles, wheels, tyres and suspension</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">5.1</span><span class="m-m__text">Axles</span></a></li>
              <li><a href="#"><span class="m-m__number">5.2</span><span class="m-m__text">Wheels and tyres</span></a></li>
              <li><a href="#"><span class="m-m__number">5.3</span><span class="m-m__text">Suspension</span></a></li>
            </ol>
          </li>
          <li>
            <a href="#"><span class="m-m__number">6</span><span class="m-m__text">Body, structure and attachments</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">6.1</span><span class="m-m__text">Structure and attachments</span></a></li>
              <li><a href="#"><span class="m-m__number">6.2</span><span class="m-m__text">Body and interior</span></a></li>
            </ol>
          </li>
          <li>
            <a href="#"><span class="m-m__number">7</span><span class="m-m__text">Other equipment</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">7.1</span><span class="m-m__text">Seat belts and suplementary restraint systems (SRS)</span></a></li>
              <li><span class="m-m__number">7.2</span> <span class="m-m__text">Not in use</span></li>
              <li><a href="#"><span class="m-m__number">7.3</span><span class="m-m__text">Anti-theft device</span></a></li>
              <li><span class="m-m__number">7.4</span> <span class="m-m__text">Not in use</span></li>
              <li><span class="m-m__number">7.5</span> <span class="m-m__text">Not in use</span></li>
              <li><span class="m-m__number">7.6</span> <span class="m-m__text">Not in use</span></li>
              <li><a href="#"><span class="m-m__number">7.7</span><span class="m-m__text">Audible warning (Horn)</span></a></li>
              <li><a href="#"><span class="m-m__number">7.8</span><span class="m-m__text">Speedometer</span></a></li>
              <li><span class="m-m__number">7.9</span> <span class="m-m__text">Not in use</span></li>
              <li><a href="#"><span class="m-m__number">7.10</span><span class="m-m__text">Speed limiter</span></a></li>
              <li><span class="m-m__number">7.11</span> <span class="m-m__text">Not in use</span></li>
              <li><a href="#"><span class="m-m__number">7.12</span><span class="m-m__text">Electronic stability control (ESC)</span></a></li>
            </ol>
          </li>
          <li>
            <a href="#"><span class="m-m__number">8</span><span class="m-m__text">Nuisance</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">8.1</span><span class="m-m__text">Noise</span></a></li>
              <li><a href="#"><span class="m-m__number">8.2</span><span class="m-m__text">Exhaust emission</span></a></li>
              <li><span class="m-m__number">8.3</span> <span class="m-m__text">Not in use</span></li>
              <li><a href="#"><span class="m-m__number">8.4</span><span class="m-m__text">Other environmental items</span></a></li>
            </ol>
          </li>
          <li>
            <a href="#"><span class="m-m__number">9</span><span class="m-m__text">Suplementary tests for buses and coaches</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">9.1</span><span class="m-m__text">Doors</span></a></li>
              <li><span class="m-m__number">9.2</span> <span class="m-m__text">Not in use</span></li>
              <li><span class="m-m__number">9.3</span> <span class="m-m__text">Not in use</span></li>
              <li><span class="m-m__number">9.4</span> <span class="m-m__text">Not in use</span></li>
              <li><span class="m-m__number">9.5</span> <span class="m-m__text">Not in use</span></li>
              <li><a href="#"><span class="m-m__number">9.6</span><span class="m-m__text">Passenger grab handles</span></a></li>
              <li><a href="#"><span class="m-m__number">9.7</span><span class="m-m__text">Steps and stairs</span></a></li>
            </ol>
          </li>
          <li>
            <a href="#"><span class="m-m__number">10</span><span class="m-m__text">Seat belt installation checks</span></a>
            <ol class="m-m m-m--child">
              <li><a href="#"><span class="m-m__number">10.1</span><span class="m-m__text">Seatbelts installation guidance notes</span></a></li>
              <li><a href="#"><span class="m-m__number">10.2</span><span class="m-m__text">Seatbelts installation diagrams</span></a></li>
            </ol>
          </li>
        </ol>
      {%- endcall %}
    {%- endcall %}

  {%- endcall %}

  {% call components.columnOneThird() %}
    {% include './partials/side-nav.njk' %}
  {%- endcall %}

  {%- endcall %}

{% endblock %}