{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'MOT Manuals - Menu' %}

{% set pageBreadcrumbItems = [
  { text: 'MOT Manuals', url: '/manuals' },
  { text: 'Menu' }
] %}

{% block content %}

  {% call components.gridRow() %}

  {% call components.columnTwoThirds() %}

    {{ components.pageHeading(heading='Manuals', secondary='GOV.UK elements') }}

    {% call components.gridRow() %}
      {% call components.columnHalf() %}

        {{ components.manualsLinks(items=[
          {
            text: 'Identification of the Vehicle',
            url: '#',
            childItems: [
              {
                text: 'Registration plates',
                url: '#'
              },
              {
                text: 'Vehicle identification number',
                url: '#'
              }
            ]
          },
          {
            text: 'Brakes',
            url: '#',
            childItems: [
              {
                text: 'Condition and operation',
                url: '#'
              },
              {
                text: 'Service brake performance and efficiency',
                url: '#'
              },
              {
                text: 'Secondary brake performance and efficiency',
                url: '#'
              },
              {
                text: 'Parking brake performance and efficiency',
                url: '#'
              },
              {
                text: 'Additional braking device (retarder) performance',
                url: '#'
              },
              {
                text: 'Anti-lock braking system',
                url: '#'
              },
              {
                text: 'Electronic braking system',
                url: '#'
              },
              {
                text: 'Brake fluid',
                url: '#'
              }
            ]
          },
          {
            text: 'Steering',
            url: '#',
            childItems: [
              {
                text: 'Mechanical condition',
                url: '#'
              },
              {
                text: 'Steering wheel and column or handlebar, forks and yokes',
                url: '#'
              },
              {
                text: 'Steering play',
                url: '#'
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Not in us',
                url: ''
              },
              {
                text: 'Electronic power steering',
                url: '#'
              }
            ]
          },
          {
            text: 'Visibility',
            url: '#',
            childItems: [
              {
                text: 'Field of vision',
                url: '#'
              },
              {
                text: 'Condition of glass',
                url: '#'
              },
              {
                text: 'View of rear',
                url: '#'
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Windscreen wipers',
                url: '#'
              },
              {
                text: 'Windscreen washers',
                url: '#'
              }
            ]
          },
          {
            text: 'Lamps, reflectors and electrical equipment',
            url: '#',
            childItems: [
              {
                text: 'Headlamps',
                url: '#'
              },
              {
                text: 'Front and rear position lamps, end outline marker lamps and daytime running lamps',
                url: '#'
              },
              {
                text: 'Stop lamps',
                url: '#'
              },
              {
                text: 'Direction indicators and hazard warning lamps',
                url: '#'
              },
              {
                text: 'Front and rear fog lamps',
                url: '#'
              },
              {
                text: 'Reversing lamps',
                url: '#'
              },
              {
                text: 'Rear registration plate lamps',
                url: '#'
              },
              {
                text: 'Rear reflectors',
                url: '#'
              },
              {
                text: 'Tell-tales mandatory for lighting equipment',
                url: '#'
              },
              {
                text: 'Trailer electrical socket',
                url: '#'
              },
              {
                text: 'Electrical wiring',
                url: '#'
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Battery(ies)',
                url: '#'
              }
            ]
          }
        ]) }}

      {%- endcall %}

      {% call components.columnHalf() %}

        {% set manualLinksColumnTwo = [
          {
            text: 'Axles, wheels, tyres and suspension',
            url: '#',
            childItems: [
              {
                text: 'Axles',
                url: '#'
              },
              {
                text: 'Wheels and tyres',
                url: '#'
              },
              {
                text: 'Suspension',
                url: '#'
              }
            ]
          },
          {
            text: 'Body, structure and attachments',
            url: '#',
            childItems: [
              {
                text: 'Structure and attachments',
                url: '#'
              },
              {
                text: 'Body and interior',
                url: '#'
              }
            ]
          },
          {
            text: 'Other equipment',
            url: '#',
            childItems: [
              {
                text: 'Seat belts and suplementary restraint systems (SRS)',
                url: '#'
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Anti-theft device',
                url: '#'
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Audible warning (Horn)',
                url: '#'
              },
              {
                text: 'Speedometer',
                url: '#'
              },
              {
                text: 'Not in use',
                url: '#'
              },
              {
                text: 'Speed limiter',
                url: '#'
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Electronic stability control (ESC)',
                url: '#'
              }
            ]
          },
          {
            text: 'Nuisance',
            url: '#',
            childItems: [
              {
                text: 'Noise',
                url: '#'
              },
              {
                text: 'Exhaust emission',
                url: '#'
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Other environmental items',
                url: '#'
              }
            ]
          },
          {
            text: 'Suplementary tests for buses and coaches<',
            url: '#',
            childItems: [
              {
                text: 'Doors',
                url: '#'
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Not in use',
                url: ''
              },
              {
                text: 'Passenger grab handles',
                url: '#'
              },
              {
                text: 'Steps and stairs',
                url: '#'
              }
            ]
          },
          {
            text: 'Seat belt installation checks',
            url: '#',
            childItems: [
              {
                text: 'Seatbelts installation guidance notes',
                url: '#'
              },
              {
                text: 'Seatbelts installation diagrams',
                url: '#'
              }
            ]
          }
        ] %}

        {{ components.manualsLinks(items=manualLinksColumnTwo, startIndex=5) }}

      {%- endcall %}
    {%- endcall %}

  {%- endcall %}

  {% call components.columnOneThird() %}
    {% include './partials/side-nav.njk' %}
  {%- endcall %}

  {%- endcall %}

{% endblock %}