{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        MOT tests
      </a>
    </li>
    <li>
      <a href="/">
        MOT test history
      </a>
    </li>
    <li>
      <a href="/">
        Compare tests
      </a>
    </li>
    <li>
      <a href="/">
        Compare defects
      </a>
    </li>
    <li>
        Review difference
    </li>  
    </ol>
</div>

<h1 class="heading-xlarge heading heading--page-heading">
  Review difference<br />8 of 10
</h1>


<table class="key-value-list">
  <tbody>
    <tr>
      <td style="border-top: 0px;"></td>
      <td style="font-weight: bold; border-top: 0px; font-size: 2.25rem; background-color: #dee0e2; padding-left: 10px;">John Morris,<br>MORR6734</td>
      <td style="font-weight: bold; border-top: 0px; font-size: 2.25rem; padding-left: 10px;">Harry Enforsmith,<br>Vehicle Examiner</td>
    </tr>
    <tr>
      <td>Defect</td>
      <td style="background-color: #dee0e2; padding-left: 10px;">-</td>
      <td style="padding-left: 10px; font-weight: bold;">
         Wheel hub spigot mounting slightly worn [<a href="#" title="Check defect categorisation">5.2.1 (b) (i)</a>]
        <span class="key-value-list__meta" style="margin-bottom: 5px; color: black;">Offside rear</span>
        <span class="badge">Advisory</span>
    </td>
      <td></td>
    </tr>
  </tbody>
</table>

<div style="margin-top: 40px;">
    <label class="form-label" for="choose-action">Decision</label>
    <select class="form-control" id="choose-action" style="margin-bottom:20px;">
        <option value="1">Disregard</option>
        <option value="2">Overruled, marginally wrong</option>
        <option value="3">Obviously wrong</option>
        <option value="4">Significantly wrong</option>
        <option value="5">No defect</option>
        <option value="7">Not testable</option>
        <option value="8">Excessive corrosion/wear/damage missed</option>
        <option value="9">Risk of injury missed</option>
    </select>
    <label class="form-label" for="justification">Comment that will be included in case</label>
    <textarea class="form-control" name="justification" id="justification" rows="3" style="width:480px; margin-bottom: 20px;"></textarea>
    
    <a class="button" href="site-issues" value="Save">Save</a><br/>
    <a href="">Back</a>
</div>





{% endblock %}
