{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Course information - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %}
{% set learnerPrototypeVersion = 'v8' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v8/' %}
{% set homePath = '/prototypes/learner/v8/home' %}
{% set isAdmin = isAdmin if isAdmin %}

{% set removeMessage = removeMessage if removeMessage %}
{% set tempBlockNumber = tempBlockNumber if tempBlockNumber %}
{% set description = description if description%}
{% set outcomes = outcomes if outcomes %}

{% block content %}

    {{ components.pageHeading('Course assets', 'Add a new course') }}

    {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}

        {% call components.formElement(name='enterNewCourse', method='POST', action='#') %}

            <div class="form-group">
                <label class="form-label" for="description">Course description</label>
                <textarea class="form-control form-control-3-4" name="description" id="description" rows="5">{{ description }}</textarea>
            </div>

            <div class="form-group">
                <label class="form-label" for="outcomes">Learning outcomes</label>
                <textarea class="form-control form-control-3-4" name="outcomes" id="outcomes" rows="5">{{ outcomes }}</textarea>
            </div>

            {% for i in range(1, tempBlockNumber) -%}

                <div class="form-group">
                    <label class="form-label" for="customTitle_{{ i }}">Custom content title ({{ i }})</label>
                    <input class="form-control form-control-3-4" name="customTitle_{{ i }}" id="customTitle_{{ i }}">
                </div>

                <div class="form-group">
                    <label class="form-label" for="customText_{{ i }}">Custom content text ({{ i }})</label>
                    <textarea class="form-control form-control-3-4" name="customText_{{ i }}" id="customText_{{ i }}" rows="5"></textarea>
                </div>

            {%- endfor %}

            <div class="form-group">
                <p><button class="button--info" type="submit" name="addRowEvent" value="addRow">Add some custom content</button> </p>
            </div>

            <div class="form-group">
                <input class="button " type="submit" value="Continue" name="submitForm">
            </div>

            <p>
                <a href="/prototypes/learner/v8/admin">Cancel</a>
            </p>

        {%- endcall %}

    {%- endcall %}

    {% call components.columnOneThird() %}

        <aside class="govuk-related-items govuk-related-items--flush govuk-related-items--keylined" role="complementary">
            <h2 class="heading-small">Actions</h2>

            <ul class="">
                <li><a href="/prototypes/learner/v8/admin/add">Add a new course</a></li>
                <li><a href="/prototypes/learner/v8/admin/add-event">Add a new event</a></li>
            </ul>

            <h2 class="heading-small">Find a course</h2>

            <div class="search-box search-box--sidebar">

                {% call components.formElement(name='searchLearning', method='POST', action="/prototypes/learner/v8/search") %}

                    <div class="form-group search-box__group u-space-b">

                        <label class="visuallyhidden" for="searchInput">Search all available learning</label>

                        <input class="form-control search-box__input" id="searchInput" type="search" name="searchInput" value="" placeholder="Search CSL">

                        <button type="submit" class="search-box__submit">Search</button>

                    </div>

                {%- endcall %}

            </div>

        </aside>

    {%- endcall %}

    {%- endcall %}

{% endblock %}
