{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Content management - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %}
{% set learnerPrototypeVersion = 'v8' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v8/' %}
{% set homePath = '/prototypes/learner/v8/home' %}
{% set isAdmin = isAdmin if isAdmin %}

{% set removeMessage = removeMessage if removeMessage %}

{% block content %}

    {{ components.pageHeading('Add a new course') }}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {% if hasLeftFeedback %}

                {{ components.banner(mainText='Thank you for your feedback', secondaryText='Leaving feedback helps us improve our service.', type="confirmation")}}

            {% endif %}

        {%- endcall %}

    {%- endcall %}


    {% call components.gridRow() %}

    {% call components.columnTwoThirds() %}

    {% call components.formElement(name='enterNewPassword', method='POST', action='#') %}

        {#{{ components.field(label='Course title', id='coursetitle', hint="", group=true)}}#}

        <div class="form-group">
            <label class="form-label  heading-small" for="coursetitle">Course title</label>
            <input class="form-control" id="coursetitle" type="text" name="coursetitle" value="">
        </div>

        <div class="form-group">
            <fieldset>
                <legend class="heading-small">Type of course</legend>
                <div class="multiple-choice">
                    <input id="typeBlog" type="radio" name="courseTypeRadios" value="blog">
                    <label for="typeBlog">Blog</label>
                </div>

                <div class="multiple-choice" data-target="courseCost">
                    <input id="typeClassroom" type="radio" name="courseTypeRadios" value="classroom">
                    <label for="typeClassroom">Classroom</label>
                </div>

                <div class="panel panel-border-narrow js-hidden" id="courseCost">
                    <label class="form-label" for="classroomCourseCost">Country name</label>
                    <input class="form-control" type="text" id="classroomCourseCost" name="classroomCourseCost">
                </div>

                <div class="multiple-choice">
                    <input id="typeOnline" type="radio" name="courseTypeRadios" value="online">
                    <label for="typeOnline">Online</label>
                </div>

                <div class="multiple-choice">
                    <input id="typeVideo" type="radio" name="courseTypeRadios" value="video">
                    <label for="typeVideo">Video</label>
                </div>

            </fieldset>
        </div>

        {% call components.formGroup() %}

            {{ components.button(text='Continue', group=true)}}

        {%- endcall %}

        <p>
            <a href="/prototypes/learner/v8">Cancel</a>
        </p>

    {%- endcall %}



    {%- endcall %}

    {% call components.columnOneThird() %}

        <aside class="govuk-related-items govuk-related-items--flush govuk-related-items--keylined" role="complementary">
            <h2 class="heading-small">Actions</h2>

            <ul class="">
                <li><a href="#">Add a new course</a></li>
            </ul>

            <h2 class="heading-small">Find a course</h2>

            <div class="search-box search-box--sidebar">

                {% call components.formElement(name='searchLearning', method='POST', action="/prototypes/learner/v8/search") %}

                    <div class="form-group search-box__group u-space-b">

                        <label class="visuallyhidden" for="searchInput">Search all available learning</label>

                        <input class="form-control search-box__input" id="searchInput" type="search" name="searchInput" value="" placeholder="Search CSL">

                        <button type="submit" class="search-box__submit">Search</button>

                    </div>

                {%- endcall %}

            </div>

        </aside>

    {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}



        {%- endcall %}

    {%- endcall %}

{% endblock %}
