{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Content management - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %}
{% set learnerPrototypeVersion = 'v8' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v8/' %}
{% set homePath = '/prototypes/learner/v8/home' %}
{% set isAdmin = isAdmin if isAdmin %}

{% set removeMessage = removeMessage if removeMessage %}

{% block content %}

    {{ components.pageHeading('Content management') }}


    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <h2 class="heading-large">Courses</h2>

            {% call components.formElement(name='listAllCourses', method='POST', action="#") %}
            <div class="form-group">
                <label class="form-label" for="courseTypes">Chose which courses to view</label>
                <select class="form-control" id="courseTypes" name="courseList">
                    <option value="all">All</option>
                    <option>Analysis</option>
                    <option>Commercial</option>
                    <option>Communications</option>
                    <option>Corporate finance</option>
                    <option>Digital, Data and Technology</option>
                    <option>Finance</option>
                    <option>Fraud, error, debt and grants</option>
                    <option>Human resources</option>option>
                    <option>Internal audit</option>option>
                    <option>Legal</option>
                    <option>Project delivery</option>option>
                    <option>Property</option>
                </select>
            </div>

            <div class="form-group u-space-b">

                <button type="submit" name="courseSubmit" class="button" value="courses">View courses</button>

            </div>

            {%- endcall %}

            <h3 class="heading-medium">Most recently added courses</h3>

            <table class="table--top">
                <thead>
                <tr>
                    <th class="title small">Course title</th>
                    <th>Type</th>
                    <th>Added on</th>
                    <th><span class="visuallyhidden">Actions</span></th>
                </tr>
                </thead>
                <tbody>
                <tr class="">
                    <td class="title small">
                        <a href="#">This is the name of my course</a>
                    </td>
                    <td>Online</td>
                    <td>08 Feb 2018</td>
                    <td>
                        <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                    </td>
                </tr>
                <tr class="">
                    <td class="title small">
                        <a href="#">This is the name of my course</a>
                    </td>
                    <td>Online</td>
                    <td>08 Feb 2018</td>
                    <td>
                        <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                    </td>
                </tr>
                <tr class="">
                    <td class="title small">
                        <a href="#">This is the name of my course</a>
                    </td>
                    <td>Online</td>
                    <td>08 Feb 2018</td>
                    <td>
                        <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                    </td>
                </tr>
                <tr class="">
                    <td class="title small">
                        <a href="#">This is the name of my course</a>
                    </td>
                    <td>Online</td>
                    <td>08 Feb 2018</td>
                    <td>
                        <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                    </td>
                </tr>
                <tr class="">
                    <td class="title small">
                        <a href="#">This is the name of my course</a>
                    </td>
                    <td>Online</td>
                    <td>08 Feb 2018</td>
                    <td>
                        <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <h2 class="heading-large">Events</h2>

            {% call components.formElement(name='listAllEvents', method='POST', action="#") %}
                <div class="form-group">
                    <label class="form-label" for="courseTypes">Chose which events to view</label>
                    <select class="form-control" id="courseTypes" name="eventsList">
                        <option value="all">All</option>
                        <option>Upcoming</option>
                        <option>Past</option>
                    </select>
                </div>

                <div class="form-group u-space-b">

                    <button type="submit" name="eventsSubmit" class="button" value="events">View events</button>

                </div>

            {%- endcall %}

        <h3 class="heading-medium">Most recently added events</h3>

        <table class="table--top">
            <thead>
            <tr>
                <th class="title small">Event</th>
                <th>Added on</th>
                <th><span class="visuallyhidden">Actions</span></th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td class="title small">
                    Manchester, 29 July 2018
                    <span class="meta"><a href="#">This is the name of the associated course</a></span>
                </td>
                <td>08 Feb 2018</td>
                <td>
                    <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                </td>
            </tr>
            <tr class="">
                <td class="title small">
                    Bristol, 21 July 2018
                    <span class="meta"><a href="#">This is the name of the associated course</a></span>
                </td>
                <td>08 Feb 2018</td>
                <td>
                    <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                </td>
            </tr>
            <tr class="">
                <td class="title small">
                    London, 4 July 2018
                    <span class="meta"><a href="#">This is the name of the associated course</a></span>
                </td>
                <td>08 Feb 2018</td>
                <td>
                    <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                </td>
            </tr>
            <tr class="">
                <td class="title small">
                    London, 11 August 2018
                    <span class="meta"><a href="#">This is the name of the associated course</a></span>
                </td>
                <td>08 Feb 2018</td>
                <td>
                    <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                </td>
            </tr>
            <tr class="">
                <td class="title small">
                    Leeds, 9 June 2018
                    <span class="meta"><a href="#">This is the name of the associated course</a></span>
                </td>
                <td>08 Feb 2018</td>
                <td>
                    <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                </td>
            </tr>
            <tr class="">
                <td class="title small">
                    Manchester, 29 July 2018
                    <span class="meta"><a href="#">This is the name of the associated course</a></span>
                </td>
                <td>08 Feb 2018</td>
                <td>
                    <a href="#">Delete</a>&nbsp; &nbsp; &nbsp;<a href="#">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>




        {%- endcall %}

        {% call components.columnOneThird() %}

            <aside class="govuk-related-items govuk-related-items--flush govuk-related-items--keylined" role="complementary">
                <h2 class="heading-small">Actions</h2>

                <ul class="">
                    <li><a href="/prototypes/learner/v8/admin/add">Add a new course</a></li>
                    <li><a href="/prototypes/learner/v8/admin/add-event">Add a new event</a></li>
                </ul>

                <h2 class="heading-small">Find a course</h2>

                <div class="search-box search-box--sidebar">

                    {% call components.formElement(name='searchLearning', method='POST', action="/prototypes/learner/v8/search") %}

                        <div class="form-group search-box__group u-space-b">

                            <label class="visuallyhidden" for="searchInput">Search all available learning</label>

                            <input class="form-control search-box__input" id="searchInput" type="search" name="searchInput" value="" placeholder="Search CSL">

                            <button type="submit" class="search-box__submit">Search</button>

                        </div>

                    {%- endcall %}

                </div>

            </aside>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}



        {%- endcall %}

    {%- endcall %}

{% endblock %}
