{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Confirm Vehicle and Start Test' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT testing'}
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    {{ components.pageHeading(heading='Front Exterior Checks', secondary='MOT Inspection') }}

    <h2 class="heading heading--medium heading-medium">Defect Categories</h2>

    <div class="browse u-margin-bottom-30">

      <div class="browse--two">

        <div class="browse__cats">

          <h3 class="browse__title hide-small">Categories</h3>

          <ul class="browse__list">

            <li><a href="#">Registration plate</a></li>

            <li><a href="#">Bonnet</a></li>

            <li><a href="#">Body condition</a></li>

            <li><a href="#" class="browse__slctd">Lamps</a></li>

            <li><a href="#">Headlamp aim</a></li>

            <li><a href="#">View to the front</a></li>

          </ul>

        </div>

        <div class="browse__cats--sub">

          <h3 class="browse__title hide-small">Lamps</h3>

          <ul class="browse__list">

            <li><a href="/prototypes/vsi-during-test/front-exterior-checks/front-exterior-checks-3">Headlamps</a></li>

            <li><a href="#">Headlamp aim</a></li>

            <li><a href="#">Direction indicators</a></li>

            <li><a href="#">Front fog lamps</a></li>

            <li><a href="#">Registration plate lamps</a></li>

            <li><a href="#">Hazard warning</a></li>

            <li><a href="#">Daytime running lamps</a></li>

          </ul>

        </div>
        
      </div>

    </div>
 
    <nav class="content-navigation">
        <ul class="list-unstyled content-navigation__split u-clearfix">
          <li class="content-navigation__split--left"> 
            <a class="button" id="confirm-start-test" href="advice">Return to inspection</a>        
          </li>
        </ul>
    </nav>

    {% endcall %}

  {% endcall %}

{% endblock %}
