{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Confirm Vehicle and Start Test' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT testing'}
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    {{ components.pageHeading(heading='Front Exterior Checks', secondary='MOT Inspection') }}

    <h2 class="heading heading--medium heading-medium">Defect Categories</h2>

    <div class="breadcrumbs breadcrumbs--muted">
      <ol>
        <li><a href="./front-exterior-checks-1">Front Exterior Checks</a></li>
        <li><a href="./front-exterior-checks-2">Lamps</a></li>
        <li>Headlamps</li>
      </ol>
    </div>

    <div class="browse browse--no-media-break u-margin-bottom-30">

      <div class="browse--three">

        <div class="browse__cats">

          <h3 class="browse__title hide-small">Front exterior checks</h3>

          <ul class="browse__list">

            <li><a href="#">Registration plate</a></li>

            <li><a href="#">Bonnet</a></li>

            <li><a href="#">Body condition</a></li>

            <li><a href="#" class="browse__slctd">Lamps</a></li>

            <li><a href="#">Headlamp aim</a></li>

            <li><a href="#">View to the front</a></li>

          </ul>

        </div>

        <div class="browse__cats--sub">

          <h3 class="browse__title hide-small">Lamps</h3>

          <ul class="browse__list">

            <li><a href="#" class="browse__slctd">Headlamps</a></li>

            <li><a href="#">Headlamp aim</a></li>

            <li><a href="#">Direction indicators</a></li>

            <li><a href="#">Front fog lamps</a></li>

            <li><a href="#">Registration plate lamps</a></li>

            <li><a href="#">Hazard warning</a></li>

            <li><a href="#">Daytime running lamps</a></li>

          </ul>

        </div>

        <div class="browse__cats--sub">

          <h3 class="browse__title hide-small">Headlamps</h3>

          <ul class="browse__list">

            <li><a href="#">Dipswitch</a></li>

            <li><a href="/prototypes/vsi-during-test/front-exterior-checks/front-exterior-checks-4">Headlamp</a></li>

            <li><a href="#">Headlamp cleaning device</a></li>

            <li><a href="#">Headlamp levelling device</a></li>

            <li><a href="#">Matched pair</a></li>

            <li><a href="#">Switch</a></li>

          </ul>

        </div>
        
      </div>

    </div>
 
    <nav class="content-navigation">
        <ul class="list-unstyled content-navigation__split u-clearfix">
          <li class="content-navigation__split--left"> 
            <a class="button button--touch" id="confirm-start-test" href="/prototypes/vsi-during-test/inspection/inspection-2">Return to MOT inspection</a>        
          </li>
        </ul>
    </nav>

    {% endcall %}

  {% endcall %}

{% endblock %}
