{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Confirm Vehicle and Start Test' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT testing'}
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    {{ components.pageHeading(heading='Front Exterior Checks', secondary='MOT Inspection') }}

    <h2 class="heading heading--medium heading-medium">Defect Categories</h2>

    <div class="eu-defect eu-defect--interim">
      <h2 class="eu-defect__title">Brake</h2>
      <ul class="list-unstyled eu-defect__list eu-defect__list--interim">
        <li>
          <div class="eu-defect__group-item">
          <span class="eu-defect__name eu-defect__name--bold">
          Grabbing severely
          </span>

          <div class="eu-defect__options eu-defect__options--manual-ref">
          <span class="eu-defect__manual-ref">
          <a href="/documents/manuals/class12/Section-1-Brakes.html#section_1.2.1" target="_blank">
          1.2.1 (c)
          </a>
          <span class="visuallyhidden">(Opens in new window)</span>
          </span>
          </div>

          <div class="eu-defect__options eu-defect__options--collapse-tablet">
          <a href="/mot-test/668599354702/defects/categories/25039/add/40202/prs" class="button--info">PRS</a>


          <a href="/mot-test/668599354702/defects/categories/25039/add/40202/failure" class="button--alert">Major failure</a>

          </div>
          </div>
          <div class="eu-defect__group-item eu-defect__group-item--secondary">
          <span class="eu-defect__name">Indicates slightly grabbing brake</span>
          <div class="eu-defect__options eu-defect__options--interim">
          <a href="/mot-test/668599354702/defects/categories/25039/add/40202/advisory" class="button--plain"> Advisory</a>
          </div>
          </div>
        </li>
        <li>
          <div class="eu-defect__group-item">
          <span class="eu-defect__name eu-defect__name--bold">
          Excessively binding
          </span>

          <div class="eu-defect__options eu-defect__options--manual-ref">
            <span class="eu-defect__manual-ref">
            <a href="/documents/manuals/class12/Section-1-Brakes.html#section_1.2.1" target="_blank">
            1.2.1 (f)
            </a>
            <span class="visuallyhidden">(Opens in new window)</span>
            </span>
          </div>

          <div class="eu-defect__options eu-defect__options--collapse-tablet">
            <a href="/mot-test/668599354702/defects/categories/25039/add/40628/prs" class="button--info">PRS</a>


            <a href="/mot-test/668599354702/defects/categories/25039/add/40628/failure" class="button--alert">Major failure</a>
          </div>
          </div>
          <div class="eu-defect__group-item eu-defect__group-item--secondary">
          <span class="eu-defect__name">Binding, not excessive</span>
          <div class="eu-defect__options eu-defect__options--interim">
          <a href="/mot-test/668599354702/defects/categories/25039/add/40628/advisory" class="button--plain"> Advisory</a>
          </div>
          </div>
        </li>
      </ul>
    </div>
 
    <nav class="content-navigation">
        <ul class="list-unstyled content-navigation__split u-clearfix">
          <li class="content-navigation__split--left"> 
            <a class="button" id="confirm-start-test" href="advice">Return to inspection</a>        
          </li>
        </ul>
    </nav>

    {% endcall %}

  {% endcall %}

{% endblock %}
