// This is for all instances of datatables
// that use the default generated markup
// injected into the DOM from the DT library
// for things like pagination and sorting arrows
//  Namespaced to prevent conflict, ideally this
//  will go on body or a high-level element
.data-tables {
  &,
  * {
    box-sizing: border-box;
  }

  table.collapsed {
    tbody {
      tr {
        td:first-child {
          padding-left: 90px;
          position: relative;
  
          &:before {
            top: 12px;
            left: 4px;
            display: block;
            position: absolute;
            color: white;
            text-align: center;
            line-height: 14px;
            font-size: 14px;
            letter-spacing: 1;
            content: 'Expand';
            background-color: $green;
            padding: 6px;
            width: 60px;

            @media(max-width: 640px) {
              top: 8px;
            }
          }

          &:hover {
            cursor: pointer;
          }

          &.dataTables_empty {
            padding-left: 0;
            
            &:before {
              display: none;
            }
          }
        }
  
        &.parent {
          td:first-child {
            &:before {
              content: 'Collapse';
              background-color: $error-colour;
            }
          }
        }
  
        &.child {
          td:first-child {
            padding-left: 0;
  
            &:before {
              display: none;
            }
          }
  
          ul {
            li {
              margin-bottom: 5px;
  
              &:last-child {
                margin-bottom: 0;
              }
              
              .dtr-title {
                display: block;
                font-weight: bold;
              }
      
              .dtr-data {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  
  .dataTables_filter {
    width: 200px;
    float: right;
    padding-right: 1px;
    
    label {
      .form-control { 
        display: block;
        width: 100%;
      }
    }

    &:after {
      content: ' ';
      display: block;
      clear: both;
    }
  }

  .dataTables_info {
    float: left;
  }

  .dataTables_length {
    margin: 0 0 10px 0;
  }

  .dataTables_paginate {
    margin: 10px 0;
    text-align: right;
    a {
      display: inline-block;
      padding: 0 5px;
      margin: 0 5px;
      text-decoration: underline;
      color: $link-colour;
      cursor: pointer;
      &:hover {
        color: $link-hover-colour;
      }
    }
    a.paginate_button {
      &.current {
        text-decoration: none;
        color: inherit;
        cursor: default;
      }

      &.disabled {
        opacity: 0.2;
      }
    }
    a.previous {
      padding-left: 0;
      margin-left: 0;
    }
    a.next {
      padding-right: 0;
      margin-right: 0;
    }
  }
  .pagination-wrapper {
    a {
      display: inline-block;
      padding: 0 5px;
      margin: 0 5px;
      text-decoration: underline;
      color: $govuk-blue;
      cursor: pointer;
      &.item-link-disabled {
        text-decoration: none;
        color: inherit;
        cursor: default;
      }
    }
  }
  .dataTables_processing {
    // flashes up while DT is sorting or getting new data
    position: absolute;
    display: none;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, .4);
    color: #fff;
  }
  .dataTable {
    thead {
      background-color: #dee0e2;
    }
    .sorting,
    .sorting_desc,
    .sorting_asc {
      position: relative;
      padding-right: 20px;
      &:after,
      &:before {
        position: absolute;
        right: 15px;
        font-size: 12px;
        width: 10px;
        font-weight: bold;
      }
    }
    .sorting_asc {
      &:after {
        content: '\25b2';
        top: 1.4em;
        right: 10px;
        @media (max-width: 640px) {
          top: 1em;
        }
      }
    }
    .sorting_desc {
      &:after {
        content: '\25bc';
        top: 1.4em;
        right: 10px;
        @media (max-width: 640px) {
          top: 1em;
        }
      }
    }
    .sorting {
      &:before {
        content: '\25b2';
        top: 1em;
        right: 10px;
        @media (max-width: 640px) {
          top: .6em;
        }
      }
      &:after {
        content: '\25bc';
        top: 2em;
        right: 10px;
        @media (max-width: 640px) {
          top: 1.6em;
        }
      }
    }
  }
}
