// This is for all instances of datatables
// that use the default generated markup
// injected into the DOM from the DT library
// for things like pagination and sorting arrows
//  Namespaced to prevent conflict, ideally this
//  will go on body or a high-level element
.data-tables {
  .dataTables_paginate {
    margin: 10px 0;
    text-align: right;
    a {
      display: inline-block;
      padding: 0 5px;
      margin: 0 5px;
      text-decoration: underline;
      color: $link-colour;
      cursor: pointer;
      &:hover {
        color: $link-hover-colour;
      }
    }
    a.paginate_button {
      &.current {
        text-decoration: none;
        color: inherit;
        cursor: default;
      }
    }
    a.previous {
      padding-left: 0;
      margin-left: 0;
    }
    a.next {
      padding-right: 0;
      margin-right: 0;
    }
  }
  .pagination-wrapper {
    a {
      display: inline-block;
      padding: 0 5px;
      margin: 0 5px;
      text-decoration: underline;
      color: #005ea5;
      cursor: pointer;
      &.item-link-disabled {
        text-decoration: none;
        color: inherit;
        cursor: default;
      }
    }
  }
  .dataTables_processing {
    // flashes up while DT is sorting or getting new data
    position: absolute;
    display: none;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, .4);
    color: #fff;
  }
  .dataTable {
    thead {
      background-color: #dee0e2;
    }
    .sorting,
    .sorting_desc,
    .sorting_asc {
      position: relative;
      &:after,
      &:before {
        position: absolute;
        right: 15px;
        font-size: 12px;
        width: 10px;
        font-weight: bold;
      }
    }
    .sorting_asc {
      &:after {
        content: '\25b2';
        top: 1.4em;
        @media (max-width: 640px) {
          top: 1em;
        }
      }
    }
    .sorting_desc {
      &:after {
        content: '\25bc';
        top: 1.4em;
        @media (max-width: 640px) {
          top: 1em;
        }
      }
    }
    .sorting {
      &:before {
        content: '\25b2';
        top: 1em;
        @media (max-width: 640px) {
          top: .6em;
        }
      }
      &:after {
        content: '\25bc';
        top: 2em;
        @media (max-width: 640px) {
          top: 1.6em;
        }
      }
    }
  }
}
