{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'MOT Home' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Brake test' }
] %}

{% block content %}

<div class="o-wrapper phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>
              This is a new service – your
              <a id="feedback-link" target="_blank" href="http://www.smartsurvey.co.uk/s/MTSFeedback/">feedback</a>
              will help us to improve it.
          </span>
        </p>
    </div>



    <section class="c-home-hero">
            <div class="o-wrapper">
              <div class="c-home-hero__content">
              

              {# Start of Vehicle info component, or 'Your Home' if not present as in mot-home.njk #}
                <div class="vehicle-info vehicle-info--light">
                  <div class="grid-row">
                    <div class="column-full">
                      <h1 class="heading-large u-margin-0">
                        <span class="heading__secondary">Test in progress</span> Peugeot 3008 SUV
                      </h1>
                    </div>
                  </div>
                  <div class="grid-row vehicle-info__details">
                    <div class="column-one-third">
                      <h2 class="heading-medium vehicle-info__details-heading">
                        <span class="heading__secondary">Registration number</span> TH10 CZR
                      </h2>
                    </div>
                    <div class="column-one-third">
                      <h2 class="heading-medium vehicle-info__details-heading">
                        <span class="heading__secondary">VIN</span> GAULAGAAAAA495118
                      </h2>
                    </div>
                    <div class="column-one-third">
                      <h2 class="heading-medium vehicle-info__details-heading">
                        <span class="heading__secondary">Colour</span> <span class="vehicle-info__swatch vehicle-info__swatch--cream">Cream</span>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c-home-hero__actions" id="hero-actions">
                  <a class="button button-start" href="/vehicle-search" id="action-resume-mot-test">Enter test results</a>
                  <ul class="c-action-list">
                  <li class="c-action-list__item">
                    <a class="c-action-list__link" href="/replacement-certificate-vehicle-search" id="action-start-certificate-reissue">Replacement/duplicate certificate</a>
                  </li>
                  <li class="c-action-list__item">
                    <a class="c-action-list__link" href="/forms" id="mot-forms">MOT forms</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>


          <main id="content">
                  <div class="grid-row">

                  <div class="column-half--desktop"> 

                  <section id="special-notice-list" class="c-home-block">

                      <header class="c-home-block__head">
                        <h2 class="c-home-block__title">
                            Messages
                        </h2>
                      </header>
        
        
                      <a class="message-notification message-notification--high-priority" href="/prototypes/messages/inbox">
                        <h3 class="row">
                          <span class="message-notification__message-type-count">1</span>
                          <span class="message-notification__message-type-title">special notices</span>
                          <span class="message-notification__message-type-info">5 days to acknowledge</span>
                        </h3>
                      </a>
        
        
                      <a class="message-notification" href="/prototypes/messages/inbox"> 
                        <h3 class="row">
                          <span class="message-notification__message-type-count">2</span>
                          <span class="message-notification__message-type-title">role nominations</span>
                          <span class="message-notification__message-type-info">waiting to be accepted or rejected</span>
                        </h3>
                      </a>
        
                      <a class="message-notification" href="/prototypes/messages/inbox"> 
                        <h3 class="row">
                          <span class="message-notification__message-type-count">3</span>
                          <span class="message-notification__message-type-title">further notifications</span>
                          <span class="message-notification__message-type-info">waiting to be read</span>
                        </h3>
                      </a>

                      <a href="/notification/list">View all messages</a>
                        
                      </section>  
                    </div>
                    <div class="column-half--desktop">
                      <section class="c-home-block" id="ae-vts-list_0">
                        <header class="c-home-block__header ae-header">
                          <h2 class="c-home-block__title ae-title">
                            <a href="/authorised-examiner/48496">SALVADOR ESPEJO</a>
                          </h2>
                          <p class="c-home-block__subtitle">
                            Authorised Examiner number: AE048496
                          </p>
                        </header>
                        <div class="u-space-b15">
                          <p>
                            Your vehicle testing stations
                          </p>
                          <ul class="o-bordered-list vts-list">
                            <li class="o-bordered-list__item">
                              <a class="site-link" href="/vehicle-testing-station/77860">
                                (VTS077860) INTEREST SERVICE STATION</a>
                              <div class="u-text-meta vts-roles">
                                TESTER, SITE-ADMIN
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="c-slots">
                          <span class="c-slots__count c-slots__count--sm">21102</span> <span class="c-slots__subtext">slots available</span>
                        </div>
                      </section>
                      <section class="c-home-block">
                        <header class="c-home-block__head">
                          <h2 class="c-home-block__title">
                            Your performance
                          </h2>
                        </header>
                        <ul>
                          <li>
                            <a href="/stats" id="action-view-performance-dashboard">Performance dashboard</a>
                          </li>
                        </ul>
                      </section>
                      <div class="c-home-block">
                        <header class="c-home-block__head">
                          <h2 class="c-home-block__title">
                            Training
                          </h2>
                        </header>
                        <p>
                          Practice on any class of vehicle without using slots or recording the outcome.
                        </p>
                        <p>
                          <a class="button button--touch" href="/training-test-vehicle-search" id="action-start-mot-demonstration">Start training test</a>
                        </p>
                      </div>
                      <section class="c-home-block">
                        <header class="c-home-block__head">
                          <h2 class="c-home-block__title">
                            Contingency Tests
                          </h2>
                        </header>
                        <ul class="c-action-list">
                          <li class="c-action-list__item">
                            <a class="c-action-list__link" href="/contingency" id="action-view-performance-dashboard">Record contingency test</a>
                          </li>
                          <li class="c-action-list__item">
                            <a class="c-action-list__link" href="/forms/contingency-pass-certificate" target="_blank">CT20 Pass Certificate</a>
                          </li>
                          <li class="c-action-list__item">
                            <a class="c-action-list__link" href="/forms/contingency-fail-certificate" target="_blank">CT30 Refusal Notice</a>
                          </li>
                        </ul>
                      </section>
                    </div>
                  </div>
             </main>
 
  
{% endblock %}