{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Search results - Civil Service Learning Platform' %}
{% set blackBarTitle = 'Civil Service Learning' %} {% set learnerPrototypeVersion = 'v1' %}
{% set signOutPath = '/prototypes/learner/v1/' %}
{% set homePath = '/prototypes/learner/v1/home' %}
{% set searchTerm = searchTerm if searchTerm %}

{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.pageHeading('Search results') }}

            <div class="search-box">

                {% call components.formElement(name='searchLearning', method='POST', action="/prototypes/learner/v1/search") %}

                    <div class="form-group search-box__group">

                        <label class="visuallyhidden" for="searchInput">Search all available learning</label>

                        <input class="form-control search-box__input" id="searchInput" type="search" name="searchInput" value="" placeholder="Search CSL">

                        <button type="submit" class="search-box__submit">Search</button>

                        <a href="#" class="search-box__advanced">Advanced search</a>

                    </div>

                {%- endcall %}

            </div>

        <p class="lede">There were <strong>46</strong> results for <strong>senior management</strong></p>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}



        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <div class="pager">

                <div class="pager__controls">

                    <ul class="pager__list">
                        <li>1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>

                    <a class="pager__next" href="#">Next</a>

                </div>

                <div class="pager__summary">Showing 1 – 10 of 45 items</div>

            </div>

        {%- endcall %}

    {%- endcall %}


{% endblock %}
