{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'CI Authentication' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Messages' }
] %}

{% block content %}

<div class="grid-row">

  <div class="column-full">
    
      <header class="content-header">
        <h1>
          <span class="content-header__type">Special notice</span>
          <span class="content-header__title">Update security questions</span>
        </h1>
        <h2 class="content-header__tertiary">Published 8 July 2019</h2>
      </header>

        <div class="text">
          
          <p>DVSA has changed the MTS authentication process to improve the security of the MOT testing.</p>
          <p>As a result MTS users are asked to add a third security question to their account. Previously the users have been required to have two security questions.</p>
          <p>To update your security questions now, make sure you’ve signed in to MTS with your security card. You can then review your current questions and answers and add a new one.</p>
          <a class="button" href="update-sq" role="button">Review and update your security questions</a>
          
          <div class="govuk-inset-text">
            <p>Please note that you will only be able to update your security questions if you have logged into the service using your security card PIN number.</p>
            <p>The security questions must be updated by <strong>22 July 2019</strong></p>
          </div>
          
          <h3 class="govuk-heading-m">
            If you do not update your security questions
          </h3>
          <p>After 22 July 2019 anyone who has not added a third security question will not be able to conduct MOT tests. They have to update their security questions before being able to conduct MOT tests.</p>
          
        </div>

      

      <div class="text u-clearfix">


        <div class="u-margin-top-10 u-margin-bottom-30">
          <a class="button" href="#" role="button">Acknowledge special notice</a>
        </div> 
  
    <p>
      <a href="inbox">Back to messages</a>
    </p>
  

  </div>

  
  </div>

  {% endblock %}