{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'GDS Accordions - Version List' %}

{% block content %}

  {{ components.pageHeading('GDS Accordions', 'Built for DVSA Front-End') }}

  {{ components.list(items=[
    { text: 'Version 1', url: '/moth-accordions/v1' }
  ]) }}
  
{% endblock %}