{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Your primary area of work - Learning Platform for Government' %}

{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v5' %}
{% set loggedOut = 'true' %}
{% set signOutPath = '/prototypes/learner/v5/' %}
{% set homePath = '/prototypes/learner/v5/' %}

{% set level2 = showLevel2 if showLevel2 %}
{% set level3 = showLevel3 if showLevel3 %}

{% block content %}

    <a class="link-back" href="/prototypes/learner/v5/your-profile/area-of-work">Back</a>

    {{ components.pageHeading('Your primary area of work') }}

    {{ components.heading(text='Digital, Data and Technology', tag='h2', size='medium', extraClass='') }}

    <p>Choose the level or role that is most appropriate to you. This will help tailor your suggested learning.</p>

    {% call components.formElement(name='registerProfession', method='POST', action="#") %}

        {% call components.gridRow() %}

            {% call components.columnFull() %}

                <div class="levels u-clearfix">
                    
                    <div class="levels__col levels__col--1">
                        
                        <ul class="levels__list">
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true" class="levels__link">Data</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true" class="levels__link">IT Operations</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true" class="levels__link">Product and delivery</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true" class="levels__link">QAT</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true" class="levels__link">Technical</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true" class="levels__link {% if level2 %} levels__link--selected {% endif %}">User centred design</a>
                            </li>
                            {#{% if not level2 %}#}
                            <li>
                                <a href="/prototypes/learner/v5/actions?action=workAreaHasBeenUpdated" class="levels__link levels__link--unsure">Choose this level</a>
                            </li>
                            {#{% endif %}#}
                        </ul>
                        
                    </div>

                    {% if level2 %}

                    <div class="levels__col levels__col--2">

                        <ul class="levels__list">
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true&level3=true" class="levels__link">Content designer</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true&level3=true" class="levels__link">Content strategist</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true&level3=true" class="levels__link">Graphic designer</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true&level3=true" class="levels__link {% if level3 %} levels__link--selected {% endif %}">Interaction designer</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true&level3=true" class="levels__link">Service designer</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true&level3=true" class="levels__link">Technical writer</a>
                            </li>
                            <li>
                                <a href="/prototypes/learner/v5/your-profile/area-of-work/levels?level1=true&level2=true&level3=true" class="levels__link">User researcher</a>
                            </li>
                            {#{% if not level3 %}#}
                            <li>
                                <a href="/prototypes/learner/v5/actions?action=workAreaHasBeenUpdated" class="levels__link levels__link--unsure">Choose this level</a>
                            </li>
                            {#{% endif %}#}
                        </ul>

                    </div>

                    {% endif %}

                    {% if level3 %}

                    <div class="levels__col levels__col--3">

                        <ul class="levels__list">
                            <li><a href="/prototypes/learner/v5/actions?action=workAreaHasBeenUpdated" class="levels__link">Head of interaction design</a></li>
                            <li><a href="/prototypes/learner/v5/actions?action=workAreaHasBeenUpdated" class="levels__link">Lead interaction designer</a></li>
                            <li><a href="/prototypes/learner/v5/actions?action=workAreaHasBeenUpdated" class="levels__link">Senior interaction designer</a></li>
                            <li><a href="/prototypes/learner/v5/actions?action=workAreaHasBeenUpdated" class="levels__link">Interaction designer</a></li>
                            <li><a href="/prototypes/learner/v5/actions?action=workAreaHasBeenUpdated" class="levels__link">Junior interaction designer</a></li>
                            <li><a href="/prototypes/learner/v5/actions?action=workAreaHasBeenUpdated" class="levels__link">Associate interaction designer</a></li>
                            <li><a href="/prototypes/learner/v5/actions?action=workAreaHasBeenUpdated" class="levels__link levels__link--unsure">Choose this level</a></li>
                        </ul>

                    </div>

                    {% endif %}

                </div>

            {%- endcall %}


        {%- endcall %}



        {% call components.gridRow() %}

            {% call components.columnOneThird() %}

                <p>
                    <a href="/prototypes/learner/v5/your-profile" class="back">Cancel</a>
                </p>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}

