@import '../../../gds/variables/partials/palette-colours';

.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: $panel-colour;
  border: 1px solid $panel-colour;
  padding: (18px $gutter $gutter-half $gutter*1.5);
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;

  &.selected {
    background: $white;
    border-color: $black;
  }

  &.focused {
    outline: 3px solid $focus-colour;
  }

  @include media(tablet) {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    // width: 25%; - Test : check that text within labels will wrap
  }

  // Absolutely position inputs within label, to allow text to wrap
  input {
    position: absolute;
    top: 18px;
    left: $gutter-half;
    cursor: pointer;

    &.focus {
      outline: none;
    }
  }

  // Change border on hover
  &:hover {
    border-color: $black;
  }
}

// Below must be written this way in order for
// the body wrapper class to work since it is outdated code

.inline .block-label {
  clear: none;
  margin-right: $gutter-half;
}

&.js-enabled .block-label.js-hidden {
  display: none;
}