{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}
 

{% block content %}

  <div class="u-margin-bottom-15">
    <a href="javascript:history.back()" class="link-back">Back</a>
  </div>

  <h1 class="heading-large">
        <span class="heading-secondary">Tell us about changes to fixed equipment</span>
        You must get DVSA's approval in advance
  </h1>

  <h2 class="heading heading--medium  heading-medium">What you need to do next</h2>
  
  <div class="text">
     
    <p>Download and complete the VT01 form <a href="https://www.gov.uk/government/publications/application-for-mot-authorisation-vt01">Application for variation to MOT authorisation.</a></p>

  <p>
    <a href="/prototypes/vts-changes/start">Return to VTS Overview </a></p>
    </p>
  

  </div>
 
 
  {% endblock %}
   
