{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/manuals' },
  { text: 'WILLETTA AREDONDO', url: '/prototypes/mot-test' },
  { text: 'VTS079774', url: '/prototypes/vts-changes' },
  { text: 'Notify of changes to equipment'  }
] %}

{% block content %} 

  <h1 class="heading-large">
        <span class="heading-secondary">Notify of changes to equipment</span>
        <label for="radio-inline-group">
          Is the new equipment approved by DVSA?
        </label>
  </h1>

  {% call components.form(action='/prototypes/vts-changes/changes-03-approved', method='POST') %} 
  
  <div class="form-group">
    <fieldset class="inline">
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>
    </fieldset>
  </div>

  <div class="panel panel-border-wide u-margin-bottom-30"> 
      Replacement equipment must be on the <a href="https://www.gov.uk/government/publications/mot-centre-approved-testing-equipment">current DVSA approved list</a>.
  </div> 

  <div class="u-margin-bottom-15">
    <input type="submit" value="Continue" class="button"/> 
  </div> 
  <div class="u-margin-bottom-15">
    <a href="/prototypes/vts-changes/changes-02-type">Back</a>
  </div>
  
  
  {% endcall %}
 
  {% endblock %}
