{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}
 

{% block content %}

  <div class="u-margin-bottom-15">
    <a href="javascript:history.back()" class="link-back">Back</a>
  </div>

  <h1 class="heading-large">
        <span class="heading-secondary">Vehicle testing station</span>
        Tell about changes to fixed equipment
  </h1>
  
  <div class="text">
    <p class="lede">
      You must get DVSA's approval in advance.
    </p>

     
    <p>Download and complete the VT01 form <a href="https://www.gov.uk/government/publications/application-for-mot-authorisation-vt01">Application for variation to MOT authorisation.</a></p>

  <div class="u-margin-top-15">
    <a href="/prototypes/vts-changes/home">Back to VTS Overview</a>
  </div>
  

  </div>
 
 
  {% endblock %}
   
