{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}
 
{% block content %}

  <div class="u-margin-bottom-10">
    <a href="/prototypes/vts-changes/short-summary" class="link-back">Back</a>
  </div>
 
  <h1 class="heading-large">
      <span class="heading-secondary">Tell us about changes to fixed equipment</span> 
      Declaration
  </h1>

  <p class="lede">
    I understand that the equipment will be checked by the DVSA at the next visit.
  </p> 

  <div class="text">
    <p>The vehicle examiner will check that the equipment:</p>
      <ul class="list list-bullet">
        <li>is approved by the DVSA</li>
        <li>has been installed and calibrated correctly</li>
        <li>layout and dimensions meet the requirements for authorisation</li>
      </ul>
     <p>
      By submitting these details to the DVSA you confirm that the information you've given is true, complete and accurate.
    </p>
 

    <div class="notice u-margin-bottom-30">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong>If the changes do not meet the requirements for authorisation, DVSA will not approve the changes and the VTS may have to stop testing.</strong>
    </div> 
  </div>
 


  <div class="u-margin-top-15 u-margin-bottom-15">
      <a href="/prototypes/vts-changes/v3/confirmation" class="button">Submit</a><br><br>
  </div>
  
   <p>
      <a href="/prototypes/vts-changes/start">Return to VTS Overview </a></p>
    </p>

  
 
{% endblock %}