{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'VTS Changes' %}

{% block content %}

  {% call components.gridRow() %}
  
  {% call components.columnHalf() %}
  
  {{ components.pageHeading(heading='VTS Changes') }}

      <ul>
        <li>
          <a href="/prototypes/vts-changes/home?v=4">Journey 4</a> 
          <p>Latest</p>
        </li>
        <li>
          <a href="/prototypes/vts-changes/home?v=3">Journey 3</a>  
          <p>No declaration on summary. Follows on next page</p>
        </li>
        <li>
          <a href="/prototypes/vts-changes/home?v=2">Journey 2</a>
        </li>
        <li>
          <a href="/prototypes/vts-changes/home?v=1">Journey 1</a>
        </li>
      </ul>

    {%- endcall %} 

  {%- endcall %}
  
{% endblock %}