{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}
 

{% block content %}

  <div class="u-margin-bottom-15">
    <a href="/prototypes/vts-changes/approved" class="link-back">Back</a>
  </div>

  <h1 class="heading-large">
        <span class="heading-secondary">Tell us about changes to fixed equipment</span>
        You cannot use equipment that is not approved by the DVSA
  </h1>
  
  <div class="text">
    <p>Select your new equipment from the list of <a href="https://www.gov.uk/become-an-mot-station/approved-testing-equipment">DVSA approved testing equipment.</a></p> 
    </p>
    <p>In an exceptional situation the DVSA may approve new equipment whose manufacturer has sought approval from the DVSA.</p>
    <p>If you want to use such equipment, you must show supporting documentation from the manufacturer.</p>
    <p>For further details see section D2 of the <a href="https://www.gov.uk/government/publications/mot-testing-guide">MOT Testing Guide.</a></p>

  <div class="u-margin-top-15">
    <a href="/prototypes/vts-changes/home">Back to VTS Overview</a>
  </div>

  </div>
  
  </div>
  {% endblock %}