{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}
 

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/manuals' },
  { text: 'WILLETTA AREDONDO', url: '/prototypes/mot-test' },
  { text: 'VTS079774', url: '/prototypes/vts-changes' },
  { text: 'Tell about changes to your fixed equipment'  }
] %}

{% block content %}

  <h1 class="heading-large">
        <span class="heading-secondary">Vehicle testing station</span>
        Tell about changes to your fixed equipment
  </h1>
  
  <div class="text">
    <h2 class="heading-small">
        If your equipment is not approved by the DVSA
    </h2>
    <p class="lede">
      You must apply to DVSA for prior approval
    </p>

    <p>For changes to test class or the alteration of the building the AE must obtain DVSA’s approval for the proposed changes before putting them in hand; failure to do so may result in disciplinary action.</p>
    <p>Download and complete the VT01 form to <a href="https://www.gov.uk/government/publications/application-for-mot-authorisation-vt01">apply for variation to MOT authorisation</a>.</p>

  <div class="u-margin-top-15">
    <a href="/prototypes/vts-changes/">Back to VTS Overview</a>
  </div>
  

  </div>
 
 
  {% endblock %}
   
