{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Messages' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Messages') }}

      {% if flashMessage != '' %}

        <div class="message--success">

          <p> {{ flashMessage }} </p>

        </div>

      {% endif %}

      <div class='u-clearfix'>

        <div class="c-tab-list">
          <ul class="c-tab-list__tabs">          
            <li>
              <span class="c-tab-list__tab-link c-tab-list__tab-link--active" style="margin-top: -5px; margin-bottom: -1px; padding-top: 14px; padding-right: 19px; padding-bottom: 16px; padding-left: 19px; border: 1px solid #bfc1c3; border-bottom: 0; color: #0b0c0c; background-color: #fff; font-size: 19px; line-height: 1.31579;">Messages</span>
            </li>
            <li>
              <a href="/prototypes/mts-messages/notifications-archived-scheme-user" class="c-tab-list__tab-link" style="margin-top: -5px; margin-bottom: -1px; padding-top: 14px; padding-right: 19px; padding-bottom: 16px; padding-left: 19px; color: #0b0c0c; background-color: #f8f8f8; font-size: 19px; line-height: 0.75; font-weight: 400; text-decoration: none;">Archived</a>
            </li>
          </ul>

          <div style="border: 1px solid #bfc1c3; padding-right: 20px; padding-left: 20px;">

            <h3 class="heading-large">Messages</h3>
              
            <div class="form-group u-margin-bottom-30">
              <fieldset>
                <legend class="visually-hidden">Choose which notification type to view</legend>
                <div class="multiple-choice" style="display: inline-block; clear: none; margin-right: 30px;">
                  <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal" checked>
                  <label for="waste-type-1">Special notices</label>
                </div>
                <div class="multiple-choice" style="display: inline-block; clear: none; margin-right: 30px;">
                  <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines" checked>
                  <label for="waste-type-2">Notifcations</label>
                </div>
                <div class="multiple-choice" style="display: inline-block; clear: none">
                  <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural" checked>
                  <label for="waste-type-3">News</label>
                </div>
              </fieldset>
            </div>

            <ul class="c-tab-list__items" style="margin-bottom: 40px;">

              {% if viewData.isPinnedCount > 0 %}

                <h3 class="heading-small">Acknowledgment required</h3>
              
                {% for message in viewData.messages %}

                  {% if message.state.isPinned %}

                    <li class="c-tab-list__row {{'c-tab-list__row--read' if message.state.isRead else 'c-tab-list__row--unread'}}" style="border-bottom: 1px solid #dee0e2; background-color: #f8f8f8">
                      <div class="c-tab-list__item-left" style="padding: 40px 32px 40px 32px;">
                        <div class="c-tab-list__item-link"> {{ message.title }} </div>
                        <ul class="defect__positions">
                          <li style="font-size: 16px; color: #0b0c0c;">Date received: {{ message.date.received }}</li>
                          <li style="font-size: 16px; color: #0b0c0c;">Type: {{message.type}} </li>
                          {% if message.type=='Special notice' and not message.state.acknowledged %}
                            <li style="font-size: 16px; color: #0b0c0c;">Action: Acknowledgment required</li>
                          {% elseif message.type!='Special notice' and not message.state.accepted and not message.state.rejected %}
                            <li style="font-size: 16px; color: #0b0c0c;">Action: Accept or reject</li>
                          {% endif %}
                        </ul>
                      </div>

                      {% if message.date.due %}
                        <div class="c-tab-list__item-right" style="left: 60%; top: 30px;">
                          <strong class="defect__is-dangerous" aria-hidden="true">Due in {{message.date.due.asInt}} days</strong>
                        </div>
                      {% endif %}
                      
                      <div class="c-tab-list__item-right" style="top: 30px;">
                        <a href="/prototypes/messaging/{{message.id}}" class="">View message</a>
                      </div>
                    </li>

                  {% endif %}

                {% endfor %}

              {% endif %}

            </ul>

            <ul class="c-tab-list__items u-margin-bottom-30">
              <h3 class="heading-small">All messages</h3>

              {% for message in viewData.messages %}

                {% if not message.state.isPinned %}
                
                <li class="c-tab-list__row {{'c-tab-list__row--read' if message.state.isRead else 'c-tab-list__row--unread'}}" style="background-color: #ffffff">
                  <div class="c-tab-list__item-left" style="padding-right: 32px;">
                    <div class="c-tab-list__item-link"> {{message.title}} </div>
                    <ul class="defect__positions">
                      <li style="font-size: 16px;">Date received: {{message.date.received}} </li>
                      <li style="font-size: 16px;">Type: {{message.type}} </li>
                      {% if message.type=='Special notice' and not message.state.acknowledged %}
                        <li style="font-size: 16px; color: #0b0c0c;">Action: Acknowledgment required</li>
                      {% elseif message.type=='Notification' and not message.state.accepted and not message.state.rejected %}
                        <li style="font-size: 16px; color: #0b0c0c;">Action: Accept or reject</li>
                      {% endif %}
                    </ul>
                  </div>

                  <div class="c-tab-list__item-right">
                    <a href="/prototypes/messaging/{{message.id}}" class="">View message</a>
                  </div>
                </li>

                {% endif %}

              {% endfor %}

            </ul>

          </div>
        </div>

        <div class="u-margin-top-30 u-margin-bottom-30">
          {{ components.link(text='Return to home', url='/prototypes/mts-messages', paragraph=true) }}
        </div>

      </div>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}