.similarity {
  display:block;
  background-color:green;
  min-height:15px;
  font-size: 16px;
  line-height: 1.25;
  color:#FFFFFF;
  padding: 2px 5px 0px 5px;
}

.similarityContainer {
  display:block;
  background-color:#BBBBBB;
  min-height:15px;
  width:100%;
}