{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/manuals' },
  { text: 'WILLETTA AREDONDO', url: '/prototypes/mot-test' },
  { text: 'VTS079774', url: '/prototypes/vts-changes' },
  { text: 'Notify of changes to equipment'  }
] %}
 
{% block content %}
 

  <h1 class="heading-large ">
        <span class="heading-secondary">Notify of changes to equipment</span>
        <label for="radio-inline-group">
          Can the new equipment test the same vehicle classes?
        </label>
  </h1>

   {% call components.form(action='/prototypes/vts-changes/classes', method='POST') %} 
  
  <div class="form-group {{ 'form-group-error' if viewData.questions.classes.errors[0]['error'] }}">
    {% if viewData.questions.classes.errors[0]['error'] %}
      <span class="error-message">{{ viewData.questions.classes.errors[0]['error'] }}</span>
    {% endif %}
    
    <fieldset class="inline u-margin-top-15">
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="classes" value="yes" {{ 'checked' if viewData.questions.classes.answer['classes'] == 'yes' }}>
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="classes" value="no" {{ 'checked' if viewData.questions.classes.answer['classes'] == 'no' }}>
        <label for="radio-inline-2">No</label>
      </div>
    </fieldset>
  </div>
  
  <div class="form-group">

    <details >
      <summary><span class="summary">Help on changes to vehicle classes</span></summary>
      <div class="panel panel-border-narrow">
        <p>The new equipment must be able to test the classes of vehicle for which you are authorised.</p>
        <p>For changes to test class the AE must obtain DVSA’s approval for the proposed changes before putting them in hand; failure to do so may result in disciplinary action. </p>
      </div>
    </details>

  </div>
  

  <div class="u-margin-bottom-15">
     <input type="submit" value="Continue" class="button"/> 
  </div>
  <div class="u-margin-bottom-10">
    <a href="/prototypes/vts-changes/changes-04-layout">Back</a>
  </div>

  {% endcall %} 
  {% endblock %}
