table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th {
    // Right align headings
    // for numeric content
    &.numeric {
      text-align: right;
    }
  }

  td {
    // Use tabular numbers
    // for numeric table cells
    &.numeric {
      @include core-19($tabular-numbers: true);
      text-align: right;
    }

    &.tabular {
      @include core-19($tabular-numbers: true);
    }
  }

  th,
  td {
    @include core-19;
    padding: em(12, 19) em(20, 19) em(9, 19) 0;

    text-align: left;
    vertical-align: top;
    color: $text-colour;

    &:last-child {
      padding-right: 0;
    }

    &.secondary-data{
      background-color: #d5e8f3;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  thead {
    th {
      font-weight: 700;
    }
  }

  tbody {
    td,
    th {
      border-top: 1px solid $border-colour;
      border-bottom: 1px solid $border-colour;
    }
  }

  .sort-asc {
    &:after {
      content: ' \25B2';
      position: absolute;
      display: inline-block;
      text-decoration: none;
    }
  }

  .sort-desc {
    &:after {
      content: ' \25BC';
      position: absolute;
      display: inline-block;
      text-decoration: none;
    }
  }

}
