{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Compliance' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'WILLETTA AREDONDO', url: '/prototypes' },
  { text: 'DILENA GROUP', url: '/prototypes' },
  { text: 'Record a site review', url: '/prototypes/site-review/choose-section' },
  { text: 'Compliance' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Compliance', secondary='Site review') }}

      {% call components.form(action='/prototypes/site-review/assessment/compliance', method='POST') %}

        <div class="form-group {{ 'form-group-error' if viewData.compliance.errors[0]['radioGroup'] }}">

          <fieldset>

            <legend>

              <span class='form-label-bold'>Record the compliance outcome</span>

              {% if viewData.compliance.errors[0]['radioGroup'] %}

              <span class="error-message">{{viewData.compliance.errors[0]['radioGroup']}}</span>

              {% endif %}

            </legend>

            <div class="multiple-choice" data-target="satisfactory-comment-panel">

              <input id="example-multiple-satisfactory" type="radio" name="radio-assessment-group" value="Satisfactory" {{"checked='true'" if viewData.compliance.satisfactory.isChecked }}>

              <label for="example-multiple-satisfactory">Satisfactory</label>

            </div>

            <div class="panel panel-border-narrow js-hidden" id="satisfactory-comment-panel">

              {% if viewData.compliance.errors[0]['textareaSatisfactory'] %}

              <span class="error-message">{{ viewData.compliance.errors[0]['textareaSatisfactory'] }}</span>

              {% endif %}

              <div class="{{ 'form-group-error' if viewData.compliance.errors[0]['textareaSatisfactory'] }}">

                <label class="form-label" for="satisfactory-textarea">Comment (Optional)</label>

                <textarea class="form-control" name="satisfactory-textarea" id="satisfactory-textarea" rows="5">{{viewData.compliance.satisfactory.comment}}</textarea>

              </div>

            </div>

            <div class="multiple-choice" data-target="unsatisfactory-advice-panel">

              <input id="example-multiple-unsatisfactory" type="radio" name="radio-assessment-group" value="Unsatisfactory" {{"checked='true'" if viewData.compliance.unsatisfactory.isChecked}}>

              <label for="example-multiple-unsatisfactory">Unsatisfactory</label>
              
            </div>

            <div class="panel panel-border-narrow js-hidden" id="unsatisfactory-advice-panel">

              {% if viewData.compliance.errors[0]['textareaUnsatisfactory'] %}

              <span class="error-message">{{ viewData.compliance.errors[0]['textareaUnsatisfactory'] }}</span>

              {% endif %}

              <div class="{{ 'form-group-error' if viewData.compliance.errors[0]['textareaUnsatisfactory'] }}">

                <label class="form-label" for="unsatisfactory-advice-textarea">Actions required</label>

                <textarea class="form-control" name="unsatisfactory-advice-textarea" id="unsatisfactory-advice-textarea" rows="5">{{viewData.compliance.unsatisfactory.comment}}</textarea>

              </div>

            </div>

          </fieldset>

        </div>

        <div class="u-margin-bottom-20">

          <input class="button" type="submit" value="Save and return"/>

        </div>

        <a href="/prototypes/site-review/choose-section/">Back</a>

      {% endcall %}

    {% endcall %}

  {% endcall %}

{% endblock %}