{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Are you sure?' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '' },
  { text: 'Search for a defect', url: '' },
  { text: 'Add major failure' }
] %}

{% block content %}


<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading heading--xlarge heading-xlarge">Are you sure?</h1>
      <p>You have selected the defect <strong>Emitting excessive smoke or vapour, likely to obscure vision of other road users.</strong></p>
      <p>This defect is only for vehicles manufactured <strong>from 1 March 2018</strong>. The vehicle you are testing was manufactured before this date.</p>
      <p>Make sure you have selected the correct defect.</p>

      <input class="button" type="submit" value="I'm sure – continue">
  </div>
</div>

<div style="margin-top: 40px;">
  <form action="test-comparison-v4-odometer-reviewed">
    <a href="index">Cancel and return to defects</a>
  </form>
</div>




{% endblock %}
