{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'First use date' %}


{% block content %}


{{ components.pageHeading('Prototypes', 'First use date') }}


<div class="grid-row">
  <div class="column-one-half">
    <ul>
      <li>v4 — experimental
        <ul class="list list-bullet">
          <li><a href="/prototypes/first-use-date/v4/from-date">Defect valid from date</a></li>
          <li><a href="/prototypes/first-use-date/v4/pre-date">Defect valid before date</a></li>
        </ul>
      </li> 
      <li>v3
        <ul class="list list-bullet">
          <li><a href="/prototypes/first-use-date/v3/from-date">Defect valid from date</a></li>
          <li><a href="/prototypes/first-use-date/v3/pre-date">Defect valid before date</a></li>
        </ul>
      </li>  
      <li>v2
        <ul class="list list-bullet">
          <li><a href="/prototypes/first-use-date/v2/from-date">Defect valid from date</a></li>
          <li><a href="/prototypes/first-use-date/v2/pre-date">Defect valid before date</a></li>
        </ul>
      </li>        
      <li>v1
        <ul class="list list-bullet">
          <li><a href="/prototypes/first-use-date/from-date">Defect valid from date</a></li>
          <li><a href="/prototypes/first-use-date/pre-date">Defect valid before date</a></li>
        </ul>
      </li>
    </ul>  
 </div>
</div>

{% endblock %}