.styleguide-navigation {
  width: 225px;
  float: left;
  padding: 0;
  will-change: min-height;
  position: sticky;
  top: 85px;
  
  @media(max-width: 800px) {
    width: 100%;
    float: initial;
    padding: 0px;
    position: static;
  }
 
  @import 'elements/main-link';
  @import 'elements/sub-nav';
  @import 'elements/inner';
  @import 'elements/mobile';
}