.styleguide-navigation {
  width: 225px;
  float: left;
  padding: 30px 0;
  will-change: min-height;
  
  @media(max-width: 800px) {
    width: 100%;
    float: initial;
    padding-bottom: 0px;
  }
 
  @import 'elements/item';
  @import 'elements/main-link';
  @import 'elements/sub-nav';
  @import 'elements/inner';
  @import 'elements/mobile';

}