{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'CI Authentication' %}


{% block content %}


<div class="container">

<div class="u-margin-top-30 u-margin-bottom-30">
{{ components.dvsaBanner(mainText='Now check your email', secondaryText='Your 6 digit security code has been sent to <br><b>Alden.Amison@dvsa.gov.uk</b>', type="confirmation") }}
</div>

       <div class="text" style="margin-top: 30px">
        <p>Check your email for your 6 digit security code.</p>
        <p>Use this code to sign in to the MOT testing service.</p>

       <div class="u-margin-top-30 u-margin-bottom-30">
        <a href="#">Send code again</a>
      </div>

    <div class="u-margin-top-10 u-margin-bottom-30">
        {{ components.button(text='Continue', url='/prototypes/authentication/staff-email-mfa/sign-in-email-mfa') }}
      </div>

<a href="/prototypes/authentication/staff-email-mfa/index">Cancel and return to sign in</a>

</div>

 {% endblock %}