{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Brake test configuration' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test', url: '/prototypes/mot-test' },
  { text: 'Brake test configuration'  }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    {{ components.dvsaBanner(type='confirmation',  secondaryText='MOT test started for <strong>Peugeot 3008 SUV</strong> on <strong>14th September 2018, 9:30am</strong>') }}
    {{ components.pageHeading(heading='Brake test configuration', secondary='MOT inspection', extraClass='u-margin-bottom-15 u-margin-top-15') }}
    
    <ul class="content-header__tertiary-list">
        <li class="content-header__list-item--primary">Peugeot 3008 SUV</li> 
        <li class="content-header__list-item">TH10 CZR</li> 
        <li class="content-header__list-item">First used	7 June 2011</li> 
    </ul>

       {% call components.form(action='/prototypes/vsi-during-test/brake-test', method='POST') %}

       <div class="form-group"> 

        <fieldset> 
          <legend>
          <h3 class="heading-medium">
            Brake test type
          </h3>
        </legend>

        <div class="form-group">
            <label for="serviceBrake1TestType" class="form-label">
              Service brake test type
            </label> 

            <div class="form-group">
              <label for="serviceBrake1TestType">
              </label>
              <select id="serviceBrake1TestType" name="serviceBrake1TestType" class="form-control">
                <option id="serviceBrake1TestType_ROLLR" value="ROLLR" selected>Roller</option>
                <option id="serviceBrake1TestType_PLATE" value="PLATE">Plate</option>
                <option id="serviceBrake1TestType_GRADT" value="GRADT">Gradient</option>
                <option id="serviceBrake1TestType_FLOOR" value="FLOOR">Floor</option>
                <option id="serviceBrake1TestType_DECEL" value="DECEL">Decelerometer</option>
              </select>
            </div>
        </div>  

        <div class="form-group">
              <label for="parkingBrakeTestType" class="form-label">
                Parking brake test type
              </label> 
              <div class="form-group">
                <label for="parkingBrakeTestType">
                </label>
                <select id="parkingBrakeTestType" name="parkingBrakeTestType" class="form-control   ">
                  <option id="parkingBrakeTestType_ROLLR" value="ROLLR" selected>Roller</option>
                  <option id="parkingBrakeTestType_PLATE" value="PLATE">Plate</option>
                  <option id="parkingBrakeTestType_GRADT" value="GRADT">Gradient</option>
                  <option id="parkingBrakeTestType_FLOOR" value="FLOOR">Floor</option>
                  <option id="parkingBrakeTestType_DECEL" value="DECEL">Decelerometer</option>
                </select>
              </div>
        </div> 
        </fieldset>
         
    </div>


       
    <div class="form-group"> 
      <fieldset>
        <legend>
          <h3 class="heading-medium u-margin-top-10">
              Vehicle weight type 
          </h3>
        </legend> 

        <div class="multiple-choice">
          <input id="weight-type-1" type="radio" name="radio-assessment-group" value="weight-type-1" checked aria-controls="weight-type-panel-1">
          <label for="weight-type-1">Brake test weight</label>
        </div>
        <div class="multiple-choice">
          <input id="weight-type-2" type="radio" name="radio-assessment-group" value="weight-type-2" aria-controls="weight-type-panel-2">
          <label for="weight-type-2">Presented weight</label>
        </div> 
        <div class="multiple-choice">
          <input id="weight-type-3" type="radio" name="radio-assessment-group" value="weight-type-3" aria-controls="weight-type-panel-3">
          <label for="weight-type-3">Not known</label>
        </div> 
      </fieldset>

      <details class="u-margin-bottom-10 u-margin-top-20">
        <summary><span class="summary">Vehicle weight guidance</span></summary>
          <div class="panel panel-border-narrow">
            <h4 class="heading-small">Brake test weight</h4>
            <p>If using brake test weight, check that the figure is correct against manufacturer or other reliable data</p>
            <h4 class="heading-small">Presented weight</h4>
            <p>This is measured during ATL brake test</p>
        </div>
      </details>
    </div>

    <div class="form-goup">
        <fieldset>
            <legend>
              <h3 class="heading-medium u-margin-top-20">
                Vehicle weight
              </h3>
            </legend>
            <div class="form-group">
              <label for="vehicleWeight" class="form-label">
                Enter weight in kilograms
              </label>
              <input type="text" id="vehicleWeight" name="vehicleWeight" value="3000" class="form-control " /> </div>
  
          </fieldset>
    </div>

    <div class="form-group">
        <fieldset class="inline">
          <legend>
            <h3 class="heading-medium u-margin-top-20">
              Brake line type
            </h3>
          </legend>

          <div class="multiple-choice">
            <input id="brakeLineTypeDual" type="radio" name="brakeLineType" value="dual" checked>

            <label for="brakeLineTypeDual">
              Dual
            </label>
          </div>

          <div class="multiple-choice">
            <input id="brakeLineTypeSingle" type="radio" name="brakeLineType" value="single">

            <label for="brakeLineTypeSingle">
              Single
            </label>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
          <legend>
              <h3 class="heading-medium u-margin-top-20">
                Vehicle axles
              </h3>
           </legend>

        <div class="form-group" id="numberOfAxlesContainer">
            <label for="numberOfAxles" class="form-label">
              Number of axles
            </label> 
            <div class="form-group">
              <label for="numberOfAxles">
              </label>
              <select id="numberOfAxles" name="numberOfAxles" class="form-control">
                <option id="numberOfAxles_2" value="2" selected>2 axles</option>
                <option id="numberOfAxles_3" value="3">3 axles</option>
              </select>
            </div>
            
          </div>
  
          <div class="form-group" id="parkingBrakeNumberOfAxlesContainer">
            <label for="parkingBrakeNumberOfAxles" class="form-label">
              Parking brake number of axles
            </label>
            <div class="form-group">
              <label for="parkingBrakeNumberOfAxles">
              </label>
              <select id="parkingBrakeNumberOfAxles" name="parkingBrakeNumberOfAxles" class="form-control   ">
                <option id="parkingBrakeNumberOfAxles_1" value="1" selected>1 axles</option>
                <option id="parkingBrakeNumberOfAxles_2" value="2">2 axles</option>
              </select>
            </div>
          </div> 
      </div>

        {% include './partials/form-submit-button.njk' %}

      {%- endcall %}

      {{ components.link(text='Cancel', url='/prototypes/mot-test') }}

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}