{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Activity' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'WILLETTA AREDONDO', url: '/prototypes' },
  { text: 'DILENA GROUP', url: '/prototypes' },
  { text: 'Record a site review', url: '/prototypes/site-review/choose-section' },
  { text: 'Activity' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Activity', secondary='Site review') }}

      {% call components.form(action='/prototypes/site-review/assessment/activity', method='POST') %}

        <div class="form-group {{ 'form-group-error' if viewData.activity.errors[0]['radioGroup'] }}">

          <fieldset>

            <legend>

              <span class='form-label-bold'>Did you perform an activity?</span>

              {% if viewData.activity.errors[0]['radioGroup'] %}

              <span class="error-message">{{viewData.activity.errors[0]['radioGroup']}}</span>

              {% endif %}

            </legend>

            <div class="multiple-choice" data-target="advice-given-panel">

              <input id="example-multiple-yes" type="radio" name="radio-activity" value="yes" {{"checked='true'" if viewData.activity.formData.activityIsPerformed}}>

              <label for="example-multiple-yes">Yes</label>

            </div>

            <div class="panel panel-border-narrow js-hidden {{ 'form-group-error' if viewData.activity.errors[0]['testNumber'] }}" id="advice-given-panel">

              <label class="form-label" for="test-number">MOT test number for original test </label>

              {% if viewData.activity.errors[0]['testNumber'] %}

              <span class="error-message">{{ viewData.activity.errors[0]['testNumber'] }}</span>

              {% endif %}

              <input class="form-control" id="test-number" type="number" name="test-number" value="{{ viewData.activity.formData.testNum }}">

            </div>

            <div class="multiple-choice" data-target="activity-blocked-panel">

              <input id="example-multiple-no" type="radio" name="radio-activity" value="no" {{"checked='true'" if viewData.activity.formData.activityIsNotPerformed}}>

              <label for="example-multiple-no">No</label>

            </div>

            <div class="panel panel-border-narrow js-hidden {{ 'form-group-error' if viewData.activity.errors[0]['activityDropdown'] or viewData.activity.errors[0]['otherReason'] }}" id="activity-blocked-panel">

              <div class="form-group">

                <label class='form-label' for='activity-unperformed-comment'>Comment on reason for not doing the activity</label>

                {% if viewData.activity.errors[0]['otherReason'] %}

                  <span class="error-message">{{ viewData.activity.errors[0]['otherReason'] }}</span>

                {% endif %}

                <textarea class="form-control" name="activity-unperformed-comment" id="activity-unperformed-comment" rows="5">{{ viewData.activity.formData.otherReason }}</textarea>

              </div>

            </div>

          </fieldset>

        </div>

        <div class="u-margin-bottom-20">

          <input class="button" type="submit" value="Save and return">

        </div>

        <a href="/prototypes/site-review/choose-section/">Back</a>

      {% endcall %}

    {% endcall %}

  {% endcall %}

{% endblock %}
