@import "badges/badges";
@import "buttons/buttons";
@import "check-your-answers/check-your-answers";
@import "footer/footer";
@import "headings/headings";
@import "key-value-list/key-value-list";
@import "misc/misc";
@import "mot/mot";
@import "motr/motr";
@import "manuals/manuals";
@import "related/related";
@import "task/task";
@import "task-list/task-list";
@import "utils/utils";
@import "print/print";

// @author Tameem Safi <t.safi@kainos.com>
@import 'typography/typography';
@import 'accordion/accordion';
@import 'recalls-accordion/recalls-accordion';
@import 'iphone-x-fixes/iphone-x-fixes';
@import 'details/details';
@import 'manual-smart-survey/manual-smart-survey';
@import 'dvsa-grid/dvsa-grid';
@import 'dvsa-mts-errors/dvsa-mts-errors';
@import 'dvsa-table-responsive/dvsa-table-responsive';
@import 'dvsa-mot-tests-compare/dvsa-mot-tests-compare';
@import 'dvsa-manual-meta/dvsa-manual-meta';
@import 'dvsa-mot-test-results/dvsa-mot-test-results';
@import 'dvsa-mts-dl/dvsa-mts-dl';
@import 'dvsa-vehicle-summary/dvsa-vehicle-summary';
@import 'dvsa-results-entry/dvsa-results-entry';
@import 'dvsa-notice/dvsa-notice';
@import 'dvsa-full-width-footer/dvsa-full-width-footer';
@import 'dvsa-dfbt-table/dvsa-dfbt-table';

// @author James Nelson <j.nelson@kainos.com>
@import 'dvsa-banner/dvsa-banner';
@import 'dvsa-tester-comments/dvsa-tester-comments';
@import 'dvsa-summary/dvsa-summary';

// @author Matthew O'Reilly <M.OReilly@kainos.com>
@import 'manual-image/manual-image';