@import "badges/badges";
@import "buttons/buttons";
@import "check-your-answers/check-your-answers";
@import "footer/footer";
@import "headings/headings";
@import "key-value-list/key-value-list";
@import "misc/misc";
@import "mot/mot";
@import "motr/motr";
@import "manuals/manuals";
@import "related/related";
@import "task/task";
@import "task-list/task-list";
@import "utils/utils";
@import "print/print";
@import 'typography/typography';
@import 'autocomplete/autocomplete';
@import 'accordion/accordion';
@import 'recalls-accordion/recalls-accordion';
@import 'iphone-x-fixes/iphone-x-fixes';
@import 'details/details';
@import 'manual-smart-survey/manual-smart-survey';
@import 'dvsa-grid/dvsa-grid';
@import 'dvsa-mts-errors/dvsa-mts-errors';
@import 'dvsa-table-responsive/dvsa-table-responsive';
@import 'dvsa-mot-tests-compare/dvsa-mot-tests-compare';
@import 'dvsa-manual-meta/dvsa-manual-meta';
@import 'dvsa-banner/dvsa-banner';
@import 'dvsa-tester-comments/dvsa-tester-comments';
@import 'dvsa-summary/dvsa-summary';
@import 'manual-image/manual-image';