{% extends 'layouts/mts-without-container.layout.njk' %}
 {% set pageTitle = 'homepage' %}
 {% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Brake test' }
] %}
 {% block content %}
 <main id="content">
    
    <a class="link-back" onclick="history.back()">Back</a> 
     <header class="content-header">
        <h1 class="heading-large heading heading--page-heading heading--small-margin-bottom">
                There are no recalls right now</h1>
    </header>                       
     <div class="row contents">
        <div class="col-lg-12">
     <div class="grid-row">
    <div class="column-three-quarters">
        <div class="form-group">
        <p>At the moment, there are no recalls for the make and model you are checking.</p>
        <p>It can take up to a week for us to get recall information. If you think the vehicle has a recall, contact the manufacturer.</p>
        <p>You can <a href="">check for other vehicle recalls.</a></p>

        </div>
     </div>
</div>            
 </main>
 {% endblock %} 