{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}


<div class="dvsa-banner dvsa-banner--confirmation">
  <h1 class="dvsa-banner__heading-large">Educational activity recorded</h1>
  <p class="dvsa-banner__secondary-text"></p>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h4 class="heading heading--small heading-small">What happens next</h4>
      <p>
        I don't know
      </p>    
  </div>
</div>

<div style="margin-top: 40px;">
  <form action="test-comparison-v4-odometer-reviewed">
    <a href="index">Compare another MOT test</a>
  </form>
</div>




{% endblock %}
