@include motr-specific {

    a:focus {
      outline: 3px solid transparent;
      color: #0b0c0c;
      background-color: #fd0;
      box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
      text-decoration: none;
    }

}