{% macro breadcrumb(items=false, muted=false) %}
  {% if items %}
    <div class="breadcrumbs {{'breadcrumbs--muted' if muted}}">
      <ol>
          {% for item in items %}
          <li>
            {% if item.url %}
            <a href="{{ item.url }}">
            {% endif %}
              {{ item.text }}
            {% if item.url %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
    </div>
  {% endif %}
{% endmacro %}