{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Areas of interest - Learning Platform for Government' %}

{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v6' %}
{% set loggedOut = 'false' %}
{% set signOutPath = '/prototypes/learner/v6/' %}
{% set homePath = '/prototypes/learner/v6/' %}

{% set extraInterests = extraInterests if extraInterests %}


{% block content %}

    {{ components.pageHeading('Areas of interest') }}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <p class="lede">Select any other interests you have. This will help tailor your suggested learning.</p>

            {% call components.formElement(name='extraInterests', method='POST', action="#") %}

                <fieldset class="u-space-b30">

                    {{ components.heading(text='Work areas that interest you', tag='h2', size='medium', extraClass='') }}

                    {% for item in extraInterests %}
                        {{ components.checkbox(text=item.name, value=item.value, id='extraInterests'+item.value) }}
                    {% endfor %}

                </fieldset>

                {% call components.formGroup() %}

                    {{ components.button(text='Continue', group=true)}}

                {%- endcall %}

                <p>
                    <a href="/prototypes/learner/v6">Cancel</a>
                </p>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}

