.tile {
  width: 100%;
  border-bottom: 1px solid $grey-1;
  margin-bottom: 30px;
  padding-bottom: 15px;

  @include media(tablet) {
    max-width: 360px;
    border-bottom: 0;
  }

  @include media(desktop) {
    max-width: 360px;
    border-bottom: 0;
  }

  p {
    margin: 4px 0;
  }

  &__top {

    *[class^=heading] {
      //
    }
  }

  &__actions {

    a {
      display: inline-block;
    }

    a + a {
      margin-left: 8px;
    }
  }

  &__properties {
    // <ul>
    text-align: left;
  }


  &__property {
    // <li>
    // display: block;
    // width: 100%;
    // float: none;


    @include media(desktop) {
      //display: inline-block;
     // width: 33%;
     // float: left;
    }
  }

  &__key {
    display: block;
    float: left;
    margin-right: 10px;

    @include media(desktop) {
      width: 80px;
    }
  }

  &__value {
    @include bold-16;
  }

  &__attribution {



  }
}