.image {
    display: block;
    max-width: 100%;

    &__wrapper {
        width: 100%;
        margin-bottom: 30px;
    }

    &__caption {
        @include core-14;
        display: block;
        margin: 4px 0;
    }

    &__heading {
        @include bold-19;
        display: block;
        margin-top: em(10, 16);
        margin-bottom: em(5, 16);

        @include media(tablet) {
            margin-top: em(20, 19);
        }
    }
}
