@media print {
  a[target="_blank"],
  details,
  button,
  .button,
  .link-back,
  .phase-banner,
  .print-hide {
    display: none !important;
  }
  
  #content {
    margin-left: 0;
    padding-bottom: 0;
  
    .mot-result {
      font-size: 42px !important;
    }
  }
}