$module: 'suggestions';

.#{$module} {

  &-box {
    border-top: 4px solid $civil-service;

  }

  &-items {

    width: 48%;
    float: left;
    padding-bottom: 35px;

    &--left {
      border-right: 4px solid $civil-service;

    }

    &--right {
      padding-left: 20px;
    }

    .tile:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
    }

  }

}