.table--top {
    td,
    th {
        vertical-align: top;
    }
}

.table {
    margin-bottom: 30px;
}

.table-simple {

    th {
        font-weight: bold;
    }

}

.table--fix-first {
    @include media(desktop) {
        width: 460px;
    }
}

.table--courses {

    tr {
        td:first-of-type {
            @include media(desktop) {
                max-width: 260px;
            }
        }
    }
}

.table--courses-big {

    tr {
        td:first-of-type {
            @include media(desktop) {
                max-width: 410px;
            }
        }
    }
}

.table--snuggled-row {

    th, td {
        border: 0;
        padding-bottom: 4px;
    }

    + tr {
        th, td {
            padding-top: 0;
        }
    }
}