.recalls-accordion {

  &__no-js-alternative {
    display: none;
    .recalls-accordion--no-js & {
      display: block;
    }
  }

  &__loading {
    display: none;
    text-align: center;
    .recalls-accordion--loading & {
      display: block;
    }
  }

  &__output {
    display: none;
    .recalls-accordion--show-output & {
      display: block;
    }
  }

}