{% extends 'layouts/mts-without-container.layout.njk' %}

{% set pageTitle = 'homepage' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results', url: '/prototypes/mot-test' },
  { text: 'Brake test' }
] %}

{% block content %}


<main id="content">

   
    <a href="/prototypes/recalls/V2/vehicle-model" class="link-back">Back</a> 

    <header class="content-header">
        <h1 class="heading-large heading heading--page-heading heading--small-margin-bottom">
                Which year was the vehicle first registered?</h1>
    </header>                       

    <div class="row contents">
        <div class="col-lg-12">

    <div class="grid-row">
    <div class="column-three-quarters">
        <div class="form-group">
            <label class="form-label" for="Year-of-manufactuer">
                Year of manufactuer
                <span class="form-hint">For example, 2004</span>
            </label>
            <input class="form-control form-control-1-4" id="Year-of-manufactuer" type="text" name="Year-of-manufactuer" value="">
        </div>
        <br>
        <div>
            <a class="button" id="choose-make" href="/prototypes/recalls/V2/results-page" style="margin-bottom:30px">Continue</a>
        </div>

    </div>
</div>            

</main>

{% endblock %}