.message {
  padding: $gutter-half $gutter-half $gutter-half $gutter;

  &,
  &--failure,
  &--success,
  &--information,
  &--important {
    @include box-sizing(border-box);
    border-left: 4px solid $grey-2;
    background-color: $grey-4;
    margin: $gutter 0;

    >ol > li,
    >ul > li,
    > p {
      max-width: 30em; // Like the .text class
    }

    ul:last-child,
    ol:last-child,
    p:last-child {
      margin-bottom: 0;
    }

    ul:first-child,
    ol:first-child,
    p:first-child {
      margin-top: 0;
    }
  }

  &--failure,
  &--success,
  &--information,
  &--important {
    padding: $gutter-half $gutter-half $gutter-half 60px;
  }

  &--success {
    &:before {
      @include iconhelper('tick');
    }
  }

  &--failure {
    &:before {
      @include iconhelper('cross');
    }
  }

  &--information {
    &:before {
      @include iconhelper('information');
    }
  }

  &--important {
    &:before {
      @include iconhelper('mot-important');
    }
  }

  &__heading {
    @include bold-24;
    max-width: 30em; // Like the .text class
  }
}

// MTS Messages

.message-panel__notice {
  text-align: center;
  font-weight: 600;
  padding: 1em;
  color: $secondary-text-colour;
}