.message {
  padding: $gutter-half $gutter-half $gutter-half $gutter;
  &,
  &--failure,
  &--success,
  &--information,
  &--important {
    @include box-sizing(border-box);
    border-left: 4px solid $grey-2;
    background-color: $grey-4;
    margin: $gutter 0;

    >ol > li,
    >ul > li,
    > p {
      max-width: 30em; // Like the .text class
    }

    ul:last-child,
    ol:last-child,
    p:last-child {
      margin-bottom: 0;
    }

    ul:first-child,
    ol:first-child,
    p:first-child {
      margin-top: 0;
    }
  }

  &--failure,
  &--success,
  &--information,
  &--important {
    padding: $gutter-half $gutter-half $gutter-half 60px;
  }

  &--success {
    &:before {
      @include iconhelper('tick');
    }
  }

  &--failure {
    &:before {
      @include iconhelper('cross');
    }
  }

  &--information {
    &:before {
      @include iconhelper('information');
    }
  }

  &--important {
    &:before {
      @include iconhelper('mot-important');
    }
  }

  &__heading {
    @include bold-24;
    max-width: 30em; // Like the .text class
  }
}

// MTS Filtered Messages
.message-filters {
  &__tab {
    margin-top: -5px;
    margin-bottom: -1px;
    padding: 15px 20px;
    color: #0b0c0c;
    background-color: #f8f8f8;
    border: none;
    font-size: 18px;
    line-height: 0.75;
    font-weight: 400;
    text-decoration: none;
    
    &--active {
    border: 1px solid #bfc1c3;
    border-bottom: 0;
    background-color: #fff;
    line-height: 1.3;
    }
  }
}

.message-filters__tab-panel {
  border: 1px solid #bfc1c3;
  padding: 15px;
  padding-bottom: 30px;
  
  @include media(tablet) { 
    padding: 20px;
  }
}

.message-panel {
  &__title {
    margin-bottom: 15px;
  }

  &__message-title {
    position: relative;
  }

  &__message-type {
    display: block;
    font-weight: normal;
    font-size: 16px;
    color: #6f777b;
    margin-bottom: 5px;
  }

  &__message {
    border: 1px solid $grey-3;
    border-width: 1px 0 1px 0;
    background-color: white;
    margin-top: -1px;
    padding: 10px 10px 10px 30px;    
  }

  &__alert {
    font-weight: bold; 
    color: $mellow-red; 
    font-size: 19px;
  }

  &__message--unread {
    background: $grey-4;  

    .message-panel__message-title {
      font-weight: bold; 

      &:before {
        position: absolute;
        left: -20px;
        top: -4px;
        font-size: 28px;
        color: #005ea5;
        content: "\2022";
      }
    }
    .message-panel__details,
    .message-panel__message-type {
      color: $black;
    }
  }
  
  // Empty view notice
  &__notice {
    margin: 0;
    padding: 0;
  }

  &__col {
    display: block;
    padding: 0 15px;    

    @include media(desktop) {
      float: left;
      box-sizing: border-box;
      width: 100%;
  
      &--four {
        width: 38%;
      }
  
      &--six {
        width: 60%;
      }
    }
  }

  // Meta details for each message
  &__details {
    @extend %contain-floats;
    color: $grey-1;
    margin-top: 5px;
    font-size: 16px;
  }
}

.lte-ie8 & {
  .message-filters__inputs {
    display: none; 
  }
}