.message {
  padding: $gutter-half $gutter-half $gutter-half $gutter;
  &,
  &--failure,
  &--success,
  &--information,
  &--important {
    @include box-sizing(border-box);
    border-left: 4px solid $grey-2;
    background-color: $grey-4;
    margin: $gutter 0;

    >ol > li,
    >ul > li,
    > p {
      max-width: 30em; // Like the .text class
    }

    ul:last-child,
    ol:last-child,
    p:last-child {
      margin-bottom: 0;
    }

    ul:first-child,
    ol:first-child,
    p:first-child {
      margin-top: 0;
    }
  }

  &--failure,
  &--success,
  &--information,
  &--important {
    padding: $gutter-half $gutter-half $gutter-half 60px;
  }

  &--success {
    &:before {
      @include iconhelper('tick');
    }
  }

  &--failure {
    &:before {
      @include iconhelper('cross');
    }
  }

  &--information {
    &:before {
      @include iconhelper('information');
    }
  }

  &--important {
    &:before {
      @include iconhelper('mot-important');
    }
  }

  &__heading {
    @include bold-24;
    max-width: 30em; // Like the .text class
  }
}

// MTS Filtered Messages

.message-panel {
 
  &__title {
    margin-bottom: 15px;
  }

  @include core-16;
  position: relative;
  border-top: 1px solid $grey-2;
  padding: 15px;
  background-color: $white;
  transition: background-color .4s ease-in-out;
  
  &__message {
    background: #fff;
    clear: both;
    border-top: 1px solid $grey-3;
    position: relative;
  }

  &__message-title {
    font-weight: bold;
    position: relative;
    @include media(desktop) { 
      display: inline; 
    }
  } 

  &__alert {
    font-weight: bold; 
    color: $mellow-red; 
    @include media(desktop) { 
      float: right; 
    }
  }

  &__message--pinned { 
    background: $grey-4;
  }

  &__message--unread {
    background: $grey-4;  
     

    .message-panel__message-title:before {
      position: absolute;
      left: -20px;
      top: -4px;
      font-size: 28px;
      color: $mot-blue;
      content: "\2022";
    }

  }
  
  // Empty view notice
  &__notice {
    padding: 1em 0;
  }
 
  &__inner {
    padding: 6px;
    padding-left: 28px;
    @include media(tablet) {
      padding: 10px 160px 4px 28px;
    }
    @include media(desktop) {
      padding: 10px 170px 4px 28px;
    }
  }

  &__view  {
    position: relative;
    padding: 0 0 10px 28px;

    @include media(tablet) {  
      position: absolute;
      right: 0;
      width: 150px;
      padding: 10px 0;
      top: 2px;
    } 
  }

  // Meta details for each message
  &__details {
    @extend %contain-floats;
    padding: 6px 0;
    color: $grey-1;
    
    li {
      font-size: 14px;
      @include media(tablet) {
        display: inline-block;
        min-width: 33%; 
        float: left;
      }
      
      @include media(false, 640px) {
        display: inline;
        width: auto;
        padding-right: 10px;
        float: none;
      }
    }
  }
}

.lte-ie8 & {
  .message-filters__inputs {
    display: none; 
  }
}