{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review - VTS079774' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/">
          VTS079774
      </a>
    </li>
    <li>
      Site review
    </li>
  </ol>
</div>

<legend>
  <h1 class="heading-xlarge heading heading--page-heading">
    <span class="heading-secondary">Site review</span>
    Record a site review
  </h1>
</legend>

<div class="action-panel">
  <div class="clear-float">
    <div class="action-panel__container">
      <h3 class="action-panel__heading">Compliance</h3>
    </div>
    <div id="" class="action-panel__container">
      {% if not viewData.compliance.commitedLevel %}
        <span class="action-panel__value">Not recorded</span>
      {% endif %}
    </div>
    <div class="action-panel__container--last">
      <a href="/prototypes/site-review-new/assessment/compliance" class="button">
        {{ "Edit" if viewData.compliance.commitedLevel else 'Record'}} results
      </a>
    </div>
  </div>
</div>
{% if viewData.compliance.commitedLevel %}
  <div class="js-brakeTestSummary defect-summary">
    <div id="rfrList" class="">
      <h3 class="defect-summary__heading">
          <span class="defect-summary__heading-type" style="padding-left: 0px;">{{viewData.compliance.commitedLevel}}</span>
      </h3>
      {% if viewData.compliance.commitedComment %}
        <ol>
          <li class="defect">
            <div>
              <h4 class="defect__title">{{"Comment" if viewData.compliance.satisfactory else "Advice given"}}: {{viewData.compliance.commitedComment}}</h4>
            </div>
          </li>
        </ol>
      {% endif %}
    </div>
  </div>
{% endif %}

<div class="action-panel">
  <div class="clear-float">
    <div class="action-panel__container">
      <h3 class="action-panel__heading">Premises</h3>
    </div>
    <div id="" class="action-panel__container">
      {% if not viewData.premises.commitedLevel %}
        <span class="action-panel__value">Not recorded</span>
      {% endif %}
    </div>
    <div class="action-panel__container--last">
      <a href="/prototypes/site-review-new/assessment/premises" class="button">
      {{ "Edit" if viewData.premises.commitedLevel else 'Record'}} results
      </a>
    </div>
  </div>
</div>
{% if viewData.premises.commitedLevel %}
  <div class="js-brakeTestSummary defect-summary">
    <div id="rfrList" class="">
      <h3 class="defect-summary__heading">
          <span class="defect-summary__heading-type" style="padding-left: 0px;">{{viewData.premises.commitedLevel}}</span>
      </h3>
      <ol>
        <li class="defect">
          <div>
            <h4 class="defect__title">{{"Comment" if viewData.premises.satisfactory else "Advice given"}}: {{viewData.compliance.commitedComment}}</h4>
          </div>
        </li>
      </ol>
    </div>
  </div>
{% endif %}

<div class="action-panel">
  <div class="clear-float">
    <div class="action-panel__container">
      <h3 class="action-panel__heading">Management and quality</h3>
    </div>
    <div id="" class="action-panel__container">
      {% if not viewData['management-and-quality'].commitedLevel %}
        <span class="action-panel__value">Not recorded</span>
      {% endif %}
    </div>
    <div class="action-panel__container--last">
      <a href="/prototypes/site-review-new/assessment/management-and-quality" class="button">
        {{ "Edit" if viewData['management-and-quality'].commitedLevel else 'Record'}} results
      </a>
    </div>
  </div>
</div>
{% if viewData['management-and-quality'].commitedLevel %}
  <div class="js-brakeTestSummary defect-summary">
    <div id="rfrList" class="">
      <h3 class="defect-summary__heading">
          <span class="defect-summary__heading-type" style="padding-left: 0px;">{{viewData['management-and-quality'].commitedLevel}}</span>
      </h3>
      <ol>
        <li class="defect">
          <div>
            <h4 class="defect__title">{{"Comment" if viewData['management-and-quality'].satisfactory else "Advice given"}}: {{viewData.compliance.commitedComment}}</h4>
          </div>
        </li>
      </ol>
    </div>
  </div>
{% endif %}


<div class="action-panel">
  <div class="clear-float">
    <div class="action-panel__container">
      <h3 class="action-panel__heading">People</h3>
    </div>
    <div id="" class="action-panel__container">
      {% if not viewData.people.commitedLevel %}
        <span class="action-panel__value">Not recorded</span>
      {% endif %}
    </div>
    <div class="action-panel__container--last">
      <a href="/prototypes/site-review-new/assessment/people" class="button">
      {{ "Edit" if viewData.people.commitedLevel else 'Record'}} results
      </a>
    </div>
  </div>
</div>
{% if viewData.people.commitedLevel %}
  <div class="js-brakeTestSummary defect-summary">
    <div id="rfrList" class="">
      <h3 class="defect-summary__heading">
          <span class="defect-summary__heading-type" style="padding-left: 0px;">{{viewData.people.commitedLevel}}</span>
      </h3>
      <ol>
        <li class="defect">
          <div>
            <h4 class="defect__title">{{"Comment" if viewData.people.satisfactory else "Advice given"}}: {{viewData.compliance.commitedComment}}</h4>
          </div>
        </li>
      </ol>
    </div>
  </div>
{% endif %}

<div class="action-panel">
  <div class="clear-float">
    <div class="action-panel__container">
      <h3 class="action-panel__heading">Activity</h3>
    </div>
    <div id="" class="action-panel__container">
      {% if not viewData.activity.isCompleted %}
        <span class="action-panel__value">Not recorded</span>
      {% endif %}
    </div>
    <div class="action-panel__container--last">
      <a href="/prototypes/site-review-new/assessment/activity" class="button">
        {{ "Edit" if viewData.activity.isCompleted else 'Record'}} results
      </a>
    </div>
  </div>
</div>

{% if viewData.activity.isCompleted %}
  <div class="js-brakeTestSummary defect-summary">
    <div id="rfrList" class="">
      <h3 class="defect-summary__heading">
        {% if viewData.activity.commitedActivityPerformed %}
          <span class="defect-summary__heading-type" style="padding-left: 0px;">Activity performed</span>
        {% else %}
          <span class="defect-summary__heading-type" style="padding-left: 0px;">Activity not performed</span>
        {% endif %}
      </h3>
      <ol>
        <li class="defect">
          <div>
              {% if viewData.activity.commitedActivityPerformed %}
                <h4 class="defect__title">MOT Test number: {{viewData.activity.commitedTestNum}}</h4>
              {% else %}
                <h4 class="defect__title">Reason given: {{viewData.activity.commitedReason}}</h4>
              {% endif %}
          </div>
        </li>
      </ol>
    </div>
  </div>
{% endif %}
</br>

{% if (viewData.activity.isCompleted) or (viewData.compliance.commitedLevel) or (viewData['management-and-quality'].commitedLevel) or (viewData.people.commitedLevel) or (viewData.premises.commitedLevel) %}
  <input class="button" type="submit" value="Continue">
  {% else %}
  <input class="button" type="submit" value="Continue" disabled="true">
{% endif %}

<p>
  <a href="/prototypes/site-review-new/">Cancel test</a>
</p>

{% endblock %}
