.text-to-speech {
  &__controls {
    display: none;

    &--js-enabled {
      display: block;
      margin: 0 0 15px 0;
      display: block;
    }
  }

  &__title {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px 0 0;
  }

  &__button {
    display: inline-block;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #005ea5;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;

    &--play {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
      color: #2b8cc4;      
    }
  }
}