.text-to-speech {
  display: none;

  &__button {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;  
    background-color: transparent;
    color: #005ea5;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;

    &--play {
      background: url('../images/text-to-speech-play.png') no-repeat;              
    }

    &--pause {
      background: url('../images/text-to-speech-pause.png') no-repeat;              
    }
  }
}

.js-enabled .text-to-speech {
  display: block;
}