// Put any GDS overrides here, if we need to modify a component from the package
.govuk-summary-list  { 

    margin-bottom: $gutter;

    @include media(tablet){
        &__value,
        &__key,
        &__actions {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $govuk-border-colour;
            display: table-cell;
            padding-right: 20px;
        }
        &__row {
            display: table-row;
        }
        &__key {
            width: 30%;
        }
        &__actions {
            padding-right: 0;
            text-align: right;
        }
    }
    
    &--border-top {
        padding-top: 15px;
        border-top: 1px solid $govuk-border-colour;
        @include govuk-media-query($from: tablet) {
            padding-top: 0;
        }
    } 
    &__row--title {
        width: 100%;
        display: table;
        border-bottom: 0;
        .govuk-summary-list__actions {
            border-bottom: 0;
        }
    }
    &__value-group {
        padding-right: 0;
        margin-bottom: 0;
        @include govuk-media-query($from: tablet) { 
            padding-bottom: 0;
        }
        &-item {
            padding: 10px 0;
            border-top: 1px solid $govuk-border-colour;
            position: relative;
            &:first-child {
                border-top: 0;
                padding-top: 0;
            }
            @include govuk-media-query($from: tablet) { 
                &--has-badge {
                    padding-right: 25%;
                }
            }
            .govuk-tag {
                margin-top: 5px;
                @include govuk-media-query($from: tablet) {  
                    position: absolute;
                    right: 0;
                    top: 5px;
                }

            }
        }
    }

    &__row--large {
        font-size: 18px;
        font-size: 1.2rem;
        .govuk-summary-list__value { 
            padding: $gutter/2 0;
            margin-bottom: 0;
            @include govuk-media-query($from: tablet) {
                padding: $gutter 0;
            }
        }
    }
}
.govuk-input {
    &[disabled] {
        background: #e8e8e8;
    }
}

// Modifier class for inputs and selects
.govuk-input,
.govuk-select {
    &--tab-input {
        width: 100%;
        max-width: none; 
    }
    
    // Re-assert Gov width helpers after tablet if '--tab-input' used on same element
    @include govuk-media-query($from: tablet) {
        &--width-2 {
        max-width: 5.4ex;
        }
        &--width-3 {
        max-width: 7.2ex;
        }
        &--width-4 {
            max-width: 9ex;
        }
        &--width-5 {
        max-width: 10.8ex;
        }
        &--width-10 {
            width: 23ex;
        }
        &--width-20 {
            width: 41ex;
        }
        &--width-30 {
            max-width: 56ex + 3ex;
        }
    }
}

.govuk-tag {
    text-transform: none;
    font-size: 14px;
    &--danger {
        background: $red;
    }
}