{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Notifications', url: '/prototypes/mts-messages/notifications-inbox-scheme-user' },
  { text: 'Create a notification'}
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Review notification message', secondary='Create a notification') }}

      <div class="message--success">
          <p>Notification successfully saved as a draft in special notices.</p>
      </div>

      <div class='u-clearfix'>

        <div class='text'>
          {{ components.paragraph(text='You can continue with your notification message or safely leave and return at a later', lead=true) }}
        </div>

        <table class="table-summary">
          <caption class="heading-medium">Notification type</caption>
          <tbody>
            <tr>
              <th class="table-summary__key">
                Type
              </th>
              <td class="table-summary__value">
                Special notice
                <a href="#" class="table-summary__action" title="Action Key">Change<span class="visuallyhidden"> Key</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table-summary">
          <caption class="heading-medium">Recipients</caption>
          <tbody>
            <tr>
              <th class="table-summary__key">
                Users and roles
              </th>
              <td class="table-summary__value">
                <ul>
                  <li>AREA OFFICE 1</li>
                  <li>AREA OFFICE 2</li>
                  <li>VEHICLE EXAMINER</li>
                  <li>SCHEME MANAGER</li>
                  <li>SCHEME USER</li>
                  <li>SITE MANAGER</li>
                  <li>SITE ADMIN</li>
                  <li>Class 3</li>
                  <li>Class 4</li>
                  <li>Class 5</li>
                </ul>
                <a href="#" class="table-summary__action" title="Action Key">Change<span class="visuallyhidden"> Key</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table-summary">
          <caption class="heading-medium">Notification details</caption>
          <tbody>
            <tr>
              <th class="table-summary__key">
                Internal publish date
              </th>
              <td class="table-summary__value">
                28 July 2018
                <a href="#" class="table-summary__action" title="Action Key">Change<span class="visuallyhidden"> Key</span>
                </a>
              </td>
            </tr>
            <tr>
              <th class="table-summary__key">
                External publish date
              </th>
              <td class="table-summary__value">
                1 August 2018
                <a href="#" class="table-summary__action" title="Action Key">Change<span class="visuallyhidden"> Key</span>
                </a>
              </td>
            </tr>
            <tr>
              <th class="table-summary__key">
                Acknowledgment period
              </th>
              <td class="table-summary__value">
                10
                <a href="#" class="table-summary__action" title="Action Key">Change<span class="visuallyhidden"> Key</span>
                </a>
              </td>
            </tr>
            <tr>
              <th class="table-summary__key">
                Message title
              </th>
              <td class="table-summary__value">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <a href="#" class="table-summary__action" title="Action Key">Change<span class="visuallyhidden"> Key</span>
                </a>
              </td>
            </tr>
            <tr>
              <th class="table-summary__key">
                Message content
              </th>
              <td class="table-summary__value">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Duis volutpat eget velit at feugiat</p>
                <p>Maecenas porta consectetur tortor et hendrerit. Donec mollis tincidunt neque ut molestie.</p>
                <p>Curabitur ultricies, quam sit amet venenatis fermentum, augue tellus elementum quam, ut porttitor massa ex non mauris.</p>
                <p>Praesent aliquam dictum lacus et efficitur. Vivamus vel augue iaculis, accumsan purus eget, dapibus sapien.</p>
                <a href="#" class="table-summary__action" title="Action Key">Change<span class="visuallyhidden"> Key</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 class="heading heading--medium heading-medium">
          Preview your notification
        </h3>
        <p class="text">Get to see what the special notice notification looks like before it’s published.</p>
        <div class="u-margin-top-10 u-margin-bottom-30">
          <a href="/prototypes/mts-messages/create-message-preview" class="button button--info">Preview notification</a>
        </div>

        <h3 class="heading heading--medium heading-medium">
          Now publish your notification
        </h3>
        <p class="text">By publishing this notification you are confirming that the details you are providing are correct.</p>
        <ul class="list-unstyled content-navigation__split u-clearfix">
            <li class="content-navigation__split--left">
                <a class=" button" href="/prototypes/mts-messages/create-message-confirmation">Publish notification</a>
            </li>
            <li class="content-navigation__split--right">
                <a class="button button--alert" href="/prototypes/mts-messages/remove-message">Remove notification</a>
            </li>
        </ul>

        {{ components.link(text='Return to home', url='/prototypes/mts-messages', paragraph=true) }}

      </div>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}