{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Notifications' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      <header class="content-header">
        <h1>
          <span class="content-header__type">Special notice</span>
          <span class="content-header__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        </h1>
        <h2 class="content-header__tertiary">Published 1 August 2018</h2>
      </header>

      <div class="text">
        <div class="panel panel-border-wide">
            <p>This notification must be acknowledged by <strong>11 August 2018</strong></p>
        </div>
      </div>

      <div class='text u-clearfix'>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h4 class="heading heading--small heading-small">
          Duis volutpat eget velit at feugiat
        </h4>
        <p>Maecenas porta consectetur tortor et hendrerit. Donec mollis tincidunt neque ut molestie.</p>
        <p>Curabitur ultricies, <a href="#">quam sit amet venenatis fermentum</a>, augue tellus elementum quam, ut porttitor massa ex non mauris.</p>
        <p>Praesent aliquam dictum lacus et efficitur. Vivamus vel augue iaculis, accumsan purus eget, dapibus sapien.</p>

      </div>

      <div class="notice text u-margin-top-10 u-margin-bottom-30">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">By acknowledging this notification, you confirm that you have read, understood and agree to test in accordance to the new legislative changes associated to this special notice.</strong>
      </div>

      <div class="u-margin-top-10 u-margin-bottom-30">
        {{ components.button(text='Acknowledge special notice', url='/prototypes/mts-messages/notifications-inbox-scheme-user-sn-acknowledged') }}
      </div>

      {{ components.link(text='Back to notifications', url='/prototypes/mts-messages/notifications-inbox-scheme-user', paragraph=true) }}

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}