{% extends 'layouts/default.layout.njk' %} {% set pageTitle = 'VTS details' %} {% block content %}
<div class="breadcrumbs">
  <ol>
    <li>
      <a href="#">Home</a>
    </li>

    <li>
      <a href="#">WILLETTA AREDONDO</a>
    </li>

    <li>
      <a href="/prototypes/vts-changes">VTS079774</a>
    </li> 
    <li>Site details </li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-full">
    <header class="content-header">
      <h1 class="heading-large">
        <span class="heading-secondary">Vehicle Testing Station</span> DILENA GROUP
      </h1>

      <h2 class="heading heading--large heading-large">
        <span class="heading-secondary">66, Anthropology Court, Kingswood, Gloucestershire, England, Gloucestershire, B4 8TE</span>
      </h2>
    </header>

    <div class="row contents">
      <div class="col-lg-12">
       
        <h3 class="heading heading--medium heading-medium">
          Site review
        </h3> 

        <label for="my-autocomplete">Select your country</label>
        <div id="my-autocomplete-container"></div> 
     
      </div>
    </div>
  </div>
 
</div>

<div class="u-margin-bottom-10 u-margin-top-20"> 
    <a class="btn-link" href="/vehicle-testing-station/search" id="search-again">Return to search</a>
</div>
<div class="u-margin-bottom-10"> 
    <a href="/" id="return-to-home">Return home</a> 
</div>

{% endblock %}