{{<new_template}}

{{$pageTitle}}Privacy policy - Check MOT history{{/pageTitle}}

    {{$content}}
        {{#viewData}}
            <main id="content">

                {{> new_phase-banner}}

                {{> new_c_breadcrumbs }}

                <div class="grid-row">
                    <div class="column-two-thirds">

                        {{# contentHeader }}
                            {{>new_a_content-header}}
                        {{/ contentHeader }}

                        <p class="lede">What kind of personal information the MOT history service and related services holds about you, how it's protected and how you can find out about it.</p>

                        <h2 class="heading-medium">What information DVSA holds about you</h2>

                        <h3 class="heading-small">Using MOT reminders</h3>

                        <p>This service links to the MOT reminder service. If you choose to sign up for MOT reminders, DVSA will, typically, hold some or all of the following information about you:</p>

                        <ul class="list-bullet u-space-b30">
                            <li>your email address or mobile phone number to allow us to send you an MOT reminder</li>
                            <li>information on how you use the service, using ​cookies​ and page tagging techniques</li>
                            <li>questions, queries or feedback you leave</li>
                            <li>details of which version of web browser you used</li>
                        </ul>

                        <p>Information is stored on our servers in the EU.</p>

                        <h3 class="heading-small">Using MOT history API</h3>

                        <p>If you apply to use the MOT history API, DVSA will, typically, hold some or all of the following information about your business:</p>

                        <ul class="list-bullet u-space-b30">
                            <li>business name and address</li>
                            <li>contact details for a technical contact, eg name, email address, telephone number</li>
                            <li>IP addresses you will use to access the API</li>
                        </ul>

                        <p>This data is collected on a third-party site, which stores the information on ISO certified servers in the UK.</p>

                        <p>We use this information to assess your application to use the API, and to contact you as necessary in relation to the smooth operation of your use of the API.</p>

                        <p>Any email sent to us, including any attachments, may be monitored and used by us for reasons of security and for monitoring compliance with office policy. Email monitoring or blocking software may also be used. Please be aware that you have a responsibility to ensure that any email you send to us is within the bounds of the law.</p>

                        <h2 class="heading-medium">How DVSA protects your personal information</h2>

                        <p>DVSA complies with the Data Protection Act 1998.</p>

                        <p>DVSA is an executive agency of the Department for Transport who are the data controller for the information. They are registered as a data controller with the Information Commissioner's Office. You can view the details of the registration on their website.</p>

                        <p>DVSA will:</p>

                        <ul class="list-bullet u-space-b30">
                            <li>use the information only for the effective administration of DVSA services</li>
                            <li>ask only for what's needed</li>
                            <li>make sure nobody has access to it who shouldn't</li>
                            <li>not share the information with other organisations other than where it has a legal responsibility to do so (you cannot say no to this)</li>
                            <li>only keep the information for as long as it's needed</li>
                            <li>not make it available for commercial use, eg marketing</li>
                        </ul>

                        <p>You must:</p>

                        <ul class="list-bullet u-space-b30">
                            <li>give accurate information</li>
                            <li>tell DVSA about any changes, eg to your address</li>
                        </ul>

                        <h2 class="heading-medium">Sharing your information</h2>
                        <p>Your information can be shared with other teams in DVSA where this is needed to process your application.</p>

                        <p>There are some cases when your information can be shared for other reasons, eg to prevent crime.</p>

                        <h2 class="heading-medium">DVSA staff handling your information</h2>

                        <p>DVSA's staff are trained in handling information and understand how important it is to protect personal and other sensitive information.</p>

                        <h2 class="heading-medium">Asking to see your personal information</h2>
                        <p>You can ask to see the personal information DVSA holds about you. You can:</p>

                        <ul class="list-bullet u-space-b30">
                            <li>send an email to: <a href="mailto:dataprotection@dvsa.gov.uk">dataprotection@dvsa.gov.uk</a> </li>
                            <li>or write to: Information Access, The Axis Building, 112 Upper Parliament Street, Nottingham, NG1 6LP</li>
                        </ul>

                        <p>There's no charge.</p>

                        <p>Sometimes DVSA can withhold information, for example ​where it also refers to another individual.​</p>

                        <h2 class="heading-medium">How to make a complaint</h2>

                        <p>If you're unhappy with the way DVSA handled your personal information, you can:</p>

                        <ul class="list-bullet u-space-b30">
                            <li>send an email to: <a href="mailto:dataprotection@dvsa.gov.uk">dataprotection@dvsa.gov.uk</a> </li>
                            <li>or write to: Information Access, The Axis Building, 112 Upper Parliament Street, Nottingham, NG1 6LP</li>
                        </ul>

                        <p>You'll get a confirmation that DVSA has received your complaint within 5 days and a full answer within 20 days. DVSA Information Assurance will tell you if there's going to be a delay.</p>

                        <p>If you're unhappy with the answer or need any advice, contact the Information Commissioner's Office (ICO).</p>

                        <p>The ICO can investigate your complaint and take action against anyone who has misused personal data.</p>

                        <p>This privacy notice does not cover the links within this site linking to other websites. We encourage you to read the privacy statements on the other websites you visit.</p>

                        <h2 class="heading-medium">Changes to this privacy notice</h2>

                        <p>We keep our privacy notice under regular review. This privacy notice was last updated on 24 July 2017.</p>

                    </div>
                </div>


            </main>
        {{/viewData}}
        <!-- / #content -->
    {{/content}}
{{/new_template}}
