<!-- body-scripts -->
<script type="text/javascript" src="/javascripts/dvsa.bundle.js"></script>

<!-- development-only -->
{# <script type="text/javascript" src="/javascripts/development.bundle.js"></script> #}
<!-- /development-only -->

{% block bodyScripts %}{% endblock %}
<!-- /body-scripts -->