 
    <footer class="group js-footer" id="footer">
      <div class="footer-wrapper">
        <div class="footer-categories">
          <div class="footer-resources--two-thirds">
            <h2 class="footer-resources__header">
              Resources on GOV.UK
            </h2>
            <ul class="footer-resources__list">
              <li>
                <a href="https://www.gov.uk/government/publications/motorcycle-mot-inspection-checklist-vt-29m" id="resources_0">Motorcycle inspection checklist for class 1 and 2 (VT29M)</a>
              </li>
              <li>
                <a href="https://www.gov.uk/government/publications/mot-inspection-checklist-vt-29" id="resources_1">Vehicle inspection checklist for class 3, 4, 5 and 7 (VT29)</a>
              </li>
              <li>
                <a href="https://www.gov.uk/government/publications/in-service-exhaust-emission-standards-for-road-vehicles" id="resources_2">In service exhaust emission standards for road vehicles</a>
              </li>
              <li>
                <a href="https://www.gov.uk/topic/mot/manuals#special-notices" id="resources_3">Special notices</a>
              </li>
            </ul>
          </div>
          <div class="footer-resources--one-third">
            <h2 class="footer-resources__header">
              MOT manuals and guide
            </h2>
            <ul class="footer-resources__list">
              <li>
                <a href="/documents/manuals/class12/" id="manuals_0" target="_blank">Manual for class 1 and 2 vehicles</a>
              </li>
              <li>
                <a href="/documents/manuals/class3457/" id="manuals_1" target="_blank">Manual for class 3, 4, 5, and 7 vehicles</a>
              </li>
              <li>
                <a href="https://www.gov.uk/government/publications/mot-testing-guide" id="manuals_2" target="_blank">MOT testing guide</a>
              </li>
            </ul>
          </div>
          <hr>
        </div>
        <div class="footer-meta">
          <div class="footer-meta-inner">
            <h2 class="visuallyhidden">
              Support links
            </h2>
            <ul>
              <li>
                <a href="https://www.gov.uk/help/cookies">Cookies</a>
              </li>
              <li>Built by the <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency">Driver &amp; Vehicle Standards Agency</a>
              </li>
            </ul>
            <div class="open-government-licence">
              <p class="logo">
                <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
              </p>
              <p>
                All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
              </p>
            </div>
            <div class="version-number">
              Version {{ repoPackageJSON.version }}
            </div>
          </div>
          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer><!-- /footer -->
    <div class="app-error hidden" id="global-app-error"></div> 