{% if libraryNavigationItems %}
<div id="styleguide-navigation" class="styleguide-navigation">

  <div class="styleguide-navigation__mobile">
    <button class="styleguide-navigation__mobile-nav">
      <div class="styleguide-navigation__mobile-nav-bars">
        <span class="styleguide-navigation__mobile-nav-bar"></span>
        <span class="styleguide-navigation__mobile-nav-bar"></span>
        <span class="styleguide-navigation__mobile-nav-bar"></span>
      </div>
      <span class="styleguide-navigation__mobile-nav-text">
        Library Menu
      </span>
    </button>
  </div>

  <div class="styleguide-navigation__inner">

    {% for item in libraryNavigationItems %}
      <div class="styleguide-navigation__item">
        <a href="{{ item.link }}" class="styleguide-navigation__main-link">{{ item.name }}</a>
        <ul class="styleguide-navigation__sub-nav {{ 'styleguide-navigation__sub-nav--hidden' if item.active == false }}">

          {% for subItem in item.subItems %}
            <li class="styleguide-navigation__sub-nav-item">
              <a href="{{ subItem.link }}" class="styleguide-navigation__sub-nav-link {{ 'styleguide-navigation__sub-nav-link--active' if subItem.active }}">{{ subItem.name }}</a>
            </li>
          {% endfor %}

        </ul>
      </div>
    {% endfor %}

  </div>

</div>
{% endif %}