{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        MOT tests
      </a>
    </li>
    <li>
      <a href="/">
        MOT test history
      </a>
    </li>
    <li>
      <a href="/">
        Compare tests     
    </a>
    </li>
    <li>
        Review assessment     
    </li>  
    </ol>
</div>

<h1 class="heading-xlarge heading heading--page-heading">
 What fines will you issue? 
</h1>

<label class="form-label" for="textarea">
  Explain who will be fined and how much
</label>
<textarea class="form-control" name="textarea" id="textarea" rows="5"></textarea>


<div style="margin-top: 40px;">
    <a class="button" href="saved">Save to MOT testing service</a>
    <br/>
    <a href="test-comparison-defects-reviewed">Back</a>
</div>


{% endblock %}
