{{# ELEMENT-BREADCRUMBS }}
    <div class="content-breadcrumb breadcrumbs">
        <ol>
        {{# root }}
            <li>
                <a href="{{href}}" aria-current="false">{{label}}</a>
            </li>
        {{/ root }}
        {{^ root }}
            <li>
                <a href="/" aria-current="false">Home</a>
            </li>
        {{/ root }}

        {{# FOREACH-BREADCRUMB }}
            <li class="breadcrumbs__current-page">
                {{# href }}
                    <a href="{{href}}" aria-current="page">{{{label}}}</a>
                {{/ href }}
                {{^ href }}
                    {{{label}}}
                {{/ href }}
            </li>
        {{/ FOREACH-BREADCRUMB }}
        </ol>
    </div>
{{/ ELEMENT-BREADCRUMBS }}
