{{# contentNavigation }}
    <div class="form-group">
        {{# primary }}
            {{# isInput }}
                <input 
                    type="submit" 
                    value="{{link}}"
                    class="button{{# isWarning }}-warning{{/ isWarning }}{{# isPrototype }}-prototype{{/ isPrototype }}{{# isStart }} button-start{{/ isStart }}">
            {{/ isInput }}
            {{^ isInput }}
                <a href="
                        {{# href }}
                            {{href}}
                        {{/ href }}
                        {{^ href }}
                            #
                        {{/ href }}
                " class="button{{# isWarning }}-warning{{/ isWarning }}{{# isPrototype }}-prototype{{/ isPrototype }}{{# isStart }} button-start{{/ isStart }}">{{ link }}</a>
            {{/ isInput }}
        {{/ primary }}
    </div>

    {{# secondary }}

        <div class="form-group">

            <ul class="list">
                {{# secondary }}
                    <li>
                        <a href="
                            {{# href }}
                                {{href}}
                            {{/ href }}
                            {{^ href }}
                                #
                            {{/ href }}
                        ">{{{link}}}</a>
                    </li>
                {{/ secondary }}
            </ul>
        </div>

    {{/ secondary }}

{{/ contentNavigation }}
