{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Blog article - Civil Service Learning Platform' %}
{% set blackBarTitle = 'Civil Service Learning' %} {% set learnerPrototypeVersion = 'v1' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v1/' %}
{% set homePath = '/prototypes/learner/v1/home' %}

{% set resourceType = resourceType if resourceType %}
{% set hideDetailStars = hideDetailStars if hideDetailStars %}

{% block content %}

    {{ components.pageHeading(heading='Capability in the Civil Service') }}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <p>In this module you consider how to work with potential providers and achieve what you require. You’ll learn about supply chains, pricing. </p>

            <p><a href="#" target="_blank">Download document</a></p>

            <p>
                <a href="/prototypes/learner/v1/actions?action=addedToLearningPlan&type=blog">Add to Other learning</a>
            </p>

        {%- endcall %}

        {% call components.columnOneThird() %}

            {% if not hideDetailStars %}

            <aside class="govuk-related-items govuk-related-items--flush govuk-related-items--keylined" role="complementary">
                <h2 class="heading-small">User rating</h2>
                {{ components.starRating(rating='76%', total='104') }}
            </aside>


            {% endif %}

        {% endcall %}

    {%- endcall %}

{% endblock %}
