{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Blog article - Civil Service Learning Platform' %}
{% set blackBarTitle = 'Civil Service Learning' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v1/' %}
{% set homePath = '/prototypes/learner/v1/home' %}

{% set resourceType = resourceType if resourceType %}
{% set hideDetailStars = hideDetailStars if hideDetailStars %}

{% block content %}

    {{ components.pageHeading(heading='Rupert McNeil: what the civil service of tomorrow will look like') }}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <p>Since Brexit, the question of whether the civil service has the right people, skills, and capabilities is the subject of heated debate. One man who must address these issues is Rupert McNeil, the head of Government HR says Jen Gold. </p>

            <p><a href="https://www.instituteforgovernment.org.uk/blog/rupert-mcneil-what-civil-service-tomorrow-will-look" target="_blank">Read this blog article</a> (external link)</p>

            <p>
                <a href="/prototypes/learner/v1/actions?action=addedToLearningPlan&type=blog">Add to learning plan</a>
            </p>

        {%- endcall %}

        {% call components.columnOneThird() %}

            {% if not hideDetailStars %}

            <aside class="govuk-related-items govuk-related-items--flush govuk-related-items--keylined" role="complementary">
                <h2 class="heading-small">Key information</h2>

            </aside>


            {% endif %}

        {% endcall %}

    {%- endcall %}

{% endblock %}
