{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Enter your department - Civil Service Learning Platform' %}

{% set blackBarTitle = 'Civil Service Learning' %}
{% set loggedOut = 'true' %}
{% set signOutPath = '/prototypes/learner/v1/' %}
{% set homePath = '/prototypes/learner/v1/' %}
{% set departmentSelectOptions = departmentSelectOptions if departmentSelectOptions %}
{% set registrationDepartmentError = registrationDepartmentError if registrationDepartmentError %}
{% set department = department if department%}

{% set editMode = editMode if editMode %}
{% if editMode %}
    {% set buttonText = 'Save changes'  %}
{% else %}
    {% set buttonText = 'Continue'  %}
{% endif %}

{% block content %}

    {{ components.pageHeading('Enter your department', 'Civil Service Learning Platform') }}

    {% if registrationDepartmentError %}

        {% set departmentErrorMessage = 'Select your government department'%}

        <div class="error-summary" role="alert" aria-labelledby="nameErrors" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="nameErrors">There was a problem with your email address</h2>
            <ul class="error-summary-list">
                <li><a href="#department">Your department does not appear to be valid</a></li>
            </ul>
        </div>

    {% endif %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            {% call components.formElement(name='registerDepartment', method='POST', action="#") %}

                {{ components.select(
                    options=departmentSelectOptions,
                    label='Department',
                    id='department',
                    hint='Start typing to find your Government department name',
                    group=true,
                    extraClass='autocomplete-wrapper',
                    error=departmentErrorMessage,
                    selectedValue=department)
                }}

                {% call components.formGroup() %}

                    {{ components.button(text=buttonText, group=true)}}

                {%- endcall %}

                <p>
                    <a href="/prototypes/learner/v1">Cancel</a>
                </p>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

    <script type="text/javascript" src="/javascripts/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script type="text/javascript">
        var selectEl = document.querySelector('#department');
        accessibleAutocomplete.enhanceSelectElement({
            autoselect: true,
            defaultValue: selectEl.options[selectEl.options.selectedIndex].innerHTML,
            minLength: 1,
            selectElement: selectEl
        });
    </script>

{% endblock %}

