{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Site review - VTS079774' %}

{% block content %}

<form action="">
  <div class="form-group">

      <div class="breadcrumbs">
        <ol>
          <li>
            <a href="/manuals">
              Home
            </a>
          </li>
          <li>
            <a href="/">
              WILLETTA AREDONDO
            </a>
          </li>
          <li>
            <a href="/">
                VTS079774
            </a>
          </li>
          <li>
            Site review
          </li>
        </ol>
      </div>

      <legend>

    
      </legend>

  </div>

  <div style="margin-bottom: 20px;">
    <a href="choose-section">Enter site review</a>
  </div>

  <table class="table-summary">
  <tbody>
    <tr>
      <th class="table-summary__value">
        Site review risk score
      </th>
      <td class="table-summary__key">
        Satisfactory
      </td>
    </tr>
    <tr>
      <th class="table-summary__value">
        DVSA examiner
      </th>
      <td class="table-summary__key">
        Janyce Tisa Amento
      </td>
    </tr>
    <tr>
      <th class="table-summary__value">
        AE representative
      </th>
      <td class="table-summary__key">
        Jacqueline&nbsp;Kalima, NT&nbsp;AEUser&nbsp;ID:&nbsp;KALI1927
      </td>
    </tr>
    <tr>
      <th class="table-summary__value">
        Tester
      </th>
      <td class="table-summary__key">
      Jacqueline&nbsp;Kalima, NT&nbsp;AEUser&nbsp;ID:&nbsp;KALI1927
      </td>
    </tr>
    <tr>
      <th class="table-summary__value">
        Date of review
      </th>
      <td class="table-summary__key">
        1 March 2016
      </td>
    </tr>
  </tbody>
</table>




</form>
{% endblock %}
