{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Messages' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Messages') }}

      {% if flashMessage != '' %}

        <div class="message--success">

          <p> {{ flashMessage }} </p>

        </div>

      {% endif %}
 
        <div class="c-tab-list">
          <ul class="c-tab-list__tabs message-filters__tabs">          
            <li>
              <span class="c-tab-list__tab-link c-tab-list__tab-link--active message-filters__tab message-filters__tab--active">Received</span>
            </li>
            <li>
              <a href="/prototypes/messages/archive" class="c-tab-list__tab-link message-filters__tab">Archived</a>
            </li>
          </ul>
          
          <div class="message-filters__tab-panel js-filter-wrapper">
            
            <div class="message-panel"> 
                <div class="message-filters__inputs">
                  <form class="form">
                    <div class="form-group u-margin-bottom-30 inline">
                      <fieldset>
                        <legend class="visually-hidden">Choose which message type to view</legend>
                        <h3 class="heading-large u-margin-top-10">Received messages</h3> 
                        <div class="multiple-choice multiple-choice--inline">
                          <input data-type="Special notice" class="js-message-filter" id="type-special" name="type" type="checkbox" value="special" checked>
                          <label for="type-special">Special notices</label>
                        </div>
                        <div class="multiple-choice multiple-choice--inline">
                          <input data-type="Notification" class="js-message-filter" id="type-reminder" name="type" type="checkbox" value="notification" checked>
                          <label for="type-reminder">Notifications</label>
                        </div>
                      </fieldset>
                    </div>
                  </form>
                </div> 
               
            </div>


            {% if viewData.isPinnedCount > 0 %}
              <div class="message-panel"> 
              <h3 class="heading-small message-panel__title u-margin-top-10"> Special notice acknowledgment required</h3>

                <ul class="message-panel__messages u-margin-bottom-15"> 
                  {% for message in viewData.messages %}

                    {% if message.state.isPinned %}

                      <li data-type="Special notice" class="message-panel__message message-panel__message--pinned {{ '' if message.state.isRead else 'message-panel__message--unread' }}">
                        <div class="message-panel__inner">
                          <div class='message-panel__message-type'>
                            <span class='visually-hidden'>Type:</span>Special notice {{message.issueNum}}
                          </div>
                          <div class="grid-row">
                            <div class="message-panel__col message-panel__col--six">
                              <h4 class="message-panel__message-title">{{ message.title }}</h4>
                            </div>
                            <div class='message-panel__col message-panel__col--four'>
                              {% if message.date.due %}
                                <span class="message-panel__alert">Due in {{message.date.due.asInt}} days</span>
                              {% endif %}
                            </div>
                          </div>
                          <ul class="grid-row message-panel__details">
                            <li class="message-panel__col message-panel__col--six">
                              <span class='visually-hidden'>Date received::</span> 
                              {{ message.date.received }}
                            </li>
                            {% if (message.type=='Special notice' and not message.state.acknowledged) or (message.type!='Special notice' and message.type!='News' and not message.state.accepted and not message.state.rejected) %}
                            <li class="message-panel__col message-panel__col--four">
                              <span class='visually-hidden'>Action:</span>
                              Action required
                            </li>
                            {% endif %}
                          </ul>
                          <div class="message-panel__view">
                            <a href="/prototypes/messages/{{message.id}}" class="">View message</a>
                          </div> 
                        </div>
                      </li>

                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
  
            <div class="message-panel js-message-panel"> 
             <h3 class="heading-small message-panel__title js-message-list-title u-margin-top-10">
              {%  if viewData.isPinnedCount > 0 %}
                All other messages
              {% else %}
                All messages
              {% endif %}
             </h3>
            
              <ul class="message-panel__messages js-message-list">

              {% for message in viewData.messages %}

                {% if not message.state.isPinned %}

                  <li data-type="{{'Special notice' if message.type=="Special notice" else 'Notification'}}" class="message-panel__message {{ '' if message.state.isRead else 'message-panel__message--unread' }}">
                    <div class="message-panel__inner">
                      {% if message.type=='Special notice' %}
                      <div class='message-panel__message-type'>
                        <span class='visually-hidden'>Type:</span> Special notice {{message.issueNum}}
                      </div>
                      {% endif %}
                      <div class="grid-row">
                        <div class="message-panel__col">
                          <h4 class="message-panel__message-title">{{ message.title }}</h4>
                        </div>
                      </div>
                      <ul class="grid-row message-panel__details">
                        <li class="message-panel__col message-panel__col--six">
                          <span class='visually-hidden'>Date received::</span> 
                          {{ message.date.received }}
                        </li>
                        {% if (message.type=='Special notice' and not message.state.acknowledged) or (message.type!='Special notice' and message.type!='News' and not message.state.accepted and not message.state.rejected) %}
                        <li class="message-panel__col message-panel__col--four">
                          <span class='visually-hidden'>Action:</span>
                          Action required
                        </li>
                        {% endif %}
                      </ul>
                      <div class="message-panel__view">
                        <a href="/prototypes/messages/{{message.id}}" class="">View message</a>
                      </div> 
                    </div>
                  </li>
                
                  {% endif %}
                {% endfor %} 
              </ul>
            </div> 

          </div>

        <div class="u-margin-top-30 u-margin-bottom-30">
          {{ components.link(text='Return to home', url='/prototypes/mts-messages', paragraph=true) }}
        </div>

    </div>

    {%- endcall %} 
    {%- endcall %} 
  
{% endblock %}