{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'CI Authentication' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Messages' }
] %}

{% block content %}

<div class="grid-row">

  <div class="column-full">
    
      <header class="content-header">
        <h1>
          <span class="content-header__type">Special notice</span>
          <span class="content-header__title">Update security questions</span>
        </h1>
        <h2 class="content-header__tertiary">Published 8 July 2019</h2>
      </header>

        <div class="text">
          
          <p>On 8th July 2019, DVSA will introduce changes to our MTS authentication process.</p>
          <p>As a result of this all users will be asked to <a href="update-sq">update their security questions</a> so they have three saved answers, rather than two.</p>
          <p>To update these first we will ask you to review the two answers you currently have saved in the system and then you will be asked to add a third answer.</p>
          
          <div class="govuk-inset-text">
            <p>Please note that you will only be able to update you security questions in you have logged into the service using your security card pin number.</p>
            <p>This message must be acknowledged by <strong>22 July 2019</strong></p>
          </div>
          
          <h3 class="govuk-heading-m">
            Failure to update before the 22 july 2019
          </h3>
          <p>After the 22 July 2019 all users that have not added this thrid security question will be forced to complete this process before they can start vehicle testing.</p>
          
        </div>

      

      <div class="text u-clearfix">


        <div class="u-margin-top-10 u-margin-bottom-30">
          <a class="button" href="#" role="button">Acknowledge special notice</a>
        </div> 
  
    <p>
      <a href="inbox">Back to messages</a>
    </p>
  

  </div>

  
  </div>

  {% endblock %}