{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Home page - Civil Service Learning Platform' %}
{% set blackBarTitle = 'Civil Service Learning' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v1/' %}
{% set homePath = '/prototypes/learner/v1/home' %}
{% set hideHomeStars = hideHomeStars if hideHomeStars %}

{% block content %}

    {{ components.pageHeading('Your learning') }}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Required learning', tag='h2', size='medium', extraClass='') }}

            <table class="table--top">
                <thead class="visuallyhidden">
                <tr>
                    <th>Title</th>
                    {% if not hideHomeStars %}<th>Rating</th>{% endif %}
                    <th>Reason</th>
                    <th>Type</th>
                    <th><span class="visuallyhidden">Duration</span></th>
                    <th><span class="visuallyhidden">Status</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="has-star-rating">
                        <a href="#">Health and Safety</a>
                        <span class="meta"><a href="#">Resume</a></span>
                    </td>
                    {% if not hideHomeStars %}<td>{{ components.starRating(rating='25%', total='10') }}</td>{% endif %}
                    <td>Required by 31 March 2018</td>
                    <td>Online</td>
                    <td>1 hour</td>
                    <td class="u-align-right"><span class="badge badge--info badge--smaller">In progress</span></td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Unconcious bias</a>
                        <span class="meta"><a href="#">Start</a></span>
                    </td>
    {% if not hideHomeStars %}<td>{{ components.starRating(rating='50%', total='81') }}</td> {% endif %}
                    <td>Required by 4 May 2018</td>
                    <td>Classroom</td>
                    <td>1 day</td>
                    <td class="u-align-right"><span class="badge badge--smaller">Booked</span></td>
                </tr>
                </tbody>
            </table>

            {{ components.heading(text='Planned learning', tag='h2', size='medium', extraClass='') }}

            <table class="course-table">
                <thead class="visuallyhidden">
                <tr>
                    <th>Title</th>
    {% if not hideHomeStars %}<th>Rating</th>{% endif %}
                    <th>Reason</th>
                    <th>Type</th>
                    <th><span class="visuallyhidden">Duration</span></th>
                    <th><span class="visuallyhidden">Status</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="has-star-rating">
                        <a href="#">Managing contractors</a>
                        <span class="meta"><a href="#">Cancel booking</a></span>
                    </td>
    {% if not hideHomeStars %}<td>{{ components.starRating(rating='80%', total='49') }}</td>{% endif %}
                    <td>From your performance review</td>
                    <td>Classroom</td>
                    <td>1 day</td>
                    <td class="u-align-right">
                        <span class="badge badge--info badge--smaller">Booked</span>
                        <span class="meta">15 Mar 2018</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Analysis and use of evidence</a>
                        <span class="meta"><a href="#">Delete</a></span>
                    </td>
    {% if not hideHomeStars %}<td>{{ components.starRating(rating='95%', total='91') }}</td>{% endif %}
                    <td>Because of your work objectives</td>
                    <td>Online</td>
                    <td>1 hour</td>
                    <td class="u-align-right"><span class="badge badge--smaller">Not started</span></td>
                </tr>
                </tbody>
            </table>

            <p class="u-space-t15"><a href="#" class="font-xsmall">Show 2 more</a> </p>

        {%- endcall %}

    {%- endcall %}

{% endblock %}

{% block lowerHero %}

    {% call components.lowerHero() %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <h2 class="heading-medium u-space-t30">Suggested for you</h2>

            <p>Suggestions are tailored by the service or from colleagues' recommendations.</p>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnOneThird() %}

            {{ components.tile(
                title='Digital awareness "Digital by default"',
                url='/prototypes/learner/v1/resource?resourceType=online',
                starPercent='80%',
                starTotal='128',
                because='Suggested by Janet Rimmer',
                type='Online',
                duration='1 hour',
                cost='£Free',
                intro='You\'ll develop lorem ac semper semper, eros erat malesuada diam, sed fringilla felis enim'
            ) }}

        {%- endcall %}

        {% call components.columnOneThird() %}

            {{ components.tile(
                title='Managing contractors',
                url='/prototypes/learner/v1/resource?resourceType=classroom',
                starPercent='76%',
                starTotal='104',
                because='Because you did Hiring Contractors Part I',
                type='Classroom',
                duration='2 days',
                cost='£357',
                intro='Introduces you to the different factors tristique purus sit amet nisi elementum, vel congue nisi pulvinar.'
            ) }}

        {%- endcall %}

        {% call components.columnOneThird() %}

            {{ components.tile(
                title='Managing employees',
                url='/prototypes/learner/v1/resource?resourceType=classroom',
                starPercent='61%',
                starTotal='25',
                because='Because you did Onboarding for new staff',
                type='Classroom',
                duration='1 day',
                cost='£199',
                intro='Introduces you to the different factors tristique purus sit amet nisi elementum, vel congue nisi pulvinar.'
            ) }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnOneThird() %}

            {{ components.tile(
                title='Simon Sinek - Start With Why - TED Talk Short Edited',
                url='/prototypes/learner/v1/resource?resourceType=video',
                starPercent='64%',
                starTotal='39',
                because='Suggested by William Smith',
                type='Video',
                duration='17 mins',
                cost='£FREE',
                intro='In this video, eros erat malesuada diam, sed fringilla felis enim'
            ) }}

        {%- endcall %}

        {% call components.columnOneThird() %}

            {{ components.tile(
                title='Rupert McNeil: what the civil service of tomorrow will look like',
                url='/prototypes/learner/v1/resource?resourceType=video',
                starPercent='70%',
                starTotal='84',
                because='Recommended by Commercial',
                type='Blog',
                cost='£FREE',
                intro='Introduces you to the different factors neque lacus, ultricies vitae nunc quis.'
            ) }}

        {%- endcall %}

        {% call components.columnOneThird() %}

            {{ components.tile(
                title='Ruth Trousers: Management strategies in senior government',
                url='/prototypes/learner/v1/resource?resourceType=video',
                starPercent='95%',
                starTotal='233',
                because='Recommended by Commercial',
                type='Blog',
                duration='5 mins',
                cost='£FREE',
                intro='Introduces you to the different factors neque lacus, ultricies vitae nunc quis.'
            ) }}

        {%- endcall %}

    {%- endcall %}

    {%- endcall %}

{% endblock %}