.footer-resources {
  &,
  &--one-third,
  &--two-thirds {
    color: #333; // #A11y contrast fix

    @include media(tablet) {
      padding-bottom: 30px;
    }
  }  
  
  &--one-third {
    @include media(desktop) {
      width: 33.333%; 
      float: left;
    }
  }

  &--two-thirds {
    @include media(desktop) {
      width: 66.666%; 
      float: left;
    }
  }

  &__header {
    margin: 0 15px;
    padding: 10px 0 0;
    
    @include media(tablet) {
      padding-bottom: 20px;
      border-bottom: 1px solid $border-colour;
    }
  }

  &__list {
    li > a { 
      font-size: 19px;
      padding: 12px 0;
      display: block;
      @include media(desktop){ 
        font-size: 16px;
        padding: 4px 0; 
      } 
    }
  }

}