{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Search results - Civil Service Learning Platform' %}
{% set blackBarTitle = 'Civil Service Learning' %} {% set learnerPrototypeVersion = 'v3' %}
{% set signOutPath = '/prototypes/learner/v3/' %}
{% set homePath = '/prototypes/learner/v3/home' %}
{% set searchTerm = searchTerm if searchTerm %}

{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.pageHeading('Search results') }}

            <div class="search-box u-space-b30">

                {% call components.formElement(name='searchLearning', method='POST', action="/prototypes/learner/v3/search") %}

                    <div class="form-group search-box__group">

                        <label class="visuallyhidden">Search all available learning</label>

                        <input class="form-control search-box__input" id="searchInput" type="search" name="searchInput" value="" placeholder="Search CSL">

                        <button type="submit" class="search-box__submit">Search</button>

                        {#<a href="#" class="search-box__advanced">Advanced search</a>#}

                    </div>

                {%- endcall %}

            </div>

        <p class="lede">There were <strong>46</strong> results for <strong>senior management</strong></p>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <div class="resources">

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v1/resource?resourceID=9"><strong>Course title</strong></a>
                            <span class="resource__action">
                                <a href="/prototypes/learner/v3/booking/">Book now</a>
                                <a href="/prototypes/learner/v1/actions?action=addedToLearningPlan&type=Online">Add to learning plan</a>
                            </span>
                        </li>

                        <li class="resource__rating">

                            <div class="star-rating">
                                <div class="star-rating__sprite">
                                    <span style="width: 85%;" class="star-rating__value">This course was popular with 85% of those who responded</span>
                                </div>
                                <span class="star-rating__total">(83 reviews)</span>
                            </div>

                        </li>

                        <li class="resource__info">
                            <span>&nbsp;</span>
                        </li>
                        <li class="resource__info">
                            <span>Classroom, 5 hours</span>
                        </li>
                    </ul>
                </div>

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v3/resource?resourceID=9"><strong>Course title</strong></a>
                            <span class="resource__action">
                                <a href="#">Start</a>
                                <a href="/prototypes/learner/v1/actions?action=addedToLearningPlan&type=Online">Add to learning plan</a>
                            </span>
                        </li>

                        <li class="resource__rating">

                            <div class="star-rating">
                                <div class="star-rating__sprite">
                                    <span style="width: 85%;" class="star-rating__value">This course was popular with 85% of those who responded</span>
                                </div>
                                <span class="star-rating__total">(83 reviews)</span>
                            </div>

                        </li>

                        <li class="resource__info">
                            <span>&nbsp;</span>
                        </li>
                        <li class="resource__info">
                            <span>Online, 2 hours</span>
                        </li>
                    </ul>
                </div>

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v3/resource?resourceID=9"><strong>Course title</strong></a>
                            <span class="resource__action">
                                <a href="/prototypes/learner/v3/actions?action=addedToLearningPlan&type=Online">Add to learning plan</a>
                            </span>
                        </li>

                        <li class="resource__rating">

                            <div class="star-rating">
                                <div class="star-rating__sprite">
                                    <span style="width: 85%;" class="star-rating__value">This course was popular with 85% of those who responded</span>
                                </div>
                                <span class="star-rating__total">(83 reviews)</span>
                            </div>

                        </li>

                        <li class="resource__info">
                            <span>&nbsp;</span>
                        </li>
                        <li class="resource__info">
                            <span>Blog, 10 minutes</span>
                        </li>
                    </ul>
                </div>

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v3/resource?resourceID=9"><strong>Course title</strong></a>
                            <span class="resource__action">
                                <a href="/prototypes/learner/v3/booking/">Book now</a>
                                <a href="/prototypes/learner/v3/actions?action=addedToLearningPlan&type=Online">Add to learning plan</a>
                            </span>
                        </li>

                        <li class="resource__rating">

                            <div class="star-rating">
                                <div class="star-rating__sprite">
                                    <span style="width: 85%;" class="star-rating__value">This course was popular with 85% of those who responded</span>
                                </div>
                                <span class="star-rating__total">(83 reviews)</span>
                            </div>

                        </li>

                        <li class="resource__info">
                            <span>&nbsp;</span>
                        </li>
                        <li class="resource__info">
                            <span>Classroom, 10 minutes</span>
                        </li>
                    </ul>
                </div>

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v3/resource?resourceID=9"><strong>Course title</strong></a>
                            <span class="resource__action">
                                <a href="/prototypes/learner/v3/booking/">Book now</a>
                                <a href="/prototypes/learner/v3/actions?action=addedToLearningPlan&type=Online">Add to learning plan</a>
                            </span>
                        </li>

                        <li class="resource__rating">

                            <div class="star-rating">
                                <div class="star-rating__sprite">
                                    <span style="width: 85%;" class="star-rating__value">This course was popular with 85% of those who responded</span>
                                </div>
                                <span class="star-rating__total">(83 reviews)</span>
                            </div>

                        </li>

                        <li class="resource__info">
                            <span>&nbsp;</span>
                        </li>
                        <li class="resource__info">
                            <span>Classroom, 5 hours</span>
                        </li>
                    </ul>
                </div>

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v3/resource?resourceID=9"><strong>Course title</strong></a>
                            <span class="resource__action">
                                <a href="#">Start</a>
                                <a href="/prototypes/learner/v3/actions?action=addedToLearningPlan&type=Online">Add to learning plan</a>
                            </span>
                        </li>

                        <li class="resource__rating">

                            <div class="star-rating">
                                <div class="star-rating__sprite">
                                    <span style="width: 85%;" class="star-rating__value">This course was popular with 85% of those who responded</span>
                                </div>
                                <span class="star-rating__total">(83 reviews)</span>
                            </div>

                        </li>

                        <li class="resource__info">
                            <span>&nbsp;</span>
                        </li>
                        <li class="resource__info">
                            <span>Online, 2 hours</span>
                        </li>
                    </ul>
                </div>

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v3/resource?resourceID=9"><strong>Course title</strong></a>
                            <span class="resource__action">
                                <a href="/prototypes/learner/v3/actions?action=addedToLearningPlan&type=Online">Add to learning plan</a>
                            </span>
                        </li>

                        <li class="resource__rating">

                            <div class="star-rating">
                                <div class="star-rating__sprite">
                                    <span style="width: 85%;" class="star-rating__value">This course was popular with 85% of those who responded</span>
                                </div>
                                <span class="star-rating__total">(83 reviews)</span>
                            </div>

                        </li>

                        <li class="resource__info">
                            <span>&nbsp;</span>
                        </li>
                        <li class="resource__info">
                            <span>Blog, 10 minutes</span>
                        </li>
                    </ul>
                </div>

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v3/resource?resourceID=9"><strong>Course title</strong></a>
                            <span class="resource__action">
                                <a href="/prototypes/learner/v3/booking/">Book now</a>
                                <a href="/prototypes/learner/v3/actions?action=addedToLearningPlan&type=Online">Add to learning plan</a>
                            </span>
                        </li>

                        <li class="resource__rating">

                            <div class="star-rating">
                                <div class="star-rating__sprite">
                                    <span style="width: 85%;" class="star-rating__value">This course was popular with 85% of those who responded</span>
                                </div>
                                <span class="star-rating__total">(83 reviews)</span>
                            </div>

                        </li>

                        <li class="resource__info">
                            <span>&nbsp;</span>
                        </li>
                        <li class="resource__info">
                            <span>Classroom, 10 minutes</span>
                        </li>
                    </ul>
                </div>

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v3/resource?resourceID=9"><strong>Course title</strong></a>
                            <span class="resource__action">
                                <a href="/prototypes/learner/v3/booking/">Book now</a>
                                <a href="/prototypes/learner/v3/actions?action=addedToLearningPlan&type=Online">Add to learning plan</a>
                            </span>
                        </li>

                        <li class="resource__rating">

                            <div class="star-rating">
                                <div class="star-rating__sprite">
                                    <span style="width: 85%;" class="star-rating__value">This course was popular with 85% of those who responded</span>
                                </div>
                                <span class="star-rating__total">(83 reviews)</span>
                            </div>

                        </li>

                        <li class="resource__info">
                            <span>&nbsp;</span>
                        </li>
                        <li class="resource__info">
                            <span>Classroom, 5 hours</span>
                        </li>
                    </ul>
                </div>

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v3/resource?resourceID=9"><strong>Course title</strong></a>
                            <span class="resource__action">
                                <a href="#">Start</a>
                                <a href="/prototypes/learner/v3/actions?action=addedToLearningPlan&type=Online">Add to learning plan</a>
                            </span>
                        </li>

                        <li class="resource__rating">

                            <div class="star-rating">
                                <div class="star-rating__sprite">
                                    <span style="width: 85%;" class="star-rating__value">This course was popular with 85% of those who responded</span>
                                </div>
                                <span class="star-rating__total">(83 reviews)</span>
                            </div>

                        </li>

                        <li class="resource__info">
                            <span>&nbsp;</span>
                        </li>
                        <li class="resource__info">
                            <span>Online, 2 hours</span>
                        </li>
                    </ul>
                </div>
                
            </div>
        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.pagination(totalItems=46,currentPage=1) }}

        {%- endcall %}

    {%- endcall %}


{% endblock %}
