{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Create a notification' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Messages: Archive' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.pageHeading(heading='Messages: Archive') }}

      {% if flashMessage != '' %}

        <div class="message--success"> 
          <p> {{ flashMessage }} </p> 
        </div>

      {% endif %} 

        <div class="c-tab-list">
          <ul class="c-tab-list__tabs message-filters__tabs">          
            <li>
              <a href="/prototypes/messaging" class="c-tab-list__tab-link  message-filters__tab">Messages</a>
            </li>
            <li>
              <span class="c-tab-list__tab-link c-tab-list__tab-link--active message-filters__tab message-filters__tab--active">Archived</span>
            </li>
          </ul>

          <div class="message-filters__tab-panel"> 

            <div class="message-panel"> 
              <h3 class="heading-small message-panel__title">
              Archived messages</h3>
            
                <ul class="u-margin-bottom-30 message-panel__messages">

                {% for message in viewData.archive %}

                  {% if not message.state.isPinned %}
                    <li data-type="{{ message.type }}" class="message-panel__message">
                      <div class="message-panel__inner">
                        <h4 class="message-panel__message-title">
                        {{message.title}}
                        </h4>
                      
                        <ul class="message-panel__details">
                          <li>Date received: {{message.date.received}} </li>
                          <li>Type: {{message.type}} </li>
                          {% if message.type=='Special notice' and not message.state.acknowledged %}
                            <li>Action: Acknowledgment required</li>
                          {% elseif message.type=='Notification' and not message.state.accepted and not message.state.rejected %}
                            <li>Action: Accept or reject</li>
                          {% endif %}
                        </ul>
                      </div>
                      <div class="message-panel__view">
                        <a href="/prototypes/messaging/{{message.id}}" class="">View message</a>
                      </div> 
                    </li>
                    {% endif %}
                  {% endfor %} 
                </ul>
            </div>  
          </div>

          <div class="u-margin-top-30 u-margin-bottom-30">
            {{ components.link(text='Return to home', url='/prototypes/mts-messages', paragraph=true) }}
          </div>

    </div>

    {%- endcall %} 
  {%- endcall %} 
  
{% endblock %}