{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Site review summary' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Willetta Aredondo', url: '/' },
  { text: 'VTS079774', url: '/' },
  { text: 'Site review', url: '/prototypes/site-review' },
  { text: 'Enter details', url: '/prototypes/site-review/enter-details' },
  { text: 'Summary' }
] %}

 {{ activityPerformed }}
 {% set activityPerformed = viewData.activity.activityPerformed %} 


{% block content %} 

{% set notGiven = "Not given" %}
 
<form action="enter-event-details-step-1">
  <div class="form-group">

      <legend>
        <h1 class="heading-medium">
          Check details of the site review before you save
        </h1>
      </legend>

  </div>

  <table class="table-summary" style="margin-bottom: 20px;">
  <tbody>
    <tr>
      <th class="table-summary__key">
        Compliance
      </th>
      <td class="table-summary__value--tabular">
         <strong>{{ viewData.compliance.commitedLevel }}</strong><br/>

         {% if viewData.compliance.commitedComment %} 
            {{"Comment" if viewData.compliance.satisfactory.isChecked else "Advice given"}}: 
            {{viewData.compliance.commitedComment}}
         {% endif %}   
          
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Premises
      </th>
      <td class="table-summary__value--tabular">
        <strong>  {{ viewData.premises.commitedLevel }}</strong><br/>
        {% if viewData.premises.commitedComment %} 
            {{"Comment" if viewData.premises.satisfactory.isChecked else "Advice given"}}: 
            {{viewData.premises.commitedComment}}
         {% endif %}   
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Management and quality
      </th>
      <td class="table-summary__value--tabular">
        <strong>{{ viewData['management-and-quality'].commitedLevel }}</strong><br/>
        {% if viewData['management-and-quality'].commitedComment %} 
          {{"Comment" if viewData['management-and-quality'].satisfactory.isChecked else "Advice given"}}: 
          {{viewData['management-and-quality'].commitedComment}}
        {% endif %}   
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        People
      </th>
      <td class="table-summary__value--tabular">
        <strong>{{ viewData.people.commitedLevel }}</strong><br/>
          {% if viewData.people.commitedComment %} 
          {{"Comment" if viewData.people.satisfactory.isChecked else "Advice given"}}: 
          {{viewData.people.commitedComment}}
        {% endif %}  
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Activity
      </th>
      <td class="table-summary__value--tabular">
      
        <strong>
          {% if (viewData.activity.commitedTestNum) %}
            Activity performed
          {% elif (viewData.activity.commitedReason) %}
            No activity performed
          {% endif %} 
        </strong><br/>
        {% if (viewData.activity.commitedTestNum) %}
          MOT test number: <strong>{{viewData.activity.commitedTestNum }}</strong>
          {% elif (viewData.activity.commitedReason) %} 
          Reason given: <strong>{{ viewData.activity.commitedReason }}</strong>
        {% endif %} 
      
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        AE representative's User ID
      </th>
      <td class="table-summary__value--tabular">
       <strong>{{ viewData.testerDetails.testerUserId }}</strong><br/>
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        AE representative's full name
      </th>
      <td class="table-summary__value--tabular"> 
        <strong>{{  viewData.testerDetails.testerName }}</strong><br/>
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        AE representative's role
      </th>
      <td class="table-summary__value--tabular"> 
        <strong>{{  viewData.testerDetails.testerRole }}</strong><br/>
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Date of site visit
      </th>
      <td class="table-summary__value--tabular">
        <strong>{{ viewData.testerDetails.date}}</strong>
      </td>
    </tr>
  </tbody>
</table>

<div class="form-group u-margin-bottom-20">
  <input class="button" type="submit" value="Save and continue"> 
</div>

<div class="form-group"> 
    <a href="enter-details">Back</a>
</div> 

<div>
</div>



</form>
{% endblock %}
