{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Site review summary' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'Willetta Aredondo', url: '/' },
  { text: 'VTS079774', url: '/' },
  { text: 'Site review', url: '/prototypes/site-review' },
  { text: 'Enter details', url: '/prototypes/site-review/enter-details' },
  { text: 'Summary' }
] %}


{% block content %}

 {{ viewData }} 

<form action="enter-event-details-step-1">
  <div class="form-group">

      <legend>
        <h1 class="heading-medium">
          Check details of the site review before you save
        </h1>
      </legend>

  </div>

  <table class="table-summary" style="margin-bottom: 20px;">
  <tbody>
    <tr>
      <th class="table-summary__key">
        Premises
      </th>
      <td class="table-summary__value--tabular">
        <strong>Satisfactory</strong><br/>
        Comment: all good
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Management control and quality checks
      </th>
      <td class="table-summary__value--tabular">
        <strong>Improve</strong><br/>
        Advice given: supervise testers more regularly
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        People
      </th>
      <td class="table-summary__value--tabular">
        <strong>Unsatisfactory</strong><br/>
        Advice given: train testers
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Compliance Checks
      </th>
      <td class="table-summary__value--tabular">
         <strong>Satisfactory</strong><br/>
        Advice given: supervise testers more regularly
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Activity
      </th>
      <td class="table-summary__value--tabular">
        <strong>Yes</strong><br/>
        MOT test number <strong>9876 5243 9237</strong>
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        AE representative's User ID
      </th>
      <td class="table-summary__value--tabular">
        <strong>DREW9272</strong><br/>
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        AE representative's full name
      </th>
      <td class="table-summary__value--tabular">
        <strong>Rafał Drewnowski</strong><br/>
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        AE representative's role
      </th>
      <td class="table-summary__value--tabular">
        <strong>Owner of the garage</strong><br/>
      </td>
    </tr>
    <tr>
      <th class="table-summary__key">
        Date of site visit
      </th>
      <td class="table-summary__value--tabular">
        <strong>14 July 2018</strong>
      </td>
    </tr>
  </tbody>
</table>


  <div>
    <input class="button" type="submit" value="Save and continue"><br/><br/>
    <a href="choose-section">Cancel</a>
  </div>



</form>
{% endblock %}
