{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Site review index' %}


{% block content %}


{{ components.pageHeading('Prototypes', 'Test comparison') }}


<div class="grid-row">
  <div class="column-one-half">

    <ul class="list list-bullet">
      <li>
        version 4 (update 05/12/2018)
        <ul>
          <li><a href="/prototypes/compare-tests/v4/">Full user journey</a></li>
              <br />Separate pages:<br />
            <ul>
              <li><a href="/prototypes/compare-tests/v4/compare-brakes">Brake tests v1</a></li>
              <li><a href="/prototypes/compare-tests/v4/compare-brakes-v2">Brake tests v2</a></li>
              <li><a href="/prototypes/compare-tests/v4/compare-brakes-v3">Brake tests v3</a></li>
              <li><a href="/prototypes/compare-tests/v4/compare-brakes-v4">Brake tests v4</a></li>
              <li><a href="/prototypes/compare-tests/v4/compare-brakes-v4">Brake tests v5</a></li>
            </ul>
        </ul>
      </li>
    </ul>

    <ul class="list list-bullet">
       <li>
        version 3 — user research 25/10/2018
        <ul>
          <li><a href="/prototypes/compare-tests/v3/">Full user journey</a></li>
          <br />Separate pages:<br />
          <li><a href="/prototypes/compare-tests/v3/test-comparison">Compare tests</a>
            <ul>
              <li><a href="/prototypes/compare-tests/v3/compare-odometer">Compare odometer</a></li>
              <li><a href="/prototypes/compare-tests/v3/compare-defects">Compare defects</a></li>
              <li><a href="/prototypes/compare-tests/v3/compare-brakes">Compare brake test results</a></li>
              <li><a href="/prototypes/compare-tests/v3/test-comparison-brakes-reviewed">All section has been compared</a></li>
              </ul>
            </li>
          <li><a href="/prototypes/compare-tests/v3/check-answers">Check your answers</a></li>
          <li><a href="/prototypes/compare-tests/v3/change-outcome">Change outcome of the case</a></li>
          <li><a href="/prototypes/compare-tests/v3/saved">Confirmation screen</a></li>
          </ul>
      </li>
    </ul>

    <ul class="list list-bullet">
       <li>
        version 2 — user research 19/10/2018
        <ul>
          <li><a href="/prototypes/compare-tests/v2/">Full user journey</a></li>
          <li><a href="/prototypes/compare-tests/v2/test-comparison-v4">Compare tests</a>
            <ul>
              <li><a href="/prototypes/compare-tests/v2/compare-odometer">Compare odometer</a></li>
              <li><a href="/prototypes/compare-tests/v2/compare-defects">Compare defects</a></li>
              <li><a href="/prototypes/compare-tests/v2/compare-brakes">Compare brake test results</a></li>
              <li><a href="/prototypes/compare-tests/v2/test-comparison-v4-brakes-reviewed">All section has been compared</a></li>
              </ul>
            </li>
          <li><a href="/prototypes/compare-tests/v2/check-answers-v2">Check your answers</a></li>
          <li><a href="/prototypes/compare-tests/v2/change-outcome">Change outcome of the case</a></li>
          <li><a href="/prototypes/compare-tests/v2/saved">Confirmation screen</a></li>
          </ul>
      </li>
    </ul>

    <ul class="list list-bullet">
      <li>
        version 1 — update 04/10/2018
        <ul class="list list-bullet">
          <li><a href="/prototypes/compare-tests/v1/test/history">Start from test history</a></li>
          <li><a href="/prototypes/compare-tests/v1/test-comparison">Comparison v 1.0</a> </li>
          <li><a href="/prototypes/compare-tests/v1/test-comparison-v2">Comparison v. 1.1</a></li>
          <li><a href="/prototypes/compare-tests/v1/test-comparison-v3">Comparison v. 1.2</a></li>
          <li><a href="/prototypes/compare-tests/v1/test-comparison-v3-add-justification">Add justification for change</a></li>
         </ul>
      </li>
    </ul>

    
 </div>
</div>

{% endblock %}