{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test history' %}

{% block content %}

<a href="/prototypes/compare-tests/test-comparison-step-2"><img src="/images/test-comparison.png" style="width: 1140px;" border="0"></a>



{% endblock %}
