{% set pageTitle      = 'MOT Documentation' %}
{% set headerSubTitle = 'Documentation' %}

{% extends 'layouts/full-width.layout.njk' %}

{% block bodyContentWrapper %}

  <div class="dvsa-frontend-documentation">
    <div class="dvsa-frontend-documentation__wrapper">
      <div class="dvsa-frontend-documentation__left">
        {% for section in documentationSections %}
        <h2 class="dvsa-frontend-documentation__left-heading">
          {{ section.heading }}
        </h2>

        <ul class="dvsa-frontend-documentation__links">
          {% for content in section.sectionContents %}
          <li class="dvsa-frontend-documentation__links-item">
            <a href="#{{ content.id }}" class="dvsa-frontend-documentation__links-link">
              {{ content.heading }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>

      <div class="dvsa-frontend-documentation__right">
        <div class="dvsa-frontend-documentation__content">
          {% for section in documentationSections %}
            {% for content in section.sectionContents %}
              {{ content.htmlContent }}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}