{% set pageTitle      = 'MOT Documentation' %}
{% set headerSubTitle = 'Documentation' %}

{% extends 'layouts/full-width.layout.njk' %}

{% block bodyContentWrapper %}

  <div class="dvsa-frontend-documentation">
    <div class="dvsa-frontend-documentation__wrapper">
      <div class="dvsa-frontend-documentation__left">
        <h2 class="dvsa-frontend-documentation__left-heading">
          Getting started
        </h2>

        <ul class="dvsa-frontend-documentation__links">
          <li class="dvsa-frontend-documentation__links-item">
            <a href="#" class="dvsa-frontend-documentation__links-link">
              Installation
            </a>
          </li>
          
          <li class="dvsa-frontend-documentation__links-item">
            <a href="#" class="dvsa-frontend-documentation__links-link">
              Installation
            </a>
          </li>

          <li class="dvsa-frontend-documentation__links-item">
            <a href="#" class="dvsa-frontend-documentation__links-link">
              Installation
            </a>
          </li>
        </ul>

        <h2 class="dvsa-frontend-documentation__left-heading">
          Getting started
        </h2>

        <ul class="dvsa-frontend-documentation__links">
          <li class="dvsa-frontend-documentation__links-item">
            <a href="#" class="dvsa-frontend-documentation__links-link">
              Installation
            </a>
          </li>
          
          <li class="dvsa-frontend-documentation__links-item">
            <a href="#" class="dvsa-frontend-documentation__links-link">
              Installation
            </a>
          </li>

          <li class="dvsa-frontend-documentation__links-item">
            <a href="#" class="dvsa-frontend-documentation__links-link">
              Installation
            </a>
          </li>
        </ul>
      </div>

      <div class="dvsa-frontend-documentation__right">
        <div class="dvsa-frontend-documentation__content">
          <h1>Testing...</h1>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aut non labore est nobis nisi. Quos dicta laborum, qui quia vero, eos illum dolore in reiciendis consequuntur rerum, sapiente nihil doloremque recusandae excepturi! At odio beatae esse, delectus placeat quam sunt minus quia accusamus! Enim!
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}