.eu-defect {
  margin-bottom: 30px;

  &__title {
    @include bold-24;
    
  }

  &__manual-ref {
    font-size: 19px;
    display: block;
    margin-bottom: 22px;
    z-index: 1;
    @include media(desktop){
      font-size: 16px;
    }
  }

  &__list {
    border-top: 2px solid $grey-1;
    border-bottom: 2px solid $grey-1;
  }

  &__list-item--interim {
    border-top: 1px solid $grey-1;
    border-bottom: 1px solid $grey-1;
    padding: 0;
    margin: 0
  }

  &__list-item {
    position: relative;
    clear: both;
    margin: 4px 0;
    border-bottom: 2px solid $grey-3;
    .breadcrumbs {
      padding-top: 8px;
    }
    
    &:last-of-type {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__group-item {
    position: relative;
    margin: 4px 0;
    padding: 10px 0;
    &--secondary {
      padding-top: 0;
      margin-top: 0;
      @include media(desktop) {
        padding-top: 6px;
      }
      .eu-defect__name {
        padding-top: 0;
        @include media(desktop) {
          padding-top: 6px;
        }
      }
    }
  }

  &__name {
    @include core-16;
    font-size: 16px;
    display: block;
    padding-right: 260px;
    padding-top: 12px;
    margin-bottom: 14px;
    @include media(mobile) {
      padding-right: 0;
    }
    @include media(desktop) {
      padding-top: 6px;
    }

    &--bold {
      font-weight: 700;
      @include media(desktop) {
        padding-right: 380px;
        margin-bottom: 6px;
      }
    } 
   
  }

  &__options {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    text-align: left;

    @include media (desktop) {
      position: absolute;
      top: 3px;
      right: 0;
    }

    a[class^="button"] {
      text-align: center;
      font-size: 19px;
      padding: 10px 23px;
      margin-bottom: 10px;
      min-width: 60px;
      @include media(desktop){
        font-size: 16px;
        padding: 10px 16px;
        margin-bottom: 6px;
      }
    }

    a.button--info {
      width: auto;
      margin-right: 10px;
    }

    &--left {
      float: left;
      width: 140px;
      text-align: left;
    }

    &--right {
      float: right;
      width: 110px;
      text-align: right;
    }

    &--left,
    &--right {
      @include media(mobile) {
        float: none;
        width: auto;
        text-align: left;
        margin-top: 10px;
      }
    }

    &--collapse-tablet {
      position: relative;
      top: auto;
      right: auto;
      width: auto;
      text-align: left;
      z-index: 50;

      @include media(desktop) {
        position: absolute;
        right: 0;
        top: 8px;
        text-align: right;
      }
    }

    &--manual-ref {
      position: relative;
      top: auto;
      right: auto;
      width: auto;
      text-align: left;
      z-index: 100;

      @include media(desktop) {
        position: absolute;
        right: 260px;
        top: 15px;
        text-align: right;
      }
    }
  }

  &__badge {
    @include bold-16;
    padding: 5px 8px 3px;
  }

  &__link {
    @include core-16;
  }
}