.eu-defect {
  margin-bottom: 30px;

  &__title {
    @include bold-24;
  }

  &__manual-ref {
    @include core-16;
    display: block;
    margin-bottom: 5px;
    z-index: 1;
  }

  &__list {
    border-top: 2px solid $grey-1;
    border-bottom: 2px solid $grey-1;
  }

  &__list-item--interim {
    border-top: 1px solid $grey-1;
    border-bottom: 1px solid $grey-1;
    padding: 0;
    margin: 0
  }

  &__list-item {
    position: relative;
    clear: both;
    margin: 4px 0;
    border-bottom: 2px solid $grey-3;
    .breadcrumbs {
      padding-top: 8px;
    }
    
    &:last-of-type {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__group-item {
    position: relative;
    margin: 4px 0;
    padding: 12px 0;

    &--secondary {
      margin-top: -15px;

      @include media(desktop) {
        margin-top: -5px;
      }
    }
  }

  &__name {
    @include core-16;
    display: block;
    padding-right: 260px;

    &--bold {
      @include bold-16;
      padding-right: 0;

      @include media(desktop) {
        padding-right: 380px;
      }
    }

    @include media(mobile) {
      padding-right: 0;
    }
  }

  &__options {
    position: absolute;
    top: 8px;
    right: 0;
    width: 264px;
    text-align: right;

    @media (max-width: 769px) {
      position: relative;
      top: auto;
      right: auto;
      width: auto;
      text-align: left;
    }

    a[class^="button"] {
      width: 128px;
      text-align: center;
    }

    a.button--info {
      width: auto;
      margin-right: 10px;
    }

    &--left {
      float: left;
      width: 140px;
      text-align: left;
    }

    &--right {
      float: right;
      width: 110px;
      text-align: right;
    }

    &--left,
    &--right {
      @include media(mobile) {
        float: none;
        width: auto;
        text-align: left;
        margin-top: 10px;
      }
    }

    &--collapse-tablet {
      position: relative;
      top: auto;
      right: auto;
      width: auto;
      text-align: left;
      z-index: 50;

      @include media(desktop) {
        position: absolute;
        right: 0;
        top: 6px;
        width: 400px;
        text-align: right;
      }
    }

    &--manual-ref {
      position: relative;
      top: auto;
      right: auto;
      width: auto;
      text-align: left;
      z-index: 100;

      @include media(desktop) {
        position: absolute;
        right: 235px;
        top: 15px;
        text-align: right;
      }
    }
  }

  &__badge {
    @include bold-16;
    padding: 5px 8px 3px;
  }

  &__link {
    @include core-16;
  }
}
