<!-- manuals side nav -->
<aside class="govuk-related-items" id="sideMenu">

    <h2 class="heading-medium">Introduction</h2>

    <ol class="list-decimal list-decimal--side list-small">
        <li><a href="Introduction.html#section_1">Abbreviations and definitions</a></li>
        <li><a href="Introduction.html#section_2">Application (Classes 3,4,5,7)</a></li>
        <li><a href="Introduction.html#section_3">Vehicle of historical interest (over 40 years old)</a></li>
        <li><a href="Introduction.html#section_4">Refusal to test</a></li>
        <li><a href="Introduction.html#section_5">Narrow track vehicles</a></li>
        <li><a href="Introduction.html#section_6">Vehicle 'first used' dates Application of test criteria</a></li>
        <li><a href="Introduction.html#section_7">The Inspection Manual</a></li>
        <li><a href="Introduction.html#section_8">Vehicle Technical Data</a></li>
        <li><a href="Introduction.html#section_9">The MOT Testing Guide</a></li>
        <li><a href="Introduction.html#section_10">Assessment of component condition</a></li>
        <li><a href="Introduction.html#section_11">Definition of Insecure</a></li>
        <li><a href="Introduction.html#section_12">Unsafe modification</a></li>
        <li><a href="Introduction.html#section_13">Extensively modified vehicles</a></li>
        <li><a href="Introduction.html#section_14">Inspection procedure</a></li>
        <li><a href="Introduction.html#section_15">Road testing</a></li>
        <li><a href="Introduction.html#section_16">Disabled driver's controls</a></li>
        <li><a href="Introduction.html#section_17">Health and safety</a></li>
        <li><a href="Introduction.html#section_18">Recording deficiencies</a></li>
        <li><a href="Introduction.html#section_19">Retest following failure</a></li>
        <li><a href="Introduction.html#section_20">Recommended inspection Routine</a></li>
    </ol>

    <h3 class="bold">Appendix A</h3>
    <ul class="list-small">
        <li><a href="#">Structural integrity and corrosion</a></li>
    </ul>

    <h3 class="bold">Appendix B</h3>
    <ul class="list-small">
        <li><a href="#">Tyre load index tables</a></li>
    </ul>

</aside>
<!-- / manuals side nav -->