<!-- manuals side nav -->
<aside class="govuk-related-items" id="sideMenu">

    <h2 class="heading-medium">Introduction</h2>

    <ol class="list-decimal list-decimal--side list-small">
        <li><a href="#">Abbreviations and definitions</a></li>
        <li><a href="#">Application (Classes 3,4,5,7)</a></li>
        <li><a href="#">Vehicle of historical interest (over 40 years old)</a></li>
        <li><a href="#">Refusal to test</a></li>
        <li><a href="#">Narrow track vehicles</a></li>
        <li><a href="#">Vehicle 'first used' dates Application of test criteria</a></li>
        <li><a href="#">The Inspection Manual</a></li>
        <li><a href="#">Vehicle Technical Data</a></li>
        <li><a href="#">The MOT Testing Guide</a></li>
        <li><a href="#">Assessment of component condition</a></li>
        <li><a href="#">Definition of Insecure</a></li>
        <li><a href="#">Unsafe modification</a></li>
        <li><a href="#">Modified vehicles</a></li>
        <li><a href="#">Inspection procedure</a></li>
        <li><a href="#">Road testing</a></li>
        <li><a href="#">Health and safety</a></li>
        <li><a href="#">Recording deficiencies</a></li>
        <li><a href="#">Retest following failure</a></li>
        <li><a href="#">Recommended inspection Routine</a></li>
    </ol>

    <h3 class="bold">Appendix A</h3>
    <ul class="list-small">
        <li><a href="#">Structural integrity and corrosion</a></li>
    </ul>

    <h3 class="bold">Appendix B</h3>
    <ul class="list-small">
        <li><a href="#">Tyre load index tables</a></li>
    </ul>

</aside>
<!-- / manuals side nav -->