.task-list {
  &__cell {

    @include media (tablet) {
      min-width: 300px;      
    }
  }

  &__badge {
    @extend %badge;
    background-color: #666;
    color: white;
    border-radius: 0 !important;

    &--warn {
      background-color: $yellow;
      color: #3c3c3c;      
    }

    &--info {
      background-color: $link-colour;
    }

    &--success {
      background-color: $green;
    }

    &--alert {
      background-color: $mellow-red;
    }
  }
}
