.task-list {
  &__cell {
    width: 50%;
    padding-top: 15px !important;
    padding-bottom: 15px !important;

    @include media(desktop) { 
      padding-top: 12px !important; 
      padding-bottom: 9px !important;
    }
  }

  &__badge {
    @extend %badge;
    background-color: #666;
    color: white;
    border-radius: 0 !important;

    &--warn {
      background-color: $yellow;
      color: #3c3c3c;      
    }

    &--info {
      background-color: $link-colour;
    }

    &--success {
      background-color: $green;
    }

    &--alert {
      background-color: $mellow-red;
    }
  }
}
