// Differences found between tests (dfbt)
.dvsa-dfbt-table {

  &__row {

  }

  &__th {
    width: 20%;
  }

  &__name {
    display: block;
    @include bold-19;
  }

  &__type {
    display: block;
    @include bold-19;
  }
}