{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}


<div class="dvsa-banner dvsa-banner--confirmation">
  <h1 class="dvsa-banner__heading-large">Educational activity recorded</h1>
  <p class="dvsa-banner__secondary-text">Event has been created automatically</p>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h4 class="heading heading--small heading-small">What happens next</h4>
      <p>
        The NT and AE will receive your educational advise in their inbox
      </p>

      <p>
        The event has been recorded in the applicable event(s)
      </p>

  </div>
</div>

<div style="margin-top: 40px;">
  <form action="test-comparison-v4-odometer-reviewed">
    <a href="start">Record a site review</a>
  </form>
</div>




{% endblock %}
