{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Blog article - Learning Platform for Government' %}
{% set blackBarTitle = 'Learning Platform for Government' %} {% set learnerPrototypeVersion = 'v10' %}
{% set mainContainerClass = 'has-lower-hero' %}
{% set signOutPath = '/prototypes/learner/v10/' %}
{% set homePath = '/prototypes/learner/v10/home' %}

{% set resourceType = resourceType if resourceType %}
{% set hideDetailStars = hideDetailStars if hideDetailStars %}

{% block content %}

    {{ components.pageHeading(heading='The Freedom to Negotiate a Better Deal') }}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <p>For so many hard working people in our country, the American Dream — a good job, a house, a car, a savings account for the kids to go to college — has become a fantasy. A major reason why is that corporate CEOs and lobbyists have stripped freedoms from workers to negotiate a fair return on their work.</p>

            <p><a href="https://medium.com/@SenSchumer/the-freedom-to-negotiate-a-better-deal-31926116fcb5" target="_blank">Read this blog article</a> (external link)</p>

            <p>
                <a href="/prototypes/learner/v10/home" class="button">Return to Home</a>
            </p>

            <p>
                <a href="/prototypes/learner/v10/actions?action=addedToLearningPlan&type=blog">Add to learning plan</a>
            </p>

        {%- endcall %}

        {% call components.columnOneThird() %}

            <aside class="govuk-related-items govuk-related-items--flush govuk-related-items--keylined" role="complementary">
                <p class="u-space-t15">
                    <a href="#">Leave feedback</a>
                </p>

                {% if not hideDetailStars %}
                    <h2 class="heading-small">User rating</h2>
                    {{ components.starRating(rating='76%', total='104') }}

                {% endif %}

            </aside>

        {% endcall %}

    {%- endcall %}

{% endblock %}
