{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}

{% block content %}


<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/">
        VTS079774
      </a>
    </li>
    <li>
      Notify of changes to equipment
    </li>
  </ol>
</div>

<h1 class="heading-xlarge heading heading--page-heading ">
      <span class="heading-secondary">Vehicle testing station</span>
      Notify of changes to equipment
</h1>
<div class="text">
  <p class="lede">
    Use this to notify DVSA of any changes to fixed test equipment.
  </p>

  <!--p>
  If you wish to replace or modify any fixed test equipment, you must confirm that the Requirements for Authorisation will not be contravened by the changes.</p-->
  <!--p>No proposed change will be acceptable if it reduces clearances or dimensions (including those for access) below the limits specified in the Requirements for Authorisation or, for features approved only as `acceptable variations', below their existing values.</p-->
  <h2 class="heading heading--medium  heading-medium">Building alterations</h2>
  <p>You must obtain DVSA’s approval for proposed changes which alter the building before putting them in hand; failure to do so may result in disciplinary action.</p>
  <p>For any other changes to fixed test equipment, once DVSA has been notified you can proceed to have the equipment installed and use it. The changes will be checked by DVSA at the next visit.</p>
  <h2 class="heading heading--medium  heading-medium">Mobile testing equipment</h2>
  <p>The renewal of mobile testing equipment does not have to be notified to DVSA provided that the replacement is on the <a href="https://www.gov.uk/government/publications/mot-centre-approved-testing-equipment">current DVSA approved list</a> and will not affect the range of vehicles that can be tested.</p>

</div>
<form action="">



  <div>
      <a href="/prototypes/vts-changes/v2/vts-1-equipment" class="button">Continue</a><br><br>
      <a href="">Back</a>
  </div>

  
</form>
{% endblock %}
