{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}

{% block content %}


<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/">
        VTS079774
      </a>
    </li>
    <li>
      Notify of changes to equipment
    </li>
  </ol>
</div>


  <header class="transaction-header">
    <h1 class="transaction-header__title">The notification of change </br>has been submitted</h1>
    <p class="transaction-header__next-step">The changes will be checked by DVSA at the next visit.</p>
  </header>

  <div>
      <a href="/prototypes/vts-changes/v2/">Return to VTS details</a>
  </div>

  
</form>
{% endblock %}
