{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}

{% block content %}


<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/">
        VTS079774
      </a>
    </li>
    <li>
      Notify of changes to equipment
    </li>
  </ol>
</div>


<form action="">

  <h1 class="heading-xlarge heading heading--page-heading ">
        <span class="heading-secondary">Notify of changes to equipment</span>
        <label for="radio-inline-group">
          Will the new equipment change the layout of the premises?
        </label>
  </h1>



  <div class="form-group">
    <fieldset class="inline">
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>
    </fieldset>
  </div>


  <div class="form-group">

    <details style="margin-bottom:30px;">
      <summary><span class="summary">Help on changes to layout of the premises</span></summary>
      <div class="panel panel-border-narrow">
        <p>The proposed change will not be acceptable if it reduces clearances or dimensions (including those for access) below the limits specified in the Requirements for Authorisation.</p>
        <p>For features currently approved only as `acceptable variations', proposed changes will not be acceptable below their existing values. </p>
      </div>
    </details>

  </div>




  </div>

  <div>
      <a href="/prototypes/vts-changes/v2/vts-3-approved" class="button">Continue</a><br><br>
      <a href="/prototypes/vts-changes/v2/vts-1-equipment">Back</a>
  </div>

  
</form>
{% endblock %}
