{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}

{% block content %}

<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/">
        VTS079774
      </a>
    </li>
    <li>
      Notify of changes to equipment
    </li>
  </ol>
</div>

<form action="">

  <h1 class="heading-xlarge heading heading--page-heading ">
        <span class="heading-secondary">Notify of changes to equipment</span>
        <label for="select-box">
          What type of equipment are you changing?
        </label>
  </h1>



  <!--div class="form-group">
    <select class="form-control" id="select-box" name="select-box">
      <option value="one">Headlamp beam tester</option>
      <option value="two">Plate brake tester</option>
      <option value="three">Roller brake tester</option>
      <option value="four">Wheel play detector</option>
      <option value="five">Ramp, hoist or lift</option>
    </select>
  </div-->


  <div class="form-group">
    <fieldset>
      <div class="multiple-choice">
        <input id="equipment-type-1" name="equipment-types" type="checkbox" value="equipment-headlamp-beam">
        <label for="equipment-type-1">Headlamp beam tester</label>
      </div>
      <div class="multiple-choice">
        <input id="equipment-type-2" name="equipment-types" type="checkbox" value="equipment-plate-brake">
        <label for="equipment-type-2">Plate brake tester</label>
      </div>
      <div class="multiple-choice">
        <input id="equipment-type-3" name="equipment-types" type="checkbox" value="equipment-roller-brake">
        <label for="equipment-type-3">Roller brake tester</label>
      </div>
      <div class="multiple-choice">
        <input id="equipment-type-4" name="equipment-types" type="checkbox" value="equipment-wheel-play">
        <label for="equipment-type-4">Wheel play detector</label>
      </div>
      <div class="multiple-choice">
        <input id="equipment-type-5" name="equipment-types" type="checkbox" value="equipment-ramp">
        <label for="equipment-type-5">Ramp, hoist or lift</label>
      </div>
    </fieldset>
  </div>


  <div class="form-group">

    <details style="margin-bottom:30px;">
      <summary><span class="summary">I can't find the type of equipment I'm changing</span></summary>
      <div class="panel panel-border-narrow">
        <p>The renewal of mobile testing equipment does not have to be notified to DVSA provided that the replacement is on the <a href="https://www.gov.uk/government/publications/mot-centre-approved-testing-equipment">current DVSA approved list</a> and will not affect the range of vehicles that can be tested. </p>
        <p>Equipment that is considered to be mobile:</p>
        <ul class="list list-bullet">
          <li>Diesel smoke meters</li>
          <li>Decelerometers</li>
          <li>Exhaust gas analysers</li>
          <li>Pedal application devices</li>
          <li>Tyre tread depth gauges</li>
          <li>13-pin Euro trailer socket wiring testers</li>
        </ul>
      </div>
    </details>

  </div>


  </div>

  <div>
      <a href="/prototypes/vts-changes/v2/vts-2-layout" class="button">Continue</a><br><br>
      <a href="/prototypes/vts-changes/v2/">Back</a>
  </div>

  
</form>
{% endblock %}
