{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}

{% block content %}


<div class="breadcrumbs">
  <ol>
    <li>
      <a href="/manuals">
        Home
      </a>
    </li>
    <li>
      <a href="/">
        WILLETTA AREDONDO
      </a>
    </li>
    <li>
      <a href="/">
        VTS079774
      </a>
    </li>
    <li>
      Notify of changes to equipment
    </li>
  </ol>
</div>

<h1 class="heading-xlarge heading heading--page-heading ">
      <span class="heading-secondary">Vehicle testing station</span>
      Notify of changes to equipment
</h1>
<div class="text">
  <p class="lede">
    You must apply to DVSA for prior approval
  </p>

  <p>For changes to test class or the alteration of the building the AE must obtain DVSA’s approval for the proposed changes before putting them in hand; failure to do so may result in disciplinary action.</p>
  <p>Download and complete the VT01 form to <a href="https://www.gov.uk/government/publications/application-for-mot-authorisation-vt01">apply for variation to MOT authorisation</a>.</p>

</div>
<form action="">

  
</form>
{% endblock %}
