{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test comparison' %}

{% block content %}


<div class="dvsa-banner dvsa-banner--confirmation">
  <h1 class="dvsa-banner__heading-large">Advisory Warning Letter generated</h1>
  <p class="dvsa-banner__secondary-text"></p>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h4 class="heading heading--small heading-small">What happens next</h4>
      <p>
        You need to tell the nominated tester they can view the advisory warning letter by signing in to the MOT testing service.
      </p>

      <p>
        You may print the letter and instruct the Responsible Person how to rectify areas that need to improve.
      </p>

      <input class="button" type="submit" value="Print AWL">
  </div>
</div>

<div style="margin-top: 40px;">
  <form action="test-comparison-v4-odometer-reviewed">
    <a href="index">Compare another MOT test</a>
  </form>
</div>




{% endblock %}
