{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Confirm Vehicle and Start Test' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT testing'}
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    {{ components.pageHeading(heading='Interior Checks', secondary='MOT Inspection') }}

    <details>
      <summary>
        <span class="summary">View testing advice</span>
      </summary>
      <div class="panel panel-border-narrow">
        <h3 class="heading heading--small heading-small">Engine waiting light</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </details>

    <h2 class="heading heading--medium heading-medium">Defect Categories</h2>

    <div class="browse u-margin-bottom-30">

      <div class="browse--two">

        <div class="browse__cats">

          <h3 class="browse__title hide-small">Categories</h3>

          <ul class="browse__list">

            <li><a href="/prototypes/mot-test/">Seats and seat belts</a></li>

            <li><a href="/prototypes/mot-test/" class="browse__slctd">Warning lamps</a></li>

            <li><a href="/prototypes/mot-test/">Switches</a></li>

            <li><a href="/prototypes/mot-test/">View to the front</a></li>

            <li><a href="/prototypes/mot-test/">Brake controls</a></li>

            <li><a href="/prototypes/mot-test/">Steering wheel and column</a></li>

            <li><a href="/prototypes/mot-test/">Doors, horn, mirrors</a></li>

            <li><a href="/prototypes/mot-test/">Speedometer</a></li>

            <li><a href="/prototypes/mot-test/">Lamps</a></li>

          </ul>

        </div>

        <div class="browse__cats--sub">

          <h3 class="browse__title hide-small">Warning lamps</h3>

          <ul class="browse__list">

            <li><a href="/prototypes/mot-test/">Malfunction indicator lamp</a></li>

            <li><a href="/prototypes/mot-test/">SRS malfunction indicator lamp</a></li>

            <li><a href="/prototypes/mot-test/">ABS warning lamp</a></li>

            <li><a href="/prototypes/mot-test/">EBS warning device</a></li>

            <li><a href="/prototypes/mot-test/">ESC warning lamp</a></li>

            <li><a href="/prototypes/mot-test/">Tyre pressure monitoring system warning lamp</a></li>

            <li><a href="/prototypes/mot-test/">Brake fluid warning lamp</a></li>

            <li><a href="/prototypes/mot-test/">Electronic power steering warning lamp</a></li>

          </ul>

        </div>
        
      </div>

    </div>
 
    <nav class="content-navigation">
        <ul class="list-unstyled content-navigation__split u-clearfix">
          <li class="content-navigation__split--left"> 
            <a class="button button--touch" id="confirm-start-test" href="advice">Return to inspection</a>        
          </li>
        </ul>
    </nav>

    {% endcall %}

  {% endcall %}

{% endblock %}
