// scss-lint:disable ImportantRule

/**
* Based on the design guidelines:
* Spacing between elements is usually 5px, 10px, 15px or multiples of 15px

* These classes are limited by the space-class-values list in config/_layout.scss
//

// NOTE:
/*
  t = top
  b = bottom
  y = top & bottom
*/

// Margin

.u-space-xauto {
    margin-right: auto !important;
    margin-left: auto !important;
}

@each $value in $space-class-values {
    .u-space-t#{$value} { margin-top: #{$value}px !important; }
    .u-space-b#{$value} { margin-bottom: #{$value}px !important; }

    .u-space-y#{$value} {
        margin-top: #{$value}px !important;
        margin-bottom: #{$value}px !important;
    }
}

@media print {
    .u-space-b30 {
        margin-bottom: 15px !important;
    }
}