&__inner {
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
  @media(max-width: 800px) {
    display: none;
    &--open {
      display: block;
    }
  }
}