&__sub-nav {
  list-style: none;
  margin: 0;

  &--hidden {
    display: none;
  }

  &-item {
    display: block;
  }

  &-link {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    border-left: 5px solid white;
    &:focus {
      border-color: $focus-colour;
    }
    &--active {
      border-color: $link-colour;
      background: #f1f1f1;
    }
  }
  
}