.content-navigation {
  &,
  &--notice {
    margin-top: $gutter;
    [class*='button'] {
      margin: 0 0 $gutter/2 0;
      padding: 12px;
      font-size: 19px;
      text-align: center;
      @include media(tablet) {  
        font-size: 1em;
        padding: em(12) em(22) em(9) em(22);
      }
    }
  } 
  &--notice {
    border: 10px solid $panel-colour;
    padding: $gutter;
  }

  &__secondary {
    list-style: none;
    margin-bottom: $gutter;
    margin-top: $gutter-half;
    font-size: 19px;
    @include media(desktop) {  
      font-size: 1em;
      margin: $gutter-half 0;
    }
  
    li {
      margin-bottom: 5px;
  
      &:first-child {
        margin-top: 5px;
      }
    }
  }

  &__heading {
    @include bold-24;
    margin-bottom: $gutter-half;
  }

  &__split {
    li { 
      display: block;
      list-style: none;
      margin-bottom: $gutter/2;
       
      @include media(tablet) {  
        display: inline;
        width: auto;
        margin: auto; 
        .button {
          display: inline-block;
        }
      }
    }

    // The following allows for
    // left/right green/red split buttons
    &--left { 
      @include media(tablet) {  
        float: left; 
      }
    }

    &--right {  
      @include media(tablet) {
        float: right;
      } 
    }
  }
}