.content-navigation {
  &,
  &--notice {
    margin-top: $gutter;

    [class*='button'] {
      margin: 0 15px 15px 0;
    }
  }

  &--notice {
    border: 10px solid $panel-colour;
    padding: $gutter;
  }

  &__secondary {
    list-style: none;
  
    li {
      margin-bottom: 5px;
  
      &:first-child {
        margin-top: 5px;
      }
    }
  }

  &__heading {
    @include bold-24;
    margin-bottom: $gutter-half;
  }

  &__split {
    li { 
      width: 100%;
      list-style: none;
      display: block; 
      @include media(smallTablet) {  
        display: inline;
        width: auto;
      }
    }

    // The following allows for
    // left/right green/red split buttons
    &--left { 
      @include media(smallTablet) {  
        float: left; 
      }
    }

    &--right {  
      @include media(smallTablet) {
        float: right;
      }
  
      .button {
        @include core-19();
        margin-right: 0;
      }
    }
  }
}