.mailbox-status {
  
  &,
  &--is-overdue {
    display: block;
    text-decoration: none;
    position: relative;
    border-top: 1px solid $border-colour;
    border-bottom: 1px solid $border-colour;
  
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      outline: none;
    }

    &:link {
      color: $error-colour;
    }
  
    // Dependencies
    .big-data {
      padding: $gutter-half 0;
    }
    &:hover .big-data__number:after {
      opacity: 1;
      right: 0;
    }
  }
}

// Spacing 

// .mailbox-status + .mailbox-status,
// .mailbox-status--is-overdue + .mailbox-status--is-overdue,
// .mailbox-status + .mailbox-status--is-overdue,
// .mailbox-status--is-overdue + .mailbox-status 

[class^='mailbox-status'] + [class^='mailbox-status'] {
  border-top: 0;
}