{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Confirm Vehicle and Start Test' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT testing'}
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}
    
    {{ components.pageHeading(heading='Confirm vehicle and start test', extraClass='u-margin-top-15 u-margin-bottom-30') }}
    
    <div class="vehicle-info-banner">
        <div class="column-three-quarters">
  
            <h2 class="heading-medium heading--no-margin-top">
              <span class="heading__secondary">Vehicle</span> Peugeot 3008 SUV
            </h2>
  
            <div class="grid-row">
              <div class="column-one-third">
                  <h3 class="heading heading-small heading--no-margin vehicle-info-banner__detail">
                      <span class="heading__secondary">Color</span> 
                      <span class="vehicle-info-banner__color vehicle-info-banner__color--blue">Blue</span> 
                    </h3> 
              </div>
          
              <div class="column-one-third">
                <h3 class="heading heading-small heading--no-margin u-text-break vehicle-info-banner__detail">
                  <span class="heading__secondary">VIN</span> GAULAGAAAAA11951
                </h3>
              </div>
          
              <div class="column-one-third">
                <h3 class="heading heading-small heading--no-margin vehicle-info-banner__detail">
                  <span class="heading__secondary">Registration number</span> TH10 CZR
                </h3>
              </div>
            </div>
            
        </div> 
        <div class="column-one-quarter vehicle-info-banner__logo"> 
            <img src="http://www.car-logos.org/wp-content/uploads/2011/09/peug.png" class="img-fluid">
        </div>
      </div>      
    <div class="text">
      <p>Check that you have the right vehicle before starting the test</p>
    </div>
 

  <h4 class="heading heading--small heading-small">
      Vehicle Specification
  </h4>
 
  <table class="table-summary u-margin-bottom-20">

    <tbody>
      <tr>
        <th class="table-summary__key">Engine</th>
        <td class="table-summary__value">Diesel 1998cc</td>
      </tr>
      <tr>
          <th class="table-summary__key">Brake test weight</th>
          <td class="table-summary__value">1750kg</td>
        </tr>
    </tbody>

  </table>

  <div class="panel panel-border-narrow u-margin-bottom-20">

     <h4 class="heading heading-small">This vehicle has testing advice</h4>
     <ul class="list list-bullet">
       <li>Roller brake test</li>
       <li>Special features</li>
       <li>Engine warning light</li>
     </ul>
     <p><strong><a href="http://mot.org.uk">See advice for carrying out an MOT test on the vehicle</a></strong></p>
     
  </div>


  <h4 class="heading heading--small heading-small u-margin-top-30">
      Vehicle Registration
  </h4>
 
  <table class="table-summary u-margin-bottom-20">

      <tbody>
        <tr>
          <th class="table-summary__key">VIN</th>
          <td class="table-summary__value">WBVBAAIAA46633</td>
        </tr>
        <tr>
            <th class="table-summary__key">Country of registration</th>
            <td class="table-summary__value">GB, UK, ENG, CYM, SCO (UK)</td>
          </tr>
        <tr>
          <th class="table-summary__key">MOT test class</th>
          <td class="table-summary__value">4</td>
        </tr>
        <tr>
            <th class="table-summary__key">Vehicle category</th>
            <td class="table-summary__value">M1</td>
        </tr>
        <tr>
            <th class="table-summary__key">Date of first use</th>
            <td class="table-summary__value">7 June 2011</td>
          </tr>
        <tr>
            <th class="table-summary__key">MOT expiration date</th>
            <td class="table-summary__value">6 July 2019</td>
          </tr>
      </tbody>
  
    </table>

    <nav class="content-navigation">
      <ul class="list-unstyled content-navigation__split u-clearfix">
          <li class="content-navigation__split--left"> 
            <a class="button" id="confirm-start-test" href="test-started">Confirm and start test</a>        
          </li>
          <li class="content-navigation__split--right">
            <a class="button button--alert" id="refuse-to-test" href="#">Refuse to test</a>
          </li> 
        </ul>

        <div class="content-navigation__secondary u-margin-top-10"> 
          <a href="/prototypes">Cancel and return to find a vehicle</a>
        </div>
    </nav>

    {% endcall %}

  {% endcall %}

{% endblock %}
