{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Site review index' %}


{% block content %}


{{ components.pageHeading('Prototypes', 'VSI during test') }}


<div class="grid-row">
  <div class="column-one-half">

    <ul class="list list-bullet">
       <li>
        version 2 (update 30/10/2018) 
        <ul>
          <li><a href="/prototypes/vsi-during-test/v2/">Full user journey</a></li>
        </ul>
    </ul>

    <ul class="list list-bullet">
      <li>
        version 1
        <ul class="list list-bullet">
          <li><a href="/prototypes/vsi-during-test/v1/">Full user journey</a></li>
         </ul>
      </li>
    </ul>

    
 </div>
</div>

{% endblock %}