{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'MOT test started' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT testing', url: '/prototypes/vsi-during-test' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    {{ components.dvsaBanner(type='confirmation', mainText='MOT test started', secondaryText='For <strong>Peugeot 3008 SUV</strong> on <strong>14th September 2018, 9:30am</strong>') }}

    <div class="text"> 
      <h3 class="heading heading-medium">What you need to do now</h3>
      <p>You can download and print an inspection sheet for this vehicle: <a href="#">Vehicle inspection sheet (PDF, 505KB)</a></p>
    </div>

    <a class="button button--touch" id="print-inpection" href="/prototypes/vsi-during-test/inspection">Start inspection</a>
    <p>You can now sign out and inspect the vehicle.</p>

    <nav class="content-navigation">
      <ul>
        <li class="u-margin-bottom-15">
          <a href="./prototypes/vsi-during-test">Sign out</a>
        </li>
        <li>
          <a href="./prototypes/vsi-during-test">Return to home</a>
        </li>
      </ul>
    </nav>

    {% endcall %}

  {% endcall %}

{% endblock %}