{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Suspend Users' %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

      {{ components.link(text='Back', url='/prototypes/annual-assessment-admin-tool', back=true) }}

      {% include './partials/form-errors.njk' %}

      {{ components.pageHeading(heading='Suspend users', secondary='Annual assessment admin tool') }}

      {{ components.paragraph(text='Suspend users who have failed to complete their annual assessment', lead=true, limitWidth=true) }}

      {% call components.form(action='/prototypes/annual-assessment-admin-tool/suspend-users/', method='POST') %}

        {{ components.field(label='Upload a CSV file', id='file-upload', type='file', labelBold=true, group=true, error=errors, value=value)}}

        {{ components.button(text='Submit suspension list') }}

      {%- endcall %}

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}