{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Suspension success' %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}
      
      <div class='u-margin-top-20'>

        {{ components.banner(mainText='Thank you', secondaryText='10 users have been suspended', type="confirmation") }}

      </div>

      {{ components.heading(text='What happens next?', size='medium', tag='h2') }}

      {{ components.paragraph(text='DVSA will investigate this report and decide on the best course of action.') }}

      {{ components.paragraph(text='Investigations can take time and we can’t give updates on individual cases.') }}

      {{ components.paragraph(text='You don’t need to do anything else.') }}

      {{ components.link(text='Return to annual assessment admin tool', url='/prototypes/annual-assessment-admin-tool', paragraph=true) }}

    {%- endcall %}

  {%- endcall %}

{%- endblock %}