{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Suspension success' %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}
      
      <div class='banner banner--confirmation u-margin-top-20'>

        <span class='banner__heading-large'>Thank you</span>

        <span><strong>10</strong> users have been suspended</span>

      </div>

      {{ components.link(text='Return to annual assessment admin tool', url='/prototypes/annual-assessment-admin-tool/') }}

    {%- endcall %}

  {%- endcall %}

{%- endblock %}