{{<mot_template}}

{{$pageTitle}}MOT testing service Design System{{/pageTitle}}

{{$content}}
    {{#viewData}}
        <main id="content" role="main">

            {{> mot_phase-banner}}

            {{# contentHeader }}            
                {{>mot_a_content-header}}
            {{/ contentHeader }}
            <div class="text">
                <p class="lede">List of all prototypes and versions</p>
            </div>
            <h2 class="heading-large lead-in">Prototypes</h2>
            <div class="grid-row">
                <div class="column-third">
                    <h3 class="heading-medium lead-in">Random content examples</h3>
                    <ul class="list-bullet">
                        <li><a href="/example">Example page 1</a></li>

                    </ul>
                </div>
                <div class="column-third">
                    <h3 class="heading-medium lead-in">Templates for sprint</h3>
                    <ul class="list-bullet">
                        <li><a href="/moth">MOTH</a></li>

                    </ul>
                </div>
                <div class="column-third">
                    <h3 class="heading-medium lead-in">Library &amp; components</h3>
                    <ul class="list-bullet">
                        <li><a href="/library">Library index</a></li>

                    </ul>

                </div>
            </div>

        </main>
    {{/viewData}}
    <!-- / #content -->
{{/content}}

{{/mot_template}}
