{{<new_template}}

{{$pageTitle}}Test page{{/pageTitle}}

    {{$content}}
        {{#viewData}}
            <main id="content">

                {{> new_phase-banner}}

                {{> new_c_breadcrumbs }}

                {{# contentHeader }}
                    {{>new_a_content-header}}
                {{/ contentHeader }}

                <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                      <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">There was a problem with the information</h1>
                      <p>Example error (permanently shown)</p>
                      <ul class="error-summary-list">
                        <li><a href="#input1">Enter your name in the input field</a></li>
                      </ul>
                </div>

                <div class="banner banner--error">
                    <span class="banner__heading-large">This vehicle's MOT has expired</span>
                    <span>You can be fined up to £1000 for driving without a valid MOT</span>
                </div>

                <div class="text">
                    <p class="lede">A test page of random elemements</p>
                    <form name="example" action="/example" method="post">
                        <fieldset>
                            <legend class="form-title heading-medium">Example form</legend>
                            <div class="form-group">
                                <label for="input1" class="form-label ">Your name</label>
                                <input type="text" id="input1" name="input1" value="{{exampleVar}}" class="form-control form-control-1-2" tabindex="1">
                            </div>
                        </fieldset>

                        {{> new_m_content-navigation }}

                    </form>
                </div>


                <div class="grid-row u-space-b30">

                    <div class="column-two-thirds">

                        <h1 class="heading-large">Check your details</h1>

                        <p>Make sure the vehicle and your email address are correct.</p>

                        <h2 class="heading-medium">Vehicle details</h2>

                        <dl class="govuk-check-your-answers cya-questions-short cya-questions-short--switch-bold">
                            <div>
                                <dt class="cya-question">Registration number</dt>
                                <dd class="cya-answer">AE15YRM</dd>
                                <dd class="cya-change"><a id="change-registration-link" href="https://www.reminders.mot-testing.service.gov.uk/vrm">Change<span class="visuallyhidden"> vehicle registration</span></a></dd>
                            </div>
                            <div>
                                <dt class="cya-question">Make</dt>
                                <dd class="cya-answer">SYM</dd>
                                <dd class="cya-change">&nbsp;</dd>
                            </div>
                            <div>
                                <dt class="cya-question">Model</dt>
                                <dd class="cya-answer">JD05W JET 4 R 50</dd>
                                <dd class="cya-change">&nbsp;</dd>
                            </div>
                            <div>
                                <dt class="cya-question">Colour</dt>
                                <dd class="cya-answer">RED</dd>
                                <dd class="cya-change">&nbsp;</dd>
                            </div>
                            <div>
                                <dt class="cya-question">Year of manufacture</dt>
                                <dd class="cya-answer">2015</dd>
                                <dd class="cya-change">&nbsp;</dd>
                            </div>

                            <div>
                                <dt class="cya-question">MOT expiry date</dt>
                                <dd class="cya-answer">13 March 2018</dd>
                                <dd class="cya-change">&nbsp;</dd>
                            </div>
                        </dl>

                    </div>
                </div>



                <div class="grid-row u-space-b30">

                    <div class="column-two-thirds">

                        <h1 class="heading-large">Check your details</h1>

                        <p>Make sure the vehicle and your email address are correct.</p>

                        <h2 class="heading-medium">Vehicle details</h2>

                        <table class="key-value-list">

                            <tbody>

                                <tr>
                                    <td class="key-value-list__key">Registration number</td>
                                    <td class="key-value-list__value">AE15YRM</td>
                                    <td class="key-value-list__item-action"><a id="change-registration-link" href="#">Change<span class="visuallyhidden"> vehicle registration</span></a></td>
                                </tr>
                                <tr>
                                    <td class="key-value-list__key">Make</td>
                                    <td class="key-value-list__value" colspan="2">SYM</td>
                                </tr>
                                <tr>
                                    <td class="key-value-list__key">Model</td>
                                    <td class="key-value-list__value" colspan="2">JD05W JET 4 R 50</td>
                                </tr>
                                <tr>
                                    <td class="key-value-list__key">Colour</td>
                                    <td class="key-value-list__value" colspan="2">RED</td>
                                </tr>
                                <tr>
                                    <td class="key-value-list__key">Year of manufacture</td>
                                    <td class="key-value-list__value" colspan="2">2015</td>
                                </tr>
                                <tr>
                                    <td class="key-value-list__key">MOT expiry date</td>
                                    <td class="key-value-list__value" colspan="2">13 March 2018</td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

                <div class="text u-space-b30">

                    <a class="button button-start" href="registration-number" role="button">Start now</a>

                </div>

                <div class="text">

                    <h2 class="heading-medium">Responsive show/hide classes</h2>

                    <p>Squish your browser to show/hide the two paragraphs below:</p>

                    <p class="u-hide-large">This should be hidden when large and shown when small...</p>

                    <p class="u-hide-small">... and this should be hidden when small and visible when large!</p>


                </div>

                <div class="text">

                    <ul class="list">
                        <li>plain old .list</li>
                        <li>hello</li>
                        <li>yes</li>
                    </ul>

                    <ul class="list-bullet">
                        <li>.list-bullet</li>
                        <li>hello</li>
                        <li>yes</li>
                    </ul>

                    <ol class="list-number">
                        <li>.list-number</li>
                        <li>hello</li>
                        <li>three</li>
                    </ol>

                </div>

                <div class="text">
                    <h1 class="heading-xlarge"><span class="heading-secondary">A 27px section heading</span> A 48px heading</h1>
                    <p class="lede">This is an intro paragraph at 24px. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>
                    <h2 class="heading-large">A 36px heading</h2>
                    <p>This is a body copy paragraph at 19px. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>
                    <h3 class="heading-medium">A 24px heading</h3>
                    <p>Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>
                    <h4 class="heading-small">A 19px heading</h4>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                    <ul class="list list-bullet">
                        <li>Here is a bulleted list.</li>
                        <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                        <li>Vestibulum id ligula porta felis euismod semper.</li>
                        <li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
                    </ul>
                    <ol class="list list-number">
                        <li>Here is a numbered list.</li>
                        <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                        <li>Vestibulum id ligula porta felis euismod semper.</li>
                        <li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
                    </ol>
                    <ul class="list">
                        <li>
                            <a href="#">Related link</a>
                        </li>
                        <li>
                            <a href="#">Related link</a>
                        </li>
                        <li>
                            <a href="#">Related link</a>
                        </li>
                        <li>
                            <a class="bold-xsmall" href="#">More</a>
                        </li>
                    </ul>
                </div>

                <div class="grid-row">
                    <div class="column-two-thirds column-minimum">
                        <ol class="task-list">
                            <li>
                                <h2 class="task-list-section"><span class="task-list-section-number">1.</span> Check before you start</h2>
                                <ul class="task-list-items">
                                    <li class="task-list-item">
                                        <a aria-describedby="eligibility-completed" class="task-name" href="#">Check eligibility</a> <strong class="task-completed" id="eligibility-completed">Completed</strong>
                                    </li>
                                    <li class="task-list-item">
                                        <a aria-describedby="read-declaration-completed" class="task-name" href="#">Read declaration</a> <strong class="task-completed" id="read-declaration-completed">Completed</strong>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h2 class="task-list-section"><span class="task-list-section-number">2.</span> Prepare application</h2>
                                <ul class="task-list-items">
                                    <li class="task-list-item">
                                        <a aria-describedby="company-information-completed" class="task-name" href="#">Company information</a> <strong class="task-completed" id="company-information-completed">Completed</strong>
                                    </li>
                                    <li class="task-list-item">
                                        <a aria-describedby="contact-details-completed" class="task-name" href="#">Your contact details</a> <strong class="task-completed" id="contact-details-completed">Completed</strong>
                                    </li>
                                    <li class="task-list-item">
                                        <a class="task-name" href="#">List convictions</a>
                                    </li>
                                    <li class="task-list-item">
                                        <a class="task-name" href="#">Provide financial evidence</a>
                                    </li>
                                    <li class="task-list-item">
                                        <a aria-describedby="medical-information-completed" class="task-name" href="#">Give medical information</a> <strong class="task-completed" id="medical-information-completed">Completed</strong>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h2 class="task-list-section"><span class="task-list-section-number">3.</span> Apply</h2>
                                <ul class="task-list-items">
                                    <li class="task-list-item">
                                        <a class="task-name" href="#">Submit and pay</a>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-two-thirds">
                        <form action="/" class="form" method="post">
                            <p>This page shows how to use the <code class="code">data-target</code> attribute to show and hide content when a radio button or checkbox is selected.</p>
                            <p>These examples require show-hide-content.js - updated in GOV.UK frontend toolkit v5.1.2.</p>
                            <div class="form-group">
                                <fieldset>
                                    <legend class="visually-hidden">What is your nationality?</legend>
                                    <div class="multiple-choice">
                                        <input id="nationalities-british" name="nationalities" type="checkbox" value="British"> <label for="nationalities-british">British (including English, Scottish, Welsh and Northern Irish)</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="nationalities-irish" name="nationalities" type="checkbox" value="Irish"> <label for="nationalities-irish">Irish</label>
                                    </div>
                                    <div class="multiple-choice" data-target="example-different-country">
                                        <input aria-controls="example-different-country" aria-expanded="false" id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country"> <label for="nationalities-other">Citizen of a different country</label>
                                    </div>
                                    <div aria-hidden="true" class="panel panel-border-narrow js-hidden" id="example-different-country">
                                        <label class="form-label" for="nationalities-other-country">Country name</label> <input class="form-control" id="nationalities-other-country" name="nationalities-other-country" type="text">
                                    </div>
                                </fieldset>
                            </div>
                            <h1 class="heading-large">Where should we send your new<br>
                            passport?</h1>
                            <div class="form-group">
                                <fieldset>
                                    <legend class="visuallyhidden">Where should we send your new passport?</legend>
                                    <div class="multiple-choice">
                                        <input id="radio-home-address" name="radio-indent-group" type="radio" value="Home"> <label for="radio-home-address">Home address</label>
                                    </div>
                                    <div class="multiple-choice" data-target="example-other-address">
                                        <input aria-controls="example-other-address" aria-expanded="false" id="radio-other-address" name="radio-indent-group" type="radio" value="Other"> <label for="radio-other-address">Other address</label>
                                    </div>
                                    <div aria-hidden="true" class="panel panel-border-narrow js-hidden" id="example-other-address">
                                        <h2 class="heading-medium">Your other address</h2>
                                        <fieldset>
                                            <legend class="visually-hidden">Your other address</legend>
                                            <div class="form-group form-group-compound">
                                                <label class="form-label" for="address-line-1">Street</label> <input class="form-control" id="address-line-1" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label visuallyhidden" for="address-line-2">Street</label> <input class="form-control" id="address-line-2" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="address-town">Town or City</label> <input class="form-control form-control-1-4" id="address-town" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="address-postcode">Postcode</label> <input class="form-control form-control-1-8" id="address-postcode" type="text">
                                            </div>
                                        </fieldset>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
                
                <h2 class="heading-large">Check details normal</h2>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <dl class="govuk-check-your-answers cya-questions-short">
                        <div>
                          <dt class="cya-question">Registration number</dt>
                          <dd class="cya-answer">SDF 808R</dd>
                          <dd class="cya-change"><a href="#">Change</a></dd>
                        </div>    
                        <div>
                          <dt class="cya-question">Make</dt>
                          <dd class="cya-answer">Vauxhall</dd>
                          <dd class="cya-change"><a href="#"></a></dd>
                        </div>    
                        <div>
                          <dt class="cya-question">Model</dt>
                          <dd class="cya-answer">Astra</dd>
                          <dd class="cya-change"><a href="#"></a></dd>
                        </div>   
                      </dl>
                    </div>
                </div>

                <h2 class="heading-large">Check details, bold switched</h2>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <dl class="govuk-check-your-answers cya-questions-short cya-questions-short--switch-bold">
                        <div>
                          <dt class="cya-question">Registration number</dt>
                          <dd class="cya-answer">SDF 808R</dd>
                          <dd class="cya-change"><a href="#">Change</a></dd>
                        </div>
                        <div>
                          <dt class="cya-question">Make</dt>
                          <dd class="cya-answer">Vauxhall</dd>
                          <dd class="cya-change"><a href="#"></a></dd>
                        </div>
                        <div>
                          <dt class="cya-question">Model</dt>
                          <dd class="cya-answer">Astra</dd>
                          <dd class="cya-change"><a href="#"></a></dd>
                        </div>
                      </dl>
                    </div>
                </div>

                <h2 class="heading-large">Related content</h2>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <p>Heading outside of col, and full width - works wth any size heading.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu turpis blandit, tristique risus et, finibus erat. Pellentesque sagittis quis erat vel varius. Nullam feugiat elit luctus nisl consequat, a molestie nisi sollicitudin. Vivamus non varius mauris. Vestibulum venenatis dictum ligula a volutpat. Ut dolor sem, venenatis id venenatis facilisis, placerat ac leo. Nullam consequat in eros in posuere. Cras sagittis eleifend erat a tristique. In aliquam nunc at consequat dapibus.</p>
<div class="responsive-code">
&lt;div class=&quot;column-two-thirds&quot;&gt;
    &lt;p&gt;Heading outside of col, and full width - works wth any size heading.&lt;/p&gt;

&lt;/div&gt;
&lt;div class=&quot;column-third&quot;&gt;
    &lt;div class=&quot;related&quot;&gt;
        &lt;div class=&quot;related__section&quot;&gt;
            &lt;h2 class=&quot;related__section-title&quot;&gt;Elsewhere on GOV.UK&lt;/h2&gt;
            &lt;ul class=&quot;related__section-links&quot;&gt;
                &lt;li&gt;&lt;a href=&quot;https://www.gov.uk/getting-an-mot/&quot;&gt;Getting an MOT&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;https://www.gov.uk/check-mot-status&quot;&gt;Check the MOT status of a vehicle&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</div>
                    </div>
                    <div class="column-third">
                        <div class="related">
                            <div class="related__section">
                                <h2 class="related__section-title">Elsewhere on GOV.UK</h2>
                                <ul class="related__section-links">
                                    <li><a href="https://www.gov.uk/getting-an-mot/">Getting an MOT</a></li>
                                    <li><a href="https://www.gov.uk/check-mot-status">Check the MOT status of a vehicle</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="grid-row">
                    <div class="column-two-thirds">
                        <h2 class="heading-xlarge">Related content, the GOVUK way</h2>
                        <p>Heading <em>inside</em> two thirds col. Only really works with socking great big <code>heading-xlarge</code> and the top margins match.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu turpis blandit, tristique risus et, finibus erat. Pellentesque sagittis quis erat vel varius. Nullam feugiat elit luctus nisl consequat, a molestie nisi sollicitudin. Vivamus non varius mauris. Vestibulum venenatis dictum ligula a volutpat. Ut dolor sem, venenatis id venenatis facilisis, placerat ac leo. Nullam consequat in eros in posuere. Cras sagittis eleifend erat a tristique. In aliquam nunc at consequat dapibus.</p>
<div class="responsive-code">
&lt;div class=&quot;column-two-thirds&quot;&gt;
    &lt;h2 class=&quot;heading-xlarge&quot;&gt;Related content, the GOVUK way&lt;/h2&gt;
    &lt;p&gt;Heading &lt;em&gt;inside&lt;/em&gt; two thirds col. Only really works with socking great big &lt;code&gt;heading-xlarge&lt;/code&gt; and the top margins match.&lt;/p&gt;
&lt;/div&gt;
&lt;div class=&quot;column-third&quot;&gt;
    &lt;aside class=&quot;govuk-related-items&quot;&gt;
        &lt;h2 class=&quot;heading-medium&quot;&gt;Elswhere on GOV.UK&lt;/h2&gt;
        &lt;nav role=&quot;navigation&quot;&gt;
          &lt;ul class=&quot;list font-xsmall&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Getting an MOT&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Check the MOT status of a vehicle&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
      &lt;/nav&gt;
    &lt;/aside&gt;
&lt;/div&gt;
</div>
                    </div>
                    <div class="column-third">
                        <aside class="govuk-related-items">
                            <h2 class="heading-medium">Elswhere on GOV.UK</h2>
                            <nav role="navigation">
                              <ul class="list font-xsmall">
                                  <li><a href="#">Getting an MOT</a></li>
                                  <li><a href="#">Check the MOT status of a vehicle</a></li>
                              </ul>
                          </nav>
                        </aside>
                    </div>
                </div>

                <h2 class="heading-large">Grid layout</h2>
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <h2 class="bold-medium">Two thirds</h2>
                        <h3 class="heading-small">Understand user needs</h3>
                        <p>Understand user needs. Research to develop a deep knowledge of who the service users are and what that means for the design of the service.</p>
                    </div>
                    <div class="column-third">
                        <h2 class="bold-medium">One third</h2>
                        <h3 class="heading-small">Do ongoing user research</h3>
                        <p>Put a plan in place for ongoing user research and usability testing to continuously seek feedback from users to improve the service.</p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-third">
                        <h2 class="bold-medium">One third</h2>
                        <h3 class="heading-small">Have a multidisciplinary team</h3>
                        <p>Put in place a sustainable multidisciplinary team that can design, build and operate the service, led by a suitably skilled and senior service manager with decision-making responsibility.</p>
                    </div>
                    <div class="column-third">
                        <h2 class="bold-medium">One third</h2>
                        <h3 class="heading-small">Use agile methods</h3>
                        <p>Build your service using the agile, iterative and user-centred methods set out in the manual.</p>
                    </div>
                    <div class="column-third">
                        <h2 class="bold-medium">One third</h2>
                        <h3 class="heading-small">Iterate and improve frequently</h3>
                        <p>Build a service that can be iterated and improved on a frequent basis and make sure that you have the capacity, resources and technical flexibility to do so.</p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-half">
                        <h2 class="bold-medium">One half</h2>
                        <h3 class="heading-small">Evaluate tools and systems</h3>
                        <p>Evaluate what tools and systems will be used to build, host, operate and measure the service, and how to procure them.</p>
                    </div>
                    <div class="column-half">
                        <h2 class="bold-medium">One half</h2>
                        <h3 class="heading-small">Understand security and privacy issues</h3>
                        <p>Evaluate what user data and information the digital service will be providing or storing and address the security level, legal responsibilities, privacy issues and risks associated with the service (consulting with experts where appropriate).</p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-half">
                        <h2 class="bold-medium">One half</h2>
                        <h3 class="heading-small">Make all new source code open</h3>
                        <p>Make all new source code open and reusable, and publish it under appropriate licences (or provide a convincing explanation as to why this can't be done for specific subsets of the source code).</p>
                    </div>
                    <div class="column-quarter">
                        <h2 class="bold-medium">One quarter</h2>
                        <h3 class="heading-small">Use open standards and common platforms</h3>
                        <p>Use open standards and common government platforms where available.</p>
                    </div>
                    <div class="column-quarter">
                        <h2 class="bold-medium">One quarter</h2>
                        <h3 class="heading-small">Test the end-to-end service</h3>
                        <p>Be able to test the end-to-end service in an environment identical to that of the live version, including on all common browsers and devices, and using dummy accounts and a representative sample of users.</p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-quarter">
                        <h2 class="bold-medium">One quarter</h2>
                        <h3 class="heading-small">Make a plan for being offline</h3>
                        <p>Make a plan for the event of the digital service being taken temporarily offline.</p>
                    </div>
                    <div class="column-quarter">
                        <h2 class="bold-medium">One quarter</h2>
                        <h3 class="heading-small">Make sure users succeed first time</h3>
                        <p>Create a service which is simple to use and intuitive enough that users succeed the first time.</p>
                    </div>
                    <div class="column-quarter">
                        <h2 class="bold-medium">One quarter</h2>
                        <h3 class="heading-small">Make the user experience consistent with GOV.UK</h3>
                        <p>Build a service consistent with the user experience of the rest of GOV.UK including using the design patterns and style guide.</p>
                    </div>
                    <div class="column-quarter">
                        <h2 class="bold-medium">One quarter</h2>
                        <h3 class="heading-small">Encourage everyone to use the digital service</h3>
                        <p>Encourage all users to use the digital service (with assisted digital support if required) alongside an appropriate plan to phase out non-digital channels and services.</p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-full">
                        <h2 class="bold-medium">Full width</h2>
                        <h3 class="heading-small">Collect performance data</h3>
                        <p>Use tools for analysis that collect performance data. Use this data to analyse the success of the service and to translate this into features and tasks for the next phase of development.</p>
                        <h3 class="heading-small">Identify performance indicators</h3>
                        <p>Identify performance indicators for the service, including the 4 mandatory key performance indicators (KPIs) defined in the manual. Establish a benchmark for each metric and make a plan to enable improvements.</p>
                        <h3 class="heading-small">Report performance data on the Performance Platform</h3>
                        <p>Why you should report data and how you'll be assessed.</p>
                        <h3 class="heading-small">Test with the minister</h3>
                        <p>Test the service from beginning to end with the minister responsible for it.</p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-two-thirds">

                        <h2 class="heading-medium">Personal details</h2>

                        <dl class="govuk-check-your-answers cya-questions-short">
                            <div>
                                <dt class="cya-question">
                                Name
                                </dt>
                                <dd class="cya-answer">
                                Sarah Philips
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">
                                    Change<span class="visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                Date of birth
                                </dt>
                                <dd class="cya-answer">
                                5 January 1978
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">Change<span class="visually-hidden"> date of birth</span></a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                Home address
                                </dt>
                                <dd class="cya-answer">
                                72 Guild Street<br>
                                London<br>
                                SE23 6FH
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">Change<span class="visually-hidden"> home address</span></a>
                                </dd>
                            </div>
                            <div>
                                <dt class="cya-question">
                                Contact details
                                </dt>
                                <dd class="cya-answer">
                                07700 900457<br>
                                sarah.phillips@example.com
                                </dd>
                                <dd class="cya-change">
                                    <a href="#">Change<span class="visually-hidden"> contact details</span></a>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-full">

                        <h2 class="heading-medium">Personal details</h2>

                        <dl class="govuk-check-your-answers cya-questions-short">
                            <div>
                              <dt class="cya-question">Registration number</dt>
                              <dd class="cya-answer" style="text-transform: uppercase; font-weight: bolder;"></dd>
                              <dd class="cya-change"><a href="#">Change</a></dd>
                            </div>
                            <div>
                              <dt class="cya-question">Make</dt>
                              <dd class="cya-answer">Vauxhall</dd>
                              <dd class="cya-change"><a href="#"></a></dd>
                            </div>
                            <div>
                              <dt class="cya-question">Model</dt>
                              <dd class="cya-answer">Astra</dd>
                              <dd class="cya-change"><a href="#"></a></dd>
                            </div>
                            <div>
                              <dt class="cya-question">Colour</dt>
                              <dd class="cya-answer">Black</dd>
                              <dd class="cya-change"><a href="#"></a></dd>
                            </div>
                            <div>
                                <dt class="cya-question">Year of manufacture</dt>
                                <dd class="cya-answer">2011</dd>
                                <dd class="cya-change"><a href="#"></a></dd>
                            </div>

                            <div>
                                <dt class="cya-question">MOT expiry date</dt>
                                <dd class="cya-answer">7 August 2018</dd>
                                <dd class="cya-change"><a href="#"></a></dd>
                            </div>
                        </dl>
                    </div>

                </div>

                <div class="grid-row">
                    <div class="column-full">
<div class="responsive-code u-space-t15">[
    {
        “Vehicle-registration”: “AEZ8192”,
        “Vehicle-make”: “AUDI”,
        “Vehicle-model”: “A3”,
        “Vehicle-first-used-date”: “2005-12-31”,
        “Vehicle-fuel-type”: “Diesel”,
        “vehicle-colour”: “Grey”,
        “test-completed-date”: “2015-11-14 13:45:27.0”,
        “test-result”: “PASSED”,
        “test-expiry-date”: “2016-11-13”,
        “test-odometer-value”: “108005”,
        “test-odometer-unit”: “mi”,
        “test-number”: “883800941928”,
        “rfr-and-comments”: [
            {
                “text”: “nearside Front constant velocity joint gaiter deteriorated, but preventing the
                ingress of dirt (2.5.C.1a)”,
                “type”: “ADVISORY”,
            },
        }
]
Response code
200
Response Headers
    {
        “content-type”: “application/json”,
        “date”: “Mon, 12 Sep 2016 14:36:45 GMT”,
        “server”: “nginx/1.8.0”,
        “connection”: “keep-alive”,
        “x-iinfo”: “9-73084182-73081697 PNNN RT(1473691072915 50) q(0 0 0 -1) r(1 1) US”,
        “x-cdn”: “Incapsula”
    }
]
</div>
                    </div>
                </div>
            </main>
        {{/viewData}}
        <!-- / #content -->
    {{/content}}

    {{$bodyEndInlineScripts}}
        <!--<script src="{{assetPath}}javascripts/gds/show-hide-content.js"></script>-->
        <script>
            $(document).ready(function () {
                var showHideContent = new GOVUK.ShowHideContent();
                showHideContent.init();
            });
        </script>
    {{/bodyEndInlineScripts}}


{{/new_template}}
