{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Notify of changes to equipment - VTS079774' %}

 
{% block content %}

  <div class="u-margin-bottom-10">
    <a href="/prototypes/vts-changes/classes" class="link-back">Back</a>
  </div>
 
  <h1 class="heading-large">
      <span class="heading-secondary">Tell us about changes to fixed equipment</span> 
      Confirm changes to equipment
  </h1>

  <p class="lede">
    Check that the information is correct before submitting the details to the DVSA.
  </p> 

  <table class='u-margin-bottom-30'>
    <tbody>
      <tr>
        <td>
          Equipment type(s)
        </td>
        <td class='u-font-bold'>
          {% for type in viewData.typeNames %}
             <span class="u-block">
               {{type}}{{ ", " if not (loop.last) }}
            </span>
          {% endfor %}
        </td>
        <td class='u-align-right'>
          <a href="./type" class="table-summary__action" title="Change equipment type">Change<span class="visuallyhidden"> equipment type</span></a>
        </td>
      </tr>
      <tr>
        <td>
          Will the building need to be altered?
        </td>
        <td class='u-font-bold'>
          No
        </td>
        <td class='u-align-right'>
          <a href="./layout" class="table-summary__action" title="Change premises declaration">Change<span class="visuallyhidden"> premises declaration</span></a>
        </td>
      </tr>
      <tr>
        <td>
          Is the new equipment approved by the DVSA?
        </td>
        <td class='u-font-bold'>
          Yes
        </td>
        <td class='u-align-right'>
          <a href="./approved" class="table-summary__action" title="Change approval declaration">Change<span class="visuallyhidden"> approval declaration</span></a>
        </td>
      </tr>
      <tr>
        <td>
          Can the equipment test the same vehicle classes?
        </td>
        <td class='u-font-bold'>
          Yes
        </td>
        <td class='u-align-right'>
          <a href="./classes" class="table-summary__action" title="Change approval declaration">Change<span class="visuallyhidden"> approval declaration</span></a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="heading heading--medium  heading-medium">Declaration</h2>

  <div class="text">
    <p>I understand that the changes will be checked by the DVSA at the next visit.</p>
    <p>The vehicle examiner will check that:</p>
      <ul class="list list-bullet">
        <li>the equipment layout and dimensions meet the requirements for authorisation</li>
        <li>the equipment has been calibrated correctly</li>
      </ul>
     <p>
      By submitting these details to the DVSA you confirm that the information you've given is true, complete and accurate.
    </p>
 

    <div class="notice u-margin-bottom-30">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong>If the changes do not meet the requirements for authorisation, DVSA will not approve the changes and the VTS may have to stop testing.</strong>
    </div> 
  </div>
 


  <div class="u-margin-bottom-10">
      <a href="/prototypes/vts-changes/confirmation" class="button">Submit changes</a><br><br>
  </div>
  <div class="u-margin-bottom-10">
    <a href="/prototypes/vts-changes/start">Return to VTS Overview</a>
  </div>
  
 
{% endblock %}
