<header id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                    <img src="{{assetPath}}images/gov.uk_logotype_crown_invert_trans.png?0.22.1" width="36" height="32" alt="">
                    GOV.UK
                </a>
            </div>
        </div>

        {{# designSystem }}
        {{/ designSystem }}
        <div class="header-proposition">
            <div class="content">
                <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
                <nav id="proposition-menu">
                    <a href="/" id="proposition-name">
                    {{# blackBarTitle}}
                        {{blackBarTitle}}
                    {{/ blackBarTitle}}
                    {{^ blackBarTitle}}
                        Prototype kit
                    {{/ blackBarTitle}}
                    </a>
                    {{^ blackBarTitle}}
                    <ul id="proposition-links">
                        <li><a href="/">Index</a></li>
                        <li><a href="https://gitlab.motdev.org.uk/mot/mot-new-wfa">GitLab</a></li>
                    </ul>
                    {{/ blackBarTitle}}
                </nav>
            </div>
        </div>

        {{^ loggedOut }}
        <div class="header-proposition">
            <div class="content">
                <nav id="proposition-menu">
                    <span class="header-user__name">Bob Bobbingdon</span>
                    <span class="header-user__id">007ABC</span>
                    <span class="header-user__address">
                        Quickfit - Bristol South BR2 11GH
                        <a href="#">Change Site</a>
                    </span>
                    <ul class="header-user__menu">
                        <li><a href="/user-home/">Home</a></li>
                        <li><a href="/your-account/">Your profile</a></li>
                        <li><a href="/2fa/">Sign out</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        {{/ loggedOut }}

    </div>
</header>