{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Confirm Vehicle and Start Test' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT testing'}
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    {{ components.pageHeading(heading='Interior Checks', secondary='MOT Inspection') }}

    <details>
      <summary>
        <span class="summary">View testing advice</span>
      </summary>
      <div class="panel panel-border-narrow">
          <h3 class="heading heading-small">Electomechanical Parking Brake (EPB)</h3>
          <p>
            The EPB application procedure is the same for non-ATL, ATL and OPTL layouts.  To operate the EPB pull the EPB switch and the parking brake will automatically apply.  A warning lamp on the dash flashes and then illuminates.  If required further application of the EPB can be achieved by a second operation of the switch.  To release the EPB either drive off in the normal way or, with the ignition on, apply the service brake then push the EPB switch (failure to do so results in a warning tone and a warning lamp illuminating on the dash).  The warning lamp will extinguish after the EPB has fully released.  Note: The EPB applied warning light will remain illuminated for approx 30secs after the vehicle is parked.        </p>
      </div>
    </details>

    <h2 class="heading heading--medium heading-medium">Defect Categories</h2>

    <div class="breadcrumbs breadcrumbs--muted">
      <ol>
        <li>Interior Checks</li>
        <li>Warning lamps</li>
        <li>Malfunction indicator lamp</li>
      </ol>
    </div>

    <div class="eu-defect eu-defect--interim">
      <h2 class="eu-defect__title">Engine MIL: malfunction indicator lamp</h2>
      <ul class="list-unstyled eu-defect__list eu-defect__list--interim">
        <li>
          <div class="eu-defect__group-item">
            <span class="eu-defect__name eu-defect__name--bold">
            Inoperative or indicating a malfunction - diesel vehicle, see manual for requirements
            </span>

            <div class="eu-defect__options eu-defect__options--manual-ref">
              <span class="eu-defect__manual-ref">
                <a href="#">8.2.2.2 (g)</a>
                <span class="visuallyhidden">(Opens in new window)</span>
              </span>
            </div>

            <div class="eu-defect__options eu-defect__options--collapse-tablet">
              <a href="/prototypes/vsi-during-test/interior-checks/add-major-failure" class="button--info">PRS</a>
              <a href="/prototypes/vsi-during-test/interior-checks/add-major-failure" class="button--alert">Major failure</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="u-margin-bottom-20">
      <a class="button" id="confirm-start-test" href="/prototypes/vsi-during-test/interior-checks/interior-checks-1">Finish and return to interior checks</a>        
    </div>
    <a id="confirm-start-test" href="/prototypes/vsi-during-test/inspection/inspection-2">Return to MOT inspection</a>        

    {% endcall %}

  {% endcall %}

{% endblock %}
