{% extends 'layouts/mts.layout.njk' %}

{% set pageTitle = 'Mot test results' %}

{% set pageBreadcrumbItems = [
  { text: 'Home', url: '/prototypes' },
  { text: 'MOT test results' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}


    <form id="Login" name="Login" action="/login" method="post" autocomplete="new-password">
    <fieldset class="sign-in-form">
    <legend class="form-title heading-large">Sign in</legend>


    <div class="form-group form-group"  >

    <label for="_tid18ad008fd"
    class="form-label ">

    User ID

    </label>



    <input
    type="text"
    id="_tid18ad008fd" name="_tid18ad008fd"    value=""
    class="form-control
    form-control-1-2"
    />

    </div>


    <div class="form-group form-group " >

    <label for="_tid28ad008fd" class="form-label ">

     <span class="">Password</span>

    </label>


    <div class="form-group form-group">
      <textarea
      id="_tid28ad008fd"name="_tid28ad008fd"rows="1"maxlength="32"        class="form-control password-field"
      unselectable="on"        autocapitalize="none"
      autocorrect="none"
      autocomplete="none"
      spellcheck="false"
      ></textarea>
    </div>

    </fieldset>
    </form>

    {%- endcall %}

  {%- endcall %}
  
{% endblock %}