{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Prototypes Index: resource rows' %}

{% block content %}

    {{ components.pageHeading('Prototypes: resource rows', 'LPG Front-End') }}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Home page (and learning record)', tag='h2', size='medium', extraClass='heading--red-top') }}
            {{ components.paragraph(text='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Required learning:', tag='h3', size='medium', extraClass='') }}

            {#<div class="resources">
                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="#">Diversity &amp; inclusion</a>
                            <span class="resource__action">
                                <a href="#">Resume<span class="visuallyhidden"> course</span></a>
                            </span>
                        </li>
                        <li class="resource__info">
                            <span>Due by 21 Oct 2018</span>
                        </li>
                        <li class="resource__duration">
                            <span>2 hours</span>
                        </li>

                        <li class="resource__status">
                            <span class="badge badge--info ">In progress</span>
                        </li>

                    </ul>
                </div>

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="#">Basic fire safety</a>
                            <span class="resource__action">
                                <a href="#">Start<span class="visuallyhidden"> course</span></a>
                            </span>
                        </li>
                        <li class="resource__info">
                            <span>Due by 18 Nov 2018</span>
                        </li>
                        <li class="resource__duration">
                            <span>1 hour</span>
                        </li>
                    </ul>
                </div>

            </div>#}

            <div class="resources">

                <div class="resource">
                    <ul class="resource__item u-clearfix">
                        <li class="resource__main">
                            <a class="resource__title" href="/prototypes/learner/v4/resource?resourceID=6">Diversity &amp; inclusion</a>
                            <span class="resource__action">
                                <a href="#">Resume<span class="visuallyhidden"> course</span></a>
                            </span>
                        </li>
                        <li class="resource__info">
                            <span>2 hours</span>
                        </li>
                        <li class="resource__info">
                            <span class="meta u-display-b">Due by:</span>
                            <span class="u-display-b">21 Oct 2018</span>
                        </li>
                        <li class="resource__status">
                            <span class="badge badge--info ">In progress</span>
                        </li>

                    </ul>
                </div>

                {% if not fireTrainingComplete %}
                    <div class="resource">
                        <ul class="resource__item u-clearfix">
                            <li class="resource__main">
                                <a class="resource__title" href="/prototypes/learner/v4/resource?resourceID=15">Basic fire safety</a>
                                <span class="resource__action">
                                <a href="/prototypes/learner/v4/scorms/basic-fire-safety">Start <span class="visuallyhidden"> course</span></a>
                            </span>
                            </li>
                            <li class="resource__info">
                                <span>30 minutes</span>
                            </li>
                            <li class="resource__info">
                                <span class="meta u-display-b">Due by:</span>
                                <span class="u-display-b">18 Sep 2018</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}

            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Other learning:', tag='h3', size='medium', extraClass='') }}

            <div class="resource">
                <ul class="resource__item u-clearfix">
                    <li class="resource__main">
                        <a  class="resource__title" href="/prototypes/learner/v4/resource?resourceID=3">Commercial awareness</a>
                        <span class="resource__action">
                                <a href="#">Resume <span class="visuallyhidden"> course</span></a>
                                <a href="/prototypes/learner/v4/actions?action=removedFromLearningPlan&id=1&status=started">Remove <span class="visuallyhidden"> from learning plan</span></a>
                            </span>
                    </li>
                    {% if not hideHomeStars %}
                        <li class="resource__rating">
                            {{ components.starRating(rating='25%', total='10') }}
                        </li>
                    {% endif %}
                    <li class="resource__info">
                        <span>Video<br>10 minutes<br>£Free</span>
                    </li>
                    <li class="resource__info">
                        <span class="meta u-display-b">Work area:</span>
                        <span class="u-display-b">Commercial</span>
                    </li>
                </ul>
            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Other learning (in progress):', tag='h3', size='medium', extraClass='') }}

            {#<div class="resource">
                <ul class="resource__item u-clearfix">
                    <li class="resource__main">
                        <a  class="resource__title" href="#">Commercial awareness</a>
                        <span class="resource__action">
                                <a href="#">Resume <span class="visuallyhidden"> course</span></a>
                                <a href="#">Remove <span class="visuallyhidden"> from learning plan</span></a>
                         </span>
                    </li>
                    <li class="resource__info">
                        <span>Work area: commercial</span>
                    </li>
                    <li class="resource__info">
                        <span>Video, 10 minutes</span>
                    </li>
                    <li class="resource__status">
                        <span class="badge badge--info">In progress</span>
                    </li>
                </ul>
            </div>#}

            <div class="resource">
                <ul class="resource__item u-clearfix">
                    <li class="resource__main">
                        <a  class="resource__title" href="/prototypes/learner/v4/resource?resourceID=3">Digital awareness: digital by default</a>
                        <span class="resource__action">
                                <a href="#">Resume <span class="visuallyhidden"> course</span></a>
                                <a href="/prototypes/learner/v4/actions?action=removedFromLearningPlan&id=1&status=started">Remove <span class="visuallyhidden"> from learning plan</span></a>
                            </span>
                    </li>
                    {% if not hideHomeStars %}
                        <li class="resource__rating">
                            {{ components.starRating(rating='25%', total='10') }}
                        </li>
                    {% endif %}
                    <li class="resource__info">
                        <span>Online<br> 3 hours 30 minutes<br>£Free</span>
                    </li>
                    <li class="resource__info">
                        <span>&nbsp;</span>
                    </li>
                    <li class="resource__status">
                        <span class="badge badge--info ">In progress</span>
                    </li>

                </ul>
            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Other learning (just added):', tag='h3', size='medium', extraClass='') }}

            {#<div class="resource">
                <ul class="resource__item u-clearfix">
                    <li class="resource__main">
                        <a  class="resource__title" href="#">Managing Business Performance: An Introduction to Taking a Consultancy Approach</a>
                        <span class="resource__action">
                                <a href="#">Book <span class="visuallyhidden"> course</span></a>
                                <a href="#">Remove <span class="visuallyhidden"> from learning plan</span></a>
                         </span>
                    </li>
                    <li class="resource__info">
                        <span>Work area: HMRC</span>
                    </li>
                    <li class="resource__info">
                        <span>Classroom, 1 day</span>
                    </li>
                    <li class="resource__status">
                        <span class="badge badge--success ">Just added</span>
                    </li>
                </ul>
            </div>#}

            <div class="resource">
                <ul class="resource__item u-clearfix">
                    <li class="resource__main">
                        <a class="resource__title" href="/prototypes/learner/v4/resource?resourceID=3">Commercial awareness</a>
                        <span class="resource__action">
                                <a href="#">Resume <span class="visuallyhidden"> course</span></a>
                                <a href="/prototypes/learner/v4/actions?action=removedFromLearningPlan&amp;id=1&amp;status=started">Remove <span class="visuallyhidden"> from learning plan</span></a>
                            </span>
                    </li>

                    <li class="resource__info">
                        <span>Video<br>10 minutes<br>£Free</span>
                    </li>
                    <li class="resource__info">
                        <span class="meta u-display-b">Work area:</span>
                        <span class="u-display-b">Commercial</span>
                    </li>
                    <li class="resource__status">
                        <span class="badge badge--success ">Just added</span>
                    </li>
                </ul>
            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Search results', tag='h2', size='medium', extraClass='heading--red-top') }}
            {{ components.paragraph(text='') }}

        {%- endcall %}

    {%- endcall %}


    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Without filters column:', tag='h3', size='medium', extraClass='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <div class="results">

                {{ components.searchResult(
                    name='APMG Change Management Foundation',
                    id='9',
                    description='In this module you consider how to work with potential providers and achieve what you require. You’ll learn about supply chains, pricing.',
                    workArea='Digital',
                    type='Classoom',
                    duration='5 hours'
                ) }}

            </div>

        {%- endcall %}

    {%- endcall %}


    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='With filters column:', tag='h3', size='medium', extraClass='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnOneThird(extraClass='u-space-b30') %}

            <strong>FILTERS</strong>
            <br>---<br>---<br>---<br>---<br>---<br>

        {%- endcall %}

        {% call components.columnTwoThirds(extraClass='') %}

            <div class="results">

                {{ components.searchResult(
                    name='APMG Change Management Foundation',
                    id='9',
                    description='In this module you consider how to work with potential providers and achieve what you require. You’ll learn about supply chains, pricing.',
                    workArea='Digital',
                    type='Classoom',
                    duration='5 hours'
                ) }}
            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Modules in course detail page (unordered)', tag='h2', size='medium', extraClass='heading--red-top') }}
            {{ components.paragraph(text='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <div class="resources resources--modules">

                {{ components.disciteRow(
                    name='Introducing unconscious bias',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    status='Completed',
                    action='Retake',
                    duration='5 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='Challenging unconscious bias in recruitment decisions',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    status='In Progress',
                    action='Resume',
                    duration='8 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='Unconscious bias in the workplace',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    action='Start',
                    duration='5 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='This is a module with a stupidly long title that goes on and on and won\'t interfere with other elements in the block.',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    action='Start',
                    duration='10 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='This is another module, also with a stupidly long title that goes on and on and won\'t interfere with other elements in the block.',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    action='Resume',
                    status='In Progress',
                    duration='10 minutes',
                    extraModifierClass='module'
                ) }}

            </div>

        {%- endcall %}

    {%- endcall %}


    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Modules in course detail page (ordered)', tag='h2', size='medium', extraClass='heading--red-top') }}
            {{ components.paragraph(text='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <div class="discite">

                {{ components.disciteRow(
                    name='1. Introducing unconscious bias',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    status='Completed',
                    action='Retake',
                    duration='5 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='2. Challenging unconscious bias in recruitment decisions',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    status='In Progress',
                    action='Resume',
                    duration='8 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='3. Unconscious bias in the workplace',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    action='invalid',
                    duration='5 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='4. Challenging unconscious bias',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    action='invalid',
                    duration='8 minutes',
                    extraModifierClass='module'
                ) }}

            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Tables in learning record', tag='h2', size='medium', extraClass='heading--red-top') }}
            {{ components.paragraph(text='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='When no modules (added for visual reference)', tag='h3', size='small', extraClass='') }}

            <table class="u-space-b30 table--top">
                <thead>
                    <tr>
                        <th class="table--fix-first">Course</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>Completion date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/prototypes/learner/v4/resource?resourceID=15">Basic fire safety</a></td>
                        <td>Online</td>
                        <td>1 hour</td>
                        <td>{% if trainingEndDate %}{{ trainingEndDate }}{% else %}8 Mar 2018{% endif %}</td>
                    </tr>
                    <tr>
                        <td><a href="#">Disability Awareness</a></td>
                        <td>Online</td>
                        <td>1 hour</td>
                        <td>12 Aug 2017</td>
                    </tr>
                    <tr>
                        <td><a href="#">Commercial awareness</a></td>
                        <td>Online</td>
                        <td>1 hour</td>
                        <td>18 Mar 2018</td>
                    </tr>
                </tbody>
            </table>

            <table class="u-space-b30 table--top">
                <thead>
                <tr>
                    <th class="table--fix-first">Course</th>
                    <th>Type</th>
                    <th>Duration</th>
                    <th>Completion date</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/prototypes/learner/v4/resource?resourceID=15">Basic fire safety</a></td>
                        <td>Online</td>
                        <td>1 hour</td>
                        <td>{% if trainingEndDate %}{{ trainingEndDate }}{% else %}8 Mar 2018{% endif %}</td>
                    </tr>
                    <tr>
                        <td><a href="#">Disability Awareness</a></td>
                        <td>Online</td>
                        <td>1 hour</td>
                        <td>12 Aug 2017</td>
                    </tr>
                    <tr>
                        <td><a href="#">Health and Safety Awareness</a></td>
                        <td>Online</td>
                        <td>1 hour 30 minutes</td>
                        <td>10 Jan 2017</td>
                    </tr>
                    <tr class="tr--no-border">
                        <td><a href="#">Commercial awareness</a></td>
                        <td>Online</td>
                        <td>1 hour</td>
                        <td>3 of 6 modules completed</td>
                    </tr>
                    <tr class="tr--no-border tr--cozy">
                        <td>Commercial awareness: manager's guide</td>
                        <td>Online</td>
                        <td>5 minutes</td>
                        <td>18th Mar 2018</td>
                    </tr>
                    <tr class="tr--no-border tr--cozy">
                        <td>Commercial awareness: summary</td>
                        <td>Online</td>
                        <td>8 minutes</td>
                        <td>18th Mar 2018</td>
                    </tr>
                    <tr class="tr--cozy">
                        <td>How commercially aware are you?</td>
                        <td>Video</td>
                        <td>5 minutes</td>
                        <td>18th Mar 2018</td>
                    </tr>
                </tbody>
            </table>

            {{ components.heading(text='When not the last item', tag='h3', size='small', extraClass='') }}

            <table class="u-space-b30 table--top">
                <thead>
                    <tr>
                        <th class="table--fix-first">Course</th>
                        <th>Type</th>
                        <th>Duration</th>
                        <th>Completion date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/prototypes/learner/v4/resource?resourceID=15">Basic fire safety</a></td>
                        <td>Online</td>
                        <td>1 hour</td>
                        <td>{% if trainingEndDate %}{{ trainingEndDate }}{% else %}8 Mar 2018{% endif %}</td>
                    </tr>
                    <tr>
                        <td><a href="#">Disability Awareness</a></td>
                        <td>Online</td>
                        <td>1 hour</td>
                        <td>12 Aug 2017</td>
                    </tr>
                    <tr class="tr--no-border ">
                        <td><a href="#">Commercial awareness</a></td>
                        <td>Online</td>
                        <td>1 hour</td>
                        <td>2 of 6 modules completed</td>
                    </tr>
                    <tr class="tr--no-border tr--cozy">
                        <td>Commercial awareness: manager's guide</td>
                        <td>Online</td>
                        <td>5 minutes</td>
                        <td>18th Mar 2018</td>
                    </tr>
                    <tr class="tr--cozy">
                        <td>Commercial awareness: summary</td>
                        <td>Online</td>
                        <td>8 minutes</td>
                        <td>18th Mar 2018</td>
                    </tr>
                    <tr>
                        <td><a href="#">Health and Safety Awareness</a></td>
                        <td>Online</td>
                        <td>1 hour 30 minutes</td>
                        <td>10 Jan 2017</td>
                    </tr>
                </tbody>
            </table>


        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Suggestions tiles', tag='h2', size='medium', extraClass='heading--red-top') }}
            {{ components.paragraph(text='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnOneThird() %}

            {{ components.tile(
                title='Commercial awareness',
                url='/prototypes/learner/v4/resource?resourceID=11',
                starPercent='80%',
                starTotal='128',
                type='Online',
                duration='2 hours 20 minutes',
                cost='£Free',
                hideStars=true,
                version='v4',
                intro='In this module you consider how to work with potential providers and achieve what you require. You\’ll learn about supply chains, pricing. '
            ) }}

        {%- endcall %}

        {% call components.columnOneThird() %}

            {{ components.tile(
                title='Simon Sinek - Start With Why - TED Talk Short Edited',
                url='/prototypes/learner/v4/resource?resourceID=4',
                starPercent='76%',
                starTotal='104',
                type='Video',
                duration='10 minutes',
                cost='£Free',
                hideStars=true,
                version='v4',
                intro='This talk explores the idea that starting with "why" helps motivate people to achieve an end goal and increases the chances of  success.'
            ) }}

        {%- endcall %}

        {% call components.columnOneThird() %}

            {{ components.tile(
                title='What the civil service of tomorrow will look like',
                url='/prototypes/learner/v4/resource?resourceID=2',
                starPercent='61%',
                starTotal='25',
                type='Blog',
                duration='12 minutes',
                cost='£Free',
                hideStars=true,
                version='v4',
                intro='Rupert McNeil talks about what the civil service of tomorrow will look like and ensuring we have the right skills and capabilities'
            ) }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Multi purpose learning item row', tag='h2', size='medium', extraClass='heading--red-top') }}
            {{ components.paragraph(text='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Two thirds, as modules', tag='h3', size='medium', extraClass='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <div class="discite">

                {{ components.disciteRow(
                    name='1. Introducing unconscious bias',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    status='Completed',
                    action='Retake',
                    duration='5 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='2. Challenging unconscious bias in recruitment decisions',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    status='In Progress',
                    action='Resume',
                    duration='8 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='3. Unconscious bias in the workplace',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    action='Start',
                    duration='5 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='4. Learning module with a very long name that will wrap onto the next line or even the one after.',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    action='Start',
                    duration='5 minutes',
                    extraModifierClass='module'
                ) }}

                {{ components.disciteRow(
                    name='5. Another learning module with a very long name that will wrap onto the next line with a status label.',
                    headingTag='h3',
                    headingExtraClass='heading--text',
                    type='Online',
                    action='Resume',
                    status='In progress',
                    duration='2 hours 30 minutes',
                    extraModifierClass='module'
                ) }}


            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Full width', tag='h3', size='medium', extraClass='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <div class="learning">

                {{ components.disciteRow(
                    name='Simon Sinek - Start With Why - TED Talk Short Edited',
                    headingTag='h3',
                    description='This talk explores the idea that starting with "why" helps motivate people to achieve an end goal and increases the chances of success.',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Online',
                    status='Completed',
                    action='Retake',
                    workArea='Commercial',
                    duration='2 hours 30 minutes',
                    cost='£Free'
                ) }}

                {{ components.disciteRow(
                    name='Challenging unconscious bias in recruitment decisions',
                    headingTag='h3',
                    description='This talk explores the idea that starting with "why" helps motivate people to achieve an end goal and increases the chances of success.',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Online',
                    status='In Progress',
                    action='Resume',
                    workArea='Digital',
                    duration='30 minutes',
                    cost='£Free'
                ) }}

                {{ components.disciteRow(
                    name='Test title namd long name lots of words fills space, wraps onto next line',
                    headingTag='h3',
                    description='Unusually short description, considering the overly long title.',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Classroom',
                    action='Start',
                    workArea='HMRC',
                    duration='1 day',
                    cost='£549'
                ) }}

                {{ components.disciteRow(
                    name='This course has no description, and could go on the learning page',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Classroom',
                    action='Start',
                    workArea='HMRC',
                    duration='1 day',
                    cost='£549'
                ) }}

                {{ components.disciteRow(
                    name='This course also has no description, but does have a status',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Online',
                    action='Resume',
                    status='In progress',
                    workArea='HMRC',
                    duration='1 hour 45 minutes',
                    cost='£Free',
                    removeFromLearningPlan=true
                ) }}

                {{ components.disciteRow(
                    name='This is a required learning module with a short title',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Online',
                    action='Resume',
                    status='In progress',
                    dueBy='18 Oct 2018',
                    duration='1 hour 45 minutes'
                ) }}

                {{ components.disciteRow(
                    name='This is also a required learning module with a slightly longer title',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Online',
                    action='Start',
                    dueBy='18 Oct 2018',
                    duration='2 hours'
                ) }}

                {{ components.disciteRow(
                    name='This is yet another required learning module with a slightly longer title and a description',
                    description='On this course, you will will become masterful at this particular range of skills.',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Online',
                    action='Start',
                    dueBy='24 Nov 2018',
                    duration='1 hour 20 minutes'
                ) }}

            </div>

        {%- endcall %}

    {%- endcall %}



    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Full width learning items with modules', tag='h3', size='medium', extraClass='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <div class="learning">

                {{ components.disciteRow(
                    name='Test item with modules and description',
                    description='This is a test description which should appear above the modules items',
                    modules='This course comprises of 11 modules',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Online',
                    action='Start',
                    dueBy='24 Nov 2018',
                    duration='1 hour 20 minutes'
                ) }}

                {{ components.disciteRow(
                    name='Test item with modules but no description',
                    modules='This course comprises of 11 modules',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Online',
                    action='Start',
                    dueBy='24 Nov 2018',
                    duration='1 hour 20 minutes'
                ) }}

                {{ components.disciteRow(
                    name='Test item with modules but no description or due by date and can be removed',
                    modules='This course comprises of 11 modules',
                    headingTag='h3',
                    headingExtraClass='discite__heading',
                    headingURL='#',
                    type='Online',
                    action='Start',
                    removeFromLearningPlan='true',
                    duration='1 hour 20 minutes'
                ) }}

                <div class="discite__item u-clearfix">
                    <div class="discite__main">
                        <a href="/prototypes/learner/v5/resource?resourceID=3">
                            <h3 class="heading discite__heading">This item is hardcoded</h3>
                        </a>
                    </div>
                    <div class="discite__properties u-clearfix">
                        <ul class="discite__property">
                            <li class="discite__property-item"><span class="visuallyhidden">Type:</span> Online</li>
                            <li class="discite__property-item"><span class="visuallyhidden">Duration:</span> 3 hours 30 minutes</li>
                            <li class="discite__property-item"><span class="visuallyhidden">Cost:</span> £Free</li>
                        </ul>
                        <div class="discite__status">
                            <span class="badge badge--info">In progress</span>
                        </div>
                    </div>
                    <div class="discite__desc">
                        <p class="discite__blurb">This talk explores the idea that starting with "why" helps motivate people to achieve an end goal and increases the chances of success.</p>
                        <p class="discite__modules">This course comprises of 11 modules</p>
                    </div>
                    <div class="discite__action">
                        <a href="#">Resume <span class="visuallyhidden">this module</span></a> <a href="/prototypes/learner/v5/actions?action=removedFromLearningPlan&amp;id=1&amp;status=started">Remove <span class="visuallyhidden">from learning plan</span></a>
                    </div>
                </div>

                <div class="discite__item u-clearfix">
                    <div class="discite__main">
                        <a href="/prototypes/learner/v5/resource?resourceID=3">
                            <h3 class="heading discite__heading">This item is hardcoded</h3>
                        </a>
                    </div>
                    <div class="discite__properties u-clearfix">
                        <ul class="discite__property">
                            <li class="discite__property-item"><span class="visuallyhidden">Type:</span> Online</li>
                            <li class="discite__property-item"><span class="visuallyhidden">Duration:</span> 3 hours 30 minutes</li>
                            <li class="discite__property-item"><span class="visuallyhidden">Cost:</span> £Free</li>
                        </ul>
                        <div class="discite__status">
                            <span class="badge badge--info">In progress</span>
                        </div>
                    </div>
                    <div class="discite__desc">
                        <p class="discite__blurb">This talk explores the idea that starting with "why" helps motivate people to achieve an end goal and increases the chances of success.</p>
                        <p class="discite__modules">This course comprises of 11 modules</p>
                        <p class="discite__modules">
                            Commercial awareness: manager's guide<br>
                            <a href="#">Resume</a>
                        </p>
                        <p class="discite__modules">
                            Commercial awareness: summary<br>
                            <a href="#">Resume</a>
                        </p>
                    </div>
                    <div class="discite__action">
                        <a href="#">Remove entire course</a>
                    </div>
                </div>

            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.heading(text='Full width, as search results', tag='h3', size='medium', extraClass='') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

        <div class="learning">

        {{ components.disciteRow(
            name='Windsor Leadership Trust - Director Developing Strategic Leadership Programme',
            headingTag='h3',
            description='This programme assists those progressing towards more senior leadership positions to develop their strategic thinking.',
            headingExtraClass='discite__heading',
            headingURL='#',
            type='Classroom',
            action='Book',
            workArea='Commercial',
            duration='3 days',
            cost='£4100',
            addToLearningPlan=true,
            extraModifierClass='search'
        ) }}

        </div>

        {%- endcall %}

    {%- endcall %}

{% endblock %}