{{<mot_template}}

{{$pageTitle}}Javascript modules - Radio button toggles{{/pageTitle}}

    {{$content}}
        {{#viewData}}
            <main id="content" role="main">

                {{> mot_phase-banner}}

                {{# contentHeader }}
                    {{>mot_a_content-header}}
                {{/ contentHeader }}

                <div class="text">
                    <p class="lede">Toggle visibility of multiple elements </p>
                </div>

                <h2 class="heading-medium">And lo, a set of radio buttons</h2>
                <form action="#">
                <div class="form-group">
                    <fieldset>
                        <legend class="form-label" id="select-cancellation-reasons">Choose a reason why this test is being cancelled</legend>

                        <label class="block-label" for="SelectReasons1">
                            <input type="radio" value="1" name="SelectReasons" id="SelectReasons1">
                            VTS incident
                        </label>

                        <label class="block-label" for="SelectReasons2">
                            <input type="radio" value="2" name="SelectReasons" id="SelectReasons2">
                            Incorrect location
                        </label>

                        <label class="block-label" for="SelectReasons7" data-toggle-class="toggle-this-content">
                            <input type="radio" value="7" name="SelectReasons" id="SelectReasons7" aria-controls="cancellation-reasons" >
                            Inspection maybe dangerous or cause damage
                        </label>

                        <div class="js-hidden toggle-this-content">
                            <div class="panel-indent">
                                <label for="national-insurance" class="form-label">
                                    Tell us why it might be dangerous or cause damage
                                </label>
                                <textarea type="text" name="national-insurance" id="national-insurance" data-retain-value="true" class="form-control form-control--flex-v"></textarea>
                            </div>
                        </div>

                        <label class="block-label" for="SelectReasons3">
                            <input type="radio" value="3" name="SelectReasons" id="SelectReasons3">
                            Test equipment issue
                        </label>

                        <label class="block-label" for="SelectReasons4">
                            <input type="radio" value="4" name="SelectReasons" id="SelectReasons4">
                            Accident or illness of tester
                        </label>

                        <label class="block-label" for="SelectReasons5">
                            <input type="radio" value="5" name="SelectReasons" id="SelectReasons5">
                            Aborted by VE
                        </label>

                        <label class="block-label" for="SelectReasons6">
                            <input type="radio" value="6" name="SelectReasons" id="SelectReasons6">
                            Vehicle registered in error
                        </label>

                        <div class="js-hidden toggle-this-content" style="float:left;clear:left;">

                            <div class="message--important">
                                <p>I confirm that this MOT transaction has been conducted in accordance with the conditions of authorisation which includes compliance with the MOT testing guide.</p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>

            {{# ignoreBelow}}
            <h2 class="heading-medium">Another set of radio buttons covering cheese options</h2>
                <form action="#">
                <div class="form-group">
                    <fieldset>
                        <legend class="form-label" id="select-cancellation-reasons">Choose a cheese</legend>

                        <label class="block-label" for="cheese1">
                            <input type="radio" value="1" name="cheese" id="cheese1">
                            Cheddar
                        </label>

                        <label class="block-label" for="cheese2">
                            <input type="radio" value="2" name="cheese" id="cheese2">
                            Brie
                        </label>

                        <label class="block-label" for="cheese3" data-toggle-class="toggle-this-cheese">
                            <input type="radio" value="7" name="cheese" id="cheese3" aria-controls="cancellation-reasons" >
                            Stilton
                        </label>

                        <div class="js-hidden toggle-this-cheese">
                            <div class="panel-indent">
                                <label for="cheeseDanger" class="form-label">
                                    Tell us why it might be dangerous or cause damage
                                </label>
                                <textarea type="text" name="cheeseDanger" id="cheeseDanger" data-retain-value="true" class="form-control form-control--flex-v"></textarea>
                            </div>
                        </div>

                        <label class="block-label" for="cheese4">
                            <input type="radio" value="3" name="cheese" id="cheese4">
                            Feta
                        </label>

                        <div class="js-hidden toggle-this-cheese" style="float:left;clear:left;">

                            <div class="message--important">
                                <p>Cheese can be dangerous when mishandled - use cheese with caution</p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
            {{/ ignoreBelow}}



                {{> mot_m_content-navigation }}
            </main>
        {{/viewData}}
        <!-- / #content -->
    {{/content}}
{{$bodyEndInlineScripts}}
<script type="application/javascript">
    (function(){
        var showerHiderRadioClasses = new DVSA.Modules.DVSAShowHideToggleRadioClasses.showerHiderRadioClasses({});
        showerHiderRadioClasses.init();
    }());
</script>
{{/bodyEndInlineScripts}}
{{/mot_template}}
